a:link,a:visited{ text-decoration:none;}



body{ background:#e9dbc2; font-size:12px; color:#000; line-height:1.5em; font-family:"ËÎÌå";}



img{ border:none;} 



.pr{ position:relative}



.pa{ position:absolute;}



.fl{ float:left;}



.fr{ float:right;}



.top{ width:100%;}



li:hover{-webkit-transition:background-color .2s linear;  -moz-transition:background-color .2s linear; transition:background-color .2s linear;}



.top{ height:35px; background:url(../../www_images/zhuti/biye/bg_top.png) 0 0 repeat-x; }



.top .logo a{ width:310px; height:35px; overflow:hidden; display:block; text-indent:-333333em; background:url(../../www_images/zhuti/biye/logo.png) 0 0 no-repeat;}



.top .site{ line-height:35px; color:#999; padding:0 20px;}





.header{ height:315px; background:url(../../www_images/zhuti/bashuxiongfeng/bg_h.jpg)     #333;}



.header .w{  margin:0 auto;}



.header .w h1 a{ width:580px; height:170px; overflow:hidden; display:block; text-indent:-333333em;}



.header .w .zhaiyao{ height:108px; width:350px; position:relative;}



.header .w .zhaiyao p{ width:440px;  padding:15px;  font-size:12px; color:#000; line-height:1.8em; text-indent:2em;}



.header .w .mianbaoxue{ clear:both; overflow:hidden;}



.header .w .mianbaoxue .site{ float:left; color:#fff; line-height:45px; padding-left:50px;}



.header .w .mianbaoxue .site a{ color:#fff;}



.header .w .mianbaoxue .site a:hover{ text-decoration:underline;}









.main{  margin:0 auto 50px; clear:both; overflow:hidden;}







.main .side_n ul{}



.main .side_n ul li{ padding:7px 145px 1px 3px; background:#000; position:relative; margin:20px 0; box-shadow:#333 1px 0px 8px; -moz-box-shadow:#333 1px 0px 8px; zoom:1; -webkit-border-radius:4px;}



.main .side_n ul li, .main .side_n ul li .qu_m, .main .side_list, .main .side_n #song{border-radius:5px;-moz-border-radius:5px;}



.main .side_n ul li .qu_m{ background:url(D:/zhutizhengqu/xue/bg_m.png) #931e2a 0 0 no-repeat;  }



.main .side_n ul li .qu_m .player{ position:absolute; top:30px; right:155px;   }



.main .side_n ul li .qu_m .player .audioplay{ width:250px; background:url(../../www_images/zhuti/biye/player.png) no-repeat ;width:113px; height:42px;}







.main .side_n ul li .qu_m h3{ font-size:26px; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå"; font-weight:400; line-height:85px; color:#000;}



.main .side_n ul li .qu_m h3 a{ display:block; padding-left:90px;}



.main .side_n ul li .qu_m h3 a:hover{ color:#000;}



.main .side_n ul li:hover,.main .side_n #song:hover{ background:#1f283b; color:#fff; }



.main .side_n ul li:hover .qu_m{ background:url(../../www_images/zhuti/zhoujielun/bg_m_hover.png) #f4fcfb 0 0 no-repeat;}







.main .side_n ul li:hover .qu_n .yanzouzhe{border-color:#8991a0;}



.main .side_n ul li a, .main .side_n ul li{color:#fff;}



.main .side_n ul li:hover a{color:#FFF}



.main .side_n ul li .qu_n{ width:144px; height:85px; position:absolute; right:1px; top:0; }



.main .side_n ul li .qu_n span{ float:left; padding:0 12px; line-height:35px; }



.main .side_n ul li .qu_n .yanzouzhe{ width:100%; border-bottom:1px solid #931e2a; line-height:45px; text-align:center; padding:0;}



.main .side_n ul li .qu_n .pinglun a, .main .side_n ul li .qu_n .down a, .main .side_n ul li .qu_n .like a{ padding-top:12px; background:url(../../www_images/zhuti/biye/bg_icon.png) no-repeat; display:block;}



.main .side_n ul li .qu_n .pinglun a{ background-position:center 8px;}



.main .side_n ul li .qu_n .down a{ background-position:center -42px;}



.main .side_n ul li .qu_n .like a{ background-position:center -92px;}



.main .side_n #song{background:#000; padding:5px 10px; line-height:2em; color:#ccc; cursor:pointer; font-size:14px; text-align:center}



.main .side_n #song:hover{color:#FFF}



.main .side_n #song span{ font-weight:bold; padding:0 3px;}



.main .side_list{ width:200px; padding:10px 0; background:#000; margin-top:20px; box-shadow:#333 1px 0px 8px; -moz-box-shadow:#333 1px 0px 8px; }



.main .side_list .side_all ul{ list-style:none;}



.main .side_list .side_all h4 a{ font-size:12px; color:#fff; padding:0 10px;}



.main .side_list .side_all ul li img{ width:60px; height:60px; float:left; padding-right:10px; }



.main .side_list .side_all ul li{ padding:10px; background:#931e2a; margin:10px 0;  clear:both; overflow:hidden; zoom:1;}



.main .side_list .side_all ul li:hover{ background:#000;}



.main .side_list .side_all ul li:hover p{ color:#fff;}



.main .side_list .side_all ul li:hover a{ color:#fff;}



.main .side_list .side_all ul li a{ color:#fff;}



.main .side_list .side_all ul li a:hover{ color:#FFF; text-decoration:underline;}



.main .side_list .side_all ul li p{ color:#fff;}



.main .side_list .side_all ul li p b{ display:block; line-height:2em;}



#fx_small{ color:#fff;}



#fx_small a{ color:#fff;}.header{ padding-top:41px; background-repeat:no-repeat; background-position:center 41px;}



.header{ padding-top:41px; background-repeat:no-repeat; background-position:center 41px;}





.main .side_n ul li .qu_m .zhaiyao{  line-height:1.5em; padding:0 10px 10px 90px; margin-top:-10px; color:#29211d;}



.main .side_n ul li .qu_m h3 a{ color:#000;}

body{ background:#f8f1e5;background-position: 0 40px;}

.header .w .zhaiyao p{ position:absolute;  line-height:2em; color:#000; right:-605px; bottom:-7px;}





.main .side_n ul li{  background:#29211d; }

.main .side_n ul li .qu_m{ background:url(../../www_images/zhuti/bashuxiongfeng/bg_m.jpg) #b69375 0 0 no-repeat;  }

.main .side_n ul li:hover .qu_m{ background:url(../../www_images/zhuti/bashuxiongfeng/bg_m_hover.jpg) #e1d2bf -2px 0 no-repeat; }

.main .side_n ul li:hover .qu_n .yanzouzhe{border-color:#e1d2bf;}

.main .side_n ul li .qu_n .yanzouzhe{ width:100%; border-bottom:1px solid #b69375; line-height:45px; text-align:center; padding:0;}

.main .side_n #song{background:#29211d; color:#fff; }

.main .side_n ul li:hover,.main .side_n #song:hover{ background:#464434; color:#FFF }

.main .side_list .side_all ul li:hover{ background:#29211d; }

.main .side_list{ background:#29211d; }

.main .side_list .side_all ul li{  background:#b69375;}

.main .side_list .side_all ul li a,.main .side_list .side_all ul li p{ color:#000;}



.header .w h1 a{ height:160px;}

#fx_small {padding: 0px 0 5px 10px;}

.header .w .mianbaoxue .site { padding-top:10px;}

.mbx .mianbaoxue .site{ line-height:25px;}









@media screen and (max-width: 800px) {	

			body{ background-image:none;}

			.main, .main .side_n , .header .w, .main .side_n ul li .qu_n{ top:auto; bottom:-30px!important;}

			.main .side_n ul li .qu_n span.yanzouzhe{ border:none;}

			.header,  .header .w .zhaiyao p, .header .w .zhaiyao,.header .w h1 a, .header .w h1{ width:auto; height:auto;}

			.header .w .zhaiyao p{ position:inherit;  line-height:2em; color:#000; right:auto; bottom:auto;}

			.header .w h1 a	{  color:#000; text-indent:0em; line-height:2em;  text-align:center;}

.main .side_n ul li .qu_m, .main .side_n ul li:hover .qu_m{background-image:none;}

.main .side_n ul li .qu_m h3 a,.main .side_n ul li .qu_m .zhaiyao{ padding-left:10px;}

.main .side_n ul li .qu_m .player{position:inherit; margin:10px; }

.main .side_n ul li .qu_m h3 { line-height:1.5em; }

}

		@media only screen and (-webkit-min-device-pixel-ratio : 1.5),only screen and (min-device-pixel-ratio : 2) {

				.header .w h1 , .header .w h1 a, .header .w .zhaiyao{ width:320px;}





		}



