a:link,a:visited{ text-decoration:none;}
body{  font-size:12px; color:#000; line-height:1.5em; font-family:"ËÎÌå";}
img{ border:none;}
.pr{ position:relative}
.pa{ position:absolute;}
.fl{ float:left;}
.fr{ float:right;}
.top{ width:100%;}
.header{ background:none!important;}
li:hover{-webkit-transition:background-color .2s linear;  -moz-transition:background-color .2s linear; transition:background-color .2s linear;}
.top{ height:35px; background:url(../../www_images/zhuti/biye/bg_top.png) 0 0 repeat-x; }
.top .logo a{ width:310px; height:35px; overflow:hidden; display:block; text-indent:-333333em; background:url(../../www_images/zhuti/biye/logo.png) 0 0 no-repeat;}
.top .site{ line-height:35px; color:#999; padding:0 20px;}
.header{ height:345px ;}
.header .w h1 a{ width:580px; height:170px; overflow:hidden; display:block; text-indent:-333333em;}
.header .w .zhaiyao{ height:108px;  position:relative;}
.header .w .zhaiyao p{  padding:15px;  font-size:12px; color:#000; line-height:1.8em;}
.header .w .mianbaoxue{ clear:both; overflow:hidden;}
.header .w .mianbaoxue .site{ float:left; color:#fff; line-height:45px; padding-left:50px;}
.header .w .mianbaoxue .site a{ color:#fff;}
.header .w .mianbaoxue .site a:hover{ text-decoration:underline;}
.main{ margin:0 auto 50px; clear:both; overflow:hidden; background:#fff; box-shadow: #333 1px 0px 8px;-moz-box-shadow: #333 1px 0px 8px;
zoom: 1;}
.main .side_n ul{ padding: 0 10px; border-right:2px dashed #c8c8c8;}
.main .side_n ul li{ padding:7px 145px 1px 3px;  position:relative;  zoom:1; border-bottom: 2px dashed #c8c8c8;}
.main .side_n #song{border-radius:5px;-moz-border-radius:5px;}
.main .side_n ul li .qu_m .player{ position:absolute; top:30px; right:155px;   }
.main .side_n ul li .qu_m .player .audioplay{ width:250px; background:url(../../www_images/zhuti/biye/player.png) no-repeat ;width:113px; height:42px;}
.main .side_n ul li .qu_m h3{ font-size:26px; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå"; font-weight:600; line-height:80px; color:#424242;}
.main .side_n ul li .qu_m h3 a{ display:block; padding-left:135px;}
.main .side_n ul li .qu_m h3 a:hover{ color:#000;}
.main .side_n ul li:hover,.main .side_n #song:hover{  color:#000; }
.main .side_n ul li a, .main .side_n ul li{color:#424242;}
.main .side_n ul li{ padding-bottom: 10px; margin-bottom: 10px;}
.main .side_n ul li:hover a{color:#3c3319}
.main .side_n ul li .qu_n{ width:144px; height:85px; position:absolute; right:1px; top:0; }
.main .side_n ul li .qu_n span{ float:left; padding:0 10px; line-height:35px;margin-top: 10px; }
.main .side_n ul li .qu_n .yanzouzhe{ width:100%; line-height:45px; text-align:center; padding:0;}
.main .side_n ul li .qu_n .pinglun a, .main .side_n ul li .qu_n .down a, .main .side_n ul li .qu_n .like a{ padding-top:12px; background:url(../../www_images/zhuti/qss/bg_icon_hover4.png) no-repeat; display:block;}
.main .side_n ul li .qu_n .pinglun a{ background-position:center 8px;}
.main .side_n ul li .qu_n .down a{ background-position:center -42px;}
.main .side_n ul li .qu_n .like a{ background-position:center -92px;}
.main .side_n #song{background:#000; padding:5px 10px; line-height:2em; color:#ccc; cursor:pointer; font-size:14px; text-align:center}
.main .side_n #song:hover{color:#FFF}
.main .side_n #song span{ font-weight:bold; padding:0 3px;}
.main .side_list{ width:200px; padding:10px ; margin-top:10px;  }
.main .side_list .side_all ul{ list-style:none; zoom:1;}
.main .side_list .side_all h4{ border-bottom:2px dashed #c8c8c8; padding-bottom:10px; text-align:center;}
.main .side_list .side_all h4 a{ font-size:18px; color:#424242; padding:0 10px; font-family:"Î¢ÈíÑÅºÚ";}
.main .side_list .side_all h4 a.more{ font-size:12px;}
.main .side_list .side_all ul li img{ width:60px; height:60px; float:left; padding-right:10px; }
.main .side_list .side_all ul li{ padding:10px;  margin:10px 0;  clear:both; overflow:hidden; zoom:1; border-bottom:2px dashed#c8c8c8; }
.main .side_list .side_all ul li:hover{ }
.main .side_list .side_all ul li:hover p{ color:#000;}
.main .side_list .side_all ul li:hover a{ color:#000;}
.main .side_list .side_all ul li a{ color:#424242; font-size:14px;}
.main .side_list .side_all ul li a:hover{ color:#000; text-decoration:underline;}
.main .side_list .side_all ul li p{ color:#000;}
.main .side_list .side_all ul li p b{ display:block; line-height:2em;}
#fx_small{ color:#fff;}
#fx_small a{ color:#fff;}
.main .side_n ul li .qu_m .zhaiyao{  line-height:1.5em; padding:0 10px 10px 134px; margin-top:-10px; color:#666;}
body{  }
.header .w .zhaiyao p{ position:absolute;  line-height:2em; color:#fff; right:0px; bottom:4px; left:-41px;}
.main .side_n ul li .qu_m{ background:url(../../www_images/zhuti/lvtu/bg_m.png) 0px 50% no-repeat; width: 600px; padding:10px 0; }
.main .side_n ul li:hover .qu_m{ background:url(../../www_images/zhuti/lvtu/bg_m_hover.png)  0px 50% no-repeat; }
.main .side_n #song{background:#bcbcbc; color:#3c3319;margin: 10px ; }
body{ background:url(../../www_images/zhuti/lvtu/bg_h.jpg)  center 0 #b4bf76 no-repeat;}
.header .w h1 a{ height:160px;}
#fx_small {padding: 78px 0 5px 10px;}
.header .w .mianbaoxue .site { padding-top:70px;}
#fx_small{ box-shadow:none; }
.header .w .zhaiyao p{  padding:5px 10px;  font-size:12px; color:#433d00; line-height:1.8em;  font-family:"Î¢ÈíÑÅºÚ"; }
.header .w .zhaiyao p{ position:absolute;  line-height:2em;  bottom:0px; left:400px; width:520px; letter-spacing:0.1em;  }
#fx_small a{ color:#fff;}
.header{ padding-top:41px; background-repeat:no-repeat; }
#fx_small {padding: 3px 0 5px 10px;}
.mbx .mianbaoxue .site { }
#fx_small{ box-shadow:none; }
.mbx .mianbaoxue{ clear:both; overflow:hidden;}
.mbx .mianbaoxue .site{ float:left; color:#fff; line-height:35px; padding-left:50px;}
.mbx .mianbaoxue .site a{ color:#fff;}
.mbx .mianbaoxue .site a:hover{ text-decoration:underline;}
.mbx{height:32px; margin-top: 44px;  }
.mbx .bg{background:#655d19; height:33px; width: 1000px;margin: 0 auto; }
.mbx .mianbaoxue{ width:1000px; margin:0 auto; position:relative; top:-32px; zoom:1;}
.hibannerall{ margin-top:35px!important; }
@media screen and (max-width: 1024px) {	
     
.header .w h1 a{   text-indent:0em; line-height:2em;  text-align:center;}
.header .w h1 a{ width:auto; height:auto;}
.header .w .zhaiyao p{ position:inherit;  line-height:2em;   bottom:auto; left: auto; width:auto;}
.header,  .header .w { width:auto; height:auto;}
			body{ background-image:none;}
.main, .main .side_n , .header .w, .main .side_n ul li .qu_n{ top:auto; bottom:-30px!important;}
.main .side_n ul li .qu_n span.yanzouzhe{ border:none;}
.zhaiyao p, .header .w .zhaiyao,.header .w h1 a, .header .w h1,.main .side_n ul li .qu_m{ width:auto; height:auto;}
.main .side_n ul li .qu_m, .main .side_n ul li:hover .qu_m{background-image:none;}
.main .side_n ul li .qu_m h3 a,.main .side_n ul li .qu_m .zhaiyao{ padding-left:10px;}
.main .side_n ul li .qu_m .player{position:inherit; margin:10px; }
.main .side_n ul li .qu_m h3 { line-height:1.5em; }
}
@media screen and (max-width: 800px) {	

}
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),only screen and (min-device-pixel-ratio : 2) {
				.header .w h1 , .header .w h1 a, .header .w .zhaiyao{ width:320px;}
}
