.thelogin .input-focus {
line-height: 2.2em;
height: 2.2em;
width:150px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}
* {
	margin:0;
	padding:0;
	font-size:12px;
	list-style:none;
}
.thelogin .shuru label {
	display:block;
	float:left;
}
.thelogin .shuru {
	display:block;
	clear:both;
	overflow:hidden;
	padding:10px 0;
}
.thelogin .shuru .ml1em {
	padding-left:1em;
	display:inline-block;
}
.thelogin .shuru .yanzheng img {
	border:1px solid #CCC;
	margin-left:10px;
}
.thelogin .shuru .denglu a {
}
.thelogin .shuru .yanzheng_text {
	font-size:12px;
	padding-left:10px;
}
.thelogin .jizhu, .thelogin .denglu {
	font-size:12px;
}
.thelogin .input-text {
	line-height:2.8em;
	height:2.8em;
	border:1px solid;
	border-color:#999 #DDD #DDD #999;
	padding:0 10px;
	font-size:14px;
	color:#333;
}
.thelogin .denglu {
	padding:10px 55px;
}
.thelogin .denglu a {
	margin-left:50px;
}
#dosubmit {
	height:30px;
	width:80px;
	font-size:14px;
	cursor:pointer;
	border:none;
	background:#C00;
	color:#FFF;
}
#code {
	width:50px;
	line-height:2em;
}
#username, #password {
	width:150px;
}
.thelogin .input-text, #dosubmit {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.logtip {
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:20px;
}
.thelogin .shuru {
	padding:5px 0;
	clear:both;
	overflow:hidden;
	_zoom:1
}
.thelogin .input-text {
	line-height:2.2em;
	height:2.2em;
}
#reg_dosubmit {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
#reg_username, #reg_password, #pwdconfirm {
	width:160px;
}
#reg_code {
	width:50px;
	line-height:2em;
}
#reg_dosubmit {
	height:30px;
	width:80px;
	font-size:14px;
	cursor:pointer;
	border:none;
	background:#F60;
	color:#FFF;
}
.log_right b, .log_wrong b {
	font-size:14px;
	font-style:normal;
	font-family:Geneva, Verdana;
	padding:0 5px;
}
.log_right {
	color:#090;
}
.log_wrong {
	color:#F00;
}
