body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
body{color:#000; line-height:1.5em; background:#fff; font-size:14px; font-family:Arial, Helvetica, sans-serif}
body a,body a:link{text-decoration:none;}
body a:link{ color:#369}
body a:hover{ color:#369; text-decoration:underline}
ul li,dl li{list-style:none}
fieldset,img,abbr,acronym{ border:none}
img{-ms-interpolation-mode:bicubic}
input,select,textarea{ font-size:12px!important}
/* end reset */

.inbox{ border:1px solid #ddd}
.innerbox{ padding:10px;}
.fl{ float:left!important}
.fr{ float:right!important}
.fn{ float:none!important}
.pb10{ padding-bottom:10px}
.clearleft{ clear:left}
.clearright{ clear:right}
.over{ overflow:hidden;}
.block{ display:block}
.none{ display:none}
.red{ color:red}
.gray{ color:#666}
.blue{ color:blue!important}
.green{ color:green}
.yellow{ color:yellow}
.blank{ color:#000}
.pt10{ padding-top:10px;}
.pt0{ padding-top:0!Important}
.mb10{ margin-bottom:10px!important}
.mb0{ margin-bottom:0!Important}
.ml10{ margin-left:10px}
.f14{ font-size:14px!Important}
.f16{ font-size:16px!Important}
.bgnone{ background:none!Important}
.boxgreen,.boxyellow,.boxred,.boxblue{ padding:5px 10px}
.boxgreen{ background:#F2FFEE; border:1px solid #CAF2BE}
.boxyellow,.messagebox .messagebox_f{ background:#FEFCEF; border:1px solid #E6DDC3}
.boxred{ background:#FDF6F6; border:1px solid #E6C9C9}
.boxblue{ background:#E7EFF9; border:1px solid #C9DDE6}
.boxgray{ background:#F5F5F5; border:1px solid #ddd}
.pb15{ padding-bottom:15px}
.yuanjiao,.picul a.next,.picul a.pre,.messagelivebox dl dd input.denglu,.messagelivebox dl dd input.tjpl,.weizhi,.toupiao .tijiao input,.reginfo dl dd.tijiao input{-webkit-border-radius:4px;border-radius:4px;-moz-border-radius:4px;}
.noyuanjiao{-webkit-border-radius:0;border-radius:0;-moz-border-radius:0}
.shangbanyuan,.inbox h3{-webkit-border-top-left-radius:4px;border-top-right-radius:4px;-webkit-border-top-left-radius:4px;border-top-right-radius:4px;-moz-border-radius-topleft:4px;-moz-border-radius-topright:4px;}
body a,body a:link,a:hover,div,p,img,ul,li,span,strong,em,table,div:hover,p:hover,img:hover,ul:hover,li:hover,span:hover,strong:hover,em:hover,table:hover,dl *,dl:hover *{-webkit-transition:color 0.3s;transition:color 0.3s;}
.clear,.header .inner,.xz,.main,.copyright,.flinks .inner{ clear:both; overflow:hidden; zoom:1}
.topbar .inner{ clear:both; zoom:1}
.topbar .inner,.header .inner,.main,.copyright{ width:960px; margin:0px auto}
em{ font-style:normal}
.co{ clear:both; overflow:hidden; zoom:1;}
.mt10{ margin-top:10px;}
.mt20{ margin-top:20px;}
.mb10{ margin-bottom:10px;}
.pd10{ padding:10px;}
.w_content{ width:760px;}
.w480{ width:520px;}
.w460{ width:460px;}
.w758{ width:798px;}
.w_sider{ width:190px;}
.w_banner{ width:200px;}
.site{ font-size:12px; padding-top:10px; line-height:14px;}
.site a{ padding:0 5px;}
.clear{ font-size:0; line-height:0; height:0; clear:both;}
.pr{ position:relative;}
.pa{ position:absolute;}
ul li,dl li{list-style:none}
a,img{text-decoration:none;}
img{-ms-interpolation-mode:bicubic}
fieldset,img,abbr,acronym{ border:none}
.fl{ float:left;}
.fr{ float:right;}
.header{ margin-top: 40px;}
.main{ overflow:visible;}
.more a:link{ color:#fff;}
.bor0{ border:0}
.f12{ font-size:12px}
.regtop{ margin-top:-10px; margin-bottom:25px}
.regtop,.regtop .inner{ height:50px;  background:url(../www_images/city/regbg2.png) no-repeat}
.regtop{width:960px; background-position:0 0}
.regtop .inner{ background-position:left bottom}
.regtop .inner.l0{ width:0px; font-size:0; line-height:0; overflow:hidden}
.regtop .inner.l1{ width:350px}
.regtop .inner.l2{ width:618px}
.regtop .inner.l3{ width:890px}
.regl{ border:1px solid #ddd; padding:20px; width:918px; overflow:hidden;}
.regl h1{font-family: "Î¢ÈíÑÅºÚ","ºÚÌå";font-weight:200; font-size:36px; height:42px; line-height:42px; color:#369; text-align:center; padding-bottom:12px; margin-bottom:12px; border-bottom:1px dotted #ddd}
.reg1{ width:400px; margin:0 25px; float:left; background:url(../www_images/city/regbgx.png) 0 0 no-repeat}
.reg2{ background:url(../www_images/city/regbgx2.png) 0 0 no-repeat}
.reg1 dl{ padding-bottom:32px; background:url(../www_images/city/regbgf.png) left bottom no-repeat}
.reg1 dl dt{ height:62px; line-height:62px; border-bottom:1px dotted #ddd; margin-bottom:16px; text-align:center;font-family: "Î¢ÈíÑÅºÚ","ºÚÌå";font-weight:200; font-size:26px;}
.reg1 dl dd{ height:56px; padding-left:116px;}
.reg1 dl dd input{ width:241px; padding:0 5px; height:38px; font-size:16px!important; font-weight:bold; color:#666; border:0; background:none; padding-top:8px!ie}
.reg1 dl dd.yanzheng input{ width:165px}
.reg1 dl dd.yanzheng a{ font-size:12px; text-decoration:underline; margin-left:10px}
.reg1 dl dd.yanzhengma{ font-size:12px; margin-top:-10px; padding-bottom:9px}
.reg1 dl dd.yanzhengma img{ display:block}
.reg1 dl dd.tijiao{ height:45px; margin-top:-3px!Ie; padding-bottom:15px}
.reg1 dl dd.tijiao input{ width:118px; cursor:pointer; height:45px; padding:0}
.reg11{ text-align:center}
.reg11 a{ margin:0 20px}
.reginfo{ position:relative; padding-top:25px}
.reginfo dl{ padding-left:12px}
.reginfo dl dt{ font-size:14px; color:#679ACE}
.reginfo h4{ color:red; font-weight:bold; font-size:16px;  float:none; font-family: Arial, Helvetica, sans-serif;padding-bottom:5px;  margin-bottom:12px}
.reginfo h5{ height:28px; line-height:28px; font-size:14px; color:#888; background:#efefef; padding:0 12px; margin-bottom:12px; font-weight:100}
.reginfo .lie3,.reginfo .lie2,.reginfo .lie1{ clear:both; overflow:hidden; zoom:1; margin-bottom:10px; border:1px solid #fff; background:#f9f9f9}
.reginfo .lie3:hover,.reginfo .lie2:hover,.reginfo .lie1:hover{ background:#F3F9FF}
.reginfo .lie3:hover h5,.reginfo .lie2:hover h5,.reginfo .lie1:hover h5{ background:#CEE3F8; color:#369}
.reginfo .lie3 dl{ float:left; width:32%;}
.reginfo .lie2 dl{ float:left; width:48.5%;}
.reginfo dl dd.hauto{ height:32px; line-height:32px; overflow:hidden}
.reginfo dl dd.info{ font-size:12px; color:#888; border-bottom:1px dotted #ddd; padding-bottom:10px; margin-bottom:10px}
.reginfo dl dd input,.reginfo dl dd textarea{ border:1px solid #bbb; border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding:5px; font-size:14px!important; color:#666;}
.reginfo dl dd textarea{ padding:10px; line-height:1.5em}
.pb5{ padding-bottom:5px}
.reginfo dl dd.tijiao{ clear:both; overflow:hidden; zoom:1; text-align:center; padding:20px 0}
.reginfo dl dd.bor0 input{ border:0; font-size:12px; color:#f60}
.reginfo dl dd.bor0{ font-size:12px; color:#f60}
.reginfo dl dd.tijiao input{ background:#f60; color:#fff; width:200px; padding:20px 0; font-size:16px!important; cursor:pointer; border:0;}
.tishibox{ width:600px; padding:15px 20px; margin:50px auto}
.user{ float:right; width:258px; border:1px dotted #ddd; background:#f9f9f9;}
.user .photo img{ float:left; margin-right:6px; font-size:12px}
.user .photo{ font-size:12px; clear:both; overflow:hidden; zoom:1; padding:15px;}
.user .photo a{ color:blue; text-decoration:underline}
.user .photo strong{ color:#369; line-height:15px}
.user .photo span.f60{ color:#f60}
.user .rz{ position:static; clear:both; overflow:hidden; zoom:1; margin-left:-6px; padding:0 15px; margin-top:-5px; padding-bottom:10px}
.user .rz p{ float:left; margin-left:6px; display:inline!ie; padding-left:18px}
.user .rmenu{padding:0 15px 10px;}
.user .rmenu ul{ border:1px dotted #ddd; border-bottom:0}
.user .rmenu ul li{ height:30px; line-height:30px; border-bottom:1px dotted #ddd}
.user .rmenu ul li a{ padding:0 15px 0 50px;background-position:30px 8px; color:#666; display:block; height:30px; line-height:30px; background-color:#fff; background-image:url(../www_images/city/quan.png); background-repeat:no-repeat}
.user .rmenu ul li a:hover{ padding:0 15px 0 50px;background-position:30px 8px; color:#000;text-decoration:none; background-color:#f4f4f4;background-image:url(../www_images/city/quanhover.png)}
.user .rmenu ul li.on a,.user .rmenu ul li.on a:hover{padding:0 15px 0 50px;background-position:30px 8px;color:#D02914; font-weight:bold;background-color:#f4f4f4;background-image:url(../www_images/city/quanon.png);}
.user .rmenu ul li a span{ font-size:12px; font-weight:bold; color:#D02914}
.userleft{border:1px dotted #ddd; background:#f9f9f9; padding:14px; clear:both; overflow:hidden; zoom:1; width:700px}
.userleft h1{font-family: "Î¢ÈíÑÅºÚ","ºÚÌå";font-weight:200; font-size:26px; color:red; height:32px; line-height:32px; color:green; border-bottom:1px dotted #ddd; padding-bottom:12px; margin-bottom:12px}
.userleft h1 span.fr{ font-size:12px; font-family:"ËÎÌå"; margin-top:-32px!ie; height:32px; line-height:32px;}
.userleft h1 span.fr a{ text-decoration:underline; color:blue}
.userleft .tishibox{ width:auto; margin:0; margin-bottom:12px}
.tj{}
.tj h3{ font-size:14px; height:28px; line-height:28px; border-bottom:1px dotted #ddd; margin-bottom:10px}
.tj ul.newsl{ clear:both; overflow:hidden; zoom:1; font-size:12px; margin-left:-12px}
.tj ul.newsl li{ border-bottom:1px dotted #ddd; height:24px; line-height:24px; float:left; width:320px; margin-left:12px}
.tj ul.newsl li span.time{ color:#888; margin-top:-24px!ie; float:right}
.userleft .reginfo{ padding-top:0}
.userleft .reginfo dl dd.tijiao input{ width:120px; height:40px; padding:0; font-size:14px!Important}
.userleft .reginfo dl dd.tijiao{ text-align:left; padding-top:10px}
.userleft .dongtai ul{ padding-bottom:15px; margin-top:-5px}
.userleft .dongtai ul li{ height:36px; line-height:36px; border-bottom:1px dotted #ddd; overflow:hidden;}
.userleft .dongtai ul li span{ display:inline-block; overflow:hidden; margin:0;}
.userleft .dongtai ul li span.input{ width:20px}
.userleft .dongtai ul li span.title{ width:530px}
.userleft .dongtai ul li span.time{ color:#888; font-size:12px}
.userleft .dongtai ul li.last{ font-size:12px; padding:0;}
.userleft .dongtaiimg{}
.userleft .dongtaiimg ul{ clear:both; overflow:hidden; zoom:1; padding-bottom:5px}
.userleft .dongtaiimg ul li{ float:left; display:inline!ie; width:109px; height:109px; overflow:hidden; position:relative; border-bottom:1px solid #fff; border-right:1px solid #fff}
.userleft .dongtaiimg ul li a.title{ display:block; width:109px; height:109px}
.userleft .dongtaiimg ul li span.fd{position:absolute; right:5px; bottom:5px;}
.mr20{ margin-right:20px}
.mr20 a{ color:blue!important; text-decoration:underline!important; margin-right:10px}
input.p0{font-size:12px!important; padding:0; padding:5px 0!ie;}
.rnews{}
.rnews ul{ padding:10px 12px}
.rnews ul li{ font-size:12px; line-height:1.3em; padding-bottom:6px; margin-bottom:6px; border-bottom:1px dotted #ddd}
.rnews ul li span.time{ color:#888; margin-left:10px}
.rnews ul li a{ color:#000}
.rnews ul li a:hover{ color:blue}
.viewcity{}
.viewcity h1{ text-align:center; color:#000!important; padding-bottom:12px!important; border-bottom:1px dotted #ddd!important;}
.viewcity h2{ font-size:12px; height:24px; line-height:24px; background:#f6f6f6; color:#666; text-align:center; font-weight:100; margin-bottom:15px}
.viewcity .inner{ clear:both; overflow:hidden; zoom:1; font-size:14px; line-height:1.8em!important; width:618px;}
.mini_nav {position:absolute; padding:5px; top:37px; right:55px; padding:5px;  background:#FFF; width:200px; height:180px; border:1px solid #333; display:none;}
.mini_nav img.icon_top{position:absolute; top:-8px; left:85px;}
.mini_nav ul li{ float:left; font-size:12px; padding:8px;}
.mini_nav ul li a{ display:block; line-height:1.5em; text-align:center;}
.mini_nav, .mini_nav ul li img{ box-shadow:#CCC 1px 1px 2px;}
.huodong{}
.huodong ul{ clear:both; overflow:hidden; zoom:1; padding:10px 0 10px 40px}
.huodong ul li{ float:left; width:250px; line-height:30px; background:url(../www_images/gobal/huodongbg.png) no-repeat; color:#888; font-family:"ËÎÌå"}
.huodong ul li.r4,.huodong ul li.r8{ width:180px;background-position:148px 8px}
.huodong ul li.r3,.huodong ul li.r7{ width:160px}
.huodong ul li.r2,.huodong ul li.r6{ width:250px}
.huodong ul li.r1,.huodong ul li.r5{ width:300px; background-position:210px -25px}
.huodong ul li.r2{background-position:130px -25px}
.huodong ul li.r3{background-position:75px -25px}
.huodong ul li.r6{background-position:130px 8px}
.huodong ul li.r7{background-position:75px 8px}
.flinks{}
.flinks .inner{ text-align:left; padding:10px 0 0}
.flinks .inner img{ display:block; border:1px solid #ddd;}
.flinks .inner a{ display:inline-block; margin-left:30px; font-size:12px; color:#666; text-align:center; padding-bottom:10px}
.flinks .inner a:hover img{ border-color:#CFDCE9}
.flinks .inner a:hover{ color:#369; zoom:1!ie}
.fmenu{ font-size:12px; text-align:center; background:#efefef; height:30px; line-height:30px; border-bottom:1px solid #ddd}
.fmenu span{ color:#888; margin:0 5px}
.fmenu a{ color:#369}
.ffont{ padding:10px 0 20px; text-align:center; color:#666; font-size:12px}
.inbox{ border:1px solid #ddd; background:#fff; margin-bottom:10px}
.inbox h3{ height:28px; line-height:28px; overflow:hidden; clear:both; border-bottom:1px solid #ddd; padding:0 10px; background:url(/style/img/h3bg.png) repeat-x}
.inbox h3 span.title,.inbox h3 span.title a{ color:#D80000; font-size:14px; text-decoration:none;}
.inbox h3 span.more{ font-size:12px; font-weight:100; float:right; margin-top:-28px!ie}
.inbox h3 span.more a{ color:#888}
.inbox h3 span.more a:hover{ color:red}
.inbox h3 span.gray{ color:#666!Important}
.inbox h3.weizhi{ border-bottom:0; font-size:12px; font-weight:100; color:#000; border:0; width:628px;}
.inbox h3.weizhi a{ color:#369}
.box300{ width:300px}
.cityright{ background:#f6f6f6; border:1px dotted #ccc; margin-bottom:10px;}
.cityright h4{ font-size:12px; font-weight:100; color:#666; text-align:center; padding-top:8px}
.cityright .clear{ text-align:center; padding:6px 0 10px}
.cityright .clear a{ margin:0 5px; display:inline-block; width:130px; height:30px; line-height:30px; font-size:14px; font-weight:bold; background:#76C7EE; color:#fff;}
.cityright .clear a:hover{ text-decoration:none; background:#59B2DD; color:#fff}
.cityright.clear .fl{ padding:18px 0 0 15px}
.js{ background:#D5E6F7; padding:10px 15px; clear:both; overflow:hidden; zoom:1; margin-bottom:10px}
span.f12size{ margin-left:12px; color:#666; font-size:12px; font-weight:100}
.dlist{}
.dlist ul{}
.dlist ul li{ position:relative; padding:15px 15px 15px 80px; border-bottom:1px dotted #ddd; width:863px;}
.dlist ul li span.xulie{font-family: "Î¢ÈíÑÅºÚ","ºÚÌå";font-weight:200; font-size:28px; color:red; height:32px; line-height:32px; position:absolute; left:30px; top:50%; margin-top:-14px; width:1em;}
.dlist ul li a{ color:blue; margin-right:10px; margin-bottom:5px; display:inline-block; width:5em}
.dlist ul li a:hover{ color:#f60}
.dlist ul li:hover{ background:#f8f8f8}
/* message */

.music_comment{ padding-right:10px;}
.music_comment h3{ font-size:14px; color:#F60; line-height:2em; margin-top:10px;}
.music_comment .notlogin{ border:1px solid #CCC; padding:20px; text-align:center; color:#666; background-color:#F8F8F8;}
.music_comment .notlogin a{ font-weight:bold; padding:0 5px;}
.music_comment .islogin textarea{ border:1px solid #CCC; width:100%; height:80px;}
.islogin{}
.islogin .title{ font-size:12px; line-height:2em;}
.islogin .sub{ border:none; padding:5px 15px; text-align:center; color:#FFF; background:#F60; margin:0; height:25px;}
.islogin .sub:hover{ background:#F90;}
.music_comment ul{ font-size:12px; padding:10px 0;}
.music_comment ul li{ clear:both; overflow:hidden; margin-bottom:20px; padding-left:70px; position:relative; zoom:1; }
.music_comment ul li .avatar{ position:absolute; top:0; left:0; width:40px;}
.music_comment ul li .avatar, .music_comment ul li.hot  .moreComment .avatar{ padding:2px; border:1px solid #DDD;}
.music_comment ul li .avatar a{ width:40px; height:40px; display:block; overflow:hidden;  background:#EEE;}
.music_comment ul li .avatar a img{ width:40px;}
.music_comment ul li .theComment{ border:1px solid #DDD; padding:0 10px 10px; zoom:1; }
.music_comment ul li .theComment .inner{ padding:10px 0; color:#333;}
.music_comment ul li h4{ clear:both; overflow:hidden; padding:5px 0;  font-size:12px; line-height:1.5em; border-bottom:1px dotted #ccc;}
.music_comment ul li h4 b{padding-right:10px}
.music_comment ul li h4 span{ font-weight:400; }
.music_comment ul li h4 span a{ float:right; margin-left:10px; padding:0 5px; display:inline-block; background:#F60; color:#FFF;}
.music_comment ul li h4 span a.comment_no{ background:#CCC;}
.music_comment ul li h4 span a:hover{ background:#C00; text-decoration:none;}
.music_comment ul li .moreComment{ background:#EFEFEF;padding:10px; padding-left:60px; margin:5px 0 0;  position:relative;  zoom:1;}
.music_comment ul li .moreinner{}
.music_comment ul li .moreinner p{ padding:5px 0;  color:#666;}
.music_comment ul li .moreComment .avatar{ top:5px; left:5px;}
.music_comment ul li .moreComment h5{ font-size:12px;}
.music_comment ul li .theComment .comment_reply{ margin-top:5px; line-height:2em; color:#999;}
.music_comment ul li .theComment .comment_reply a{ float:right;}
.music_comment ul li.hot .theComment, .music_comment ul li.hot .avatar{ border:2px solid #F60;}
.music_comment ul li.hot .avatar{}
.music_comment ul li.hot h4 b{ color:#F60; }
.music_comment ul li .tip{ width:17px; height:17px; overflow:hidden; top:20px; _left:-17px;}
.music_comment ul li .theComment .tip{ left:-16px;}
.music_comment ul li.hot .theComment .tip{ left:-17px;}
.music_comment ul li .theComment .tip{ background:url(../www_images/song/comment_tip.png) no-repeat;}
.music_comment ul li.hot .theComment .tip{ background:url(../www_images/song/comment_tip_hot.png) no-repeat;}
.music_comment .notlogin, .music_comment .islogin textarea{ background-image:url(../www_images/song/comment.png)}
.music_comment ul li h4 span a{ -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
.music_comment .avatar,.music_comment .avatar a{ -webkit-border-radius:24px!important; border-radius:24px!important; -moz-border-radius:24px!important; }
.pagelist {

text-align: center;

}
.pagelist{ padding-bottom:10px; font-size:12px; clear:both; overflow:hidden; zoom:1}
.pagelist a,.pagelist span{-webkit-transition:all 0.5s;transition:all 0.5s; display:inline-block; text-decoration:none; -webkit-border-radius:4px;border-radius:4px;-moz-border-radius:4px; padding:0 8px; margin-right:4px; line-height:20px; height:20px; font-family:Arial, Helvetica, sans-serif; *font-family:"ËÎÌå"}
.pagelist a:link,.pagelist a:visited{color:#fff;background:#AFBAC5; }
.pagelist a:hover{-webkit-transition:all 0.5s;transition:all 0.5s;background:#369; color:#fff}
.pagelist span{background:#f60; color:#fff}
.pagelist  .a1{}
.pagelist a.morex{color:#666; border-radius:4px; display:block; margin:0 15px 0 15px; height:30px; line-height:30px; background:#ddd}
.pagelist a.morex:hover{ background:#f60; text-decoration:none; color:#fff}
body{background:#eeeeee;}
.top ,.headerinner,.main{width:1000px; margin:0px auto;}
.header .diqu,.header .diqu h2 a,.header ul.lanmu li a{ color:#fff;}
.header .diqu{ padding-top:30px;}
.header .diqu h2{ font-family: "Î¢ÈíÑÅºÚ","ºÚÌå"; font-size:22px; font-weight:300; float:left;}
.header .diqu h2 a{ font-size:40px; line-height:40px;}
.header ul.lanmu{  top:30px; right:0px;}
.header ul.lanmu li{ float:left; }
.header .diqu a.qh,.header ul.lanmu li a{  font-size:14px; margin-right:25px; padding:3px 10px;background:#933232; font-weight:bold; display:inline-block; color:#fff;}
.header .diqu a.qh{ zoom:1; -webkit-border-radius:20px; margin-left:20px; margin-top:12px;}
.header ul.lanmu li a,.header .tishi{font-family:"ËÎÌå";}
.header .tishi{ font-size:12px; color:#f6ff92; margin:30px 0 0 10px; letter-spacing:1px;}
.header .tishi a{ color:#f6ff92; text-decoration:underline; padding-left:10px;}
.header ul li .so{ background:url(../www_images/city130412/sotext.jpg) no-repeat; width:136px; height:25px; }
.header ul li .so input.text{ border:0; line-height:22px;  height:22px; margin:3px; padding-left:5px; width:103px; font-size:12px; color:#999; }
.header ul li .so input.sub{ background:url(../www_images/city130412/sotip.jpg) no-repeat; width:18px; height:18px; border:0; margin-top:5px; margin-right:3px; }
.main{ }
.main{ margin-top:36px;}
.main .left{ margin-right:12px; _margin-right:6px; background:#fff;}
.main .left  .fangshi .title{ padding:10px 10px  5px;border-bottom:2px solid #ececec; _padding:10px;}
.main .left .fangshi .title h3{ font-size:14px; color:#333; font-family:"ËÎÌå"; }
.main .left .fangshi .title a{ color:#fff; background:#e25454; font-size:12px; padding:4px; }
.left .inner{}
.left .xx h3 a{ font-size:14px; color:#cc3333;}
.left .xx{  padding:10px; line-height:27px; margin:0; border-bottom:1px solid #EEE;padding-bottom: 10px; _zoom:1; }
.left .xx:hover{ background:#FFE;}
.left .xx .vcont{ width: 350px;}
.left .xx span{ color:#000; font-size:12px;}
.left .xx em{ color:#666;}
.left .xx span.yz{ color:#ff6600; margin-left:10px; }
.left .xx .vcont .yz{ left:120px; top:30px;}
.left .xx .avtar a{ width:80px; height:80px;}
.left .xx .avtar a img{ width:80px;}
.left .tuijian h3 a{ color:#cc0000;}
.left .tuijian .avtar a{ width:100px; height:100px;}
.left .tuijian .avtar a img{ width:100px;}
.train .quyu a,.left .xx .sz a{color:#cc6666; font-size:12px; background:#ffe3e3;padding:5px 10px; }
.left .xx .sz a{ line-height:40px; }
.left .xx .bord{ }
.more{ text-align:center;}
.more a{ font-size:12px; color:#fff; background:#e25454; display:inline-block; padding:10px;}
.left .more{ }
.left .more{ padding:20px;}
.right .zixun{ border-bottom:1px solid #ccc;}
.right .zixun h3{ font-size:18px; color:#000; border-left:6px solid #cc0000; line-height: 20px;padding-left:5px;font-family:"Î¢ÈíÑÅºÚ"; font-weight:600; }
.right .zixun a.tougao{ font-size:12px; color:#e25454; font-weight:bold;}
.right .zixun .note{ background:#1f77a9; color:#fff; font-size:12px; padding:5px 0; margin-bottom:10px;}
.right .zixun .note img{ margin:0 8px;}
.right ul.news li{ line-height:26px;}
.right ul.news li a{ color:#000; font-size:14px;}
.right ul.news li span a{ font-size:12px; color:#999;}
.right .more{ margin:20px;}
.right .zp{ margin-top:15px;  }
.right .zp a.tougao{ margin-left:10px;}
.right .zp .box{ border-bottom:1px dashed #c4c4c4; padding-bottom:10px; margin-bottom:10px; margin-top:10px;_zoom:1;}
.right .zp .box .vcont span{ font-size:14px; color:#666; line-height:28px;}
.right .zp .box .vcont span strong{ color:#000;}
.right .zp .box .vcont span strong.danwei{ color:#e25454; }
.right .zp .box .vcont span strong em{ font-size:16px; font-style:italic; margin-right:2px;}
.right .zp .box  .sort{ right:0px; bottom:7px;}
.right .zp .box  .sort a{ color:#fff; background:#999; font-size:12px; display:inline-block; padding:5px 8px;}
.right .zp .box  .sort a.qb{ background:#1f77a9;}
.footer{ background:#663333;clear:both;}
.footer .other{border-bottom:1px solid #733636;}
.footer .other .qita{ text-align:center; }
.footer .other .qita a{ font-size:12px; color:#fff; background:#a24545; padding:10px; display:inline-block; margin:10px;}
.footer .other .describe{ background:#733636; padding:10px 20px; color:#ff9999; font-size:14px; letter-spacing:2px; text-align:center; }
.footer .other .describe a{ color:#ff9999; margin:0 5px; font-size:16px; font-style:italic;}
.footer img{ margin: 10px 0 10px 0px;}
.footer .fmenu,.ffont{ text-align:center; margin:15px;}
.footer .fmenu a,.footer .fmenu,.ffont,.ffont a{ font-size:12px; color:#e25454;  }
.ffont a:link{ color:#e25454;}
.footer .ffont{ padding-bottom:10px;}
.footer .fmenu{background: #663333;border-bottom: none;}
.footer .fmenu span{color: #e25454;}
.main{ margin-bottom:40px;}
/* ÅàÑµlist*/

.mbx{ font-size:12px; color:#999; top:-26px; left:2px;}
.mbx a{ color:#999;}
.train .xx .vcont{ width: 668px; width: 668px!ie;}
.train .xx .yvcont{ width:777px;}
.train .tuijian .vcont{ margin-left:10px; }
.train .quyu  li{ float:left;}
.train .quyu a{ margin:20px 10px 15px 10px; display:inline-block;}
.train .quyu li.now a{ background:#e25454; color:#fff; font-weight:bold;}
.quyu{ border-bottom:1px solid #e9e9e9;}
.train .xx{}
.train  .xx .vcont .sz{ display:inline;}
.train .xx .vcont .sz a{ font-weight:normal; line-height:23px;}
.train  .xx .vcont a.tip{ display:inline-block; right:0; bottom:10px;}
.train .left .page a{ color:#e25454; font-family:Arial; font-size:18px; margin:20px 10px 20px 20px; display:inline-block;}
.train .left .page a.on{ background:#e25454; color:#fff; padding:2px 8px; font-size:20px; font-style:italic;}
.w_sider{ }
.w_sider h4{ font-size:14px;}
.w_sider .zp .box .vcont span,.train .right .zp .box a{ font-size:12px;}
.w_sider .zp .box .vcont span{ line-height:24px;}
.train { background:#fff;}
.train .more a{ background:#a24545;}
/* view*/

.maininner .left{ }
.top_title .vcont h3 a{ font-size:28px; color:#c51e1e; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå"; font-weight:300;}
.top_title .vcont{ margin:10px; _margin:5px; }
.top_title span.bm{ display:inline-block; margin:30px 20px 15px 0; }
.top_title span.yz{ display:inline-block; }
.top_title span.bm a{ }
.top_title p{ background:#efefef;line-height:30px; width:568px; }
.top_title p span{ color:#000; font-size:12px; margin-right:15px; padding:5px;  }
.top_title p span em{ color:#666666;}
.top_title .avtar{ margin:10px;_display:inline;}
.top_title .avtar a{ width:150px; height:150px;}
.top_title .avtar a img{ width:150px;}
.top_title  .yanzheng{ top:78px; left:110px;}
.top_title span.yz{ color:#ff6600; margin-left:10px; font-size:12px;}
.fangshi{ margin:10px; border-bottom:1px dashed #dedede; padding-bottom:20px;  margin-bottom:20px; _zoom:1; }
.fangshi .content{ line-height:28px; margin-top:10px;}
.main .left .fangshi .title{ color:#fff; background:#e25454; width:70px;   font-weight:bold; text-align:center; padding:1px; border-bottom:none;}
.fangshi p{ font-size:14px; color:#666;}
.fangshi p span{ color:#000;}
.fangshi p em{ color:#c51e1e; font-weight:bold;}
.fangshi p strong.dh{ color:#c51f1f; font-size:24px; font-style:italic;}
.fangshi .left{  border-right:1px solid #e5e5e5; padding-right:20px; width:320px;}
.fangshi .right{ width:345px;}
.fangshi .nr{ background:url(../www_images/city130412/btip.jpg) 0 top repeat-x #f6f4f4; text-align:center; padding:20px 0;}
.fangshi .nr .jy img{ margin:0 10px; }
.fangshi .nr .jy{ font-size:24px; font-family:"Î¢ÈíÑÅºÚ"; color:#000; font-weight:bold;}
.fangshi .nr .sm{ font-size:14px; color:#666; margin:10px 0 0 5px;}
.fangshi .jz{  background:#fff9ea; padding:10px; }
.fangshi .jz .zoom{ font-size:14px; color:#333; padding:5px;line-height:26px;}
.fangshi .jz a{ color:#e25454; font-size:14px; margin-bottom:10px; display:inline-block;}
.fangshi .js{ background:#eaf5ff;}
.music_comment{ padding:0 10px; }
/*shenqing.html*/

.w400{ width:400px;}
.fabu{ font-size:14px;}
.fabu .head{ text-align:center; border-bottom:1px solid #DDD;}
.fabu .head p{ line-height:3em;}
.fb_n{ padding:0 20px 30px;}
.fb_n .fb_path{ padding:10px 0;}
.fb_n .fb_tip{ background:#EFEFEF; line-height:3em; text-align:center;}
.fb_shenfen{ padding:20px 0;}
.fb_shenfen a{ width:420px; display:block; line-height:4em; text-align:center; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå"; font-size:24px; text-decoration:none;}
.fb_shenfen a:hover{ opacity:0.7;}
.fb_shenfen a.sf1{ background:#cbe3f1; color:#184159;}
.fb_shenfen a.sf2{ background:#e0f1cb; color:#4f6f27;}
.fb_form{ background:#3c4452; color:#fff; border-top:1px solid #003;}
.fb_form h4, .fb_form .inner{ padding:10px 20px;}
.fb_form h4{ background:#545f73 ;}
.fb_form dl{ margin:10px 0; display:block; overflow:hidden;}
.fb_form dl dt{ float:left; background:#666; padding:0 3px 0 8px; }
.fb_form dl dd.n{background:#636975;}
.fb_form .tip{ color:#9ab1d7; font-size:12px; padding-bottom:10px;}
.fb_form dl dt, .fb_form dl dd.n, .fb_form dl dd.n .text, .fb_form dl .date{ line-height:34px; height:34px;}
.fb_form dl dd .checkde{ padding:0 15px; }
.fb_form dl dd .checkde, .fb_form dl dd .checkde input{cursor:pointer;}
.fb_form dl dd.n .text, .fb_form dl .date{ border:none; padding:0 10px; background:url(../www_images/city130412/input_text.png) 0 0 repeat-x;}
.fb_form .tijiao{ text-align:center; padding:20px;}
.fb_form .tijiao .sub{ width:300px; height:49px; border:none; background:url(../www_images/city130412/input_sub.png) no-repeat; cursor:pointer;}
.fb_form .tijiao .sub:hover{ background-position:0 -49px;}
.fb_form dl dt, .fb_form dl dd.n{ -moz-box-shadow:#333 2px 1px 1px; -ms-box-shadow:#333 2px 1px 1px; box-shadow:#333 2px 1px 1px;}
.fb_form h4, .fb_form .tip, .fb_form .tijiao{  clear:both; zoom:1;}
.fb_form dl dt{-moz-border-radius:4px 0 0 4px; -ms-border-radius:4px 0 0 4px; border-radius:4px 0 0 4px; }
.fb_form dl dd.n, .fb_form dl dd.n input{-moz-border-radius:0 4px 4px 0; -ms-border-radius:0 4px 4px 0; border-radius:0 4px 4px 0; }
.fb_form dl dd.n .text{ color:#066; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå"; font-size:18px; }
/* background */

.top_title span.bm{ display:inline-block; margin:40px 20px 15px 0; }
.top_title .vcont h3 a{ font-size:28px; color:#c51e1e; font-family:"Î¢ÈíÑÅºÚ"; font-weight:300; line-height: 28px;}
.top{ background:url(../www_images/city130412/top.jpg) #f4f0eb 0 0 no-repeat; height:36px;}
.header{background:url(../www_images/city130412/bg.png) 0 bottom repeat-x; height:128px;}
.train .vcont a.tip{ background:url(../www_images/city130412/ptip.jpg) no-repeat; width:35px; height:8px;}
.train .vcont:hover a.tip{ background:url(../www_images/city130412/ptip_hover.jpg) no-repeat;width:35px; height:8px;}
.train .right .zp{ margin-top:0px;}
.train .right h4{ background:url(../www_images/city130412/bg.jpg)  no-repeat; width:183px; height:47px;line-height:40px;}
.train .pmain{ background:url(../www_images/city130412/background.png) 800px 0 repeat-y;_zoom:1;}
/* CSS3 */

.left{box-shadow:#CCC 1px 1px 2px;}
.train .left{ box-shadow:none;}
.train{box-shadow:#CCC 1px 1px 2px;}
#pic114

{

width: 575px;

height: 208px;

margin: 0 auto;

}
#container {

	width:570px;

	position:relative;

	z-index:0;

}
#example {

	width:570px;

	height:208px;

	position:relative;

}
#ribbon {

	position:absolute;

	top:-3px;

	left:-15px;

	z-index:500;

}
#slides {

	position:absolute;

	z-index:100;

}
#slides .next, #slides .prev {

	position:absolute;

	top:90px;

	left:-24px;

	width:24px;

	height:43px;

	display:block;

	z-index:101

}
.slides_container {

	width:570px;

	height:208px;

	overflow:hidden;

	position:relative;

}
#slides .next {

	left:570px;

}
.pagination {

	margin:12px auto 0;

	width:100px;

}
.pagination li {

	float:left;

	margin:0 3px;

}
.pagination li a {

	display:block;

	width:12px;

	height:0;

	padding-top:12px;

	float:left;

	overflow:hidden

}
.pagination li.current a {

	background-position:0 -12px;

}
.left .title h3{ padding:10px;}
.login{ background:url(../www_images/city130412/bbg.png) repeat; width:500px; height:100px; top:50px; right:0px;}
.login .box .vcont{ width:400px; }
.header .diqu span.rexian{ font-size:14px; color:#fff; font-weight:bold; margin:10px; width:330px;}
.header .diqu span.rexian em{ font-size:24px; color:#ffff66; font-weight:normal; font-style:italic; }
.header .diqu span.rexian  .zhuan{ font-size:14px; color:#ffff66; font-weight:bold; margin-left:16px; letter-spacing:0.5em;}
.select{ background:#ffcec2;  }
.selectinner{ width:1000px; margin:0 auto; padding:10px 0;}
.select ul{ border-bottom:none; }
.select ul  li{ float:left; zoom:1; }
.select  ul a{ margin:0 10px; display:block; margin-bottom:15px;}
.select  ul a{ font-size:12px; background:#ffe3e3;padding:5px 10px; }
.select  ul a{ color:#cc6666;}
.select  ul li.one{ color:#fff;font-weight:bold; width:75px; text-align:center; margin:0 10px; _margin:0 5px;padding:5px 10px;}
.select  ul.quyu li.one{ background:#f35a5a;}
.select  ul.biaozhi li.one{ background:#ec865d;}
.select ul li.now a{ color:#fff; font-weight:bold;}
.select  ul.biaozhi li.now a{ background:#d87a55;}
.select ul.quyu li.now a{background:#e25454;}
.select  ul.biaozhi a{ background:#fff6cd;}
.main .left .site a{ color:#fff; background:#e25454; font-size:12px; padding:4px; margin-left:20px; }
.main .left .title{ border-bottom:none;}
.main .left .site{ background:#fcf4f0; color:#e25454; font-size:14px; height:30px; padding:10px; line-height:25px; letter-spacing:0.1em;}
.main .left .site span{ color:#ff0000; font-size:24px;}
a.smore{ font-size:12px; color:#666; margin-top: 108px; }
.tuijian a.smore{ margin-top: 0px;}
a.smore:link{ color:#666;}
.citynews .right ul.news li span{ color:#fff; background:#afc6d4;-webkit-border-radius: 50%;

Unknown property name.-moz-border-radius: 50%;

border-radius: 50%; margin-right:10px; padding:2px 3px;}
.citynews .right ul.news{ width:350px;}
.citynews .banner_city a{ width:140px; height:185px; overflow:hidden; display:block;}
.citynews .banner_city a img{ width:140px;}
.bb{ border-bottom:1px solid #ccc;}
.citynews .right ul.news li {line-height: 28px;}
.login{background:url(../www_images/city/bbg.png) repeat;width:500px; height:100px; top:50px; right:0px;}
.login .box{ }
.login .box .avtar{ margin:10px; _margin:5px;}
.login .box .avtar a{ width:80px; height:80px; overflow:hidden; display:block;}
.login .box .avtar a img{ height:80px;}
.login .box .vcont{ width:400px; margin-top: 10px; }
.login .box .vcont p a{ color:#ffff66;}
.login .box .vcont p{  color:#fff; font-size:12px; line-height:20px; margin:7px 10px; }
.login .box .vcont  a.name{ font-size:14px; font-family:"Î¢ÈíÑÅºÚ"; margin-right:30px; }
.login .box .mm p.dj span strong{ }
.login .box .mm p.dj span { margin-left:0px; margin-right:20px;}
.login .box .mm p a{ margin-right:20px; }
.login .box .mm p a em{ color:#ff3300;}
.login .box .mm a{ color:#fff;}
.login .box .mm{ margin:3px 10px; color:#fff; line-height:24px; font-size:12px;}
.login .box .mm{}
.login .box .mm a{ text-decoration:underline;}
.login .box .mm .fbu{ margin-top:10px;}
.login .box .vcont .denglu{ margin-top:20px;}
.lside{ background:url(../www_images/city130412/bbg.png) repeat; width:190px; height:auto; top:75px; right:0px;}
.lside .box{}
.lside .box .vcont{ width: 90px; }
.lside .box .vcont p a{ }
.lside .box .vcont p{  color:#fff; font-size:12px; line-height:20px;   margin:10px 5px; }
.lside .box .vcont  a.name{ font-size:12px; font-family:"Î¢ÈíÑÅºÚ"; margin-right:0px;}
.lside .box .vcont  span strong{ }
.lside .box .vcont  span { margin-left:10px;}
.lside .box .vcont p a.name{ display:block; margin-bottom:5px; }
.lside .box .vcont p a em{ color:#ff3300;}
.lside .box .vcont p{}
.lside .box .mm a{ color:#fff;}
.lside .box .mm  span { display:block;}
.lside .box .mm .fbu{ margin-top:0px;}
.lside .box .mm{ float:none!important;}
.lside .box .vcont{ height:100px; margin-top:0px;}
.top_title span.bm { display:inline-block;

}
.top_title .yanzheng {

	top:46px;

	left:0px;

}
.top_title .avtar a {

	width: 120px;

	height: 120px;

}
.top_title .avtar a img {

	width: 120px;

}
.top_title {

	border-bottom: 1px dashed #ddd;

}
.fangshi .left {

	width:360px;

}
.fangshi p span {

	margin-right:15px;

}
.fangshi p span.didian {

	color:#ff0000;

	font-size:14px;

	font-weight:bold;

	margin-left:10px;

}
.fangshi p span.three {

	width:85px;

	color:#666;

	display:inline-block;

	margin-right:0px;

}
.top_title p{ background:none;}
.show{ background:#fff6e1!important; box-shadow: #dadada 1px 1px 2px!important;-moz-box-shadow:#dadada 1px 1px 2px;-webkit-box-shadow:#dadada 1px 1px 2px;}
.fenxiao .left{ border:none; padding-right:0px!important;}
.fenxiao{ padding-bottom:20px!ie; }
.fenxiao .xiaoqu{ color:#666; font-size:14px; left:100px; top:0px;}
.fenxiao .xiaoqu span{ color:#c51e1e; margin-left:5px;}
.fenxiao .xiaoqu span em{ font-size:24px; font-style:italic;}
.fenxiao .content .show{ width:369px;margin-bottom: 10px;  }
.fenxiao .content p{ padding:0px 10px;}
.fenxiao .content p.on1{ background:#ffe8cd; padding:7px 10px; margin-bottom:10px;}
.fenxiao .content p.on1 .on2 em{ font-size:18px;  color:#fff;}
.fenxiao .content p.on1 .on2{ color:#fff; background:#bb6143; padding:5px 10px; border-radius: 22px;

.-ms-border-radius: 22px;

}
.fenxiao .content p.on1 .on3{ color:#cc6633; margin-left:20px;}
.fenxiao .content p{ line-height:30px;}
.fenxiao p span.three1{ margin-left:20px; color:#666; margin-right:0px;}
.fenxiao .morexx{ color:#bb6143; font-size:12px; margin-right:10px;}
.houtai{  border-bottom:none; margin:0px; margin-bottom:10px;}
.houtai p{ font-size:12px;}
.houtai p.on1{ font-size:14px;}
.houtai .left{ margin-right:10px; }
.houtai .content .show{ width:240px; height: 133px;}
.houtai p span.three1{ margin-left:0px;}
.houtai a.dj{ background:#e8b797; color:#fff;  font-size:12px; font-weight:bold; text-align:center; display:block; width:90px; margin:10px;}
.houtai .content .now1{ background:#c97f66!important;}
.houtai .content .now1 p.on1{ background:#8f3721;}
.houtai .content .now1 p.on1 .on3,.houtai .content .now1 p span,.houtai  .now1 a.dj{ color:#ffe5cc;}
.houtai  .now1 a.dj{ background:#a44d2f;}
.add a{ display:block; text-align:center; margin: 10px;}
.houtai .content .add{ background:#d6d6d6!important;}
.xq{ border-bottom:none; margin:0px; padding-bottom:0px;}
.xq .content .show{ width:500px;}
.xq .morexx{ margin-top:10px;}
.tuijian a.smore1 {margin-top: 0px;}
.xq .content p.on1 .on3{ font-size:14px;}
.left .xx span.xiaoqu{ font-size:14px; font-weight:bold; color:#bb6149;}
.left .tuijian .vcont{ line-height:28px;}
.login .yyfbu{ background:#F93; color:#fff; padding:8px 10px; font-size:12px; font-weight:bold; line-height:58px;}
.lside .yyfbu{ margin-left:10px;}


@media screen and (max-width: 750px) {
	  .header{ height:150px;}
	  .header .diqu {padding-top: 20px;}
	  .header .diqu h2{ padding-left:10px;}
	  .header .diqu a.qh{ margin-left:10px;}
	 .maininner .right,.headerinner .diqu .rexian,.xx .avtar,.top_title .avtar,.top_title span.bm,.train .vcont a.tip{ display:none!important;}
	 .maininner .left,.xq .content .show,.headerinner,.selectinner,.left .xx .vcont,.fenxiao .content .show,.dlist ul li { width:auto;}
	 .inbox h3{ height:auto;}
	 .header .diqu h2,.pmain .left,.top_title .vcont,.js span,.xx .vcont{ float:none!important;}
	 .header .tishi{ margin:25px 0px  0px 10px;}
	 .main .left .site a{ margin-left:0px;}
	 a.smore{ margin-top:10px;}
	 .pmain{ margin-top:50px;}
	 .mbx{top:-45px;}
	 .top_title p span{ display:block;}
	 .top_title p{ margin-top:30px;}
	 .top_title .yanzheng {top: 70px;}
	 .dlist ul li a{ font-size:20px;width: 3em;}
	.js{ line-height:35px;}
	
	}