body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}

em{ font-style:normal}

b{font-style:normal}

.co{ clear:both; overflow:hidden;}

.mt10{ margin-top:10px;}

.mt20{ margin-top:20px;}

.mb10{ margin-bottom:10px;}

.pd10{ padding:10px;}

.w_content{ width:760px;}

.w760{ width:800px;}

.w300{ width:300px;}

.w659{ width:699px;}

.w_sider{ width:200px;}

.w_banner{ width:200px;}

.site{ font-size:12px; padding-top:10px; line-height:14px;}

.site a{ padding:0 5px;}

.clear{ font-size:0; line-height:0; height:0; clear:both;}

.pr{ position:relative;}

.pa{ position:absolute;}

ul li,dl li{list-style:none}

a,img{text-decoration:none;}

img{-ms-interpolation-mode:bicubic}

fieldset,img,abbr,acronym{ border:none}

.fl{ float:left;}

.fr{ float:right;}







.bor0{ border:0}

.f12{ font-size:12px}

.regtop{ margin-top:-10px; margin-bottom:25px}

.regtop,.regtop .inner{ height:50px;  background:url(../www_images/job/regbg2.png) no-repeat}

.regtop{width:1000px; background-position:0 0}

.regtop .inner{ background-position:left bottom}

.regtop .inner.l0{ width:0px; font-size:0; line-height:0; overflow:hidden}

.regtop .inner.l1{ width:350px}

.regtop .inner.l2{ width:618px}

.regtop .inner.l3{ width:890px}

.regl{ border:1px solid #ddd; padding:20px; width:918px; overflow:hidden;}

.regl h1{font-family: "Î¢ÈíÑÅºÚ","ºÚÌå";font-weight:200; font-size:36px; height:42px; line-height:42px; color:#369; text-align:center; padding-bottom:12px; margin-bottom:12px; border-bottom:1px dotted #ddd}

.reg1{ width:400px; margin:0 25px; float:left; background:url(../www_images/job/regbgx.png) 0 0 no-repeat}

.reg2{ background:url(../www_images/job/regbgx2.png) 0 0 no-repeat}

.reg1 dl{ padding-bottom:32px; background:url(../www_images/job/regbgf.png) left bottom no-repeat}

.reg1 dl dt{ height:62px; line-height:62px; border-bottom:1px dotted #ddd; margin-bottom:16px; text-align:center;font-family: "Î¢ÈíÑÅºÚ","ºÚÌå";font-weight:200; font-size:26px;}

.reg1 dl dd{ height:56px; padding-left:116px;}

.reg1 dl dd input{ width:241px; padding:0 5px; height:38px; font-size:16px!important; font-weight:bold; color:#666; border:0; background:none; padding-top:8px!ie}

.reg1 dl dd.yanzheng input{ width:165px}

.reg1 dl dd.yanzheng a{ font-size:12px; text-decoration:underline; margin-left:10px}

.reg1 dl dd.yanzhengma{ font-size:12px; margin-top:-10px; padding-bottom:9px}

.reg1 dl dd.yanzhengma img{ display:block}

.reg1 dl dd.tijiao{ height:45px; margin-top:-3px!Ie; padding-bottom:15px}

.reg1 dl dd.tijiao input{ width:118px; cursor:pointer; height:45px; padding:0}

.reg11{ text-align:center}

.reg11 a{ margin:0 20px}

.reginfo{ position:relative; padding-top:25px}

.reginfo dl{ padding-left:12px}

.reginfo dl dt{ font-size:14px; color:#679ACE}

.reginfo h4{ color:red; font-weight:bold; font-size:16px;  float:none; font-family: Arial, Helvetica, sans-serif;padding-bottom:5px;  margin-bottom:12px}

.reginfo h5{ height:28px; line-height:28px; font-size:14px; color:#888; background:#efefef; padding:0 12px; margin-bottom:12px; font-weight:100}

.reginfo .lie3,.reginfo .lie2,.reginfo .lie1{ clear:both; overflow:hidden; zoom:1; margin-bottom:10px; border:1px solid #fff; background:#f9f9f9}

.reginfo .lie3:hover,.reginfo .lie2:hover,.reginfo .lie1:hover{ background:#F3F9FF}

.reginfo .lie3:hover h5,.reginfo .lie2:hover h5,.reginfo .lie1:hover h5{ background:#CEE3F8; color:#369}

.reginfo .lie3 dl{ float:left; width:32%;}

.reginfo .lie2 dl{ float:left; width:48.5%;}

.reginfo dl dd.hauto{ line-height:32px; overflow:hidden}

.reginfo dl dd.info{ font-size:12px; color:#888; border-bottom:1px dotted #ddd; padding-bottom:10px; margin-bottom:10px}

.reginfo dl dd input,.reginfo dl dd textarea{ border:1px solid #bbb; border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding:5px; font-size:14px!important; color:#666;}

.reginfo dl dd textarea{ padding:10px; line-height:1.5em}

.pb5{ padding-bottom:5px}

.reginfo dl dd.tijiao{ clear:both; overflow:hidden; zoom:1; text-align:center; padding:20px 0}

.reginfo dl dd.bor0 input{ border:0; font-size:12px; color:#f60}

.reginfo dl dd.bor0{ font-size:12px; color:#f60}

.reginfo dl dd.tijiao input{ background:#f60; color:#fff; width:200px; padding:20px 0; font-size:16px!important; cursor:pointer; border:0;}

.tishibox{ width:600px; padding:15px 20px; margin:50px auto}

.user{ float:right; width:258px; border:1px dotted #ddd; background:#f9f9f9;}

.user .photo img{ float:left; margin-right:6px; font-size:12px}

.user .photo{ font-size:12px; clear:both; overflow:hidden; zoom:1; padding:15px;}

.user .photo a{ color:blue; text-decoration:underline}

.user .photo strong{ color:#369; line-height:15px}

.user .photo span.f60{ color:#f60}

.user .rz{ position:static; clear:both; overflow:hidden; zoom:1; margin-left:-6px; padding:0 15px; margin-top:-5px; padding-bottom:10px}

.user .rz p{ float:left; margin-left:6px; display:inline!ie; padding-left:18px}

.user .rmenu{padding:0 15px 10px;}

.user .rmenu ul{ border:1px dotted #ddd; border-bottom:0}

.user .rmenu ul li{ height:30px; line-height:30px; border-bottom:1px dotted #ddd}

.user .rmenu ul li a{ padding:0 15px 0 50px;background-position:30px 8px; color:#666; display:block; height:30px; line-height:30px; background-color:#fff; background-image:url(../www_images/job/quan.png); background-repeat:no-repeat}

.user .rmenu ul li a:hover{ padding:0 15px 0 50px;background-position:30px 8px; color:#000;text-decoration:none; background-color:#f4f4f4;background-image:url(../www_images/job/quanhover.png)}

.user .rmenu ul li.on a,.user .rmenu ul li.on a:hover{padding:0 15px 0 50px;background-position:30px 8px;color:#D02914; font-weight:bold;background-color:#f4f4f4;background-image:url(../www_images/job/quanon.png);}

.user .rmenu ul li a span{ font-size:12px; font-weight:bold; color:#D02914}

.userleft{border:1px dotted #ddd; background:#f9f9f9; padding:14px; clear:both; overflow:hidden; zoom:1; width:660px}

.userleft h1{font-family: "Î¢ÈíÑÅºÚ","ºÚÌå";font-weight:200; font-size:26px; color:red; height:32px; line-height:32px; color:green; border-bottom:1px dotted #ddd; padding-bottom:12px; margin-bottom:12px}

.userleft h1 span.fr{ font-size:12px; font-family:"ËÎÌå"; margin-top:-32px!ie; height:32px; line-height:32px;}

.userleft h1 span.fr a{ text-decoration:underline; color:blue}

.userleft .tishibox{ width:auto; margin:0; margin-bottom:12px}

.tj{}

.tj h3{ font-size:14px; height:28px; line-height:28px; border-bottom:1px dotted #ddd; margin-bottom:10px}

.tj ul.newsl{ clear:both; overflow:hidden; zoom:1; font-size:12px; margin-left:-12px}

.tj ul.newsl li{ border-bottom:1px dotted #ddd; height:24px; line-height:24px; float:left; width:320px; margin-left:12px}

.tj ul.newsl li span.time{ color:#888; margin-top:-24px!ie; float:right}

.userleft .reginfo{ padding-top:0}

.userleft .reginfo dl dd.tijiao input{ width:120px; height:40px; padding:0; font-size:14px!Important}

.userleft .reginfo dl dd.tijiao{ text-align:left; padding-top:10px}

.userleft .dongtai ul{ padding-bottom:15px; margin-top:-5px}

.userleft .dongtai ul li{ height:36px; line-height:36px; border-bottom:1px dotted #ddd; overflow:hidden;}

.userleft .dongtai ul li span{ display:inline-block; overflow:hidden; margin:0;}

.userleft .dongtai ul li span.input{ width:20px}

.userleft .dongtai ul li span.title{ width:530px}

.userleft .dongtai ul li span.time{ color:#888; font-size:12px}

.userleft .dongtai ul li.last{ font-size:12px; padding:0;}

.userleft .dongtaiimg{}

.userleft .dongtaiimg ul{ clear:both; overflow:hidden; zoom:1; padding-bottom:5px}

.userleft .dongtaiimg ul li{ float:left; display:inline!ie; width:109px; height:109px; overflow:hidden; position:relative; border-bottom:1px solid #fff; border-right:1px solid #fff}

.userleft .dongtaiimg ul li a.title{ display:block; width:109px; height:109px}

.userleft .dongtaiimg ul li span.fd{position:absolute; right:5px; bottom:5px;}

.mr20{ margin-right:20px}

.mr20 a{ color:blue!important; text-decoration:underline!important; margin-right:10px}

input.p0{font-size:12px!important; padding:0; padding:5px 0!ie;}

.rnews{}

.rnews ul{ padding:10px 12px}

.rnews ul li{ font-size:12px; line-height:1.3em; padding-bottom:6px; margin-bottom:6px; border-bottom:1px dotted #ddd}

.rnews ul li span.time{ color:#888; margin-left:10px}

.rnews ul li a{ color:#000}

.rnews ul li a:hover{ color:blue}

.viewcity{}

.viewcity h1{ text-align:center; color:#000!important; padding-bottom:12px!important; border-bottom:1px dotted #ddd!important;}

.viewcity h2{ font-size:12px; height:24px; line-height:24px; background:#f6f6f6; color:#666; text-align:center; font-weight:100; margin-bottom:15px}

.viewcity .inner{ clear:both; overflow:hidden; zoom:1; font-size:14px; line-height:1.8em!important; width:618px;}

.mini_nav {position:absolute; padding:5px; top:37px; right:55px; padding:5px;  background:#FFF; width:200px; height:180px; border:1px solid #333; display:none;}

.mini_nav img.icon_top{position:absolute; top:-8px; left:85px;}

.mini_nav ul li{ float:left; font-size:12px; padding:8px;}

.mini_nav ul li a{ display:block; line-height:1.5em; text-align:center;}

.mini_nav, .mini_nav ul li img{ box-shadow:#CCC 1px 1px 2px;}



.huodong{}

.huodong ul{ clear:both; overflow:hidden; zoom:1; padding:10px 0 10px 40px}

.huodong ul li{ float:left; width:250px; line-height:30px; background:url(../www_images/gobal/huodongbg.png) no-repeat; color:#888; font-family:"ËÎÌå"}

.huodong ul li.r4,.huodong ul li.r8{ width:180px;background-position:148px 8px}

.huodong ul li.r3,.huodong ul li.r7{ width:160px}

.huodong ul li.r2,.huodong ul li.r6{ width:250px}

.huodong ul li.r1,.huodong ul li.r5{ width:300px; background-position:210px -25px}

.huodong ul li.r2{background-position:130px -25px}

.huodong ul li.r3{background-position:75px -25px}

.huodong ul li.r6{background-position:130px 8px}

.huodong ul li.r7{background-position:75px 8px}

.flinks{}

.flinks .inner{ text-align:left; padding:10px 0 0}

.flinks .inner img{ display:block; border:1px solid #ddd;}

.flinks .inner a{ display:inline-block; margin-left:30px; font-size:12px; color:#666; text-align:center; padding-bottom:10px}

.flinks .inner a:hover img{ border-color:#CFDCE9}

.flinks .inner a:hover{ color:#369; zoom:1!ie}

.fmenu{ font-size:12px; text-align:center; background:#efefef; height:30px; line-height:30px; border-bottom:1px solid #ddd}

.fmenu span{ color:#888; margin:0 5px}

.fmenu a{ color:#369}

.ffont{ padding:10px 0 20px; text-align:center; color:#666; font-size:12px}

.inbox{ border:1px solid #ddd; background:#fff; margin-bottom:10px}

.inbox h3{ height:28px; line-height:28px; overflow:hidden; clear:both; border-bottom:1px solid #ddd; padding:0 10px; background:url(/style/img/h3bg.png) repeat-x}

.inbox h3 span.title,.inbox h3 span.title a{ color:green; font-size:14px; text-decoration:none;}

.inbox h3 span.title{ font-size:20px; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå"; padding:20px 0;}

.inbox h3 span.more{ font-size:12px; font-weight:100; float:right; margin-top:-28px!ie}

.inbox h3 span.more a{ color:#888}

.inbox h3 span.more a:hover{ color:red}

.inbox h3 span.gray{ color:#666!Important}

.inbox h3.weizhi{ border-bottom:0; font-size:12px; font-weight:100; color:#000; border:0; width:628px;}

.inbox h3.weizhi a{ color:#369}

.box300{ width:300px}

.cityright{ background:#f6f6f6; border:1px dotted #ccc; margin-bottom:10px;}

.cityright h4{ font-size:12px; font-weight:100; color:#666; text-align:center; padding-top:8px}

.cityright .clear{ text-align:center; padding:6px 0 10px}

.cityright .clear a{ margin:0 5px; display:inline-block; width:130px; height:30px; line-height:30px; font-size:14px; font-weight:bold; background:#76C7EE; color:#fff;}

.cityright .clear a:hover{ text-decoration:none; background:#59B2DD; color:#fff}

.cityright.clear .fl{ padding:18px 0 0 15px}

.js{ background:#D5E6F7; padding:10px 15px; clear:both; overflow:hidden; zoom:1; margin-bottom:10px}

span.f12size{ margin-left:12px; color:#666; font-size:12px; font-weight:100}

.dlist{}

.dlist ul{}

.dlist ul li{ position:relative; padding:15px 15px 15px 80px; border-bottom:1px dotted #ddd; width:900px;}

.dlist ul li span.xulie{font-family: "Î¢ÈíÑÅºÚ","ºÚÌå";font-weight:200; font-size:28px; color:green; height:32px; line-height:32px; position:absolute; left:30px; top:50%; margin-top:-14px; width:1em;}

.dlist ul li a{ color:#333; margin-right:10px; margin-bottom:5px; display:inline-block; width:5em}

.dlist ul li a:hover{ color:#f60}

.dlist ul li:hover{ background:#f8f8f8}



/* message */

.music_comment{ padding-right:10px;}

.music_comment h3{ font-size:14px; color:#F60; line-height:2em; margin-top:10px;}

.music_comment .notlogin{ border:1px solid #CCC; padding:20px; text-align:center; color:#666; background-color:#F8F8F8;}

.music_comment .notlogin a{ font-weight:bold; padding:0 5px;}

.music_comment .islogin textarea{ border:1px solid #CCC; width:100%; height:80px;}

.islogin{}

.islogin .title{ font-size:12px; line-height:2em;}

.islogin .sub{ border:none; padding:5px 15px; text-align:center; color:#FFF; background:#F60; margin:0; height:25px;} 

.islogin .sub:hover{ background:#F90;}



.music_comment ul{ font-size:12px; padding:10px 0;}

.music_comment ul li{ clear:both; overflow:hidden; margin-bottom:20px; padding-left:70px; position:relative; zoom:1; }

.music_comment ul li .avatar{ position:absolute; top:0; left:0; width:40px;}

.music_comment ul li .avatar, .music_comment ul li.hot  .moreComment .avatar{ padding:2px; border:1px solid #DDD;}

.music_comment ul li .avatar a{ width:40px; height:40px; display:block; overflow:hidden;  background:#EEE;}

.music_comment ul li .avatar a img{ width:40px;}

.music_comment ul li .theComment{ border:1px solid #DDD; padding:0 10px 10px; zoom:1; }

.music_comment ul li .theComment .inner{ padding:10px 0; color:#333;} 

.music_comment ul li h4{ clear:both; overflow:hidden; padding:5px 0;  font-size:12px; line-height:1.5em; border-bottom:1px dotted #ccc;}

.music_comment ul li h4 b{padding-right:10px}

.music_comment ul li h4 span{ font-weight:400; }

.music_comment ul li h4 span a{ float:right; margin-left:10px; padding:0 5px; display:inline-block; background:#F60; color:#FFF;}

.music_comment ul li h4 span a.comment_no{ background:#CCC;}

.music_comment ul li h4 span a:hover{ background:#C00; text-decoration:none;}

.music_comment ul li .moreComment{ background:#EFEFEF;padding:10px; padding-left:60px; margin:5px 0 0;  position:relative;  zoom:1;}

.music_comment ul li .moreinner{}

.music_comment ul li .moreinner p{ padding:5px 0;  color:#666;}

.music_comment ul li .moreComment .avatar{ top:5px; left:5px;}

.music_comment ul li .moreComment h5{ font-size:12px;}

.music_comment ul li .theComment .comment_reply{ margin-top:5px; line-height:2em; color:#999;}

.music_comment ul li .theComment .comment_reply a{ float:right;}

.music_comment ul li.hot .theComment, .music_comment ul li.hot .avatar{ border:2px solid #F60;}

.music_comment ul li.hot .avatar{}

.music_comment ul li.hot h4 b{ color:#F60; }



.music_comment ul li .tip{ width:17px; height:17px; overflow:hidden; top:20px; _left:-17px;}

.music_comment ul li .theComment .tip{ left:-16px;}

.music_comment ul li.hot .theComment .tip{ left:-17px;}

.music_comment ul li .theComment .tip{ background:url(../www_images/song/comment_tip.png) no-repeat;}

.music_comment ul li.hot .theComment .tip{ background:url(../www_images/song/comment_tip_hot.png) no-repeat;}

.music_comment .notlogin, .music_comment .islogin textarea{ background-image:url(../www_images/song/comment.png)}

.music_comment ul li h4 span a{ -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}

.music_comment .avatar,.music_comment .avatar a{ -webkit-border-radius:24px!important; border-radius:24px!important; -moz-border-radius:24px!important; }

.pagelist {

text-align: center;

}

.pagelist{ padding-bottom:10px; font-size:12px; clear:both; overflow:hidden; zoom:1}

.pagelist a,.pagelist span{-webkit-transition:all 0.5s;transition:all 0.5s; display:inline-block; text-decoration:none; -webkit-border-radius:4px;border-radius:4px;-moz-border-radius:4px; padding:0 8px; margin-right:4px; line-height:20px; height:20px; font-family:Arial, Helvetica, sans-serif; *font-family:"ËÎÌå"}

.pagelist a:link,.pagelist a:visited{color:#fff;background:#AFBAC5; }

.pagelist a:hover{-webkit-transition:all 0.5s;transition:all 0.5s;background:#369; color:#fff}

.pagelist span{background:#f60; color:#fff}

.pagelist  .a1{}

.pagelist a.morex{color:#666; border-radius:4px; display:block; margin:0 15px 0 15px; height:30px; line-height:30px; background:#ddd}

.pagelist a.morex:hover{ background:#f60; text-decoration:none; color:#fff}







.header .head .headinner,.header ul,.header .bannerinner,.mainner,.lanmu .minner{ width:1000px; margin:0px auto;}

.header{ margin-top:40px; }

.header .hinner{}

.header .head{background:#407540;}

.header .hinner .nav ul li{ float:left;}

.header .hinner  .nav ul li a{padding:10px 20px; margin-right:20px;}

.header .hinner  .nav ul span{ padding:10px 0;}

.header .hinner  .nav ul li a,.header .hinner ul span{ font-size:14px; color:#ccffcc; display:inline-block; }

.header .hinner .nav ul li.now a{ background:#1a3c1a; color:#fff; font-weight:bold;}

.header .hinner .nav ul span{ }

.header .nav{ background:#214d21;}

.header .banner{ background:#7e818a; height:250px;}

.header .uc,.header .ucinner{ right:0; bottom:6px; width:250px; height:250px; }

.header .uc .box a{ display:inline-block}

.header .uc .box .avtar a{ margin:30px 10px 10px 10px;}

.header .uc .box .avtar a{ width:50px; height:50px;}

.header .uc .box .avtar a img{ width:48px; border:1px solid #666;}

.header .uc .box .vcont{ width:170px; margin-right:20px; margin:30px 10px 10px 0px;}

.header .uc .box .vcont p a.name{ font-size:14px;}

.header .uc .box .vcont p,.header .uc .box .vcont p a{ font-size:12px; color:#fff;}

.header .uc .box .vcont p a.tc{ color:#ccc;}

.header .uc .box{ line-height:27px;}

.header .uc .zp{ margin:10px; margin-top:10px;}

.header .uc .zp a{ margin-bottom:30px; display:inline-block;}





body{ background:#eee;}

.lanmu .mqzp{ margin:10px 0; background:#fff; padding:10px 10px 0; zoom:1;}

.lanmu .mqzp h3 a,.mainner .left .topp h3 a{ font-size:14px; color:#fff; background:#588d58; display:inline-block; padding:6px 14px;}

.lanmu .mqzp .box{ width:300px; padding:10px 0 20px ; float:left; border-top:1px solid #d3e5d3; }

.lanmu .mqzp .bl{border-left:1px solid #d3e5d3; padding-left:10px;}

.lanmu .mqzp .box .avtar{ border:1px solid #ccc; }

.lanmu .mqzp .box .avtar a{ width:60px; height:60px; padding:5px; display:block; overflow:hidden; background:#fff;}

.lanmu .mqzp .box .avtar a img{ width:60px;}

.lanmu .mqzp .box .vcont h4 a{ font-size:14px; color:#000;}

.lanmu .mqzp .box .vcont p{ color:#666; font-size:12px;}

.lanmu .mqzp .box .vcont{ line-height:24px; width:215px;}



.main{ background:#fff;}

.mainner .left{ background:#fff;}

.mainner .left .topp strong,.mainner .left .topp strong a,.mainner .left .topp a.more{ color:#000; font-size:12px;}

.mainner .left .topp strong a{ margin-right:20px;}

.mainner .left .topp a.more{ color:#669966; font-weight:bold; line-height:30px;}

.mainner .left .topp strong{ top:15px; left:180px; }

.mainner .left .topp{ border-bottom:1px solid #d3e5d3; padding:10px 10px 0;}

.mainner .left  .tishi{ color:#336633; font-size:14px; background:#dfeddf; margin:10px ; line-height:50px; text-align:center;}

.mainner .left  ul.zhiwei{ padding:0 10px; }

.mainner .left  ul.zhiwei li .line1 span.title{ width:300px;}

.mainner .left  ul.zhiwei li .line1 span.title a{font-family:"Î¢ÈíÑÅºÚ"; font-size:20px;font-weight:600;}

.mainner .left  ul.zhiwei li .line1 span.add{color:#999; font-size:14px; }

.mainner .left  ul.zhiwei li .line1 span.money{color:#cc6600; font-size:14px; }

.mainner .left  ul.zhiwei li{ line-height:50px; border-bottom:1px dashed #c7c7c7;zoom:1;}

.mainner .left  ul.zhiwei li a{ color:#000;}

.mainner .left  a.umore{ color:#588d58; font-size:14px; font-weight:bold; margin:10px; display:block; }





.mainner .right{  }

.mainner .right .new{background:#ebf8f9;padding:10px;}

.mainner .right .new h3 a,.right .peixun h3 a{ color:#000; font-size:14px;}

.mainner .right .new a.tougao,.mainner .right ul.news li a,.mainner .right ul.news li p,.right .peixun a.tougao{ font-size:12px;}

.mainner .right .new ul.news{ margin-top:10px;}

.mainner .right .new ul.news li a{ color:#000;}

.mainner .right .new ul.news li p{ color:#999;}

.mainner .right .new ul.news li p a{ color:#669966;}

.mainner .right .new ul.news li{ margin-bottom:10px;}

.mainner .right .new ul.news a.more,.right .peixun a.more{color:#669966; display:inline-block; font-size:12px; margin:10px 0;}

.right .peixun{ background:#f1f7e1; padding:20px 10px 10px; }

.right .peixun .box,.box h4 a{ font-size:12px; color:#000; _zoom:1;}

.right .peixun .box{ border-bottom:1px dotted #ccd1bf;}

.right .peixun .box .more{ background:#14a258; color:#fff; right:0px; top:13px; padding:0 2px; line-height:15px; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå";}

.right .peixun .box .avtar{ width:46px; height:46px;display:block; overflow:hidden; }

.right .peixun .box .avtar{ width:46px;}

.right .peixun .box .avtar{ margin:10px 10px 10px 0; _margin:5px 5px 5px 0;}

.right .peixun .box .vcont{ margin:10px 20px 10px 0;_display:inline; line-height:24px;}







.footer{ background:#333333; margin-top:20px; line-height:28px;}

.footer .other{border-bottom:1px solid #4d4d4d;}

.footer img{ margin: 10px 0 10px 0px;}

.footer .fmenu,.ffont{ text-align:center; }

.footer .fmenu a,.footer .fmenu,.ffont,.ffont a{ font-size:12px; color:#999;  }

.fmenu{ background:#333; border-bottom:none;}

.footer a:link{ color:#999;}

.ffont{ padding:0;}







.w_sider .peixun .box .vcont{ margin:10px 0 0; zoom:1;}

.list .left ul.zhiwei li.tuijian{ border-bottom:none; zoom:1;} 

.list .left ul.zhiwei  span.yz{ color:#ff6600; width:250px; }

.list .left ul.zhiwei  span em{ color:#666; }

.list .left ul.zhiwei .line2{background:#f4f4f4; font-size:12px; line-height:35px; border-bottom:1px solid #ccc;  zoom:1;}

.list .left ul.zhiwei span.fuli{ width:200px;}

.list .left ul.zhiwei span.fuli a{ color:#fff; background:#ff9933; margin-right:10px; padding:1px 5px;}

.list .left ul.zhiwei  span b{  font-weight:normal; margin-right:10px;}

.list .left ul.zhiwei  span.tel{ color:#ff6600}

.list .left ul.zhiwei  a img{ padding-right:10px;}

.list .left ul.zhiwei li span{ }

.list .left  ul.zhiwei li .line1 span.title{ width:440px;}



.zhiwei2{ }

.zhiwei2 li{ margin:20px 10px; border:1px solid #ddd; box-shadow:#DDD 0px 1px 1px; background:#F0F9EA; }

.zhiwei2 li:hover{ border-color:#063;}

.zhiwei2 .title, .zhiwei2 .content, .zhiwei2 .vcont{ padding:0 20px; zoom:1;}

.zhiwei2 .title{ padding:20px; background:url(../www_images/job/zp_title_bg.png) 0 center no-repeat;}

.zhiwei2 .title a{ font-size:22px; font-family:"Î¢ÈíÑÅºÚ","ËÎÌå"; color:#000; padding-left:60px;}

.zhiwei2 .title .yz{ font-size:12px; color:#F90;}

.zhiwei2 .content{ border:1px dashed #ccc; border-width:1px 0;  background:#fff; }

.zhiwei2 .content p{ background:none;  width:240px;}

.zhiwei2 .content p span{ display:block; margin:10px 0; color:#666;}

.zhiwei2 .content p span em{ color:#000;}

.zhiwei2 .vcont{ padding:10px 20px;}

.zhiwei2 .vcont p{ padding-right:20px;}

.zhiwei2 .vcont p span{ color:#666;}

.zhiwei2 .vcont p em{color:#063 ;font-size:16px;font-style: italic; font-weight:bold;}



.main .view .mbx a,.main .left .mbx{ color:#588d58; font-size:12px;}

.main .view .mbx{ border-bottom:1px solid #d3e5d3; line-height:30px; padding-left:15px;}

.main .view h3 a{ font-family:"Î¢ÈíÑÅºÚ"; font-size:36px; color:#000; font-weight:bolder; line-height:40px;}

.main .view h3{ margin:20px 10px 20px 5px;}

.main .view .yz{color: #ff6600;margin-left: 10px;font-size: 12px; top:60px; right:20px;}

.main .view .zw{ margin:10px 20px 10px 10px; border-bottom:1px dashed #dedede;}

.main .view .zw .title{color: #fff;background: #588d58; font-size:14px;width: 70px;font-weight: bold;text-align: center;padding: 1px; margin:15px 0;}

.main .view .zw .content span{ color:#666;}

.main .view .zw .content{ font-size:14px; line-height:34px; margin-bottom:15px;}

.main .view .zw .content span em{ color:#000;}

.main .view .zw .content .right{ width:325px;}

.main .view .zw .content .xx,.miaoshu{ font-size:12px; background:#f9f8eb; padding:10px; line-height:25px; }

.main .view .zw .content span strong{ color:#588d58;}

.main .view .zw .fuli span em{ margin:0 10px;}

.main .view .zw .fuli{padding:10px;line-height:40px;}

.main .view .zw .jieshao{ padding:10px 10px 10px 15px; }

.main .view .zw .fuli,.main .view .zw .jieshao{background:#f7f7f7;}

.main .view .sbox{ margin:15px 10px 20px 10px ;}

.main .view .sbox .vcont p{ color:#000; }

.main .view .sbox .vcont p span{ color:#666;}

.main .view .sbox .vcont p em{color: #c51f1f;font-size: 24px;font-style: italic; font-weight:bold;}

.main .view .sbox .vcont{ width:530px;}



.jianjie  .box{ border-bottom:1px dashed #dedede; padding-bottom:15px;}

.jianjie  .box .vcont{ margin-right:200px;}

.jianjie  .box .avtar{ right:20px;}

.jianjie .box .vcont .zw{ border-bottom:none;}

.jianjie h3 em{ font-size:16px; color:#000; font-weight:normal;}

.jianjie .box .avtar center em{ font-size:12px;}

.jianjie .box .avtar a{ width:150px; height:150px; }

.jianjie .box .avtar a img{ width:150px;}

.jianjie .miaoshu span{ color:#666;}

.jianjie .miaoshu{ margin:0 10px;}

.jianjie .sbox{ line-height:30px; margin-top:30px;}







.grfb .fb_form dl{ margin:15px 0;}

.grfb .fb_form dl dd.n{ background:#636975;}

.grfb span.tip{}

.grfb .shangc{ color:#666; font-size:14px; background:#fff; border:1px solid; margin:2px 20px 2px 2px;}

/**/

.w400{ width:400px;}

.fabu{ font-size:14px;}

.fabu .head{ text-align:center;}

.fabu .head p{ line-height:3em;}

.fb_n{ padding:0 20px 30px;}

.fb_n .fb_path{ padding:10px 0;}

.fb_n .fb_tip{ background:#EFEFEF; line-height:3em; text-align:center;}





.fb_form{ background:#3c4452; color:#fff; border-top:1px solid #003;zoom:1;}

.fb_form h4, .fb_form .inner{ padding:10px 20px;}

.fb_form h4{ }

.fb_form dl{ margin:10px 0; display:block; }

.fb_form dl dt{ float:left; background:#666; padding:0 3px 0 8px; }

.fb_form dl dd.n{background:#637570;}

.fb_form .tip{ color:#9ab1d7; font-size:12px; border-bottom:5px; right:0;}

.fb_form dl dt, .fb_form dl dd.n, .fb_form dl dd.n .text, .fb_form dl .date{ line-height:34px; height:34px;}

.fb_form dl dd .checkde{ padding:0 15px; }

.fb_form dl dd .checkde, .fb_form dl dd .checkde input{cursor:pointer;}

.fb_form dl dd.n .text, .fb_form dl .date{ border:none; padding:0 10px; }

.fb_form .tijiao{ text-align:center; padding:60px 0 20px;}

.fb_form .tijiao .sub{ width:300px; height:49px; border:none; background:url(../www_images/job/input_sub.png) no-repeat; cursor:pointer;}



.fb_form dl dt, .fb_form dl dd.n{ -moz-box-shadow:#333 2px 1px 1px; -ms-box-shadow:#333 2px 1px 1px; box-shadow:#333 2px 1px 1px;}

.fb_form h4, .fb_form .tip, .fb_form .tijiao{  clear:both; zoom:1;}





.fb_form dl dd.n .text{ color:#000;  font-size:14px; }

.fb_form #time{ margin-top:7px;}

.fb_form .gs{ background:#3c4452; zoom:1;}

.fb_form .gan{ background:#3c524c;}

.fb_form .ztip{ color:#ccffcc; font-size:12px; margin-top:15px; width:540px;}



.buchong{ font-size:12px; color:#666;}



.userlist{ padding:20px; border-top:1px solid #CCC;  }

.userlist h3{ font-size:26px;  font-weight:400; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå"; line-height:2em; color:green;  border-bottom:5px solid #eee;}

.userlist h3 span{ font-size:18px; font-family:"Î¢ÈíÑÅºÚ","ËÎÌå"; color:#000; padding-left:10px;}

.zhaopinlist{}

.zhaopinlist ul{}

.zhaopinlist ul li, .jianlilist ul li, .yingpin ul li{ clear:both; overflow:hidden; border-bottom:1px dotted #CCC; padding:10px;}

.zhaopinlist ul li:hover{ background:#E8FFE8;}

.zhaopinlist ul li .title{ width:340px;}

.zhaopinlist ul li .add{ width:250px;}

.zhaopinlist ul li .guanli, .jianlilist ul li .guanli, .yingpin ul li .guanli{ padding-left:30px;}

.zhaopinlist ul li .guanli a, .jianlilist ul li .guanli a, .yingpin ul li .guanli a{ padding-left:10px; text-decoration:underline; }



.jianlilist{ padding-top:20px;}

.jianlilist ul li:hover{ background:#FFFFEA;} 

.jianlilist ul li .title{ width:150px;}

.jianlilist ul li .add{ padding-right:40px;}



.yingpin{ padding:20px;}

.yingpin h4{ font-size:16px; line-height:2em;}

.yingpin ul{ background:#FFC;}

.yingpin ul li:hover{ background:#FFFFEA;}

.yingpin ul li .title{ width:240px;}

.yingpin ul li .add{ width:200px;}



.usercenter{padding:20px; background:#F8F8F8; border:2px solid #FFF; zoom:1}

.usercenter .avatar a{ width:80px; height:80px; display:block; overflow:hidden;} 

.usercenter .avatar a img{ width:80px;}

.usercenter .inner{ padding-left:20px;}

.usercenter .inner h2{  font-style:20px; padding-bottom:10px; font-family:"Î¢ÈíÑÅºÚ","ËÎÌå";}

.usercenter .inner h2 a{ font-size:14px; text-decoration:underline; margin-left:20px;}

.usercenter .inner p{ line-height:2em; font-size:12px;}

.usercenter .inner p span,.usercenter .inner h2{ color:#666; }

.usercenter .inner strong, .usercenter .inner em{ color:#000;}

.usercenter .fb p{ text-align:center;}

.usercenter .fb a{ font-size:16px; font-family:"Î¢ÈíÑÅºÚ","ËÎÌå"; padding:10px 30px; background:#666; color:#FFF; display:inline-block; margin:20px;}

.usercenter .fb a{ -moz-box-shadow:1px 1px 3px #CCC; -ms-box-shadow:1px 1px 3px #CCC; box-shadow:1px 1px 3px #CCC;}

.usercenter .fb a:hover{ opacity:0.7; text-decoration:none!important;}



.fbxx{ text-align:center; }



.fbxx p{  font-size:18px; font-family:"Î¢ÈíÑÅºÚ";  margin:50px 0; }

.fbxx p.qy{ margin:65px 0 100px; }



/* baground*/ 

.header .hinner .head h1 a{ background:url(../www_images/job/bglogo.jpg) no-repeat; height:100px; width:530px; display:inline-block; }

.header .hinner .head a.cz{ background:url(../www_images/job/cz.jpg) no-repeat; height:100px; width:159px;}



/*CS3*/

.header  .ucinner{ background:#000;filter:alpha(Opacity=80);-moz-opacity:0.8;opacity: 0.8;  }

.minner,.main{box-shadow:#CCC 1px 1px 2px;}

.list .left ul.zhiwei  span.fuli a{-webkit-border-radius:10px; }