*{ padding:0; margin:0; font-weight:300;}
li{ list-style:none; }
body{ background:#fff; text-align:left;font-family:STHeiti,Arial; color:#777; width:100%;}
body, li, a{font-size:1em;}
.pr{ position:relative;}
a{ text-decoration:none; color:#000}

a{ outline:none;-webkit-tap-highlight-color: rgba(0,0,0,0);  padding:5px; line-height:24px;}
.fl{ float:left; }
.fr{ float:right; }
h3{border-left:4px solid #C00; line-height:1em; margin:10px 0; color:#933; padding-left:5px;}
.co{ clear:both; overflow:hidden;}
header{ background:#990000; text-align:center; padding:15px 0; border-bottom:1px solid #300;}
header img{ height:50px;}
header p a{ color:#FFF; }
header p a b{ display:none;}
nav{ background:#EEE; padding:10px 0;  display:block; overflow:hidden; text-align:center; color:#CCC; border-bottom:1px solid #DDD;}
nav a{ padding:2px 4px; margin:0 10px; color:#000;}
nav a.now{ background:#900; color:#FFF; border-radius:3px;}
.n{ border-bottom:1px solid #CCC; margin:0 10px 10px; padding:0 0 10px; }
.toutiao ul li{ clear:both; overflow:hidden; padding:0 0 10px;}
.toutiao ul li .timg{ padding-left:5px;}
.toutiao ul li p{ color:#999;}
.indexmore ul{ padding-bottom:15px; }
.indexmore ul li{ padding:3px 0;}
.indexmore ul li a{ padding-right:10px;}
.indexmore ul li span{ display:inline-block; color:#CCC;}
.menu{ text-align:center; color:#CCC;}
.menu a{ width:6.5em; display:inline-block;  text-align:center; margin:5px 0; }
.menu a.now{ color:#999; }
footer{border-top:1px solid #600;}
.obottom{ background:#990000;text-align:center}
.obottom a{ color:#FFF;}
.obottom .n{ padding-top:10px; border-color:#700; color:#800}
.obottom .n a{ padding:0 5px;}
.obottom .cr{ padding:10px 10px 20px;  color:#F90; }
.viewinner{ padding:10px 0;}
.viewinner h1{ padding:10px 0; }
.viewinner .zoom{ padding:10px; }
.viewinner .zoom img{ max-width:100%;}
.viewinner .time, .viewinner .time a, .viewinner .more, .viewinner .zoom .more a{ padding:5px; background:#eee;}
@media screen and (max-width: 600px) {
  .viewinner .time .fl, .viewinner .time .fr{ float:none; display:block;}
}
.viewinner .zoom .more{}
.cityinner ul li{ padding:10px 0 10px 10px; position:relative;}
.cityinner ul li .xulie{  padding-right:5px; color:#900; position:absolute; left:0;}
.cityinner ul li a{ padding:5px 15px; display:inline-block;}
.cityzm{  }
.cityzm a{background:#EEE; text-align:center;}

nav, .menu p, .cityzm{display:box; display:-webkit-box;	display:-moz-box; 	display:-ms-box;	width:100%; overflow:hidden;}
nav a, .menu p a, .cityzm a{box-flex:1; -moz-box-flex:1; -webkit-box-flex:1; -ms-box-flex:1;}

/* phone login*/
.wrap{ background:#a0373b; text-align:center; padding:20px;  }
.logo{   }
.logo img{ max-width: 100%}
.m_login{ margin-top:30px; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå";color:#fff;  }
.m_login ul li.shuru input{ width:100%; height:45px; font-size:14px; border:0px; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå";margin-top:1px; text-indent:1em;}
.m_login ul li.shuru .sub{ margin-top:10px; background:#c34e52; color:#fff;  letter-spacing:1em; cursor:pointer;}
.m_login ul li.jizhu{ margin-top:25px; font-size:12px; margin-left:-30px; }
.m_login ul li.jizhu input{ margin-left:40px;}
.m_login ul li.zhuce{ margin-top:30px; }
.m_login ul li.zhuce a{ color:#fff; font-size:14px; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå"; }
input[type=submit],input[type=text]{-webkit-appearance:none;outline:none;}
.m_zhuce ul li.new_zhuce a{ font-size:18px;}
.m_zhuce ul li.new_zhuce{  margin-top:0px; text-align:left; margin-bottom:10px;}
.m_zhuce ul li.shuru span{ font-size:12px; color:#ddd; right:10px; top:20px; position:absolute;}


		/* iPads (landscape) */
		@media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
			
		}
		/* iPads (portrait) */
		@media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
			
		}
		/* iPads */
		@media screen and (min-device-width : 768px) and (max-device-width : 1024px){
		body{ font-size:1.5em; line-height:1.8em;}
		nav a{ margin:20px 30px; font-size:1.2em;}
		header img{ height:auto;}
		.cityzm a{ padding:20px 40px; font-size:22px;}
		.viewinner h1{ font-size:1.5em;}
		}
		/* iphone */
		@media only screen and (-webkit-min-device-pixel-ratio : 1.5),only screen and (min-device-pixel-ratio : 2) {
			body{ font-size:1em; }
			.menu, .menu a{ font-size:14px;}
			.cityzm a{ padding:20px; font-size:20px;}
		}