



em{ font-style:normal}

h3{ font-size:14px;}

.co{ clear:both; overflow:hidden;}

.mt10{ margin-top:10px;}

.pd10{ padding:10px;}

.pr10{ padding-right:10px;}

.music_nav, .music_so, .music_main{ width:1000px;}

.w_content{ width:600px;}

.w_sider{ width:200px; }

.w_banner{ width:200px;}

.w_index_l{ width:800px;}

.w_indxe_l1{ width:750px; }

.w_indxe_l2{ width:385px;}

.w_indxe_l3{ width:249px; _width:245px;}

.site{ font-size:12px; padding-top:10px; line-height:14px;}

.site a{ padding:0 5px;}

.ping{ text-indent:2em;}

.music_nav{ padding:1px 3px 0; margin:0 auto}

.m_nav_l{ padding:0 2px; line-height:40px;  position:relative; }

.m_nav_l li{ float:left; padding-bottom:3px;}

.m_nav_l li a{border-right:1px solid #990000; padding:0 12px; display:block; color:#FFF; text-decoration:none}

.m_nav_l li a:hover{ background:#C00; text-decoration:none; color:#FF9;}

.m_nav_l li.now{ font-weight:bold;}

.m_nav_l li.now a:hover{ background:none;}

.m_nav_l li p{ display:none; color:#666; overflow:hidden; position:absolute; line-height:30px; font-size:12px; top:40px; left:0; width:750px;}

.m_nav_l li p b{ color:#C00;}

.music_nav .m_nav_l li p a{ color:#06C; display:inline; padding:0; border:none;  }

.music_nav .m_nav_l li p a:hover{ background:#06C; color:#FFF;}

.music_nav .m_nav_l li p.m_nav_list a{ padding:2px 4px; margin:0 5px; }

.music_nav .m_nav_l li p.m_nav_kaoji{ left:200px;}

.music_nav .m_nav_l li p.m_nav_liupai{ left:200px;}

.music_nav .m_nav_r{ font-size:12px; padding-right:15px; color:#F66;}

.music_nav .m_nav_r a{ color:#FFF; line-height:40px; padding:0 5px;}

.music_nav blockquote{ height:30px; border-bottom:1px solid #DDD; display:block; overflow:hidden;}

.music_so{margin:0 auto; background:#F8F8F8;}

.music_so .inner{  height:70px;border:1px solid #DDD; border-top:none; background:#f8f8f8; padding:10px 10px 10px 80px; }

.music_so{ line-height:20px;}

.music_so .m_so_zimu span{ width:118px; line-height:21px; padding-left:10px; color:#FFF; float:left;}

.music_so .m_so_zimu a{ font-family:verdana,arial; margin:0 1px; color:#666; display:inline-block; border:1px solid #DDD; background:#fff; padding:0 5px;}

.music_so .m_so_zimu a:hover{ background:#C00; color:#FFF; text-decoration:none; border-color:#900;}

.music_so .m_so_zimu span{ font-size:12px;}

.m_so{ margin-top:15px; }

#so_select{ position:relative; text-align:center; width:80px; float:left;}

#so_select span{ padding-right:20px;  height:30px; line-height:30px; display:block;}

#so_select ul{ display:none; position:absolute; border:1px solid #999; background:#FFF; top:29px; left:0; z-index:99; }

#so_select li{ line-height:2.5em; display:block;  width:78px; font-size:12px; color:#666;}

#so_select li:hover{ background:#EEE; color:#F60;}

.m_so_inner{ font-size:14px; margin-left:2px; border:1px solid; border-color:#999 #DDD #DDD #999; height:25px; padding:2px; background:#FFF;}

.m_so_inner .sub{text-align:center; width:50px; color:#FFF; background:#900; margin:0; height:25px;}

.m_so_inner .sub:hover{ background:#C00;}

.m_so_inner .text{width:300px; outline:none;}

.m_so .more{ line-height:30px; padding-left:20px; font-size:12px; color:#666; width:300px; }

.m_so .more a{ padding:2px 5px;}

.m_so .more a:hover{ background:#06C; color:#FFF; text-decoration:none;}

#so_select, #so_select span, #so_select ul li,.m_so_form .sub, .islogin .sub:hover, .music_view_panel li b{cursor:pointer; }

.m_so_inner input{ border:0; line-height:20px; height:20px; padding:2px 5px;}

.music_main{ margin:0 auto; }


/*广告栏样式修改*/
.m_login a{ margin-left:55px; clear:both;}
.w_banner{ width:280px; margin-right:10px; float:none !important; margin-left:10px;}
.borbot{ padding:0;}
.borbot img{ width:100%}
.banner280 .header_wenda{ width:280px;}
.obannermall ul.banr{ height:380px;}
.banner_img { display:none !important;}

.bannerMainRight{ width:299px; border-right:1px #DDD solid; overflow:hidden;zoom:1;}

/* index */



.banner_2, .music_index_zhuanji, .music_first, .music_index_h3{  border-top:1px solid #DDD;}

.w_index_l h2{ line-height:1em; border-left:4px solid #C00; padding-left:5px; margin:10px 0 15px; clear:both; overflow:hidden; _zoom:1;}

.w_index_l h2 a{ color:#000;}

.w_index_l h2 span{ float:right; font-size:12px;}

.w_index_l h2 em{ font-size:12px; font-weight:400; color:#999; padding-left:10px;}

.music_index_h3 h3{ margin:20px 10px 10px 0;  clear:both; overflow:hidden; display:inline!ie; zoom:1;}

.music_first{margin-left:-10px; font-size:12px; zoom:1;}

.music_first .w_indxe_l3{ padding:0 10px; border-left:1px solid #DDD; }

.music_first .m_first_mingqu{}

.music_first .w_indxe_l3{ padding-top:5px; }

.m_first_mingqu .hot{ border:1px solid #F60; height:127px; padding:0 10px 10px; margin-top:15px;}

.m_first_mingqu .hot h4 a{ display:block; font-size:14px; color:#F60; line-height:35px;}

.m_first_mingqu .hot p{ font-size:12px; color:#666;}

.music_first ul{ margin:5px 0; }

.music_first ul li{ position:relative; font-size:12px; line-height:31px; line-height:28px!IE; padding:0; margin:0; overflow:hidden; zoom:1;}

.music_first ul li:hover{ background:#F2F2F2;}

.music_first ul li a{ color:#000;}

.music_first ul li span{ color:#888;}

.music_first ul li .panel{ top:8px; right:-5px}

.music_first ul li .panel a{ float:left; margin-left:3px;}

.m_first_hot ul{ padding-left:22px;}

.m_first_mingqu ul{ background:#FFFCC2; margin-top:0; padding:5px 10px 0;}

.m_first_mingqu ul li:hover{ background:none;}

.music_first h3 .more{ float:right; font-size:12px; font-weight:400;}

.music_first h3 .more a{ color:#999;}

/* LIST */































.m_guzhengbox, .m_login{ margin:0 5px 10px;}

.m_guzhengbox a, .m_login a{ width:190px; height:120px; display:block; overflow:hidden; text-indent:-333em;}

.m_user{ padding:0 10px;}

.m_user_avatar{}

.m_user_avatar .avatar{ width:70px; height:70px; display:block; overflow:hidden;}

.m_user_avatar .avatar img{ width:70px;}

.m_user_avatar .title{ width:100px; padding-left:10px;}

.m_user_avatar .title h6{ font-size:20px; font-weight:400; color:#F60; padding:10px 0; font-family:"微软雅黑","黑体";}

.m_user_avatar .title p{ font-size:12px; }

.m_user_avatar .title p a{ color:#06C; text-decoration:underline; margin-right:10px;}

.m_user_center{ width:190px; margin-left:-10px; padding:10px 0;}

.m_user_center li{ float:left;}

.m_user_center li a{color:#06C; text-decoration:none; text-align:center; padding:0 10px; border-left:1px solid #DDD;}

.m_user_center li a:hover em{ color:#F60;}

.m_user_center li a, .m_user_center li a em, .m_user_center li a span{ display:block;}

.m_user_center li a em{  font-family: Verdana,Arial;}

.m_user_center li a span{ font-size:12px; color:#666;}

.m_sider{ margin:0 10px; padding:10px 0; border-top:1px dotted #DDD;}

.m_sider h3{ font-size:14px; color:#000; line-height:2em;}

.m_sider h3 a{ color:#F60;}

.m_sider h3 span{ color:#999; font-weight:400; padding-left:5px;}

.m_sider ul{ font-size:12px;}

.m_sider ul li{ padding:5px 0; position:relative; color:#666;}

.m_sider ul li .panel{ right:0; top:6px;}

.m_sider .more{ margin-top:5px;}

.m_sider .more a{ font-size:12px; display:block;background:#CCC; color:#FFF; text-align:center;}

.m_sider .more a:hover{ background:#9C9C9C; color:#FFF; text-decoration:none;}

.nomark{ background:#eee; padding:10px; font-size:12px;}

.nomark a{ padding:5px; background:#F90; color:#FFF; display:block; text-align:center; margin:10px 20px 0;}

.nomark a:hover{ color:#FFF; background:#F60}

.pagelist{ text-align:center;}

.pagelist a{ text-decoration:none;}

/* YY */



















.yanzoujia ul{ overflow:hidden; padding:10px 0; margin-right:10px; _zoom:1;}

.yanzoujia ul li{ padding:10px 0 10px 40px; margin-right:-65px; position:relative; font-size:12px; border-bottom:1px dotted #CCC; clear:both; overflow:hidden; _zoom:1;}

.yanzoujia ul li a{ width:80px; height:28px; line-height:28px; display:block; overflow:hidden; margin-right:35px; float:left; }

.yanzoujia ul li span{ position:absolute; left:5px; top:15px; font-family:Arial; font-size:20px;}

.yanzoujia ul li:hover{ background:#EEE;}

.yanzoujia ul li:hover span{ color:#C00;}

.m_sider .zhuanji_inner{  padding:5px 20px; text-align:center;}

.m_sider .zhuanji_inner span{ font-size:13px; color:#000;}

.m_sider .zhuanji_inner li:hover .zhuanti_avatar:after{content:url(../www_images/song/bg_zj.png); position:absolute; left:2px; top:2px; z-index:1000;}

.m_sider .zhuanji{ background:#efefef; width:180px; height:100px;font-size:12px; padding-left:8px; line-height:1.2em;}

.m_sider .zhuanji h3{ color:#636363; }

.m_sider .zhuanji p{ color:#626262;}

.w_index_l h2, .music_index_h3 h3{ font-size:24px!important; font-family:"Microsoft YaHei"; font-weight:500;}

.w_index_l h2 span, .music_index_h3 span{ font-family:"宋体"; font-weight:400; }

.panel a{ width:20px; height:20px; overflow:hidden; display:block; text-indent:-333em; _zoom:1;}

/* background */



.m_guzhengbox a{ background:url(../www_images/song/bg_.png) 0 -30px no-repeat;}

.m_guzhengbox a:hover{background:url(../www_images/song/bg_.png) 0 -150px no-repeat;}

.m_login a{background:url(../www_images/song/bg_.png) -300px -30px no-repeat;}

.m_login a:hover{background:url(../www_images/song/bg_.png) -300px -150px no-repeat;}

.music_so .inner{ background:url(../www_images/song/bg_ico.png) -10px -500px no-repeat;}

.m_so_form .sub, .islogin .sub{ border-radius:3px;-moz-border-radius:3px; }

#so_select{ background:url(../www_images/song/bg_.png) -300px 0 no-repeat;}

.music_so .m_so_zimu span{ background:url(../www_images/song/bg_.png) 0 0 no-repeat;}

.music_nav{ background:url(../www_images/song/bg_nav.png) 0 0 no-repeat;}

.music_nav li.now { background:url(../www_images/song/bg_nav_now.png) center bottom no-repeat;}

.mList{ background:url(../www_images/song/bg_index_border.png) 700px 0 repeat-y;}

.mIndex{ background:url(../www_images/song/bg_index_border.png) 700px 0 repeat-y;}

.blueplay{ background:url(../www_images/song/bg_ico.png) #66ccff 2px -1110px no-repeat;}

.yellowplay{ background:url(../www_images/song/bg_ico.png) #f8b148 2px -1070px no-repeat;}

.redplay{ background:url(../www_images/song/bg_ico.png) #ff99ff 2px -1150px no-repeat;}

.zhuanti_avatar{ background:url(../www_images/song/bg_.png) 0 -280px no-repeat;}

.m_first_hot ul{ background:url(../www_images/song/bg_ico.png) 0 -168px no-repeat;}

.ping{ background:url(../www_images/song/ping.png) no-repeat; _background:url(../www_images/song/ping_ie6.png) no-repeat; }

.m_first_mingqu .hot h4 a{ background:url(../www_images/song/bg_ico.png) 185px -695px no-repeat;}

.aPlay, .aDown, .aMark, .aQupu{ background:url(../www_images/song/bg_ico.png) no-repeat;}

.panel a{ background:url(../www_images/song/bg_ico.png) no-repeat;}

.panel a.mark{ background-position:0 -120px;}

.panel a.qupu{ background-position:0 -80px;}

.panel a.down{ background-position:0 -40px;}

.panel a.play{ background-position:0 0;}

.panel a.qupu:hover{ background-position:0 -100px;}

.panel a.mark:hover{ background-position:0 -140px;}

.panel a.down:hover{ background-position:0 -60px;}

.panel a.play:hover{ background-position:0 -20px;}

.music_view_panel a.aPlay{ background-position:0 -750px;}

.music_view_panel a.aDown{ background-position:0 -910px;}

.music_view_panel a.aMark{ background-position:0 -850px;}

.music_view_panel a.aQupu{ background-position:0 -970px;}

.music_view_panel a.aPlay:hover, .music_view_panel li:hover a.aPlay{ background-position:0 -800px;}

.music_view_panel a.aDown:hover, .music_view_panel li:hover a.aDown{ background-position:0 -940px;}

.music_view_panel a.aMark:hover, .music_view_panel li:hover a.aMark{ background-position:0 -880px;}

.music_view_panel a.aQupu:hover, .music_view_panel li:hover a.aQupu{ background-position:0 -1000px;}

/* BANNER */



.music_index_banner{ height:80px; }

.music_index_banner .w_indxe_l2 img{ width:365px; height:80px; }

.music_index_banner .w_indxe_l1 img{ width:750px; height:80px; }

/*.banner_1{ border-bottom:1px solid #DDD; padding-bottom:10px;}

*/







/* CSS3 */



.m_so_form .sub, .islogin .sub, .nomark a{box-shadow:#CCC 1px 1px 1px; -moz-box-shadow:#CCC 1px 1px 1px;}

.panel a:hover{-webkit-transition:background 0.3s; -moz-transition:background 0.3s; transition:background 0.3s;}

.m_nav_l li a{ -webkit-text-shadow:#333 1px 1px 1px; -moz-text-shadow:#333 1px 1px 1px; text-shadow:#333 1px 1px 1px;}

.music_nav .m_nav_l li p a{ -webkit-text-shadow:none; -moz-text-shadow:none; text-shadow:none; }

.music_nav .m_nav_l li p a, .m_so .more a:hover, .zhuanji_inner ul li .inner h4 span a{ -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}

.m_sider ul li, .m_sider .more a, .music_title p, .nomark a{ -webkit-border-radius:15px; -moz-border-radius:15px; border-radius:15px;}

img{ -webkit-border-radius:0!important; border-radius:0!important; -moz-border-radius:0!important; }

.blueplay, .yellowplay, .redplay{ -webkit-border-radius:3px; border-radius:3px; -moz-border-radius:3px; }

.music_list .m .panel span{ margin-right:10px;}

.music_list .m ul li .panel a{ margin-right:13px;}

.music_nav ul li span{ font-size:12px; color:#fff; margin-left:10px;}

p.qumu{ position:absolute; left:20px; bottom:10px; background:url(../www_images/zhuti/shangqiuzhilv/tip.png) repeat; color:#fff; line-height:2em; padding:10px;-webkit-border-radius: 5px;



border-radius: 5px; font-size:14px; text-decoration:none;}

.music_so .m_so_zimu a{ padding:0 2px;}

.m_so_inner .text {width: 200px; }

.m_guzhengbox{ display:none;}

/* wap hiheng */



.yreview{ display:none;}

@media screen and (max-width: 1000px) {	



	/* musicview*/



	.music_first{ margin-left:0px; }

.w_index_l{float:none!important;}

.music_nav, .music_main, .w_content, .music_so, .mList, .mobiplay,.rlist ul li dl,.rlist,.box590,.box740,.lunwencontent dl dd,.lunwencontent .rview{ width:auto!important;}

.music_nav, .music_nav div, .music_so .inner{ height:auto!important;}

.m_nav_l{ clear:both!important; overflow:hidden!important;}

.m_nav_l, .music_view, .m_so_form ,.rlist ul li dl ,.lunwencontent dl.jieshao,.box740,.lunwencontent dl dd{ float:none!important;}

.m_nav_r, .music_nav blockquote, .w_sider, .w_banner, .music_so .inner .yyhe , .music_so .inner .m_so .more, .fenxiang, #hibannerall,.music_so .inner a img,.rlist ul li span.vimg,.lunwencontent dl dt,dd.xiazai,dd.download,.hibannerall{ display:none!important;}

.music_nav{ background:#C00!important}

.music_main{ background:#FFF!important; }

.m_nav_l{}

.m_nav_l li{ padding:0!important; }

.m_nav_l li p{ height:0!important; overflow:hidden!important;}

.m_nav_l li a{ border-bottom:1px solid #990000!important;}

.music_so .inner{ background:none; padding:10px!important; border:none!important; clear:both!important; padding-bottom:50px!important; }

.music_main { background:#eee;}

.site, .music_view_title, .music_view_inner, .viewmore, .mobiplay, .music_comment{ padding:10px!important; margin:5px!important; background:#FFF!important; border:1px solid #ddd!important;}

.music_view_inner p{ background:none!important;}

.music_view_inner ul{ padding-bottom:20px!important;}

.yreview{ display:block;}

.rview{ display:none;}

.yreview{ text-align:center; margin: 0px auto;border: 1px dotted #ddd;border-left: 0;border-right: 0;padding: 10px 0; height:350px;}

.yreview a{ display:block;   }

.yreview span.title{  color:#895c00; bottom: 50px; width: 210px; margin-left: -112px; padding:0 10px;}

}

@media screen and (max-width: 750px) {	



	/* musicindex*/



	.w_index_l{ width:auto!important;}

.m_zhuti_inner{ float:none!important;}

.music_view_panel, .m_first_mingqu,.rlist h3.xt span.more{display:none!important;}

/* musicview*/



	.mobiplay{ display:block!important;}

.mobiplay audio{ width:80%!important; margin:10px 0!important;}

.music_first .w_indxe_l3{ width:45%;}

}

@media screen and (max-width: 520px) {	



	/* musicindex*/



	.music_main { background:#EEE!important;}

.music_first .w_indxe_l3, .m_zhuti_inner .title, .m_zhuti_inner ul li{ float:none!important;}

.music_first .w_indxe_l3, .m_zhuti_inner,.m_zhuti_inner .title, .m_zhuti_inner ul, .m_zhuti_inner ul li { width:auto!important;}

.m_zhuti_inner .avatar, .m_zhuti_inner .title h4 a.blueplay, .music_index_yyh{display:none!important;}

.m_zhuti_inner ul li { background:none;}

.w_indxe_l3, .music_index_h3, .music_index_zhuanji  { padding:10px!important; margin:5px!important; background:#FFF!important; border:1px solid #ddd!important;}

}

h3.weizhi { margin-top:10px;}

.box590 {width: 590px; }