@charset "gb2312";
body{ background:url(../www_images/login/bg.png) #FFF 0 0 repeat-x;}
em{ font-style:normal;}
.logintop{ height:234px; background:url(../www_images/login/top.png) center 0 no-repeat; margin-bottom:5px;}
.logintop h1, .top h1 a, .top h1 a:hover{ height:239px; }
.logintop h1{ line-height:3333em; overflow:hidden;}
.logintop h1 a{  display:block; overflow:hidden;}
.logintop h1 a:hover{  background:url(../www_images/login/top.png) center -239px no-repeat; height:234px;}
.logintop p{ width:100%; text-align:center; color:#600; margin-top:-50px;}

.login{ border:1px dotted #ddd; background:#f9f9f9; margin-bottom:10px; padding:40px 60px; position:relative; clear:both; overflow:hidden; zoom:1}
.login h2, .login h3{font-family: "微软雅黑","黑体";text-shadow:#ddd 2px 2px 2px;font-weight:200; font-size:30px; line-height:34px; color:#666}
.login ul{ padding-top:20px; float:left; width:520px;}
.login ul li{ color:#666; padding:10px 0}
.login ul li input,.login .not a.regr{-webkit-border-radius:4px;border-radius:4px;-moz-border-radius:4px;}
.login ul li.shuru input:hover{ background:#f6f6f6!important}
.login ul li.shuru span.onError,.login ul li.shuru span.onFocus,login ul li.shuru span.onShow{ font-size:12px!important}
.login ul li .ml1em{ margin-left:1em}
.login ul li.shuru{ height:40px; line-height:40px}
.login ul li.shuru input{ padding:10px; border:1px solid #aaa; border-bottom-color:#ddd; border-right-color:#ddd; background:#fff; font-size:14px!important; color:#36a; vertical-align:-10px!ie}
.login ul li.yanzhengma{ padding-left:52px; padding-top:0; font-size:12px;}
.login ul li.yanzhengma img{ display:block; border:1px solid #B6D1EC}
.login ul li.jizhu{ padding-left:55px; font-size:12px}
.login ul li.jizhu input{ vertical-align:-3px}
.login ul li.denglu{ padding-left:54px}
.login ul li.denglu input{ font-size:14px!important; font-weight:bold; color:#fff; border:0; height:40px; width:120px; background:#369; cursor:pointer; margin-right:15px}
.login ul li.denglu input:hover{ background:#5587B9}
.login ul li span.yanzheng{ display:inline-block; font-size:12px;}
.login ul li span.yanzheng img{ border:1px solid #ddd; vertical-align:-6px; margin-right:5px; cursor:pointer}
.login .not{ width:280px; float:right}
.login .not h3{ font-size:14px; color:#666; margin-bottom:6px}
.login .not a.regr, .login .not a.logr{ font-size:14px; font-weight:bold; text-align:center; height:36px; line-height:36px; color:#fff; display:block; width:180px}
.login .not a.regr{background:#f60; }
.login .not a.logr{ background:#090;}
.login .not a.regr:hover{ text-decoration:none; background:#FE751A}
.login span.f12{ font-size:12px}
.login .not dl{ font-size:12px; color:#999; padding-top:15px}
.login .not dl dt{ font-weight:bold; display:none}
.login .not dl dd{ line-height:16px; padding:5px 0; border-bottom:1px dotted #ddd}
.login .not dl dd a{ color:#999; }
.login .not dl dd a:hover{ color:#36a}

@media screen and (max-width: 1000px) {	


}
@media screen and (max-width: 750px) {	
	.logintop{ background:none;}
	.logintop p{ display:none;}
	.logintop h1{text-align: center;  padding-top: 100px; line-height: 2em; font:400 40px/2em "微软雅黑","黑体"; text-shadow:#900 0px 0px 1px;
}
	.logintop h1 a{ color:#333;}
	.logintop h1 a:hover{ background:none; height:auto;}
	.login{ padding:10px!important;}
	.login ul li{ height:60px!important; clear:both; overflow:hidden; line-height:none;}
	.login ul li span{ display:block;}
	.login ul li.jizhu{ height:auto!important;}
	.quicklogin span{ padding-bottom:20px;}
}
@media screen and (max-width: 520px) {	

}