@charset "gb2312";



/* CSS Document */



/* nav */

.nav_tv{ width:1000px; margin:0px auto 10px auto; height:66px; overflow:hidden; position:relative;}

.nav_tv ul{ height:40px; float:left; width:460px; padding:0 10px;}

.nav_tv ul li{  float:left; display:inline!ie; height:40px;}

.nav_tv ul li a{ color:#DDD; text-shadow:#000 1px 1px 1px; line-height:40px; display:inline-block; padding:0 20px; background:none;}

.nav_tv ul li a:hover{ color:#FFF; background:#222;  -webkit-transition:background 0.3s; -moz-transition:background 0.3s; transition:background 0.3s; }

.nav_tv ul li.on a{ font-weight:bold; }

.nav_tv .mlink{ font-size:12px; text-indent:14px;height:24px; overflow:hidden; line-height:24px; line-height:26px!ie; width:700px;}

.mlink strong,.mlink div,.mlink li{ float:left}

.mlink li{ list-style-position:inside; list-style:none; margin-right:10px; padding-left:0; text-indent:0}

.nav_tv .tv_search{ width:200px; height:22px; overflow:hidden; bottom:36px; right:10px; position:absolute; border:1px solid #FFF; background:none;}

.nav_tv .tv_search input.shuru{ border:0; background:#FFF; padding:2px 6px; height:18px; line-height:18px; color:#888; width:152px;}

.nav_tv .tv_search input.tijiao{ width:38px; height:22px; color:#fff;background:#666; border:none; position:absolute; right:0; top:0; cursor:pointer}

 

/*.mjjmq h2.logo_tv,.mjjmq h2.logo_tv a{ width:271px}

.mjjmq h2.logo_tv a{ background-image:url(../www_images/renwu/logo_mjjmq.png)!important}*/



.mjjmq .mlink{ width:675px}

.mjjmq  ul{ width:435px}

.box3250{ width:250px}

.box700{ width:740px}

.inbox .innerp10{ padding:10px}

.yugao{ padding:0 10px; font-size:12px}

.yugao dl{ padding:10px 0;border-bottom:1px dotted #ddd}

.yugao dl dt{ float:left; margin-right:10px; position:relative; width:70px}

.yugao dl dd{ line-height:16px; color:#888}

.yugao dl dt span.videohover{display:none}

.yugao ul{ padding-top:9px!ie}

.yugao ul li{ height:55px;  height:56px!Ie}

.yugao ul li a.title{ float:left; font-weight:bold; text-indent:10px; line-height:30px; font-size:14px}

.yugao ul li a.pindao{ float:right; line-height:30px; color:#666}

.yugao ul li p.clear{ height:20px; line-height:20px; color:#000; background:#eee; font-size:12px; text-indent:10px; margin-bottom:5px; margin-top:-4px}

.yugao dl dt a,.list dl dt a{ display:block; position:relative; width:100%; height:100%}

.yugao dl dt a:hover,.list dl dt a:hover{zoom:1}

a span.videohover{ display:block; overflow:hidden; width:100px; height:100px; _width:15px; _height:15px; position:absolute; right:0px; bottom:0px; _right:5px; _bottom:5px; _background:url(../www_images/renwu/ico.png) 0 0 no-repeat; font-size:0; line-height:0}

a:hover span.videohover{ background:url(../www_images/gobal/bg_tv_play_100_100.png) 0 0 no-repeat; _background:url(../www_images/renwu/ico.png) -187px 0 no-repeat; cursor:pointer}

.tv_info{ color:#f60; font-size:12px; line-height:2.2em; background:url(../www_images/renwu/renwubg1.jpg) right top no-repeat; padding-bottom:8px; border-bottom:1px dotted #ddd;}

.tv_intro{ font-size:12px; color:#888; padding-top:6px}

.img50list{}

.img50list ul{ padding:15px 0 10px 5px}

.img50list ul li{ float:left; display:inline; margin-left:15px; text-align:center; font-size:12px; padding-bottom:8px}

.img50list ul li img{ display:block}





.tv_now{ border:1px solid #ccc; margin-bottom:10px}

.tv_now,.h220{ height:220px; overflow:hidden}

.tv_now a{ text-decoration:underline}

.tv_now .vimg{ float:left; background:#ddd; padding:10px}

.tv_now .vimg span{ _display:none;}

.tv_now .vimg a{ display:block; width:200px; height:200px;position:relative; text-decoration:none}

.tv_now dl{ padding:10px; float:right; width:490px; margin-right:5px}

.tv_now dl dt{ height:30px; line-height:30px; margin-bottom:12px;}

.tv_now dl dt span{ vertical-align:top; display:block; float:left}

.tv_now dl dt span.xulie{background:#000 url(../www_images/renwu/jiantou.png) right center no-repeat; font-size:12px; color:#fff; height:26px; line-height:26px; _font-family:"宋体"; padding:1px 15px 1px 7px; margin-right:10px}

.tv_now dl dt span.title,.tv_now dl dt span.title a{font-family: "微软雅黑","黑体";text-shadow:#eee 2px 2px 2px;font-weight:500;font-size:22px; text-align:center; color:#333}

.tv_now dl dt span.title{margin-top:-3px; width:380px; float:left; overflow:hidden; text-align:left}

.tv_now dl dt span.title a{ text-decoration:none}

.tv_now dl dt span.title a:hover{ color:red}

.tv_now dl dd.info{ font-size:14px; color:#666; padding:10px; margin-bottom:10px; border:1px dotted #ddd; background:#f5f5f5 }

.tv_now dl dd.info strong{ display:block;}

.tv_now dl dd.last{ font-size:12px}

.tv_now dl dd.last span.jiabin{ float:left; padding-left:20px;background:url(../www_images/renwu/ico.png) -184px -185px no-repeat }

.tv_now dl dd.last span.more{ float:right}

.tv_now dl dd.last span.more a{margin-left:10px}

.rwlist{}

.rwlist .pagelist{ text-align:center;}

.pagelist{ text-align:center;}

.rwlist ul{ padding-bottom:10px}

.rwlist ul li{ padding:15px; border-bottom:1px dotted #ddd; height:100px; overflow:hidden}

.rwlist ul li:hover dl dt .title a{ color:#C00}

.rwlist ul li:hover a span.videohover{ background:url(../www_images/gobal/bg_tv_play_100_100.png) 0 0 no-repeat; cursor:pointer;}

.rwlist ul li:hover{ background:#f6f6f6;  -webkit-transition:background 0.3s;transition:background 0.3s;}

.rwlist ul li:hover dl dd.info{ background:#fff; border-color:#ddd}

.rwlist ul li span.vimg{ float:left; width:100px;}

.rwlist ul li span.vimg a{ position:relative; display:block; width:100px; height:100px}

.rwlist ul li dl{ float:right; width:595px;}

.rwlist ul li dl dt{height:24px; line-height:24px; margin-bottom:4px;}

.rwlist ul li dl dt span{vertical-align:top; display:block; float:left}

.rwlist ul li dl dt span.xulie{background:red url(../www_images/renwu/jiantou.png) right center no-repeat; font-size:12px; color:#fff; height:22px; line-height:22px; _font-family:"宋体"; padding:0 15px 0 7px; margin-right:10px}

.rwlist ul li dl dt span.title{ width:360px; overflow:hidden; height:24px;}

.rwlist ul li dl dt span.title a{ font-family: "微软雅黑","黑体";text-shadow:#eee 2px 2px 2px;font-weight:500;font-size:18px; text-align:center}

.rwlist ul li dl dt span.time,.rwlist ul li dl dt span.plnum{ float:right; font-size:12px; color:#888; padding-left:18px; background:url(../www_images/renwu/ico.png) no-repeat}

.rwlist ul li dl dt span.time{ background-position:-185px -74px}

.rwlist ul li dl dt span.plnum{background-position:-185px -111px; margin-left:10px}

.rwlist ul li dl dd.info{font-size:12px; color:#666; padding:4px 6px;  border:1px dotted #ddd; background:#f5f5f5}

.tv_all{ padding:0 20px; position:relative;}

.tv_all ul{height:140px; overflow:hidden; padding-top:15px; margin-left:20px;}

.tv_all ul li{ width:110px; text-align:center; display:inline; float:left; margin-left:18px; height:140px; overflow:hidden}

.tv_all ul li a{ width:110px; height:110px; display:block; overflow:hidden;}

.tv_all ul li img{ height:100px;display:block; background:#fff; padding:4px; border:1px solid #ddd; background:#f9f9f9}

.tv_all a.pre,.tv_all a.next{ position:absolute; top:24px; width:14px; height:90px; background:url(../www_images/renwu/xj.png) no-repeat; cursor:0.6}

.tv_all a.pre{ background-position: 0 0; left:0;}

.tv_all a.next{ background-position: -14px 0; right:0}

.tv_all a.pre:hover,.tv_all a.next:hover{ opacity:1}

h3.title span.more a.ml10{ margin-left:10px; color:#000}

.inbox h3.weizhi{ width:auto}

dl.abc{ border:1px dotted #ddd; border-bottom:0;  font-size:12px; margin-bottom:10px}

dl.abc dt{ background:#eee; padding:5px 10px}

dl.abc dd{ padding:5px 10px; border-bottom:1px dotted #ddd}

dl.abc dd span.num{ display:inline-block; background:#7095C6; color:#fff; padding:0 10px; margin-right:8px}

dl.abc dd:hover{ background:#f5f5f5}

dl.abc dd a{ display:inline-block; width:3em; margin-right:5px}

span.moreico{ padding-top:6px}

span.moreico a{ display:block; float:left; width:14px; height:14px; overflow:hidden; text-indent:-999em; zoom:1; border:1px solid #ddd; background:url(../www_images/renwu/ico.png) no-repeat}

span.moreico a#list1{ background-position:-186px -215px}

span.moreico a#list2{background-position:-186px -233px; margin-left:10px}

span.moreico a.on,span.moreico a.on:hover{ border-color:#f60}

span.moreico a:hover{ border-color:#FFB686}





#zflist{}

#zflist.zflist_1{}

#zflist.zflist_1 ul{ padding-top:30px; border-bottom:1px dotted #ddd; margin-bottom:15px}

#zflist.zflist_1 ul li{ float:left; display:inline; margin-left:34px; width:142px; overflow:hidden; padding-bottom:10px}

#zflist.zflist_1 ul li span.vimg{}

#zflist.zflist_1 ul li span.vimg a{ display:block; width:120px; height:120px; border:1px solid #ddd; padding:5px; background:#fff; position:relative; overflow:hidden}

#zflist.zflist_1 ul li span.vimg a span.num{ display:block; width:120px; height:24px; line-height:24px; font-size:12px; color:#fff; background:#000; position:absolute; left:5px; bottom:5px; text-align:center; opacity:0.5;filter:alpha(opacity=50)}

#zflist.zflist_1 ul li span.vimg a:hover{zoom:1; background:#A6C6E6; border-color:#7EABD7; text-decoration:none}

#zflist.zflist_1 ul li span.info{ display:none}

#zflist.zflist_1 ul li span.title{ text-align:center; padding:4px 0; height:32px; overflow:hidden; color:#444; display:block; line-height:16px}

#zflist.zflist_1 ul li span.title a{ color:#000; line-height:18px}

#zflist.zflist_1 ul li span.title a:hover{ color:red}

#zflist.zflist_1 ul li span.other{ display:block; overflow:hidden; clear:both; zoom:1; font-size:12px; color:#888; padding:5px 0}

#zflist.zflist_1 ul li span.other span{ padding-left:18px; background:url(../www_images/renwu/ico.png) no-repeat}

#zflist.zflist_1 ul li span.other span.time{ float:left; background-position:-185px -74px;}

#zflist.zflist_1 ul li span.other span.plnum{ float:right; background-position:-185px -111px;}

#zflist.zflist_1 #pagelist,#zflist.zflist_2 #pagelist{ text-align:center; padding-bottom:15px}

#zflist{}

#zflist.zflist_2{}

#zflist.zflist_2 ul{ padding-bottom:15px}

#zflist.zflist_2 ul li{ padding:15px; border-bottom:1px dotted #ddd;}

#zflist.zflist_2 ul li:hover{ background:#f6f6f6}

#zflist.zflist_2 ul li span.vimg{ float:left;}

#zflist.zflist_2 ul li span.vimg a{ display:block; width:120px; height:120px; border:1px solid #ddd; padding:5px; background:#fff; position:relative; overflow:hidden}

#zflist.zflist_2 ul li span.vimg a span.num{ display:block; width:120px; height:24px; line-height:24px; font-size:12px; color:#fff; background:#000; position:absolute; left:5px; bottom:5px; text-align:center; opacity:0.3}

#zflist.zflist_2 ul li span.vimg a:hover,#zflist.zflist_2 ul li:hover span.vimg a{zoom:1; background:#444; border-color:#444; text-decoration:none}

#zflist.zflist_2 ul li span.vcont{ float:right; width:560px; position:relative; height:132px; overflow:hidden;}

#zflist.zflist_2 ul li span.vcont span.title{ display:block; padding-bottom:4px;}

#zflist.zflist_2 ul li span.vcont span.title a{font-family: "微软雅黑","黑体";text-shadow:#eee 2px 2px 2px;font-weight:500;font-size:22px;}

#zflist.zflist_2 ul li span.info{ display:block; font-size:12px; border:1px dotted #ddd; background:#f5f5f5; padding:12px; line-height:16px; color:#666; position:relative; top:-28px; height:48px; overflow:hidden;}

#zflist.zflist_2 ul li:hover span.info{ border-color:#ccc; background:#fff}

#zflist.zflist_2 ul li span.other{ display:block; overflow:hidden; clear:both; zoom:1; font-size:12px; color:#888; padding:5px 0; position:relative; top:74px}

#zflist.zflist_2 ul li span.other span{ padding-left:18px; background:url(../www_images/renwu/ico.png) no-repeat}

#zflist.zflist_2 ul li span.other span.time{ float:left; background-position:-185px -74px;}

#zflist.zflist_2 ul li span.other span.plnum{ float:right; background-position:-185px -111px;}

.mainv{margin-bottom:10px; width:100%!important}

.mainv .weizhi{ height:28px; line-height:28px; width:980px; margin:0px auto;border:0!important; background:#f5f5f5!important}

.mainv .weizhi span.more{ float:right; margin-top:-28px!ie}

.mainv h1,.renwucontent h1{font-family: "微软雅黑","黑体";text-shadow:#ccc 2px 2px 2px;font-weight:500;font-size:32px; line-height:40px; text-align:center; background:#fff; padding:15px 0 10px 0}

.mainv h2{ font-size:12px; font-weight:100; color:#888; text-align:center; padding:2px 0; background:#f5f5f5}

.mainv h2 strong{ color:#f60}

.mainv h2 span{ display:inline-block; padding-left:20px;background:url(../www_images/renwu/ico.png) no-repeat; margin-left:15px}

.mainv h2 span.jiabin{ background-position:-184px -185px}

.mainv h2 span.time{background-position:-185px -74px}

.mainv h2 span.plnum{background-position:-185px -111px}

.mainplay{ background:#000; padding-top:0; position:relative;}

#playbox{ margin:0px auto; padding:10px 0 10px 0; padding:0 0 30px 0!ie; }

#playbox input{ height:0;}

#playbox object{ margin:0; padding:0;}

#playbox .v_box{ padding-bottom:10px;}

.s4-3big,.s4-3big img{ width:600px; height:450px}

.b4-3big,.b4-3big img{ width:750px; height:563px}

.mainplay ul.ctrol{ height:130px; font-size:12px; clear:both; overflow:hidden; width:430px; margin:0 auto;}

.mainplay ul.ctrol li{ float:left; margin:0 10px; width:62px;  margin-top:10px; text-align:center;}

.mainplay ul.ctrol li a{ color:#666; font-weight:bold; display:block;border:1px dotted #333; height:30px; line-height:30px; background:#222; font-size:14px}

.mainplay ul.ctrol li a:hover,.mainplay ul.ctrol li.on a{ color:#fff; margin-left:0; text-decoration:none; background:#666; border-color:#888}

.mainplay ul.ctrol li a span.plnum{ font-weight:100; font-size:11px}

.mainplay ul.ctrol li#ct_4_1{  margin-top:10px; margin-left:-10px;}

.mainplay ul.ctrol li#ct_4_1 a{border-top:0; font-size:12px; font-weight:100; height:20px; line-height:20px}

.mainplay ul.ctrol li#ct_4_1 a.on{ background:#369; color:#fff}

.mainplay ul.ctrol li#ct_5_1{ border:1px dotted #333; margin-top:0; border-top:0}

.mainplay ul.ctrol li#ct_5_1 a{ border:0; font-size:12px; font-weight:100; background:none; border-top:1px dotted #333; line-height:20px; height:20px; color:#f60}





.mainplay ul.ctrol li#ct_1 a,.mainplay ul.ctrol li#ct_2 a,.mainplay ul.ctrol li#ct_3 a,.mainplay ul.ctrol li#ct_4 a,.mainplay ul.ctrol li#ct_5 a{ display:block; width:62px; height:62px; text-indent:-999em; background:url(../www_images/renwu/ct.png) no-repeat; border:0;}

.mainplay ul.ctrol li#ct_1 a{ background-position:0 -62px}

.mainplay ul.ctrol li#ct_1 a:hover{ background-position:-62px -62px}

.mainplay ul.ctrol li#ct_2 a{ background-position:0 0}

.mainplay ul.ctrol li#ct_2 a:hover{ background-position:-62px 0}

.mainplay ul.ctrol li#ct_3 a{ background-position:0 -124px}

.mainplay ul.ctrol li#ct_3 a:hover{ background-position:-62px -124px}

.mainplay ul.ctrol li#ct_4 a{ background-position:0 -186px}

.mainplay ul.ctrol li#ct_4 a:hover{ background-position:-62px -186px}

.mainplay ul.ctrol li#ct_5 a{ background-position:0 -248px}

.mainplay ul.ctrol li#ct_5 a:hover{ background-position:-62px -248px}

.tishi{ height:24px; background:#000 url(../www_images/renwu/cz.png) center center no-repeat;font-size:12px; color:#666; border-top:1px solid #222;}





.playlist{ background:#121212; background-color:#1C1C1B!ie}

.playlist ul{ padding:15px 0 15px 120px; width:700px; margin:0px auto}

.playlist ul li{ width:102px; float:left; display:inline!Ie; margin-right:15px; text-align:center; font-size:12px; line-height:16px; }

.playlist ul li a{ color:#fff;opacity:0.6; filter:alpha(opacity=60)}

.playlist ul li a:hover{opacity:0.8; filter:alpha(opacity=80)}

.playlist ul li img{ border:1px solid #555; margin-bottom:4px; width:100px; height:100px}

.playlist ul li.on,.playlist ul li.on a,.playlist ul li.on a:hover{ opacity:1;filter:alpha(opacity=100)}

	.playlist_2{  float:left; position:relative; left:50%; padding:0 20px;}

	.playlist_2 ul{ padding:10px;float:left; position:relative; right:50%; }

	.playlist_2 ul li{ width:210px; float:left; display:inline!Ie;  overflow:hidden;  margin:5px; cursor:pointer}

	.playlist_2 ul li{ box-shadow:#000 2px 2px 3px; -moz-box-shadow:#000 2px 2px 3px;}

	.playlist_2 ul li b{ line-height:25px; height:25px; display:block; padding-bottom:10px; color:#666; text-align:center;}

	.playlist_2 ul li em{ line-height:25px; height:25px; display:block; padding-bottom:10px; color:#666; text-align:center; font-style:normal;}

	.playlist_2 ul li a{ color:#ccc; display:block; padding:5px 10px;  border:1px solid #272727; background:url(../www_images/tv/bg_tv_list.png) #222 no-repeat; text-decoration:none;  height:80px; }

	.playlist_2 ul li a:hover{ border-color:#555}

	.playlist_2 ul li.on a{ color:#fff;  border-color:#555;}

	.playlist_2 ul li.on a b{ color:#F90;}

	.playlist_2 ul li.on span{ background:#F90; padding:2px 3px; color:#000; font-size:12px; margin-right:10px; font-weight:400;}

	.playlist_2 ul li.on span{border-radius:3px; -moz-border-radius:3px;}

.renwuinfo{padding-bottom:10px}

.renwuinfo .vimg{ text-align:center; padding-top:10px}

.renwuinfo .vimg img{ padding:4px; border:1px solid #ddd; background:#fff; box-shadow:#ccc 2px 2px 2px;}

.renwuinfo .vimg strong{ display:block; padding-top:5px}

.renwuinfo .info{ font-size:12px; color:#666; padding:5px 10px; border:1px dotted #ddd; border-right:0; border-left:0; background:#f5f5f5;}

.mimg{padding:8px 0 8px 8px}

.mimg img{ border:1px solid #fff}

.renwucontent{ padding:10px 0}

.renwucontent h1{ border-bottom:1px dotted #ddd; margin-bottom:15px}

.renwucontent .vcont{ width:670px; margin:0px auto; font-size:14px; line-height:1.8em; color:#000; font-family:"宋体"}

.renwucontent .vcont .daodu .info{ font-family:kaiti_gb2312; font-size:16px; line-height:1.6em; color:#000}

.mbg{ padding-bottom:60px; background:url(../www_images/renwu/mbg.png) right 45px no-repeat; font-size:14px;}

.mqst{ padding:10px;}

.mqst .shiting{ padding-bottom:10px}

.mqst .info{border:1px dotted #ddd; padding:10px; font-size:12px; color:#555; line-height:16px; background:#f6f6f6; margin-bottom:10px}

.mqst .shiting span.fr{ padding-top:8px}

.mqst ul.f12{}

.mqst ul.f12 li{ height:26px; line-height:26px; border-bottom:1px dotted #ddd}

.mqst ul.f12 li span.more{ float:right; font-size:12px; color:#888; margin-top:-26px!ie}





.shengming{ background:#EEE; font-size:12px;}

.shengming center{ padding:0 0 10px;}

.shengming .ke_list{ width:960px; margin:0 auto;}

.shengming .ke_list img{ width:130px; margin:0 415px;}

.shengming .ke_list span{ width:400px; display:block; color:#666;}

.shengming .ke_list span a{ text-decoration:underline; color:#666;}

.shengming .ke_list span.k1{ left:0;}

.shengming .ke_list span.k2{ right:0; text-align:right;}





#zflist.zflist_1 ul li *,#zflist.zflist_2 ul li *{-webkit-border-radius:0;border-radius:0;-moz-border-radius:0;}

.clear,.nav_tv,.yugao dl,.yugao ul li,.img50list ul,.tv_now,.tv_now dl dt,.tv_now dl dd.last,.rwlist ul li,.rwlist,.rwlist ul,.rwlist ul li dl dt,.tv_all,.tv_all ul,#zflist ul,#zflist.zflist_2 ul li,.playlist ul,.renwucontent,.renwucontent .vcont,.mqst,.mqst .shiting{ clear:both; overflow:hidden; zoom:1}

#fenxiang{ margin:12px !important}

a.on 



{



color: white;



background: #F60;



border-color: #DA5700;



}

.fx_video_n{ width:1000px!important; overflow:hidden; margin:10px auto; }

#fx_big{ margin:20px 10px;} 



.music_comment .notlogin{ background-image:none;}

#liuxingguzhengios{ display:none;}

