body{ background:#fff; color:#666; font-family:"ËÎÌå";}

h1.logo a{ background:url(../www_images/www2013/logo2013.png) -10px center no-repeat;}

.bannerall{ display:none;}

.pr{ position:relative}

.pa{ position:absolute}

.w_a{ margin:0 auto; width:1000px;}

.main{ background:#FFF; border-left:1px solid #DDD; border-right:1px solid #DDD;}

ul li img{-webkit-border-radius:0px;border-radius:0px;-moz-border-radius:0px;}

a:hover{ color:#bf3131; text-decoration:none!important;}



.row1 .siderleft, .music{ width:780px;}

.zhengqu{ width:210px;}

.news, .zhuti, .bbs{ width:550px;}

.about{ width:219px;}

.wenda, .diqu{ width:229px;}

.row1 .siderright, .iqupu{ width:220px; overflow:hidden;}

.row1 .siderright .banner, .hd8{ background:#F2F2F2;}

.hd8{ height:845px; }

.diqu, .wenda{ border-right:1px solid #CCC;}

.about{ border-left:1px solid #CCC;}

.zhengqu{ /* border-right:1px dotted #edd4bf; */}



/* yuya */

.yuya, .yuya .inner {height:100px; overflow:hidden;}

.yuya .inner .yuyalogo a, .yuya p.phone, .yuya .yuyabanner a{ height:70px; margin:15px 0;  overflow:hidden;}

.yuya{ background:#802121; }

.yuya .inner{ width:1000px; margin:0px auto; background:#bf3131; box-shadow:#333 0 0 3px; clear:both;}

.yuya .inner .yuyalogo a{ width:296px; }

.yuya .inner .yuyalogo a{ border-right:1px solid #ac2c2c; text-indent:-999em; background:url(../www_images/www2013/logo2013_hanya.png) 0 center no-repeat; display:block;}

.yuya .inner .yuyalogo a:hover{ opacity:0.8; }

/*.

yuya .content{ padding:10px 0 10px 50px; }

.yuya .content .yuyaso{ background:#a32a2a; padding:10px 20px; clear:both; overflow:hidden; zoom:1}

	.yuya .content .yuyaso{ border-radius:25px; -moz-border-radius:25px; -ms-border-radius:25px;}

.yuya .content .yuyaso .sub{ width:60px; height:26px; line-height:26px; background:#333; color:#CCC; cursor:pointer; border:none;}

.yuya .content .yuyaso .sub:hover{ background:#444;}

.yuya .content .yuyaso .sub{border-radius:15px; -moz-border-radius:15px; -ms-border-radius:15px; box-shadow:#333 0 0 3px}

.yuya .content .yuyaso select, .yuya .content .yuyaso input.submit{ margin-left:10px;}

*/

.yuya  .yuyabanner a{ display:block; width:480px; background:url(../www_images/www2013/logo2013_hanya_1.png) 0 center no-repeat;}

.yuya p.phone{width:219px;  border-left:1px solid #ac2c2c; overflow:hidden; }

.yuya p.phone span{font-size:14px; color:#FFF; display:block; text-align:center; line-height:2.4em;}

.yuya p.phone em{ font-family:Verdana, Geneva, sans-serif; font-size:18px; font-size:16px!ie; }



/* news */

.news{  padding:0 0 10px; }

.news .banner{ top:10px; right:10px;}

.news .news_text{ width:360px; padding-left:10px;}

.news .news_text ul{ line-height:2.1em; padding:4px 0 5px;}

.news .news_text ul li{ padding-left:12px; background:url(../www_images/www/index_bg.png) -943px -80px no-repeat;}

.news .news_text ul li.hot a{ color:#C00;}

.news .news_text ul li.hot a:hover{ color:#bf3131;}

.news .news_text ul li.strong a{ font-weight:bold;}

.news .news_text .m_nav{ font-size:12px; color:#999; }

.news .news_text .m_nav .title{ font-size:14px; color:#000; }

.news .news_text .m_nav .tougao{ margin-top:5px;}

.news .header_wenda{ padding:30px 10px 0 0; }

.news .new_bisai .m_nav a{ color:#555; padding-left:20px; }



/* huodong */

.hd8{ background:#f2f2f2;}

.hd8 h3{ line-height:30px; padding:10px; /* border-bottom:1px dotted #edd4bf; */}

.hd8 ul{ padding:0 10px;}

.hd8 ul li, .hd8 ul li a{ width:200px; height:80px; zoom:1;}

.hd8 ul li{ position:relative; margin-bottom:10px; background:#EEE; }

.hd8 ul li span{ position:absolute; bottom:2px; right:2px; font-size:12px; padding:0 3px; background:#CCC; color:#FFF;}

.hd8 .tip{ font-size:12px; text-align:center;margin:0 10px 20px; background:#C0C0C0; color:#FFF;}

.hd8 ul li span.now{ background:#F90;}

.hd8 ul li img{ border:1px solid #dce1e5;}

.hd8 ul li:hover img{ box-shadow:#CCC 1px 1px 10px;}



/* diqu */

.diqu{ height:496px;  }

.diqu h3{  font-size:12px; padding:10px 10px 0; color:#666; clear:both; overflow:hidden; }

.diqu h3 .title, .news .news_text .m_nav .title a{ color:#fff; background:#cc3333; padding:5px 8px; font-family:Microsoft YaHei,"ËÎÌå"; line-height:2em; text-shadow:#000 1px 1px 1px; border-radius:14px;}

.diqu h3 .title:hover, .news .news_text .m_nav .title a:hover{ background:#C00; text-decoration:none;}

.diqu h3 span{ font-weight:400; padding-top:3px;}

.diqu ul{ font-size:12px;}

.diqu ul li{ padding:0 10px 5px; height:75px; overflow:hidden;}

.diqu ul li:hover{ background:#EFEFEF;}

.diqu ul li strong{ display:block; line-height:2.5em;}

.diqu ul li .avatar{ background:#ccc;}

.diqu ul li .inner .avatar{ margin-right:5px; width:40px; height:40px;}

.diqu ul li .inner .avatar a{ width:40px; height:40px; display:block; overflow:hidden;}

.diqu ul li .inner .avatar img{ width:40px;}

.diqu ul li .inner p{ color:#666;}

.diqu .tip{ font-size:12px; text-align:center;margin:10px 10px 5px; background:#9C9C9C; color:#FFF;}

.diqu .tip a{ display:block; color:#fff;}

.diqu .tip a:hover{ background:#666; text-shadow:#333 1px 1px 1px;}

.diqu .more{ font-size:12px; margin:10px; }

.diqu .more a{ padding:2px 10px; text-align:center; background:#ff9; color:#C00; text-decoration:none; display:block;}

.diqu .more a:hover{ background:#FF3;}

.diqu .zhaopin{ height:120px; margin:10px; background:#EDF7EA;}

/* tv */

.tv{}

.tv h3 .title{ float:left;}

.tv h3 .tip{ font-size:12px; color:#666; font-weight:400; padding-left:20px;}

.tv .tv_hot .title a, .tv .tvinner .title a{ display:block; line-height:2.5em;}

.tv .meun{ font-size:12px; margin:10px; padding:5px 10px; background:rgb(255, 248, 242);}

.tv .meun strong{ color:#333;}

.tv .meun span{ color:#ffcc99; }

.tv .meun span a{ padding:0 10px;   color:#996633;}

.tv .meun span a:hover{ color:#bf3131;}

.tv .tv_hot{ width:350px; } 

.tv .tv_hot .tip{ background:#EEE; font-size:12px; padding:10px;}

.tv .tv_hot .tip a{ font-weight:bold;}

.tv ul.tvinner{ font-size:12px;}

.tv ul.tvinner{ width:410px;}

.tv ul.tvinner li{ width:175px; float:left; margin-left:30px; margin-bottom:10px; display:inline;}

.tv ul.tvinner li .avatar{ width:175px; height:115px; display:block; overflow:hidden;}

.tv ul.tvinner li .avatar img{ width:175px; }

.tv ul.tvinner .title{ font-weight:bold;}

.tv .avatar{ position:relative;}

.tv .tv_hot .avatar{width: 350px; height: 220px; overflow:hidden; display:block;}

.tv .tv_hot .avatar img{ width:350px;}

.tv .avatar:after{ content:url(../www_images/www2013/bg_play.png);position: absolute; left: 5px;  bottom: 0; z-index: 10;}

.tv .avatar:hover{

-webkit-transform:scale(1.1); 

-moz-transform:scale(1.1);

-o-transform:scale(1.1); 

box-shadow:0px 0px 10px gray;

-webkit-box-shadow:0px 0px 10px gray; 

-moz-box-shadow:0px 0px 10px gray; 

}

.tv_hot a img,.tv_hot a:hover img{-webkit-transition:all 0.5s;transition:all 0.5s;}



/* music */

.music .zhengqu{ padding:0 10px}

.row2 .so{ margin:10px 0; padding:2px; border:1px solid; border-color:#999 #DDD #DDD #999;}

.row2 .so input{ height:26px; border:none;  border:0;}

.row2 .so input.text{ width:120px; padding:0 5px; line-height:26px; vertical-align:middle;}

.row2 .so input.submit{ background:#555; color:#FFF; padding:5px; padding:5px 2px!ie; cursor:pointer; border-radius:3px;}

.row2 .so input.submit:hover{ background:#666;}

.music .zhengqu .musicbox{ padding:0 0 10px;}

.music .zhengqu .musicbox a{ width:210px; height:120px; display:block; overflow:hidden; text-indent:-999em; background:url(../www_images/www2013/yinyuehe.png) 0 0 no-repeat;}

.music .zhengqu .musicbox a:hover{ background-position:0 -120px;}

.music .zhengqu strong.title a, .qupuinner strong.title a{ display:block; font-size:12px; color:#333; background:#fbf1e8; padding:5px 10px;}

.music .zhengqu .inner{ padding-top:10px;}



.row2 ul.inner{ margin:-5px 0 5px; }

.row2 ul.inner li{ position:relative; font-size:12px; line-height:31px; line-height:28px!IE; padding:0; margin:0; overflow:hidden; zoom:1;}

.row2 ul.inner li:hover{ background:#f2f2f2; }

.row2 ul.inner li span{ color:#888;}

.row2 ul.inner li .panel{ top:8px; right:-5px}

.row2 ul.inner li .panel a{ float:left; margin-left:3px;}

.panel a{ width:20px; height:20px; overflow:hidden; display:block; text-indent:-333em; _zoom:1;}

.panel a{ background:url(../www_images/song/bg_ico.png) no-repeat;}

.panel a.mark{ background-position:0 -120px;}

.panel a.qupu{ background-position:0 -80px;}

.panel a.down{ background-position:0 -40px;}

.panel a.play{ background-position:0 0;}

.panel a.qupu:hover{ background-position:0 -100px;}

.panel a.mark:hover{ background-position:0 -140px;}

.panel a.down:hover{ background-position:0 -60px;}

.panel a.play:hover{ background-position:0 -20px;}



.zhuti{ font-size:12px;}

.zhuti strong.title{ margin:10px;  display:block; background:#fbf1e8; }

.zhuti strong.title a{ font-size:14px; line-height:2.3em; padding:0 10px;}

.zhuti .inner{ padding:0 10px;}

.zhuti .inner ul{ width:370px;}

.zhuti .inner ul li{ margin:0 0 20px; clear:both; overflow:hidden;}

.zhuti .inner ul li:hover{ background:#f2f2f2;}

.zhuti .inner ul li .avatar{ position:relative; }

.zhuti .inner ul li .avatar{ width:100px; height:100px; display:block; overflow:hidden;} 

.zhuti .inner ul li .avatar a img{ width:100px; }

.zhuti .inner ul li .avatar:hover a:after{content:url(../www_images/song/bg_zj.png);  overflow:hidden; position:absolute; left:-10px; top:-10px; z-index:10; }

.zhuti .inner ul li .title{ width:260px;}

.zhuti .inner ul li .title h4{ font-size:12px; clear:both; overflow:hidden; padding:0 0 10px;}

.zhuti .inner ul li .title h4 .blueplay { background:#888; color:#FFF; padding:0 3px; font-weight:400; text-decoration:none;}

.zhuti .inner ul li .title h4 .blueplay:hover{ background:#999;}

.zhuti .inner ul li .ping{ text-indent:2em; background:url(../www_images/www2013/yihao.png) 2px 2px no-repeat;}

.iqupu .qupuinner{ padding:10px;  border-left:1px solid #CCC;}

.iqupu .qupuinner .so{ margin-top:0;}

.iqupu h3 { border-left:1px solid #CCC;}

.iqupu .muen{ font-size:12px;color:#CCC; padding-bottom:10px; }

.iqupu .muen p{ padding:5px 0;}

.iqupu .muen a{ padding:2px; margin:5px 6px; color:#666}

.iqupu .muen a:hover{ background:#999; color:#FFF; text-decoration:none;}

.iqupu ul.inner{ padding:5px 0 0;}



/* wenda */

.wenda{ font-size:12px;}

.wenda .wendainner{ position:relative; padding-bottom:50px; height:230px; overflow:hidden;}

.wenda .wendainner ul.inner{}

.wenda .wendainner ul.inner li{ padding:10px 10px;}

.wenda .wendainner ul.inner li:hover{ background:#F2F2F2;}

.wenda .wendainner ul.inner li strong.title{ line-height:2em;}

.wenda .wendainner ul.inner li p{text-indent:2em; background:url(../www_images/www2013/yihao.png) 2px 2px no-repeat;}

.wenda .wendainner .more { text-align:center; padding:10px 5px; background:#EFEFEF; position:absolute; left:10px; bottom:11px; width:199px;}

.wenda .wendainner .more a{ padding:2px 5px; background:#666; color:#FFF; text-decoration:none; margin-left:10px; }

.wenda .wendainner .more a:hover{ background:#888;}



/* bbs */

.bbs{ font-size:12px;}

.bbs .bbsinner{ padding:10px;}

.bbs .bbsinner .bbshot{ width:180px;}

.bbs .bbsinner .bbshot .avatar{ margin-bottom:1px;}

.bbs .bbsinner .bbshot .avatar a{ width:180px; height:180px; overflow:hidden; display:block;}

.bbs .bbsinner .bbshot strong.title, .bbs .bbsinner .bbshot p{ width:170px; background:#EFEFEF; padding:5px 5px 0;  display:block;}

.bbs .bbsinner .bbshot p{ padding-bottom:5px;}

.bbs .bbsinner ul.inner{ width:310px; padding-right:10px;}

.bbs .bbsinner ul.inner li{ padding:4px; clear:both; overflow:hidden;}

.bbs .bbsinner ul.inner li:hover{ background:#f2f2f2;}

/* about */

.about {}

.about .aboutinner{ font-size:12px; padding:10px;}

.about .aboutinner ul.inner li{ padding:4px 0; }



/* zhengren */

.zhengren ul.inner{ text-align:center; font-size:12px;}

.zhengren ul.inner li{ float:left; padding:10px 20px;}

.zhengren ul.inner li:hover { background:#F2F2F2;}

.zhengren ul.inner li .avatar a{ width:60px; height:60px; display:block; overflow:hidden;}

.zhengren ul.inner li .avatar img{ width:60px; min-width:60px; min-height:60px;} 

.zhengren ul.inner li .avatar, .zhengren ul.inner li .avatar a, .zhengren ul.inner li .avatar img{ border-radius:30px;}

.zhengren ul.inner li p{ padding:5px 0;}

 

/* links */

.links{ font-size:12px;}

.links h3{ padding:10px 24px 0; font-size:12px;}

.links ul.inner{ padding-bottom:10px;}

.links ul.inner li{ float:left; width:152px; text-align:center; padding:5px 24px 0;}

.links ul.inner li img{ border:1px solid #ddd; display:block; margin-bottom:5px;}

.links ul.inner li a:hover img{ box-shadow:#999 0 0 10px;}



/* ROW */

.row1, .rowbanner, .row2, .row3, .row4 { border-bottom:1px solid #DDD; zoom:1;}

.row1 .news .banner a, .row1 .siderright .banner a{ height:100px; padding:10px; display:block; overflow:hidden;}

.row1 .siderright .banner a{ padding-bottom:0;}

.row1 .siderright .banner{ top:0; left:0;}

.rowbanner{ padding:10px; }

.avatar, .avatar a{ background:#EEE;}

.zhengqu, .zhuti{ height:410px; overflow:hidden;}

.qupuinner{ height:390px; overflow:hidden;}

.about .aboutinner, .bbs .bbsinner{ height:260px; overflow:hidden;}



.footer{ margin-top:0;}



/* title */

.hd8 h3, .tv h3, .music h3, .iqupu h3, .wenda h3, .bbs h3, .about h3, .zhengren h3{ clear:both; overflow:hidden; padding:10px 10px 4px 0; line-height:40px; height:40px; /*border-bottom:1px dotted #edd4bf;*/}

.hd8 h3 .title, .tv h3 .title a, .iqupu h3 .title a, .music h3 .title a, .wenda h3 .title a, .bbs h3 .title a, .about h3 .title a, .zhengren h3 .title a{  font-weight:400; font-family:Microsoft YaHei,"ºÚÌå",arial; padding-left:48px; display:block; }

h3 .title a{ font-size:26px; color:#C33;}

h3 .title a:hover{ color:#E00; text-decoration:none;}

h3 .muen{ font-size:12px; font-weight:400; margin-left:10px; }

h3 .muen a{ padding:0 10px;}

.about h3 .muen{ display:none!ie;}

.wenda h3 .title a{ background:url(../www_images/www2013/t_wenda.png) 10px center no-repeat;}

.bbs h3 .title a { background:url(../www_images/www2013/t_bbs.png) 10px center no-repeat;}

.about h3 .title a{ background:url(../www_images/www2013/t_dongtai.png) 10px center no-repeat;}

.hd8 h3{ font-size:18px; background:url(../www_images/www2013/t_huodong.png) 10px center no-repeat;}

.tv h3 .title a{background:url(../www_images/www2013/t_tv.png) 10px center no-repeat;}

.music h3 .title a{ background:url(../www_images/www2013/t_music.png) 10px center no-repeat; }

.iqupu h3 .title a{ background:url(../www_images/www2013/t_qupu.png) 10px center no-repeat;}

.zhengren h3 .title a{  background:url(../www_images/www2013/t_zhengren.png) 10px center no-repeat;}



/* reset */

.topbar .inner, .header .inner, .bannerall, .subnav, .main, .copyright{ width:1000px!important; margin:0px auto;}



