/* yangbanke */
.nav_tv{  padding:13px 0 2px; background:url(../www_images/tv_zytgb/bg_nav.png) 0 0 no-repeat}
.nav_tv ul li a{ text-decoration:none;}
.bgnone{ background:none}
.tvinner ul.tvlist2 li{ width:250px; margin:10px 0 10px 13px;}
.tvshow ul li{ padding:0 0 10px;}
.yuyabanner{ display:none;}
.tvpresent{background: #333; line-height:2em; height:260px;}


