@charset "gb2312";
/* CSS Document */
.subnav{ background:url(../www_images/ask/nosearch.png) 0 3px no-repeat!important}
.subnav .search{ visibility:hidden}
.searchtop{ width:960px; margin:0px auto; position:relative; background:#ddd; text-align:center; padding:20px 0; border:1px solid #ddd; background:#f9f9f9;}
.searchtop,.searchtop input,h4.titsub a span,.searchtop a{-webkit-border-radius:4px;border-radius:4px;-moz-border-radius:4px;}
.searchtop input.shuru{ margin-left:-100px; border:2px solid #666; border-bottom-color:#ddd; border-right-color:#ddd; background:#f5f5f5; color:#888; font-size:14px!important; width:400px; padding:10px }
.searchtop input.daan,.searchtop a{ border:0; padding:12px;padding:10px!ie; font-size:14px!important; font-weight:bold; width:100px; color:#fff; cursor:pointer}
.searchtop input.daan{ background:#36a;}
.searchtop a{ background:#f60; display:inline-block;color:#fff!important; position:absolute; top:20px; top:21px!ie; padding:0; height:40px; line-height:40px; margin-left:5px; width:100px}
.main210bg{ background:url(../www_images/ask/leftbg.png) left top repeat-y;}
.main210bg{ width:960px; margin:0px auto; clear:both; overflow:hidden; position:relative;}
.box210{ width:190px; padding:10px 5px 10px 15px;}
.box210 h2{font-family: "微软雅黑","黑体";text-shadow:#ddd 2px 2px 2px;font-weight:200; font-size:24px; line-height:34px; color:#36a; margin-bottom:10px}
.lbox{ margin-bottom:10px}
.lbox h3{ font-size:14px; font-weight:100; height:30px; line-height:30px}
.lbox h3 span{ font-size:12px; color:#f60; margin-left:12px}
.lbox ul{ clear:both; overflow:hidden; zoom:1; margin-left:-10px}
.lbox ul li{ float:left; display:inline!ie; margin-left:10px; width:36px; height:46px}
h4.titsub{ height:30px; line-height:30px; background:url(../www_images/ask/dot.png) 0 41px repeat-x; font-size:12px; font-weight:100; padding-left:12px; padding-top:12px; clear:both; zoom:1}
h4.titsub a{ display:inline-block; padding:0 10px; _float:left}
h4.titsub a.on{ height:28px; line-height:28px;border:1px solid #ddd; border-bottom:1px solid #fff; color:#369; font-size:14px }
h4.titsub a{ color:#888;}
h4.titsub a span{ display:inline-block; background:#bbb; color:#fff; height:16px; line-height:16px; padding:0 4px; padding-bottom:1px!ie; _margin-top:4px}
h4.titsub a:hover{ text-decoration:none; color:#82AAD1; zoom:1}
h4.titsub a:hover span{ background:#A9C7E4}
.box540{ width:530px;}
.wlist{}
.wlist .pagelist{ padding-top:10px}
.wlist dl{ padding:15px 0; border-bottom:1px dotted #ddd}
.wlist.view dl{ padding:0; border:0}
.wlist.view dl:hover{ background:#fff}
.wlist dl:hover{ background:#f6f6f6}
.wlist dl dt{ font-size:14px; color:#666; line-height:1.8em}
.wlist dl dt,.wlist dl dd{ padding:0 10px}
.wlist dl dt a{ font-size:14px; font-weight:bold; color:#000}
.wlist dl dd.intro{ font-size:12px; color:#888}
.wlist dl dd.intro strong{ color:#E18B52}
.wlist dl dd.intro a{ color:#369;}
.wlist dl dd.intro a:hover{ color:#36a}
.wlist dl dd.answer{ padding-top:6px;}
.wlist dl dd.answer .intro{ font-size:12px; color:#888; line-height:16px; padding-bottom:4px;}
.wlist dl dd.answer .intro a{ text-decoration:underline; color:#369}
.wlist dl dd.answer .answer_info{ position:relative; font-size:12px; line-height:18px; color:#333; overflow:hidden; zoom:1; clear:both;}
.wlist dl dd.answer .answer_info span.vimg{ float:left; margin-right:10px; width:38px;}
.wlist dl dd.answer .answer_info .answer_right{ overflow:hidden;}
.wlist dl dd.waitanswer{ padding-top:5px}
.wlist dl dd.waitanswer a{ display:inline-block; width:70px; text-align:center; height:22px; line-height:22px; color:#fff; background:#369; font-size:12px}
.wlist #pagelist{text-align:center;padding:12px}
.box200{ width:200px}
.box200 .inbox{ margin-bottom:0; margin-top:12px; background:#f8f8f8}
.rlog{ padding:20px 20px 10px 20px}
.rlog ul{}
.rlog ul li{ padding-bottom:10px; font-size:12px; color:#888}
.rlog ul li.shuru input{ border:1px solid #aaa; border-bottom-color:#ddd; border-right-color:#ddd; padding:4px 6px; font-weight:bold; color:#369}
.rlog ul li.xuanze input{ vertical-align:-3px; margin-left:-4px!ie}
.rlog ul li.tijiao{ border-bottom:1px dotted #ddd; }
.rlog ul li.tijiao a{ background:#80C03D; color:#fff; padding:4px 0; text-align:center; display:block; }
.rlog ul li.tijiao input{ background:#80C03D; border:0; color:#fff; padding:4px 0; padding-bottom:2px!Ie; width:60px; margin-right:12px; vertical-align:-2px; cursor:pointer}
.rlog ul li.last{ text-align:center; padding-top:10px}
.rlog dl,.rlog dl dd,.rlog dl dt{ clear:both; overflow:hidden; zoom:1}
.rlog dl dt a{ font-size:12px; clear:both; overflow:hidden; zoom:1; line-height:14px;}
.rlog dl dt{ line-height:18px!important}
.rlog dl dt span.rlog_r{ float:right; width:70px}
.rlog dl dt span.rlog_l{ float:left; width:82px}
.rlog dl dt,.rlog dl dd{ border-bottom:1px dotted #ddd; line-height:24px;}
.rlog dl dt{ padding-bottom:12px}
.rlog dl dt img{ float:left; width:80px;}
.rlog dl dt span.name{ color:#f60; font-weight:bold;}
.rlog dl dt span.touxian{ display:inline-block; background:#80C03D; color:#fff; width:66px; text-align:center; font-size:12px; padding:4px 0; margin:4px 0}
.rlog dl dd{ padding:0; margin:0; font-size:12px;}
.rlog dl dd a span{ color:#888}
.rlx{}
.rlx ul{}
.rlx ul li{ position:relative; width:133px; margin:0px auto; font-size:12px; line-height:18px; border-bottom:1px dotted #ddd; padding:10px 10px 10px 55px}
.rlx ul li span.vimg{ position:absolute; left:10px; top:13px;}
.rlx ul li p{ color:#888}
.rlx ul li p a{ color:#0099FF; font-weight:bold}
.rlx ul li:hover{ background:#fff}
.box750{ width:750px}
.box750 .wlist dl dd.answer .answer_info{ width:674px}
.box750 .wlist #pagelist{ text-align:left}
.box200.fr{ margin-bottom:10px}
.view{ padding-top:20px; position:relative}
.view div.vimg{ font-size:12px; line-height:16px;}
.view div.vimg span{ color:#888; font-size:11px;}
.view div.vimg img{ float:left; margin-right:10px; border-radius:4px; }
.view h1{font-family: "微软雅黑","黑体";text-shadow:#ddd 2px 2px 2px;font-weight:200; font-size:28px; line-height:36px; color:#000; margin-bottom:10px; padding-bottom:10px;}
.view dl dt{line-height:1.8em; font-size:14px; padding-bottom:20px; clear:both; overflow:hidden; zoom:1; padding-left:45px; margin-top:-4px; color:#f60}
.view dl dd.intro{ font-size:14px; color:#888; background:#f6f6f6; border:1px dotted #ddd; height:30px; line-height:30px; padding-left:12px}
.view dl dd.answer{ clear:both; overflow:hidden; zoom:1; padding:20px 0; border-bottom:1px dotted #ddd; font-size:14px; line-height:1.8em}
.view dl dd.answer span.vimg{ float:left; width:50px; margin-right:12px;}
.view dl dd.answer .intro{ color:#888; font-size:12px; padding-bottom:5px; height:24px; line-height:24px}
.view dl dd.answer .intro span.cz{ float:right; margin-top:-24px!ie; }
.view dl dd.answer .intro span.cz a{font-size:12px; font-weight:100; margin-left:5px; display:inline-block; color:#fff; background:#369; height:16px; line-height:15px; padding:1px 5px; padding-top:2px!ie;-webkit-border-radius:4px;border-radius:4px;-moz-border-radius:4px;}
.answer_info .answer_right{ overflow:hidden;}
.view dl dd.answer .intro span.cz a.zhichi{ background:#538DCD}
.view dl dd.answer .intro span.cz a.fandui{ color:#538DCD; background:#C5DBE5}
.view dl dd.answer .intro a{ font-weight:bold; color:#08A0FF; font-size:14px}
.view dl dd.answer .last{ clear:both; overflow:hidden; zoom:1; font-size:12px; color:#888; padding-top:5px; padding-left:62px; height:18px; line-height:18px;}
.view dl dd.answer .last strong,.view dl dd.intro strong{ font-family:Verdana, Arial, Helvetica, sans-serif; color:#E18B52; font-size:14px}
.view dl dd.answer .last span.zhichi{ display:inline-block; margin-right:12px; padding-left:20px; color:#01AC00; background:url(../www_images/ask/dui.png) 0 0 no-repeat; color:#448B04;}
.black{ color:black}
.answer_info textarea{ border:1px solid #aaa; border-bottom-color:#ddd; border-right-color:#ddd; font-size:14px!Important; color:#666; padding:10px; width:660px}
.tianjia{ padding:10px 0 10px 62px;}
.tianjia input{ border:0; background:#369; color:#fff; height:34px; width:100px; cursor:pointer}
.ask{ border:1px solid #ddd; margin-top:12px}
.ask .inner{ border:5px solid #f6f6f6; padding:20px 25px}
.ask h1{font-family: "微软雅黑","黑体";text-shadow:#ddd 2px 2px 2px;font-weight:200; font-size:24px; line-height:34px; color:#000; margin-bottom:10px}
.ask dl{}
.ask dl dt{ padding-top:10px; font-weight:bold; color:#999}
.ask dl dd.shuru input,.ask dl dd.shuru textarea{ border:1px solid #aaa; border-bottom-color:#ddd; border-right-color:#ddd; padding:5px}
.ask dl dd.xuanze{ font-size:12px}
.ask dl dd.xuanze label{ margin-right:15px}
.ask dl dd.xuanze input{ vertical-align:-3px; _vertical-align:-1px}
.ask dl dd.yaoqing,.ask dl dd.yaoqing a{ font-size:12px; color:#888}
.ask dl dd.yaoqing{ padding-top:10px}
.ask dl dd.tijiao{ padding:10px 0}
.ask dl dd.tijiao input{ border:0; font-size:14px!important; font-weight:bold; color:#fff; background:#369; width:120px; height:36px; cursor:pointer;-webkit-border-radius:4px;border-radius:4px;-moz-border-radius:4px;}
.box750 .box210{ background:#f6f6f6; width:730px; clear:both; overflow:hidden; zoom:1}
.box750 .box210 .lbox{}
.people{ position:relative; clear:both; overflow:hidden; zoom:1; padding:15px 0 10px 0; height:105px}
.people span.vimg{ float:left; width:115px; padding-top:5px}
.people h2{font-family: "微软雅黑","黑体";text-shadow:#ddd 2px 2px 2px;font-weight:200; font-size:34px; line-height:50px; color:#000; margin-bottom:10px}
.people h2 span{ font-size:12px; font-family:"宋体"; text-shadow:none; line-height:16px; color:#fff; background:#369; padding:4px; padding:4px 4px 2px!ie; margin-left:12px; margin-bottom:5px;-webkit-border-radius:4px;border-radius:4px;-moz-border-radius:4px;}
.people h3{ font-size:12px; font-weight:100; color:#888}
.people h3 span{ margin-right:20px; display:inline-block;-webkit-border-radius:10px;border-radius:10px;-moz-border-radius:10px; background:#78A9DA; padding:0 6px; color:#fff}
.people a.ask{ position:absolute; top:10px; right:0; width:200px; text-align:center; height:60px; line-height:60px;font-family: "微软雅黑","黑体";text-shadow:none;font-weight:200; color:#fff!important; font-size:40px; background:#94BBE2;-webkit-border-radius:10px;border-radius:10px;-moz-border-radius:10px; border:0}
.people a.ask:hover{ background:#7BA6D0; color:#fff; text-decoration:none}
.people a span{ font-family:Arial, Helvetica, sans-serif}
.people .kj{ padding-top:6px; font-size:12px;}
.people .kj a{ color:#7BA6D0; text-decoration:underline}
.answer_content a{ color:#777}

.ask_code{color: #888; margin-top:15px; margin-left:20px;}
.ask_code input
{ border:1px solid #aaa; border-bottom-color:#ddd; border-right-color:#ddd; padding:5px}