@charset "gb2312";
/* CSS Document */
.nav_tv{  padding:15px 0 2px; background:url(../www_images/365/bg_nav.png) #C00 0 0 no-repeat}
.tv_info{ background:none; text-indent:1.5em}
.tv_intro{ padding-bottom:170px; background:url(../www_images/365/sxx.jpg) center bottom no-repeat}
.yinan{ border:1px solid #ddd; margin-bottom:10px}
.yinan h3{ height:50px; line-height:50px; border-bottom:1px solid #ddd; background:#fafafa url(../www_images/365/yinan.png) 0 0 no-repeat; padding-left:200px; font-size:14px; font-weight:100; color:#666}
.yinan h3 span.more{ float:right; margin-top:-50px!ie; font-size:12px; margin-right:12px}
.yinan h3 span.more strong{ color:#f60; margin:0 5px; font-weight:bold}
.yinan h3 span.more a{ text-decoration:underline}
.yinan .ynjd dl{ padding:15px; border-bottom:1px solid #ddd}
.yinan .ynjd dl dt{ border:1px solid #E2CDAE; background:#FFFFEF; padding:5px 10px}
.yinan .ynjd dl span.vimg{ width:60px; float:left}
.yinan .ynjd dl li.title{ color:#369; font-size:12px; line-height:15px; padding-bottom:5px}
.yinan .ynjd dl dd{font-size:12px; color:#555; background:#f8f8f8; padding:5px;  border:1px dotted #ddd;border-top:0;}
.yinan .ynjd dl dt li.cont{ color:#f60}
.ty{ padding-top:28px; background:url(../www_images/365/ty.png) center top no-repeat; margin-top:10px;}
.ty ul{ padding-bottom:15px}
.ty ul li{ float:left; display:inline; margin-left:20px; width:80px; height:80px; border:1px solid #ccc; box-shadow:#999 2px 2px 2px; background:#fff; padding:5px;}
.ty ul li img{-webkit-border-radius:0;border-radius:0;-moz-border-radius:0;}
.zhishidian{ }
.zhishidian dl{ padding:10px}
.zhishidian dl dt h4.snav{ border-bottom:1px solid #369; margin-bottom:5px}
.zhishidian dl dt h4.snav a{ display:inline-block; padding:0 10px; background:#bbb; color:#fff; font-size:12px; font-weight:100}
.zhishidian dl dt h4.snav a.on{ background:#369}
.zhishidian dl dd{ font-size:12px; line-height:15px; padding:5px 0; border-bottom:1px dotted #ddd}
.zhishidian dl dd span.dotgray{ color:#666; font-size:12px; font-family:"ו"}
.zhishidian dl dd p.info{ padding-left:12px; color:#888}
.zhishidian dl dd .tit{ margin:0; padding:0}
.zhishidian dl dd .tit a{ font-weight:bold}
.zhishidian dl dd .tit span.bofang{ float:right; margin-top:3px; margin-top:-12px!ie;}
.zhishidian dl dd .tit span.bofang a{ font-weight:100; display:block; width:15px; height:15px; text-indent:-999em;background:url(/style/renwu/img/ico.png) 0 0 no-repeat; }
.zhishidian dl dd .tit span.bofang a:hover{ background-position:-187px 0}
.allclass{}
.allclass ul{ padding:0 10px;}
.allclass ul li{font-size:12px; padding:4px 0; position:relative; border-bottom:1px dotted #ddd}
.allclass ul li span{ display:none; position:absolute; left:0; top:10px; margin-right:10px;font-size:12px; width:52px; text-align:center; background:#bbb; color:#fff}
.zsd{ padding:10px; box-radius:4px}
.zsd h4{ background:#F0F0F0; font-size:14px; height:28px; line-height:28px; padding:0 10px}
.zsd h4 span.gray{ font-size:12px; font-weight:100; color:#666; margin-left:10px}
.zsd ul{ padding-top:15px}
.zsd ul li{ width:220px; float:left; display:inline!ie; padding-right:5px; height:30px; line-height:30px}
.zsd ul li span.title{ float:left;}
.zsd ul li span.bofang{ float:left; margin-left:12px; margin-top:9px}
.zsd ul li span.bofang a{ font-weight:100; display:block; width:15px; height:15px; text-indent:-999em;background:url(/style/renwu/img/ico.png) 0 0 no-repeat; }
.zsd ul li span.bofang a:hover{ background-position:-187px 0}

ul.mulu{ margin:10px; clear:both; overflow:hidden;}
ul.mulu li{float:left; margin:3px; font-size:12px;}
ul.mulu li a{display:inline-block; padding:3px; background:#FFF; color:#000; border:1px solid #CCC;}
ul.mulu li a:hover{ background:#F60; text-decoration:none; color:#fff; border-color:#F60;}
ul.mulu li span{display:inline-block; padding:3px; background:#EEE; border:1px  solid #C0C0C0; color:#666;}
ul.mulu li span,ul.mulu li a{ width:100px; text-align:center;}

.messagebox .messagebox_f,.messagebox .messagebox_f *{ font-size:12px!Important}

.audio_365{ line-height:2em; padding:5px 10px;}

.ynjd .messagelist{ border:10px solid #fff}
.yinan .ynjd dl,.yinan .ynjd dl dt,.yinan .ynjd dl dd,.ty ul,.zsd ul{ clear:both; overflow:hidden; zoom:1}
.ynjd .messagebox{height:200px;padding-left:10px;}

.tv_wenda{ width:40px; height:228px; background:url(../www_images/365/bg_wenda.png) -20px 0 no-repeat; position:absolute; right:-10px; top:5px;}
.tv_wenda a{ width:20px; height:110px; display:block; overflow:hidden; text-indent:-999em;}
a#tv_wenda_down:hover{ background:url(../www_images/365/bg_wenda.png) 0 0 no-repeat;}
a#tv_wenda_up:hover{ background:url(../www_images/365/bg_wenda.png) 0 -118px no-repeat;}

.mulubox{ position:relative; height:1000px; overflow:hidden;}
#nav_up,#nav_down, .mulubox .mulu{ position:absolute;}
#nav_up,#nav_down{ width:100%; height:42px; text-align:center; display:block; overflow:hidden; cursor:pointer; z-index:1000}
.mulubox .mulu{top:0; z-index:10;  }
.mulubox #nav_up{top:0; display:none;}
#nav_down{ bottom:0;}