@charset "gb2312";
html{-webkit-text-size-adjust:none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
body{color:#999; line-height:1.5em; background:#fff; font-size:12px; font-family:Arial, Helvetica, sans-serif}
body a,body a:link{text-decoration:none;}
ul li,dl li{list-style:none}
fieldset,img,abbr,acronym{ border:none}
img{-ms-interpolation-mode:bicubic}
input,select,textarea{ font-size:12px!important}
.fl{ float:left}
.fr{ float:right}
/* end reset */
.clear,.header .inner,.main,#picshow,#picshow .info .infoview{ clear:both; overflow:hidden; zoom:1}
.yuanjiao,.main h2{-webkit-border-radius:4px;border-radius:4px;-moz-border-radius:4px;}
.header{ border-bottom:1px solid #444; background:#232323; width:100%}
.header .inner{ height:46px; line-height:46px; font-size:14px;}
.header .inner h1.logo{ float:left; width:180px; margin-right:10px}
.header .inner h1.logo a{ display:block; width:100%; height:46px; text-indent:-999em; background:url(../www_images/gobal/logopic.png) 0 0 no-repeat}
.header .inner .weizhi{ float:left; height:46px; overflow:hidden;}
.header .inner .wel{ float:right; height:46px; overflow:hidden; font-size:12px; margin-right:12px}
.header .inner .wel a{ margin:0 5px}
.header .inner .wel a:hover{ color:yellow}
.weizhi a:hover{ text-decoration:underline; color:#f60}
.header a{ text-decoration:underline; color:#eee}
.header a:visited{ color:#f1f1f1}
.main{width:960px; margin:0px auto; padding:10px 0}
.copyright{width:960px; margin:0px auto;}
.titbox{}
.titbox h1{font-family: "微软雅黑","黑体";text-shadow: #CCC 0 1px 2px;font-weight:200;font-size: 34px;line-height:38px; padding-bottom:10px;color: #333;}
.titbox h1 span a{ font-size:14px; font-family:"宋体"; text-shadow:none; color:#369; text-decoration:underline;}
.yinan{margin-bottom:10px}
.yinan h3{ height:50px; line-height:50px; border-bottom:1px solid #ddd; background:#fafafa url(../www_images/365/yinan.png) 0 0 no-repeat; padding-left:200px; font-size:14px; font-weight:100; color:#666}
.yinan h3 span.more{ float:right; margin-top:-50px!ie; font-size:12px; margin-right:12px}
.yinan h3 span.more strong{ color:#f60; margin:0 5px; font-weight:bold}
.yinan h3 span.more a{ text-decoration:underline}
.yinan .ynjd{}
.yinan .ynjd dl{ padding:10px 0;}
.yinan .ynjd dl dt{ background:#f1f1f1; padding:5px 10px;}
.yinan .ynjd dl span.vimg{ width:60px; float:left}
.yinan .ynjd dl .title{ color:#369; font-size:12px; line-height:15px; padding-bottom:5px;}
.yinan .ynjd dl dd{font-size:12px; color:#555;   padding:5px 10px; background:#E4EDF6;  border-top:0; clear:both; overflow:hidden; zoom:1}
.yinan .ynjd dl dt .cont{ color:#000; font-size:14px;}
.yinan .ynjd dl dd span.touxian{ color:#f60}
.yinan .ynjd dl dd span.touxian a{ color:#f60; display:inline-block; padding-left:18px; background:url(../www_images/365/tv.png) 0 0 no-repeat}
.yinan .ynjd dl dd span.touxian a strong{ color:#d80000}
.yinan .ynjd dl dd.vhf{ text-align:right; background:#f1f1f1; padding-right:10px; border-bottom:1px solid #97BADE}
.yinan .ynjd dl dd.vhf a{ color:blue; text-decoration:underline}
.ty{ padding-top:28px; background:url(../www_images/365/ty.png) center 12px no-repeat; border:1px solid #ddd; margin-bottom:10px; border-radius:6px}
.ty ul{ padding:15px 0}
.ty ul li{ float:left; display:inline; margin-left:13px; width:80px; height:80px; overflow:hidden; border:1px solid #ccc; box-shadow:#999 2px 2px 2px; background:#fff; padding:5px; position:relative}
.ty ul li,.ty ul li img{border-radius:4px}
.ty ul li a span{ position:absolute; left:5px; bottom:5px; background:#000; width:80px;opacity:0.6;filter:alpha(opacity=60); text-align:center; height:22px; line-height:22px; color:#fff}
.ty ul li img{-webkit-border-radius:0;border-radius:0;-moz-border-radius:0;}
.yinan .ynjd dl,.yinan .ynjd dl dt,.yinan .ynjd dl dd,.ty ul,.zsd ul{ clear:both; overflow:hidden; zoom:1}
.box650{ width:650px}
.box300{ width:300px}
#pagelist{ padding-bottom:10px; font-size:12px}
#pagelist a{-webkit-transition:all 0.5s;transition:all 0.5s; display:inline-block; text-decoration:none; background:#AFBAC5; color:#fff;-webkit-border-radius:4px;border-radius:4px;-moz-border-radius:4px; padding:0 8px; margin-right:4px; line-height:20px; height:20px; font-family:Arial, Helvetica, sans-serif; *font-family:"宋体"}
#pagelist a:hover{-webkit-transition:all 0.5s;transition:all 0.5s;background:#369; color:#fff}
#pagelist a.on{background:#f60; color:#fff}
.messagelivebox{ border:1px solid #ddd; padding-bottom:10px}
.messagelivebox dl{ padding:10px 12px 0 12px}
.messagelivebox dl input,.messagelivebox dl textarea{ border:1px solid #ddd; padding:3px; color:#555}
.messagelivebox dl dt,.messagelivebox dl dd{ padding:3px 0;}
.messagelivebox dl dt a{ text-decoration:underline; color:#369}
.messagelivebox dl dd#l1{ padding-bottom:7px; border-bottom:1px dotted #ddd; margin-bottom:5px; font-size:12px}
.messagelivebox dl dd input.tjpl,.messagelivebox dl dd input.denglu{ width:84px; height:28px; font-size:14px!important; color:#fff; font-weight:bold; text-align:center;  cursor:pointer; border:0; background:#369; color:#fff;}
.messagelivebox dl dd input.tjpl:hover,.messagelivebox dl dd input.denglu:hover{opacity:0.8;filter:alpha(opacity=80)}
.messagelivebox dl dd input.denglu{ width:44px; height:23px; color:#fff; font-size:12px!Important; font-weight:100!important; background:#369; border:0}
.messagelivebox dl textarea{ background:url(../www_images/gobal/messagebg.png) center center no-repeat; padding:10px; width:580px; font-size:14px!important; color:#333}
.inbox{ border:1px solid #ddd; background:#fff; margin-bottom:10px}
.inbox h3{ height:28px; line-height:28px; overflow:hidden; clear:both; border-bottom:1px solid #ddd; padding:0 10px; background:url(../www_images/gobal/h3bg.png) repeat-x}
.inbox h3 span.title,.inbox h3 span.title a{ color:#D80000; font-size:14px; text-decoration:none;}
.inbox h3 span.more{ font-size:12px; font-weight:100; float:right; margin-top:-28px!ie}
.inbox h3 span.more a{ color:#888}
.inbox h3 span.more a:hover{ color:red}
.inbox h3 span.gray{ color:#666!Important}
.inbox h3.weizhi{ border-bottom:0; font-size:12px; font-weight:100; color:#000; border:0; width:628px;}
.inbox h3.weizhi a{ color:#369}
.huodong{ font-size:14px}
.huodong ul{ clear:both; overflow:hidden; zoom:1; padding:10px 0 10px 40px}
.huodong ul li{ float:left; width:250px; line-height:30px; background:url(../www_images/gobal/huodongbg.png) no-repeat; color:#888; font-family:"宋体"}
.huodong ul li.r4,.huodong ul li.r8{ width:180px;background-position:148px 8px}
.huodong ul li.r3,.huodong ul li.r7{ width:160px}
.huodong ul li.r2,.huodong ul li.r6{ width:250px}
.huodong ul li.r1,.huodong ul li.r5{ width:300px; background-position:210px -25px}
.huodong ul li.r2{background-position:130px -25px}
.huodong ul li.r3{background-position:75px -25px}
.huodong ul li.r6{background-position:130px 8px}
.huodong ul li.r7{background-position:75px 8px}
.flinks{}
.flinks .inner{ text-align:left; padding:10px 0 0}
.flinks .inner img{ display:block; border:1px solid #ddd;}
.flinks .inner a{ display:inline-block; margin-left:30px; font-size:12px; color:#666; text-align:center; padding-bottom:10px}
.flinks .inner a:hover img{ border-color:#CFDCE9}
.flinks .inner a:hover{ color:#369; zoom:1!ie}
.fmenu{ font-size:12px; text-align:center; background:#efefef; height:30px; line-height:30px; border-bottom:1px solid #ddd}
.fmenu span{ color:#888; margin:0 5px}
.fmenu a{ color:#369}
.ffont{ padding:10px 0 20px; text-align:center; color:#666; font-size:12px}

.ynjd .messagelist{ border:0}
.messagelist{}
.messagelist .mtop { color:#369; font-size:12px;}
.messagelist .mtop .fl a{ color:blue; text-decoration:underline;}
.messagelist .mtop .fl a.p_input{ display:inline-block; line-height:28px; background:#369; color:#fff; font-weight:bold; padding:0 10px; margin-right:12px; text-decoration:none;}
.messagelist .mtop .fr{ padding-top:4px;}
.messagebox{ border:1px solid #ddd; padding:5px; margin-bottom:10px}
.messagebox h4{ overflow:hidden; font-family:Verdana, Arial, Helvetica, sans-serif; font-weight:100; color:#666; padding-top:5px; color:#369}
.messagebox h4 span{ float:right; color:#888; margin-top:-20px!Ie; font-size:12px!important}
.messagebox h4 span strong.lou{ display:inline-block; background:#6D8EBB; border-radius:2px; color:#fff; padding:0 2px; font-weight:100; height:18px; line-height:18px; font-size:12px!Important}
.messagebox h4 strong{ font-size:14px; font-weight:bold}
.messagebox .messagebox_content{ padding-top:5px;color:#000; line-height:1.5em; font-size:14px!important; clear:both; overflow:hidden; zoom:1}
.messagebox .messagebox_content .photo img{border-radius:4px}
.messagebox .messagebox_content .photo{ float:left; width:50px; margin-right:12px}
.messagebox .messagebox_content .fr{ float:none!important; overflow:hidden}
.messagebox p.huifu{ text-align:right; clear:both; overflow:hidden; zoom:1;}
.messagebox p.huifu a{ text-decoration:underline}
.messagebox .messagebox_f{ padding:2px 5px 5px; margin:2px auto 5px;}
.messagebox_f h4,.messagebox_f h4 strong,.messagebox_f .messagebox_content{font-size:14px!important; padding-top:0!Important}
.messagebox_f .messagebox_content{ padding-top:0}
.messagebox:hover{ background:#f6f6f6}
.messagebox .messagebox_f{ background:#FEFCEF; border:1px solid #C96; line-height:2em; box-shadow:#CCC 1px 1px 2px;}
.messagebox,.messagebox_f,.messagebox_content,messagebox_content .photo img{border-radius:4px!important}