
.plist{}
.plist ul{ clear:both; overflow:hidden; zoom:1; padding-top:15px}
.plist ul li{ float:left; display:inline!ie; line-height:15px; margin-left:30px; height:200px; width:120px; overflow:hidden;}
.plist ul li span.vimg,.plist ul li span.title{ display:block;}
.plist ul li span.vimg img{ border:5px solid #ddd}
.plist ul li span.title a{ color:#000; font-size:14px; font-weight:bold}
.plist ul li span.info{ font-size:12px; color:#888; line-height:18px}
.plist ul li span.title{ padding-top:6px}
.plist ul li span.vimg a:hover{ zoom:1}
.plist ul li span.vimg a:hover img{ border-color:#f60}
.not{ font-size:12px}
.not ul{ padding:8px 10px 10px; color:#666}
.not ul li{ border-bottom:1px dotted #ddd}
.ctl{ font-size:12px; clear:both; overflow:hidden; zoom:1; margin-bottom:10px}
.ctl a{ display:block; float:left; width:66px; height:36px; line-height:36px; text-align:center; background:#369; color:#fff!important; padding-top:32px}
.ctl a.l1{background:#5C93CB url(../www_images/chart/l1.png) center 5px no-repeat}
.ctl a.l1:hover{ background-color:#369}
.ctl a.l2{ margin:0 1px;background:#8DC218 url(../www_images/chart/l2.png) center 5px no-repeat}
.ctl a.l2:hover{ background-color:#6EA000}
.ctl a.l3{ background:#F18E4D url(../www_images/chart/l3.png) center 5px no-repeat}
.ctl a.l3:hover{ background-color:#f60}
.ctl a:hover{ text-decoration:none}
.weizhix{ font-size:12px; color:#666; padding-bottom:15px}
.box740{ position:relative}
.ctl.por{ position:absolute; right:0; top:0}
.mp3list h1{ height:38px; overflow:hidden; zoom:1}
.mp3list ul li span{ color:#666}
.mp3list.kaoji ul li span.ji{ width:30px;}
.mp3list.kaoji ul li span.title{ width:340px}
.mp3list.kaoji ul li.first span.title{ width:370px}
.mp3list ul li span.zhuanji{ width:180px}
.mp3list ul li span.s_ico a.shiting{ margin-left:24px}
.mp3list ul li span.s_ico a.qupu{ margin-left:12px}
.shiji{ padding-top:10px}
.shiji a{ display:inline-block; height:26px; line-height:26px; padding:0 10px; background:#B2B2B2; margin-right:10px; color:#fff!important}
.shiji a.on,.shiji a.on:hover{ background:#f60}
.shiji a:hover{ background:#999; text-decoration:none}
.tongming{ padding-top:12px; border-bottom:1px solid #ddd; margin-bottom:10px}
.tongming h3{ font-size:14px; color:#000;}
.tongming ul{ padding-top:8px}
.mp3view h1{ border:0!important; margin-bottom:0; padding-bottom:0}
.mp3view h1 span{ border:0!important}
.mp3view h2{ font-size:14px; color:#555; text-align:center; padding:10px 0 10px; font-weight:100}
.mp3view .title{ padding-bottom:5px; border-bottom:1px solid #ddd;}
.mp3view .title #pagelist{ text-align:center}
.mp3view.p0{ background:#fff;padding:0; border:0}
.qupucontent{ text-align:center; padding-top:10px; border-bottom:1px dotted #ddd}
#qupuloading{ background:url(../www_images/photo/loading_250_50.gif); width:250px; height:50px; position:absolute; border:1px solid #6CF; margin-left:320px; margin-top:200px; box-shadow:#CCC 2px 5px 12px;}
.qupulistview{ padding:0 12px 15px 12px; clear:both; overflow:hidden; zoom:1; border-bottom:1px solid #ddd; margin-bottom:10px; position:relative}
.qupulistview ul{ }
.qupulistview ul li{ margin-left:10px}
.qupulistview ul li span.vimg{ position:relative; width:110px; height:130px; zoom:1; overflow:hidden;}
.qupulistview ul li{ height:130px; overflow:hidden;}
.qupulistview ul li span.vimg a span.xulie{ display:block; position:absolute; bottom:5px; left:5px; width:100px; text-align:center; height:26px; line-height:26px; font-size:14px; background:#000;filter:alpha(opacity=50); background:rgba(0,0,0,0.4); color:#fff; text-decoration:none}
.qupulistview ul li span.vimg a:hover{ text-decoration:none;zoom:1}
.qupulistview ul li span.vimg a:hover img{border-color:#369;}
.qupulistview ul li span.vimg a:hover span.xulie{background:#369; filter:alpha(opacity=80);background:rgba(51,102,153,0.8)}
.qupulistview ul li.on span.vimg img,.qupulistview ul li.on span.vimg a:hover img{ border-color:#f60}
.qupulistview ul li.on span.vimg a span.xulie,.qupulistview ul li.on span.vimg a:hover span.xulie{ background:#f60; filter:alpha(opacity=80);background:rgba(255,102,0,0.8)}
.qupulistview a.vleft,.qupulistview a.vright{ display:block; position:absolute; top:10px; width:12px; height:130px; overflow:hidden; text-indent:-999em; background:url(../www_images/chart/jt.png) no-repeat; opacity:0.4;filter:alpha(opacity=40)}
.qupulistview a.vleft{ background-position:0 0; left:0;}
.qupulistview a.vright{ background-position:right top; right:0;}
.qupulistview a:hover{opacity:0.7;filter:alpha(opacity=70)}
#ad200{ width:200px; float:right; height:410px; height:405px!ie; overflow:hidden;}
#ad200 .t1{ height:162px; overflow:hidden;}
#ad200 .t2{ padding-top:6px; border-top:1px dotted #ddd; margin-top:6px}
.qupulistindex{ margin-left:-10px!important; clear:both; overflow:hidden; zoom:1}
.qupulistindex .box260{ width:385px!important; margin-left:10px; display:inline!ie}
#pagelist1{ text-align:center}
#pagelist1 a.on,#pagelist1 a.on:hover{ background:#f60}
#pagelist2{ text-align:center}
#pagelist2 a.on,#pagelist2 a.on:hover{ background:#f60}
a#pic_one{ display:block; width:64px; height:24px; line-height:24px; overflow:hidden; zoom:1; border:1px solid #369; background:#3E78B3; color:#fff; text-decoration:none; font-size:12px; font-weight:100; border-radius:4px; float:right; margin-top:-1.2em!ie}
a#pic_one:hover{ background:#F5731D; border-color:#f60}
.box530 .messagebox .messagebox_content .fr {width: 400px!important;}
.w_index_l {width: 780px; }
.qupu .music_first { border-bottom:none;}
.w_index_l{border-bottom: 1px solid #ddd;}
.qupuheader .zhaiyao b{ margin-right:10px;}
.qupuheader .zhaiyao a{ font-size:12px; margin:0 10px; padding:5px 8px; background:#000; color:#CCC; border-radius:5px;}
.qupuheader .zhaiyao a:hover{ background:#222;}
/*song*/



/* CSS Document */

.box740{ width:780px}
.main210bg{ width:1000px; margin:0px auto; margin-top:-10px; padding-top:10px; clear:both; overflow:hidden; zoom:1; background:url(../www_images/song/leftbg.png) left repeat-y}
.main210bg .box210{ width:190px; padding:10px}
.main210bg .box210 .box{ border-bottom:1px solid #ccc; padding-bottom:10px; margin-bottom:10px; font-size:12px}
.main210bg .box210 .box a{ color:#000}
.main210bg .box210 .box h3{ font-size:14px}
.main210bg .box210 .box h5{ font-size:12px; color:#666; font-weight:100; margin-top:-5px}
.main210bg .box210 .box .inner{ padding:5px 5px 0 10px}
.main210bg .box210 .box .abclist{ padding-left:0}
.main210bg .box210 .box .abclist a{ display:inline-block; border:1px solid #ddd; font-weight:bold; width:21px; text-align:center; margin-bottom:4px; background:#fff}
.main210bg .box210 .box .abclist a:hover{ text-decoration:none; color:#fff; background:#4C82CA; border-color:#3E74BD}
.main210bg .box210 .box .abclist a.on{ color:#fff; background:#f60; border-color:#DA5700}
.shuxing dl dd{ color:#666}
.f14list2{}
.f14list2 ul,.clear{ clear:both; overflow:hidden; zoom:1}
.f14list2 ul li{ font-size:14px; width:49%; float:left; height:26px; line-height:26px}
.f14list2 ul{ padding-bottom:5px}
.f14list ul li a{ font-size:14px; margin-right:10px}
.box210 .f12list{}
.box210 .f12list ul li{ height:24px; line-height:24px;}
.box210 .f12list ul li span.s_ico{ float:right; margin-top:-24px!ie; padding-top:5px}
span.s_ico{}
span.s_ico a{ float:left; vertical-align:top; width:15px; height:15px; overflow:hidden; text-indent:-999em; background:url(../www_images/song/ico1.png) no-repeat}
span.s_ico a.shiting{ background-position:0 -96px}
span.s_ico a.shiting:hover{background-position:0 -116px}
span.s_ico a.xiazai{background-position:0 -6px}
span.s_ico a.xiazai:hover{background-position:0 -26px}
span.s_ico a.shoucang{background-position:0 -141px}
span.s_ico a.shoucang:hover{background-position:0 -161px}
span.s_ico a.qupu{background-position:0 -51px}
span.s_ico a.qupu:hover{background-position:0 -71px}
ul.borb li{ border-bottom:1px dotted #ddd}
.help{ padding-left:0!important}
.help ul{}
.help ul li.fl50{ float:left; padding-left:18px; background:url(../www_images/song/ico1.png) no-repeat}
.help ul li.shiting,.help ul li.xiazai{ width:60px; padding-right:8px}
.help ul li.shiting{ background-position:0px -93px}
.help ul li.qupu{background-position:0px -47px}
.help ul li.xiazai{ background-position:0 -2px}
.help ul li.shoucang{ background-position:0 -138px}
.mtopbox{ height:40px;  margin-bottom:10px; line-height:40px; font-size:14px; border-bottom:1px dotted #ddd}
.mtopbox .mfont{ float:left; width:390px; text-align:center}
.mbutton{ height:30px; float:right; display:inline!Ie; padding-top:2px}
.mbutton a{ display:block; display:inline!ie; float:left; margin-left:15px; width:100px; height:30px; overflow:hidden; zoom:1; text-indent:-999em; background:url(../www_images/song/mbutton.png) no-repeat}
.mbutton a.yinyuehe{ background-position:0 0}
.mbutton a.guanzhu{ background-position:-100px 0}
.mbutton a.shoucang{ background-position:-200px 0}
.mbutton a.yinyuehe:hover{ background-position:0 -30px}
.mbutton a.guanzhu:hover{ background-position:-100px -30px}
.mbutton a.shoucang:hover{ background-position:-200px -30px}
.musicplay{ margin-bottom:10px}
.musicplay .musicplay_box{ float:left; width:508px; border:1px solid #ddd; padding:10px; background:#f5f5f5}
.musicplay .musicplay_box dl{ float:right; width:396px; height:100px; overflow:hidden;}
.musicplay .musicplay_box dl dt{ font-weight:bold}
.musicplay .musicplay_box dl dd.info{ font-size:12px; color:#666; line-height:16px; position:relative; overflow:hidden; zoom:1}
.musicplay .musicplay_box dl dd.play{margin:5px 0; clear:both; overflow:hidden; zoom:1; height:35px!important}
.musicplay .xinqing{ float:right; width:200px; height:122px; overflow:hidden; font-size:12px; background:url(../www_images/song/xinqing.png) 0 0 no-repeat}
.musicplay .xinqing p{ display:none}
.musicplay .xinqing .inner{ padding-top:48px; padding-left:2px}
.musicplay .xinqing .inner a{ display:inline-block; width:50px; text-align:center; background:#fff; margin-left:10px; margin-bottom:8px; color:#fff; opacity:0.7;filter:alpha(opacity=70)}
.musicplay .xinqing .inner a:hover{opacity:0.99;filter:alpha(opacity=99); text-decoration:none}
.musicplay .xinqing .inner a.pingjing{ background:#36a}
.musicplay .xinqing .inner a.kaixin{ background:#f60}
.musicplay .xinqing .inner a.qingkuai{ background:#5ca74b}
.musicplay .xinqing .inner a.youshang{ background:#333}
.musicplay .xinqing .inner a.beifen{ background:#0f4103}
.musicplay .xinqing .inner a.pengpai{ background:blue}
.box530{ width:570px}
.box200{ width:200px}
.box260{ width:260px}
.inbox .innerp10{ padding:10px}
ul.list14{}
ul.list14 li{ font-size:14px; height:30px; line-height:30px; border-bottom:1px dotted #ddd;}
ul.list14 li a{ color:#000}
ul.list14 li span.s_ico{ float:right; margin-top:-30px!ie; padding-top:9px}
ul.list14 li span.s_ico a{ float:left; vertical-align:top; margin-left:6px}
ul.zjlist12 li span a{ float:left; vertical-align:top; width:30px; padding-left:16px; padding-right:10px; line-height:15px; text-indent:0; overflow:hidden;}
ul.list14 li span.f12{ font-size:12px; margin-left:12px}
ul.list14 li span.num{ float:right; margin-top:-28px!Ie; font-size:12px; color:#888}
.inbox h3 span.j{ color:#999; margin:0 0.5em}
.hotz{}
.hotz .tuijian{ width:150px; float:left}
.hotz .tuijian a{ display:block; width:150px; height:150px; overflow:hidden; position:relative; margin-bottom:4px}
.hotz .tuijian a span{ display:block; width:150px; height:24px; font-size:12px; text-align:center; line-height:24px; position:absolute; left:0; bottom:0; background:#000; color:#fff; text-decoration:none; opacity:0.7;filter:alpha(opacity=70);}
.hotz .tuijian a:hover{ text-decoration:none}
.hotz .tuijian p{ font-size:12px; color:#888; line-height:15px}
.hotz ul{ width:340px; float:right}
.hotz ul li{font-size:12px; line-height:18px; color:#666; height:62px}
.hotz ul li span.vimg{ float:left; width:50px}
.hotz ul li span.info{ float:right; width:280px}
.hoty{}
.hoty ul{}
.hoty ul li{vertical-align:top; float:left; margin:0; width:50px; height:50px; overflow:hidden}
.hoty ul li.first{ width:150px; height:150px; margin-right:0px}
.hoty ul li.first a{ position:relative; font-size:12px; display:block; width:100%; height:150px}
.hoty ul li.first a span{display:block; width:100%; height:24px; font-size:12px; text-align:center; line-height:24px; position:absolute; left:0; bottom:0; background:#000; color:#fff; text-decoration:none; opacity:0.7;filter:alpha(opacity=70);}
.hoty a:hover{ text-decoration:none;}
.hoty ul li img{ border:1px solid #fff}
.hotx{}
.hotx ul{}
.hotx ul li{ float:left; width:254px; font-size:12px; line-height:15px; color:#666; padding-bottom:10px}
.hotx ul li span.vimg{ float:left; width:90px}
.innerplr10{ padding:10px; padding-bottom:0}
.m_gz{}
.m_gz ul{ padding:5px 10px}
.m_gz ul li{ font-size:12px; padding-bottom:10px; margin-bottom:5px; border-bottom:1px dotted #ddd}
.m_gz ul li span.vimg{ float:left; margin-right:12px}
.m_gz ul li span.infocon{ background:#eaeaea; display:block; padding:5px 10px}
.m_gz ul li span.jiantou{ display:block; padding-top:5px}
.m_y{ width:178px; margin:0px auto}
.m_y ul{ padding-bottom:10px}
.m_y ul li{ padding-top:10px}
.m_y ul li img{ display:block; margin-bottom:3px}
.m_y ul li p.name{ font-weight:bold; text-align:center; font-size:12px}
.m_y ul li p.info{ font-size:12px; color:#666; line-height:15px}
ul.list14.top10{ padding-left:20px;  background:url(../www_images/song/ico1.png) 0 -198px no-repeat}
.mp3list{}
.mp3list h1,.mp3view h1{ border-bottom:4px solid #ddd; line-height:38px; padding-bottom:10px}
.mp3list h1 span.title,.mp3view h1 span.title{font-family: "Î¢ÈíÑÅºÚ","ºÚÌå";text-shadow: #CCC 0 1px 2px;font-weight:200;font-size: 34px;line-height: 38px;color: #333;}
.mp3list h1 span.more,.mp3view h1 span.more{ font-size:12px; font-family:"ËÎÌå"; color:#666; font-weight:100; float:right; margin-top:-38px!ie}
.mp3list ul{ padding-bottom:15px;}
.mp3list #pagelist{ text-align:center}
.mp3list ul li{ font-size:12px; height:38px; line-height:38px;border-bottom:1px dotted #ddd;}
.mp3list ul li:hover{ background:#f6f6f6}
.mp3list ul li a{ text-decoration:underline}
.mp3list ul li span{ display:inline-block; vertical-align:top}
.mp3list ul li span.title{ width:370px; font-size:14px; text-indent:10px}
.mp3list ul li span.title a{ color:#000; text-decoration:none}
.mp3list ul li span.title a:hover{ color:red}
.mp3list ul li span.yanzou{ width:72px; height:100%; overflow:hidden; text-align:center}
.mp3list ul li span.zhuanji{ width:14em; text-align:center}
.mp3list ul li span.s_ico{ padding-top:11px}
.mp3list ul li span.s_ico a{ margin-right:15px; margin-top:2px}
.mp3list ul li.first span{ color:#666;}
.mp3list ul li.first span.s{ font-family:"ËÎÌå"; margin-left:-4px}
.mp3list ul li.first{ background:#f1f1f1}
.mp3weizhi{ font-size:12px; padding-bottom:10px}
.mp3view{-webkit-border-radius:12px;border-radius:12px;-moz-border-radius:12px; background:#f6f6f6; padding:20px 30px; border:1px dotted #ddd; margin-bottom:10px}
.mp3view h1{ text-align:center}
.mp3view .mp3view_box{ padding-top:15px}
.mp3view .mp3view_box .mp3view_box_img{ float:left; width:170px;}
.mp3view .mp3view_box .mp3view_box_img img{ padding:9px; border:1px solid #ddd; background:#fff}
.mp3view .mp3view_box dl{ float:right; width:490px}
.mp3view .mp3view_box dl dd.play{ padding:10px 0 10px 10px; margin:2px 0 10px 0; background:#fff;  overflow:hidden; position:relative}
/*border:1px dotted #85ABD1;height:30px; */

.mp3view .mp3view_box dl dd.play a.huan{ display:block; position:absolute; right:0; top:0; height:30px; line-height:30px; background:#85ABD1; color:#fff; font-size:14px; font-weight:bold; width:90px; text-align:center;}
.mp3view .mp3view_box dl dd.f12,.mp3view .mp3view_box dl dt.title span{ font-size:12px; color:#666}
.mp3view .mp3view_box dl dt.title{font-family: "Î¢ÈíÑÅºÚ","ºÚÌå";text-shadow: #CCC 0 1px 2px;font-weight:bold;font-size:24px;line-height:28px;color: #333}
.mp3view .mp3view_box dl dt.title span{ font-family:"ËÎÌå"; margin-left:12px; text-shadow:none; font-weight:100}
.mp3view .mp3view_box dl dd.guanzhu{ font-size:12px; padding-top:10px}
.downico{ clear:both; overflow:hidden; zoom:1}
.downico a{ display:block; float:left; width:100px; height:34px; overflow:hidden; background:url(../www_images/song/downico.png) no-repeat; margin-right:6px; text-indent:-999em; opacity:0.6;filter:alpha(opacity=60)}
.downico a.xiazai{ background-position:0 0}
.downico a.xiazai:hover{ background-position:0 -34px}
.downico a.shoucang{ background-position:-100px 0}
.downico a.shoucang:hover{ background-position:-100px -34px}
.downico a.qupu{ background-position:-200px 0}
.downico a.qupu:hover{ background-position:-200px -34px}
.downico a.yinyuehe{ background-position:-300px 0}
.downico a.yinyuehe:hover{background-position:-300px -34px}
.downico a:hover{}
/*opacity:0.9;filter:alpha(opacity=90)*/

.mp3info{}
.mp3info h3{  font-weight:100; color:#555;}
.music_comment h3,.mp3info h3,.islogin h3{ padding-left:0px;font-family:"ËÎÌå"; border-left:none; font-size:14px!important; font-weight:bold; margin:10px 0;}
.mp3info .mp3info_content{ padding:10px; clear:both; overflow:hidden; zoom:1; font-size:14px; color:#333; line-height:2em; background:#F2F2F2;}
.mp3info .shuxing{ margin-top:10px; font-size:12px; color:#000; border-bottom:1px solid #ddd; border-top:1px solid #ddd; padding:10px 0 10px 2em; margin-bottom:10px}
.mp3zhuanji{ padding-top:12px}
.mp3zhuanji h3{ font-weight:100; color:#000; font-size:14px}
.mp3zhuanji h3 a{ font-weight:bold}
.mp3zhuanji .info{ width:360px; float:left; padding-bottom:15px}
.mp3zhuanji .info dl{ font-size:12px; color:#666; padding-left:70px}
.mp3zhuanji .info dl dt{}
.mp3zhuanji .info dl dd{}
.mp3zhuanji .info ul{ font-size:12px; background:#f6f6f6; padding:10px 15px}
.mp3zhuanji .info ul li{ height:24px; line-height:24px; border-bottom:1px dotted #ddd}
.mp3zhuanji .info ul li span.s_ico{ float:right; margin-top:-24px!ie; padding-top:5px}
.mp3zhuanji .info ul li span.s_ico a{ margin-left:5px}
.mp3zhuanji .fengmian{ float:right; width:150px}
.mp3zhuanji .fengmian a{ display:block; margin:0px auto; height:26px; line-height:26px; color:#fff; background:#369; font-size:12px; text-align:center; margin-top:2px}
.mp3zhuanji .fengmian a:hover{ text-decoration:none; background:#f60}
.box530 .messagebox .messagebox_content .fr{ width:440px}
.box530 .messagelivebox dl textarea{ width:460px}
.box530 .messagelist .mtop .fl{ font-size:12px}
.box365{ width:365px}
.paihangbang{ padding-top:12px}
.paihangbang ul.top10{ padding:10px;background:url(../www_images/song/ico1.png) 10px -189px no-repeat; padding-bottom:0; margin-bottom:10px}
.paihangbang ul.top10 li{ height:30px; line-height:30px; border-bottom:1px dotted #ddd; padding-left:20px; overflow:hidden;}
.paihangbang ul.top10 li span.gray{ font-size:12px; margin-left:10px}
.paihangbang ul.top10 li span.cishu{ font-size:12px; color:#888; float:right; margin-top:-30px!ie;}
.paihangbang ul.top10 li span.title{ display:inline-block; width:168px;}
.paihangbang ul.top10 li span.yanzou{  display:inline-block;width:60px; text-align:center; font-size:12px}
.paihangbang ul.top10 li span.s_ico{ float:right; margin-top:-30px!ie; padding-top:8px}
.paihangbang ul.top10 li span.s_ico a{ margin-left:5px}
.paihangbang ul.zhuanji{ padding-top:10px}
.paihangbang ul.zhuanji li{ float:left; width:170px; font-size:12px; padding-left:10px; padding-bottom:10px}
.paihangbang ul.zhuanji.list_3 li{ width:165px}
.paihangbang ul.zhuanji.list_3{ padding-bottom:10px}
.paihangbang ul.zhuanji li span.vimg{ float:left; width:50px; position:relative}
.paihangbang ul.zhuanji li span.title{ width:110px; float:right}
.paihangbang ul.zhuanji li a{ color:#000}
.paihangbang ul.zhuanji li p.gray{ color:#888}
.pt0{ padding-top:0px}
.xq{ padding-left:280px; height:68px; overflow:hidden; background:url(../www_images/song/xq.png) 0 0 no-repeat}
.xq a{ text-align:center; display:inline!Ie; float:left; width:50px; font-size:12px; color:#666; line-height:13px; border:1px dotted #ddd; padding:2px 7px; margin-right:10px; position:relative; border-bottom:0; height:64px; overflow:hidden;}
.xq a img{}
.xq a:hover{ text-decoration:none; border-color:#6B91B8; color:#36a; border-bottom:0}
.xq a.on{ border:1px solid #FF8B3D; color:#f60}
.zhuanjilist{}
.zhuanjilist #pagelist{ text-align:center}
.zhuanjilist ul{ padding-top:20px}
.zhuanjilist ul li{ float:left; width:355px; padding-right:5px; margin-left:10px; height:145px; display:inline!Ie}
.zhuanjilist ul li span.vimg{ float:left; width:110px;}
.zhuanjilist ul li span.vimg a{ border:1px solid #ddd; display:block; width:100px; height:100px; padding:4px; box-shadow:#ccc 2px 2px 2px}
.zhuanjilist ul li span.title{ float:right; width:235px;}
.zhuanjilist ul li span.title a{ color:black; font-size:14px; font-weight:bold}
.zhuanjilist ul li span.title p{ font-size:12px; color:#369}
.zhuanjilist ul li span.title p.info{line-height:16px; color:#888}
.zhuanjilist ul li.first{ height:auto!important; width:730px; margin:0; padding:0; padding-left:10px; padding-bottom:20px}
.zhuanjilist ul li.first span.vimg{ width:160px; height:160px;}
.zhuanjilist ul li.first span.vimg a{ width:150px; height:150px;}
.zhuanjilist ul li.first dl{ float:right; width:540px; margin-right:10px}
.zhuanjilist ul li.first dl dt a{font-family: "Î¢ÈíÑÅºÚ","ºÚÌå";text-shadow: #CCC 0 1px 2px;font-weight:200;font-size:24px;line-height:28px;color: #333; }
.zhuanjilist ul li.first dl dt{text-align:left;padding-bottom:10px; margin-bottom:10px; border-bottom:1px dotted #ddd; }
.zhuanjilist ul li.first dl dd.link{ font-size:12px; padding-top:5px}
.zhuanjilist ul li.first dl dd.link a{ margin-right:12px}
.zhuanjilist ul li.first dl dd.info{ color:#555}
.zhuanjiview{}
.zhuanjiview .fl{ width:160px;padding:10px; background:#eee; text-align:center}
.zhuanjiview .fl img{ border:5px solid #fff; margin-bottom:5px}
.zhuanjiview dl{ float:right; width:335px; font-size:12px}
.zhuanjiview dl dt{font-family: "Î¢ÈíÑÅºÚ","ºÚÌå";text-shadow: #CCC 0 1px 2px;font-weight:200;font-size:20px;line-height:24px;color: #333; padding-bottom:5px; margin-bottom:5px; border-bottom:1px dotted #ddd}
.zhuanjiview dl dt span.son,.zhuanjiview dl dt span.more{ font-family:"ËÎÌå"}
.zhuanjiview dl dt span.more a{ display:inline-block; padding:1px 2px; _padding-top:2px; background:#369; height:16px; line-height:16px; color:#fff; text-decoration:none; text-shadow:none; font-size:12px; }
.zhuanjiview dl dt span.more{float:right; margin-top:-30px!ie; padding-top:5px}
.zhuanjiview dl dd{ color:#666}
.zjtitle{ border:1px solid #eee; background:#FAFAFA; color:#4D4D4D; font-size:12px; font-weight:bold; line-height:16px; height:16px; padding:5px}
.sm{ background:#ddd; text-align:center; line-height:30px; height:30px; color:#2d2d2d; font-weight:bold; font-size:12px}
.fx{ font-size:12px; text-align:center; margin:10px 0;}
.yzlist{}
.yzlist ul{}
.yzlist ul li{ clear:both; overflow:hidden; zoom:1; height:auto;position:relative; padding:10px 10px 10px 50px;}
.yzlist ul li span.xulie{ float:left; margin-right:20px; font-size:30px; line-height:60px; color:red; position:absolute; left:10px; top:0}
.yzlist ul li a{ margin-right:1em; display:inline-block; height:22px; line-height:22px; margin-bottom:5px; padding:0 4px}
.yzlist ul li a:hover{ background:#36a; text-decoration:none; color:#fff}
.yzlist ul li a:visited{ color:#888}
.yzlist ul li a.dead{ border:1px solid #666; color:#666; text-decoration:none}
.yzlist ul li a.dead:hover{ background:#999; color:#fff}
.view{ clear:both; overflow:hidden; zoom:1; padding-top:15px; border-bottom:1px dotted #ddd; margin-bottom:10px; padding-bottom:15px}
.view .photo{ width:250px; float:left; overflow:hidden; background:#eee; margin-right:15px}
.view .photo ul{ padding:10px; font-size:12px; text-align:center}
.view .info{ overflow:hidden; zoom:1}
.view .info h1{font-family: "Î¢ÈíÑÅºÚ","ºÚÌå";text-shadow:#ddd 2px 2px 2px;font-weight:200; font-size:30px; line-height:34px;}
.view .info h1 span.fr{ margin-top:-34px!ie; font-family:"ËÎÌå"; font-size:12px; color:#666;text-shadow:none}
.view .info ul.touxian{ padding:10px; margin-bottom:10px; background:#E4EDF7}
.view .info .cont{ font-size:12px; color:#666}
.view .info ul.touxian li,.view .photo ul li{ padding:0!important; height:24px!Important; line-height:24px!Important; border:0}
.view .info ul.touxian li:hover,.view .photo ul li:hover{ background:none!important}
.clear,.hotz,.hoty ul,.hotx ul,.m_gz ul li,.m_gz ul li span.jiantou,.mp3view .mp3view_box,.downico,.mp3zhuanji h3,.mp3zhuanji,.paihangbang ul,.xq,.zhuanjilist ul,.zhuanjiview,.zhuanjilist ul li.first{ clear:both; overflow:hidden; zoom:1}
.musicplay_box,.musicplay_box .fl img,.musicplay .musicplay_box dl dd.play,.musicplay .xinqing .inner a,.m_gz ul li span.infocon,.mp3view .mp3view_box dl dd.play,.mp3view .mp3view_box dl dd.play img,.zhuanjilist ul li span.vimg a{-webkit-border-radius:4px;border-radius:4px;-moz-border-radius:4px;}
.hotz img,.hoty img{-webkit-border-radius:0;border-radius:0;-moz-border-radius:0;}
#zhuanti{ }
#zhuanti dl{ clear:both; overflow:hidden; zoom:1;padding:10px;}
#zhuanti dl dt{ float:left; width:100px;}
#zhuanti dl dd{ float:right; width:400px}
#zhuanti dl dd span.info_simple{ display:none}
#zhuanti dl dd span.info_full{ display:block; color:#888}
#ad200{ height:398px; overflow:hidden}
#zhuanjiad200 #ad200{ height:auto!important}
.paihangbang .zjph ul.zhuanji li{ padding-bottom:8px}
.paihangbang .zjph ul.zhuanji li p.gray{ line-height:14px!Important}
.zjlist12{ margin-bottom:10px}
.zjlist12 li{ padding-left:12px; font-size:12px!important}
.zjlist12 li a{ color:#369!important}
#qupupageright{ width:20px; position:fixed; _position:absolute; top:300px; left:50%; margin-left:490px}
#qupupageright a,#qupupageright span{ display:block; width:24px; text-align:center; font-size:11px;border-radius:4px; height:20px; line-height:20px; overflow:hidden; margin-bottom:5px}
#qupupageright a{ background:#C7D9EB; color:#666; text-decoration:none}
#qupupageright a:hover{ background:#369; color:#fff; text-decoration:none}
#qupupageright span,#qupupageright a.on{ background:#f60; color:#fff}
#qupupageright span{ font-size:12px; background:#369; color:#fff; text-align:center; height:auto!important; text-align:center; line-height:14px; font-family:"ËÎÌå"; padding:5px 0}
.mfont {}
.mfont a{ padding:0 10px; color:#06C; text-decoration:underline; font-size:12px;}
#fx_small{ padding:10px 0; box-shadow:none!important; -moz-box-shadow:none!important; overflow:hidden; background:none; color:#666; border:none; }
#fx_small .fx_sns{ font-size:12px; line-height:16px;padding:9px 0;}
#fx_small .fx_sns span{ padding-left:2px; }
#fx_small .fx_sns a{ padding:0!ie; margin:0 2px -2px 2px }
.qupuheader{ background:#333; color:#FFF; text-align:center;  position:relative;}
.qupuheader h1{ text-align:center; font-size:30px; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå"; font-weight:400; margin-top:20px; }
.qupuheader h1, .qupuheader .zhaiyao{ line-height:2em;}
.qupuheader .zhaiyao{ padding-bottom:10px;}
.qupuheader #fx_small{ background:#222; color:#CCC; padding:10px 20px;}
.qupuheader #fx_small a{ color:#FFF; }
.qupuheader ul{ position:absolute; top:50px; right:10px; clear:both; width:180px; }
.qupuheader ul li{ padding:0 10px; float:left; font-size:12px; background:#999; width:50px; line-height:2.5em; margin:10px;}
.qupuinner{ background:#CCC; padding:0 0 10px}
.qupuinner ul{ padding:0 0 10px; margin:0 auto;}
.qupuinner ul li{  position:relative; margin:10px 0 0;}
.qupuinner ul, .qupuinner ul li, .qupuinner ul li img{  width:800px; text-align:center; }
.qupuinner ul li img, .qupuinner .page .inner p a{ box-shadow:#999 0 0 10px;}
.qupuinner ul li em{ position:absolute; right:0; top:0; width:40px; line-height:40px; font-size:14px; background:#65b545; color:#FFF;}
.qupuinner .page .inner{ width:800px; height:60px; margin:0 auto; position:relative;}
.qupuinner .page .inner p{  text-align:center; padding:10px 0;}
.qupuinner .page .inner p a{ width:40px; line-height:40px; display:block; background:#666; color:#FFF; margin:5px; float:left;}
.footer{ margin-top:0;}
.content{ width:760px; margin:0 auto;background:#DDD; padding: 20px; color:#666;}



@media screen and (max-width: 1000px) {	

	/* musicview*/

	.music_nav, .music_main, .w_content, .music_so, .mList, .mobiplay,.box740,.w_index_l,.zhuanji_inner ul li .inner{ width:auto!important;}
.music_nav, .music_nav div, .music_so .inner{ height:auto!important;}
.m_nav_l{ clear:both!important; overflow:hidden!important;}
.m_nav_l, .music_view, .m_so_form , .site, .music_title h1, .box740,.w_index_l,.w_content{ float:none!important;}
.m_nav_r, .music_nav blockquote, .w_sider, .w_banner, .music_so .inner .yyhe , .music_so .inner .m_so .more, .fenxiang, #hibannerall,.music_list .qu_inner .mType,.music_list .qu_inner .people{ display:none!important;}
.music_nav{ background:#C00!important}
.music_main{ background:#FFF!important; }
.m_nav_l{}
.m_nav_l li{ padding:0!important; }
.m_nav_l li p{ height:0!important; overflow:hidden!important;}
.m_nav_l li a{ border-bottom:1px solid #990000!important;}
.music_so .inner{ background:none; padding:10px!important; border:none!important; clear:both!important; padding-bottom:15px!important; }
.music_main { background:#eee;}
.site, .music_view_title, .music_view_inner, .viewmore, .mobiplay, .music_comment,.mp3weizhi,.mp3view{ padding:10px!important; margin:5px!important; background:#FFF!important; border:1px solid #ddd!important;}
.site{ margin-top:10px!important;}
.music_view_inner p{ background:none!important;}
.music_view_inner ul{ padding-bottom:20px!important;}
.qupucontent img{ width:100%;}
.pagelist {font-size: 26px;}
.pagelist a, .pagelist span {padding: 0 14px; margin-top: 10px; line-height: 1.5em; height:auto;}
}
@media screen and (max-width: 750px) {	
	/* musicindex*/
.w_index_l, .qupuinner, .qupuinner .content{ width:auto!important;}
.qupuinner ul, .qupuinner ul li, .qupuinner ul li img, .qupuinner .page .inner{ width:100%!important;}.m_zhuti_inner{ float:none!important;}
.music_view_panel, .m_first_mingqu{display:none!important;}
/* musicview*/

.mobiplay{ display:block!important;}
.mobiplay audio{ width:80%!important; margin:10px 0!important;}
.music_first .w_indxe_l3{ width:45%;}
}
.zhuanji_inner { margin:0 10px;}
@media screen and (max-width: 520px) {	

	/* musicindex*/

	.music_main { background:#EEE!important;}
.music_first .w_indxe_l3, .m_zhuti_inner .title, .m_zhuti_inner ul li{ float:none!important;}
.music_first .w_indxe_l3, .m_zhuti_inner,.m_zhuti_inner .title, .m_zhuti_inner ul, .m_zhuti_inner ul li { width:auto!important;}
.m_zhuti_inner .avatar, .m_zhuti_inner .title h4 a.blueplay, .music_index_yyh{display:none!important;}
.m_zhuti_inner ul li { background:none;}
.w_indxe_l3, .music_index_h3, .music_index_zhuanji  { padding:10px!important; margin:5px!important; background:#FFF!important; border:1px solid #ddd!important;}
}