@charset "gb2312";

/* CSS Document   ../www_images/gobal/*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
body{color:#000; line-height:1.5em; background:#fff; font-size:14px; font-family:Arial, Helvetica, sans-serif}
body a,body a:link{text-decoration:none;}
body a:link{ color:#369}
body a:hover{ color:#369; text-decoration:underline}
ul li,dl li{list-style:none}
fieldset,img,abbr,acronym{ border:none}
img{-ms-interpolation-mode:bicubic}
input,select,textarea{ font-size:12px!important}
/* end reset */

.inbox{ border:1px solid #ddd}
.innerbox{ padding:10px;}
.fl{ float:left!important}
.fr{ float:right!important}
.fn{ float:none!important}
.pb10{ padding-bottom:10px}
.clearleft{ clear:left}
.clearright{ clear:right}
.over{ overflow:hidden;}
.block{ display:block}
.none{ display:none}
.red{ color:red}
.gray{ color:#666}
.blue{ color:blue!important}
.green{ color:green}
.yellow{ color:yellow}
.blank{ color:#000}
.pt10{ padding-top:10px;}
.pt0{ padding-top:0!Important}
.mb10{ margin-bottom:10px!important}
.mb0{ margin-bottom:0!Important}
.ml10{ margin-left:10px}
.f14{ font-size:14px!Important}
.f16{ font-size:16px!Important}
.bgnone{ background:none!Important}
.boxgreen,.boxyellow,.boxred,.boxblue{ padding:5px 10px}
.boxgreen{ background:#F2FFEE; border:1px solid #CAF2BE}
.boxyellow,.messagebox .messagebox_f{ background:#FEFCEF; border:1px solid #E6DDC3}
.boxred{ background:#FDF6F6; border:1px solid #E6C9C9}
.boxblue{ background:#E7EFF9; border:1px solid #C9DDE6}
.boxgray{ background:#F5F5F5; border:1px solid #ddd}
.pb15{ padding-bottom:15px}
.yuanjiao,.picul a.next,.picul a.pre,.messagelivebox dl dd input.denglu,.messagelivebox dl dd input.tjpl,.weizhi,.toupiao .tijiao input,.reginfo dl dd.tijiao input{-webkit-border-radius:4px;border-radius:4px;-moz-border-radius:4px;}
.noyuanjiao{-webkit-border-radius:0;border-radius:0;-moz-border-radius:0}
.shangbanyuan,.inbox h3{-webkit-border-top-left-radius:4px;border-top-right-radius:4px;-webkit-border-top-left-radius:4px;border-top-right-radius:4px;-moz-border-radius-topleft:4px;-moz-border-radius-topright:4px;}
body a,body a:link,a:hover,div,p,img,ul,li,span,strong,em,table,div:hover,p:hover,img:hover,ul:hover,li:hover,span:hover,strong:hover,em:hover,table:hover,dl *,dl:hover *{-webkit-transition:color 0.3s;transition:color 0.3s;}
.clear,.header .inner,.xz,.main,.copyright,.flinks .inner{ clear:both; overflow:hidden; zoom:1}
.topbar .inner{ clear:both; zoom:1}
.topbar .inner,.header .inner,.main,.copyright{ width:960px; margin:0px auto}
/* j */

.topbar{ line-height:40px; height:40px; background:url(../www_images/usercenter/top_bg.png) #f8f8f8 left bottom repeat-x; border-bottom:1px solid #E6E6E6; width:100%; position:absolute; left:0; top:0; z-index:999}
.topbar .inner p{ color:#999; font-size:12px}
.topbar .inner p span.j{ margin:0 0.5em}
.topbar .inner p.fl a{ color:#BB2318}
.topbar .inner p.fr a{ color:#666}
.topbar .inner p.fr strong{ color:#f60; font-family:Verdana, Arial, Helvetica, sans-serif; font-weight:100}
.topbar .inner p.fr .backhome{ padding-left:13px; margin-left:15px; background:url(../www_images/gobal/home_ico.png) 0 1px no-repeat;}
.topbar .inner{ position:relative}
.header{ height:170px; background:url(../www_images/city/bg2.jpg) 0 10px no-repeat}
.header .inner{ position:relative; height:170px;}
.header .biaoti{ padding-top:48px;}
.header .biaoti h1 a{ display:inline-block; font-family: "微软雅黑","黑体";text-shadow:#02569A 2px 2px 2px;font-weight:200; font-size:56px;line-height:64px; margin-top:-8px; line-height:60px!ie; margin-top:0!ie; color:#fff; overflow:hidden;}
.header .biaoti h1{float:left;padding-right:20px; border-right:1px dotted #B4D4EE; margin-right:20px; overflow:hidden;}
.header .biaoti h1 a:hover{ text-decoration:none}
.header .biaoti h2{ font-size:14px; font-weight:100; font-family:"宋体"; padding-bottom:10px}
.header .biaoti h2 strong{font-family: "微软雅黑","黑体";font-weight:200; font-size:28px; height:30px; line-height:30px; margin-right:10px; vertical-align:-5px}
.header .biaoti a.qiehuan{ display:inline-block; font-size:12px; height:16px; line-height:16px; padding:0 15px 0 5px; overflow:hidden; padding-top:2px!Ie; background:#fff url(../www_images/city/dotj.png) 55px 6px no-repeat; border:1px solid #2B90D6; color:#369}
.header .biaoti a.qiehuan:hover{ text-decoration:none; background-color:#0A4178; color:#fff}
.header .xz{ font-size:12px; color:#fff; padding-top:5px; text-indent:3px; color:#ddd}
.header .xz a{ color:#fff; text-decoration:underline; margin:0 3px; font-weight:bold}
.navbg{ position:absolute; background:#10468C; width:958px; border:1px solid #002C64; border-bottom:0; bottom:0; height:36px; opacity:0.4; z-index:9;filter:alpha(opacity=40)}
.nav{ font-size:12px; color:#fff; z-index:10; position:absolute; padding:0 15px 6px 15px; top:140px; width:930px; height:28px; clear:both; overflow:hidden; font-family:"宋体"}
.nav input{ padding:3px; font-size:12px; color:#369; border:1px solid #0D69B0; border-bottom-color:#1F82CE; border-right-color:#1F82CE; vertical-align:-2px!ie}
.nav input.tijiao{ background:#fff; color:#fff; border:0; padding:3px 10px; color:#369; height:21px!Ie; padding-top:5px!ie; width:68px!Ie; cursor:pointer; margin-left:5px}
.nav span.denglu a,.nav span.denglu a:visited,.nav span.denglu a:hover{ text-decoration:underline; color:#fff!important; margin-left:8px}
.nav span.rlink{ color:#fff; position:absolute; right:15px; top:0;}
.nav span.f60{font-family:Arial, Helvetica, sans-serif;}
.nav span.rlink a{ text-decoration:underline; color:#fff; margin-left:5px}
.nav span.rlink a.a1{ background:#f60; padding:0 5px; color:#fff; text-decoration:none; display:inline-block;}
.weizhi{ border:1px solid #ddd; border-top:0; height:26px; line-height:26px; padding:0 12px; width:934px; margin:0px auto; background:#f6f6f6; font-size:12px; color:#666}
.weizhi a{ color:#369;}
.weizhi span.fr{ margin-top:-26px!Ie}
.weizhi span.fr a{ color:#f60; text-decoration:underline}
.box650{ width:650px}
.main{ padding:10px 0}
h3.titsub{ border-bottom:2px solid #2A88D2; font-size:12px; font-weight:100; padding-left:10px; height:29px; overflow:hidden}
h3.titsub a{ display:inline-block; padding:2px 10px; text-align:center; background:#f6f6f6; border:1px solid #ddd; border-bottom:0; height:20px; line-height:20px; color:#555; margin-left:4px; margin-top:5px;}
h3.titsub a.on{ margin-top:0; border:1px solid #2589D7; border-bottom:0; background:#338DD9; color:#fff; font-size:14px; font-weight:bold; height:24px; line-height:24px;}
h3.titsub span.fr{ margin-top:-29px!ie; margin-right:10px; font-family:"宋体"}
h3.titsub span.fr a{ vertical-align:-2px}
.pxlist{}
.pxlist ul{ border-bottom:1px dotted #dd;  overflow:hidden;}
.pxlist ul li,.pxlist ul li dl dt,.pxlist ul li dl{ clear:both; overflow:hidden; zoom:1}
.pxlist ul li{ border:1px dotted #ddd;position:relative; margin-top:-1px;margin-top:0!ie; *margin-bottom:-4px; _margin-bottom:0; _border-top:0; padding:15px}
.pxlist ul li:hover{ border:1px dotted #369; z-index:99; background:#F3F7FE}
.pxlist ul li dl{ position:relative}
.pxlist ul li dl dt{}
.pxlist ul li dl dt a{ color:#369; font-size:14px; font-weight:bold}
.pxlist ul li dl dd{ float:left; width:49%; font-size:12px;}
.pxlist ul li dl dd.dizhi{ clear:both; overflow:hidden; width:100%}
.pxlist ul li dl dd span.tit{ color:#666; display:inline-block; width:72px}
.pxlist ul li.renzheng dl{ float:right; width:480px; clear:none!Important; position:relative; zoom:1;}
.pxlist ul li.renzheng dl dd{ float:none; width:100%}
.pxlist ul li span.vimg{ display:none}
.pxlist ul li.renzheng span.vimg{ display:block; float:left; width:120px}
.pxlist ul li dl dd strong.yellow{ color:#f60!important}
.pxlist ul li dl dd span.blue2{ color:#36a}
.pxlist ul li dl dd.ing{ position:absolute; top:0; right:0; color:#888; width:4.5em;}
.pxlist ul li .rz{ display:none}
.pxlist ul li.renzheng .rz{ display:block}
.rz{ color:#228F1C; position:absolute; top:0; left:375px; font-size:12px}
.rz .r1,.rz .r2,.rz .r3{ border:0; height:22px; line-height:22px; padding:0; padding-left:20px; margin:0; list-style:none; background:url(../www_images/city/ico.png) no-repeat}
.rz .r1{background-position:0 4px}
.rz .r2{background-position:0 -40px}
.rz .r3{background-position:0 -83px}
.pxlist #pagelist{ text-align:center; padding-top:12px;}
#pagelist{ padding-bottom:10px; font-size:12px}
#pagelist a{-webkit-transition:all 0.5s;transition:all 0.5s; display:inline-block; text-decoration:none; background:#AFBAC5; color:#fff;-webkit-border-radius:4px;border-radius:4px;-moz-border-radius:4px; padding:0 8px; margin-right:4px; line-height:20px; height:20px; font-family:Arial, Helvetica, sans-serif; *font-family:"宋体"}
#pagelist a:hover{-webkit-transition:all 0.5s;transition:all 0.5s;background:#369; color:#fff}
#pagelist a.on{background:#f60; color:#fff}
.huodong{}
.huodong ul{ clear:both; overflow:hidden; zoom:1; padding:10px 0 10px 40px}
.huodong ul li{ float:left; width:250px; line-height:30px; background:url(../www_images/gobal/huodongbg.png) no-repeat; color:#888; font-family:"宋体"}
.huodong ul li.r4,.huodong ul li.r8{ width:180px;background-position:148px 8px}
.huodong ul li.r3,.huodong ul li.r7{ width:160px}
.huodong ul li.r2,.huodong ul li.r6{ width:250px}
.huodong ul li.r1,.huodong ul li.r5{ width:300px; background-position:210px -25px}
.huodong ul li.r2{background-position:130px -25px}
.huodong ul li.r3{background-position:75px -25px}
.huodong ul li.r6{background-position:130px 8px}
.huodong ul li.r7{background-position:75px 8px}
.flinks{}
.flinks .inner{ text-align:left; padding:10px 0 0}
.flinks .inner img{ display:block; border:1px solid #ddd;}
.flinks .inner a{ display:inline-block; margin-left:30px; font-size:12px; color:#666; text-align:center; padding-bottom:10px}
.flinks .inner a:hover img{ border-color:#CFDCE9}
.flinks .inner a:hover{ color:#369; zoom:1!ie}
.fmenu{ font-size:12px; text-align:center; background:#efefef; height:30px; line-height:30px; border-bottom:1px solid #ddd}
.fmenu span{ color:#888; margin:0 5px}
.fmenu a{ color:#369}
.ffont{ padding:10px 0 20px; text-align:center; color:#666; font-size:12px}
.inbox{ border:1px solid #ddd; background:#fff; margin-bottom:10px}
.inbox h3{ height:28px; line-height:28px; overflow:hidden; clear:both; border-bottom:1px solid #ddd; padding:0 10px; background:url(/style/img/h3bg.png) repeat-x}
.inbox h3 span.title,.inbox h3 span.title a{ color:#D80000; font-size:14px; text-decoration:none;}
.inbox h3 span.more{ font-size:12px; font-weight:100; float:right; margin-top:-28px!ie}
.inbox h3 span.more a{ color:#888}
.inbox h3 span.more a:hover{ color:red}
.inbox h3 span.gray{ color:#666!Important}
.inbox h3.weizhi{ border-bottom:0; font-size:12px; font-weight:100; color:#000; border:0; width:628px;}
.inbox h3.weizhi a{ color:#369}
.box300{ width:300px}
.cityright{ background:#f6f6f6; border:1px dotted #ccc; margin-bottom:10px;}
.cityright h4{ font-size:12px; font-weight:100; color:#666; text-align:center; padding-top:8px}
.cityright .clear{ text-align:center; padding:6px 0 10px}
.cityright .clear a{ margin:0 5px; display:inline-block; width:130px; height:30px; line-height:30px; font-size:14px; font-weight:bold; background:#76C7EE; color:#fff;}
.cityright .clear a:hover{ text-decoration:none; background:#59B2DD; color:#fff}
.cityright.clear .fl{ padding:18px 0 0 15px}
.js{ background:#D5E6F7; padding:10px 15px; clear:both; overflow:hidden; zoom:1; margin-bottom:10px}
span.f12size{ margin-left:12px; color:#666; font-size:12px; font-weight:100}
.dlist{}
.dlist ul{}
.dlist ul li{ position:relative; padding:15px 15px 15px 80px; border-bottom:1px dotted #ddd; width:863px;}
.dlist ul li span.xulie{font-family: "微软雅黑","黑体";font-weight:200; font-size:28px; color:red; height:32px; line-height:32px; position:absolute; left:30px; top:50%; margin-top:-14px; width:1em;}
.dlist ul li a{ color:blue; margin-right:10px; margin-bottom:5px; display:inline-block; width:5em}
.dlist ul li a:hover{ color:#f60}
.dlist ul li:hover{ background:#f8f8f8}
#viewinfo{ position:relative; border:1px dotted #ccc; padding:15px; clear:both; overflow:hidden; zoom:1; margin-bottom:15px}
#viewinfo.renzheng{border:1px dotted #81C87D;}
#viewinfo h1{font-family: "微软雅黑","黑体";font-weight:200; font-size:28px; line-height:42px; color:black; text-shadow:#ddd 2px 2px 2px; border-bottom:1px dotted #ccc; padding-bottom:12px; margin-bottom:15px; clear:both; overflow:hidden; zoom:1}
#viewinfo.renzheng h1{ color:green; border-bottom:0; padding-bottom:0; margin-bottom:0}
#viewinfo .rz{ display:none; position:static; clear:both; overflow:hidden; zoom:1; text-align:left; padding:10px 0 10px 3px; border-bottom:1px dotted #ccc; margin-bottom:10px}
#viewinfo .rz p{ float:left; margin-right:12px}
#viewinfo.renzheng .rz{ display:block}
#viewinfo .rnews{ display:none}
#viewinfo.renzheng .rnews{ display:block}
#viewinfo .rnews h4{ border-bottom:1px dotted #ddd; font-size:14px; margin-bottom:0}
#viewinfo .rnews ul{ padding:0; padding:5px 0 3px 0}
#viewinfo .rnews ul li{ height:24px; line-height:24px; overflow:hidden; padding:0!Important}
#viewinfo .rnews ul li span.time{ float:right; margin-top:-24px!ie}
#viewinfo .rnews ul li a{ color:#369}
#viewinfo dl{ margin-bottom:15px;}
#viewinfo dl.intro{ clear:both; overflow:hidden; zoom:1}
#viewinfo dl.intro dt{ border-bottom:1px dotted #ccc;}
#viewinfo dl.intro dd{ font-size:12px; padding-top:6px}
#viewinfo dl dd strong{ font-size:16px; font-family:Arial, Helvetica, sans-serif}
#viewinfo dl dt{ font-size:14px; font-weight:bold}
#viewinfo dl dd span.tit{ color:#888}
#viewinfo .shoufei{ margin-bottom:15px}
#viewinfo .shoufei h4{ font-size:14px}
#viewinfo .shoufei table{ border:1px solid #ddd; border-bottom:0; border-right:0}
#viewinfo .shoufei table tr td{ border:1px solid #ddd; border-top:0; border-left:0; text-align:center; font-size:12px; height:26px; line-height:26px}
#viewinfo .shoufei table tr td.gray{ background:#f6f6f6; font-weight:bold; color:#666}
#viewinfo.renzheng .infol{ float:left; width:360px}
#viewinfo .infol{ float:none; width:100%}
#viewinfo .infor{ display:none}
#viewinfo.renzheng .infor{ float:right; width:230px; display:block; border:1px solid #ccc; background:#eee; padding:5px;}
.intro_pic{ display:none}
#viewinfo.renzheng .intro_pic{ display:block}
.intro_pic h4{ font-size:14px; padding-bottom:4px}
.intro_pic table.big_pic{ border:1px solid #ddd; height:400px;}
.intro_pic .xlink{ background:#eee; padding:2px 12px; height:24px; line-height:24px; font-size:12px; text-align:center; font-family:"宋体"; position:relative}
.intro_pic .xlink a{ margin:0 80px; color:blue}
.intro_pic .xlink span.fr{ position:absolute; right:10px; top:3px}
.intro_pic .xlink span.fr a{ margin:0;}
.picul{ padding-top:12px; position:relative; width:618px; overflow:hidden;}
.picul ul{ clear:both; overflow:hidden; zoom:1; padding:0 12px;}
.picul ul li{ float:left; display:inline!ie; margin-left:12px; width:110px; overflow:hidden; }
.picul ul li a{ display:block;border:1px solid #ddd; padding:4px; background:#fff}
.picul ul li a:hover{ border:1px solid #f60}
.picul ul li.on a{ background:#f60;border:1px solid #f60}
.picul a.next,.picul a.pre{ position:absolute; top:12px; height:108px; width:12px; text-indent:-999em; background:#ccc url(../www_images/city/dotj2.png) no-repeat}
.picul a.next{ right:0; background-position:right center}
.picul a.pre{ left:0; background-position:left center}
.picul a.next:hover,.picul a.pre:hover{ background-color:#729EC9}
.messagelivebox{}
.messagelivebox dl{ padding:0 12px}
.messagelivebox dl input,.messagelivebox dl textarea{ border:1px solid #ddd; padding:3px; color:#555}
.messagelivebox dl dt,.messagelivebox dl dd{ padding:3px 0;}
.messagelivebox dl dt a{ text-decoration:underline}
.messagelivebox dl dd#l1{ padding-bottom:7px; border-bottom:1px dotted #ddd; margin-bottom:5px; font-size:12px}
.messagelivebox dl dd input.tjpl,.messagelivebox dl dd input.denglu{ width:84px; height:28px; font-size:14px!important; color:#fff; font-weight:bold; text-align:center;  cursor:pointer; border:0; background:#369; color:#fff;}
.messagelivebox dl dd input.tjpl:hover,.messagelivebox dl dd input.denglu:hover{opacity:0.8;filter:alpha(opacity=80)}
.messagelivebox dl dd input.denglu{ width:44px; height:23px; color:#fff; font-size:12px!Important; font-weight:100!important; background:#369; border:0}
.messagelivebox dl textarea{ background:url(/style/img/messagebg.png) center center no-repeat; padding:10px; width:580px; font-size:14px!important; color:#333}
h1.pinglun{ margin-bottom:10px; text-align:center; color:#000; font-size:22px; padding:10px 0; line-height:24px;}
h1.pinglun a{ color:#000}
.messagelist{}
.messagelist .mtop .fl{ color:#369; margin-left:0; _margin-left:-20px; _margin-top:-16px}
.messagelist .mtop .fl a{ display:block; width:5em; text-align:center; line-height:28px; background:#369; color:#fff; font-weight:bold; padding:0 10px;}
.messagelist .mtop .fr{ padding-top:4px; margin:0}
.messagebox{ border:1px solid #ddd; padding:10px 14px; margin-bottom:10px}
.messagebox h4{ height:20px; line-height:20px; overflow:hidden; font-family:Verdana, Arial, Helvetica, sans-serif; font-weight:100; color:#666}
.messagebox h4 span{ float:right; color:#888; margin-top:-20px!Ie; font-size:12px}
.messagebox h4 strong{ font-size:14px; font-weight:bold}
.messagebox .messagebox_content{ padding-top:5px;color:#000; line-height:1.3em; font-size:14px!important}
.messagebox .messagebox_content .photo img{border:2px solid #fff;}
.messagebox .messagebox_content .photo{ float:left; width:50px }
.messagebox .messagebox_content .fr{ text-align:left; width:540px;}
.messagebox p.huifu{ text-align:right; clear:both; overflow:hidden; zoom:1;}
.messagebox p.huifu a{ text-decoration:underline}
.messagebox .messagebox_f{ padding:10px 14px; margin:5px 0}
.messagebox:hover{ background:#f6f6f6}
.bor0{ border:0}
.f12{ font-size:12px}
.regtop{ margin-top:-10px; margin-bottom:25px}
.regtop,.regtop .inner{ height:50px;  background:url(../www_images/city/regbg2.png) no-repeat}
.regtop{width:960px; background-position:0 0}
.regtop .inner{ background-position:left bottom}
.regtop .inner.l0{ width:0px; font-size:0; line-height:0; overflow:hidden}
.regtop .inner.l1{ width:350px}
.regtop .inner.l2{ width:618px}
.regtop .inner.l3{ width:890px}
.regl{ border:1px solid #ddd; padding:20px; width:918px; overflow:hidden;}
.regl h1{font-family: "微软雅黑","黑体";font-weight:200; font-size:36px; height:42px; line-height:42px; color:#369; text-align:center; padding-bottom:12px; margin-bottom:12px; border-bottom:1px dotted #ddd}
.reg1{ width:400px; margin:0 25px; float:left; background:url(../www_images/city/regbgx.png) 0 0 no-repeat}
.reg2{ background:url(../www_images/city/regbgx2.png) 0 0 no-repeat}
.reg1 dl{ padding-bottom:32px; background:url(../www_images/city/regbgf.png) left bottom no-repeat}
.reg1 dl dt{ height:62px; line-height:62px; border-bottom:1px dotted #ddd; margin-bottom:16px; text-align:center;font-family: "微软雅黑","黑体";font-weight:200; font-size:26px;}
.reg1 dl dd{ height:56px; padding-left:116px;}
.reg1 dl dd input{ width:241px; padding:0 5px; height:38px; font-size:16px!important; font-weight:bold; color:#666; border:0; background:none; padding-top:8px!ie}
.reg1 dl dd.yanzheng input{ width:165px}
.reg1 dl dd.yanzheng a{ font-size:12px; text-decoration:underline; margin-left:10px}
.reg1 dl dd.yanzhengma{ font-size:12px; margin-top:-10px; padding-bottom:9px}
.reg1 dl dd.yanzhengma img{ display:block}
.reg1 dl dd.tijiao{ height:45px; margin-top:-3px!Ie; padding-bottom:15px}
.reg1 dl dd.tijiao input{ width:118px; cursor:pointer; height:45px; padding:0}
.reg11{ text-align:center}
.reg11 a{ margin:0 20px}
.reginfo{ position:relative; padding-top:25px}
.reginfo dl{ padding-left:12px}
.reginfo dl dt{ font-size:14px; color:#679ACE}
.reginfo h4{ color:red; font-weight:bold; font-size:16px;  float:none; font-family: Arial, Helvetica, sans-serif;padding-bottom:5px;  margin-bottom:12px}
.reginfo h5{ height:28px; line-height:28px; font-size:14px; color:#888; background:#efefef; padding:0 12px; margin-bottom:12px; font-weight:100}
.reginfo .lie3,.reginfo .lie2,.reginfo .lie1{ clear:both; overflow:hidden; zoom:1; margin-bottom:10px; border:1px solid #fff; background:#f9f9f9}
.reginfo .lie3:hover,.reginfo .lie2:hover,.reginfo .lie1:hover{ background:#F3F9FF}
.reginfo .lie3:hover h5,.reginfo .lie2:hover h5,.reginfo .lie1:hover h5{ background:#CEE3F8; color:#369}
.reginfo .lie3 dl{ float:left; width:32%;}
.reginfo .lie2 dl{ float:left; width:48.5%;}
.reginfo dl dd.hauto{ height:32px; line-height:32px; overflow:hidden}
.reginfo dl dd.info{ font-size:12px; color:#888; border-bottom:1px dotted #ddd; padding-bottom:10px; margin-bottom:10px}
.reginfo dl dd input,.reginfo dl dd textarea{ border:1px solid #bbb; border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding:5px; font-size:14px!important; color:#666;}
.reginfo dl dd textarea{ padding:10px; line-height:1.5em}
.pb5{ padding-bottom:5px}
.reginfo dl dd.tijiao{ clear:both; overflow:hidden; zoom:1; text-align:center; padding:20px 0}
.reginfo dl dd.bor0 input{ border:0; font-size:12px; color:#f60}
.reginfo dl dd.bor0{ font-size:12px; color:#f60}
.reginfo dl dd.tijiao input{ background:#f60; color:#fff; width:200px; padding:20px 0; font-size:16px!important; cursor:pointer; border:0;}
.tishibox{ width:600px; padding:15px 20px; margin:50px auto}
.user{ float:right; width:258px; border:1px dotted #ddd; background:#f9f9f9;}
.user .photo img{ float:left; margin-right:6px; font-size:12px}
.user .photo{ font-size:12px; clear:both; overflow:hidden; zoom:1; padding:15px;}
.user .photo a{ color:blue; text-decoration:underline}
.user .photo strong{ color:#369; line-height:15px}
.user .photo span.f60{ color:#f60}
.user .rz{ position:static; clear:both; overflow:hidden; zoom:1; margin-left:-6px; padding:0 15px; margin-top:-5px; padding-bottom:10px}
.user .rz p{ float:left; margin-left:6px; display:inline!ie; padding-left:18px}
.user .rmenu{padding:0 15px 10px;}
.user .rmenu ul{ border:1px dotted #ddd; border-bottom:0}
.user .rmenu ul li{ height:30px; line-height:30px; border-bottom:1px dotted #ddd}
.user .rmenu ul li a{ padding:0 15px 0 50px;background-position:30px 8px; color:#666; display:block; height:30px; line-height:30px; background-color:#fff; background-image:url(../www_images/city/quan.png); background-repeat:no-repeat}
.user .rmenu ul li a:hover{ padding:0 15px 0 50px;background-position:30px 8px; color:#000;text-decoration:none; background-color:#f4f4f4;background-image:url(../www_images/city/quanhover.png)}
.user .rmenu ul li.on a,.user .rmenu ul li.on a:hover{padding:0 15px 0 50px;background-position:30px 8px;color:#D02914; font-weight:bold;background-color:#f4f4f4;background-image:url(../www_images/city/quanon.png);}
.user .rmenu ul li a span{ font-size:12px; font-weight:bold; color:#D02914}
.userleft{border:1px dotted #ddd; background:#f9f9f9; padding:14px; clear:both; overflow:hidden; zoom:1; width:660px}
.userleft h1{font-family: "微软雅黑","黑体";font-weight:200; font-size:26px; color:red; height:32px; line-height:32px; color:green; border-bottom:1px dotted #ddd; padding-bottom:12px; margin-bottom:12px}
.userleft h1 span.fr{ font-size:12px; font-family:"宋体"; margin-top:-32px!ie; height:32px; line-height:32px;}
.userleft h1 span.fr a{ text-decoration:underline; color:blue}
.userleft .tishibox{ width:auto; margin:0; margin-bottom:12px}
.tj{}
.tj h3{ font-size:14px; height:28px; line-height:28px; border-bottom:1px dotted #ddd; margin-bottom:10px}
.tj ul.newsl{ clear:both; overflow:hidden; zoom:1; font-size:12px; margin-left:-12px}
.tj ul.newsl li{ border-bottom:1px dotted #ddd; height:24px; line-height:24px; float:left; width:320px; margin-left:12px}
.tj ul.newsl li span.time{ color:#888; margin-top:-24px!ie; float:right}
.userleft .reginfo{ padding-top:0}
.userleft .reginfo dl dd.tijiao input{ width:120px; height:40px; padding:0; font-size:14px!Important}
.userleft .reginfo dl dd.tijiao{ text-align:left; padding-top:10px}
.userleft .dongtai ul{ padding-bottom:15px; margin-top:-5px}
.userleft .dongtai ul li{ height:36px; line-height:36px; border-bottom:1px dotted #ddd; overflow:hidden;}
.userleft .dongtai ul li span{ display:inline-block; overflow:hidden; margin:0;}
.userleft .dongtai ul li span.input{ width:20px}
.userleft .dongtai ul li span.title{ width:530px}
.userleft .dongtai ul li span.time{ color:#888; font-size:12px}
.userleft .dongtai ul li.last{ font-size:12px; padding:0;}
.userleft .dongtaiimg{}
.userleft .dongtaiimg ul{ clear:both; overflow:hidden; zoom:1; padding-bottom:5px}
.userleft .dongtaiimg ul li{ float:left; display:inline!ie; width:109px; height:109px; overflow:hidden; position:relative; border-bottom:1px solid #fff; border-right:1px solid #fff}
.userleft .dongtaiimg ul li a.title{ display:block; width:109px; height:109px}
.userleft .dongtaiimg ul li span.fd{position:absolute; right:5px; bottom:5px;}
.mr20{ margin-right:20px}
.mr20 a{ color:blue!important; text-decoration:underline!important; margin-right:10px}
input.p0{font-size:12px!important; padding:0; padding:5px 0!ie;}
.rnews{}
.rnews ul{ padding:10px 12px}
.rnews ul li{ font-size:12px; line-height:1.3em; padding-bottom:6px; margin-bottom:6px; border-bottom:1px dotted #ddd}
.rnews ul li span.time{ color:#888; margin-left:10px}
.rnews ul li a{ color:#000}
.rnews ul li a:hover{ color:blue}
.viewcity{}
.viewcity h1{ text-align:center; color:#000!important; padding-bottom:12px!important; border-bottom:1px dotted #ddd!important;}
.viewcity h2{ font-size:12px; height:24px; line-height:24px; background:#f6f6f6; color:#666; text-align:center; font-weight:100; margin-bottom:15px}
.viewcity .inner{ clear:both; overflow:hidden; zoom:1; font-size:14px; line-height:1.8em!important; width:618px;}
.mini_nav {position:absolute; padding:5px; top:37px; right:55px; padding:5px;  background:#FFF; width:200px; height:180px; border:1px solid #333; display:none;}
.mini_nav img.icon_top{position:absolute; top:-8px; left:85px;}
.mini_nav ul li{ float:left; font-size:12px; padding:8px;}
.mini_nav ul li a{ display:block; line-height:1.5em; text-align:center;}
.mini_nav, .mini_nav ul li img{ box-shadow:#CCC 1px 1px 2px;}
/* ucenter top nav*/



.pr{ position:relative;}
.pa{ position:absolute; }
#uc_login{ font-size:12px; clear:both; }
#uc_login .uc_n{}
#uc_login .uc_pa{ top:0; left:0; margin:5px 0 0 5px; }
#uc_login .uc_pa{ display:none; }
#uc_login .uc_pa ul, .uc_t_1{ border:1px solid #F60;background:#FFF;}
#uc_login .uc_t{ padding:0 20px 0 10px; margin-right:10px; background:url(../www_images/gobal/home_ico.png) right -40px no-repeat;}
#uc_login .uc_t img{ _display:none;}
#uc_login .uc_t_1{padding:0 23px 0 5px; height:30px; line-height:28px; float:left; border-bottom:none; z-index:500; background:url(../www_images/gobal/home_ico.png) #FFF right -74px no-repeat;}
.uc_t_1{border-top-right-radius:3px; border-top-left-radius:3px; -moz-border-top-right-radius:3px; -moz-border-top-left-radius:3px;}
#uc_login .uc_pa ul{  width:150px; z-index:490; position:absolute; top:30px; left:0; }
.uc_pa ul{ border-top-right-radius:3px; -moz-border-top-right-radius:3px; box-shadow:#666 1px 1px 2px;}
#uc_login .uc_pa ul li{ margin:0; padding:0;}
#uc_login .uc_pa ul li a{display:block; margin:0; padding:5px 10px; padding:0 10px!ie; line-height:2em; line-height:12px!ie; border-bottom:1px solid #EEE; color:#666;  background:url(../www_images/gobal/home_ico.png) right -330px  no-repeat; }
#uc_login .uc_pa ul li a:hover{ color:#F60; text-decoration:none; background:url(../www_images/gobal/home_ico.png) right -300px  no-repeat; }
#uc_login .mail{ color:#F60; padding-left:20px; background:url(../www_images/usercenter/mail.gif) left center no-repeat; }
#uc_login .mail.null{background:url(../www_images/usercenter/mail.png) left center no-repeat; }
#uc_login .uc_pa ul li .uc_n_home{ background-position:right -150px;}
#uc_login .uc_pa ul li .uc_n_password{background-position:right -210px;}
#uc_login .uc_pa ul li .uc_n_avatar{background-position:right -270px;}
#uc_login .uc_pa ul li .uc_n_home:hover{ background-position:right -120px;}
#uc_login .uc_pa ul li .uc_n_password:hover{background-position:right -180px;}
#uc_login .uc_pa ul li .uc_n_avatar:hover{background-position:right -240px;}
/* message */

.music_comment{ padding-right:10px;}
.music_comment h3{ font-size:14px; color:#F60; line-height:2em; margin-top:10px;}
.music_comment .notlogin{ border:1px solid #CCC; padding:20px; text-align:center; color:#666; background-color:#F8F8F8;}
.music_comment .notlogin a{ font-weight:bold; padding:0 5px;}
.music_comment .islogin textarea{ border:1px solid #CCC; width:100%; height:80px;}
.islogin{}
.islogin .title{ font-size:12px; line-height:2em;}
.islogin .sub{ border:none; padding:5px 15px; text-align:center; color:#FFF; background:#F60; margin:0; height:25px;}
.islogin .sub:hover{ background:#F90;}
.music_comment ul{ font-size:12px; padding:10px 0;}
.music_comment ul li{ clear:both; overflow:hidden; margin-bottom:20px; padding-left:70px; position:relative; zoom:1; }
.music_comment ul li .avatar{ position:absolute; top:0; left:0; width:40px;}
.music_comment ul li .avatar, .music_comment ul li.hot  .moreComment .avatar{ padding:2px; border:1px solid #DDD;}
.music_comment ul li .avatar a{ width:40px; height:40px; display:block; overflow:hidden;  background:#EEE;}
.music_comment ul li .avatar a img{ width:40px;}
.music_comment ul li .theComment{ border:1px solid #DDD; padding:0 10px 10px; zoom:1; }
.music_comment ul li .theComment .inner{ padding:10px 0; color:#333;}
.music_comment ul li h4{ clear:both; overflow:hidden; padding:5px 0;  font-size:12px; line-height:1.5em; border-bottom:1px dotted #ccc;}
.music_comment ul li h4 b{padding-right:10px}
.music_comment ul li h4 span{ font-weight:400; }
.music_comment ul li h4 span a{ float:right; margin-left:10px; padding:0 5px; display:inline-block; background:#F60; color:#FFF;}
.music_comment ul li h4 span a.comment_no{ background:#CCC;}
.music_comment ul li h4 span a:hover{ background:#C00; text-decoration:none;}
.music_comment ul li .moreComment{ background:#EFEFEF;padding:10px; padding-left:60px; margin:5px 0 0;  position:relative;  zoom:1;}
.music_comment ul li .moreinner{}
.music_comment ul li .moreinner p{ padding:5px 0;  color:#666;}
.music_comment ul li .moreComment .avatar{ top:5px; left:5px;}
.music_comment ul li .moreComment h5{ font-size:12px;}
.music_comment ul li .theComment .comment_reply{ margin-top:5px; line-height:2em; color:#999;}
.music_comment ul li .theComment .comment_reply a{ float:right;}
.music_comment ul li.hot .theComment, .music_comment ul li.hot .avatar{ border:2px solid #F60;}
.music_comment ul li.hot .avatar{}
.music_comment ul li.hot h4 b{ color:#F60; }
.music_comment ul li .tip{ width:17px; height:17px; overflow:hidden; top:20px; _left:-17px;}
.music_comment ul li .theComment .tip{ left:-16px;}
.music_comment ul li.hot .theComment .tip{ left:-17px;}
.music_comment ul li .theComment .tip{ background:url(../www_images/song/comment_tip.png) no-repeat;}
.music_comment ul li.hot .theComment .tip{ background:url(../www_images/song/comment_tip_hot.png) no-repeat;}
.music_comment .notlogin, .music_comment .islogin textarea{ background-image:url(../www_images/song/comment.png)}
.music_comment ul li h4 span a{ -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
.music_comment .avatar,.music_comment .avatar a{ -webkit-border-radius:24px!important; border-radius:24px!important; -moz-border-radius:24px!important; }
.pagelist {

text-align: center;

}
.pagelist{ padding-bottom:10px; font-size:12px; clear:both; overflow:hidden; zoom:1}
.pagelist a,.pagelist span{-webkit-transition:all 0.5s;transition:all 0.5s; display:inline-block; text-decoration:none; -webkit-border-radius:4px;border-radius:4px;-moz-border-radius:4px; padding:0 8px; margin-right:4px; line-height:20px; height:20px; font-family:Arial, Helvetica, sans-serif; *font-family:"宋体"}
.pagelist a:link,.pagelist a:visited{color:#fff;background:#AFBAC5; }
.pagelist a:hover{-webkit-transition:all 0.5s;transition:all 0.5s;background:#369; color:#fff}
.pagelist span{background:#f60; color:#fff}
.pagelist  .a1{}
.pagelist a.morex{color:#666; border-radius:4px; display:block; margin:0 15px 0 15px; height:30px; line-height:30px; background:#ddd}
.pagelist a.morex:hover{ background:#f60; text-decoration:none; color:#fff}