/*
#fullbg {
    background-color:gray;
    left:0;
    opacity:0.5;
    position:absolute;
    top:0;
    z-index:3;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity:0.5;
}*/

#dialogq1 {
    background-color:#fff;
    border:8px solid rgba(0,0,0, 0.4);
    height:550px;
    left:40%;
    margin:-200px 0 0 -200px;
    padding:1px;
    position:fixed !important;
    position:absolute;
    top:45%;
    width:650px;
    z-index:5;
    border-radius:5px;
    display:none;
}
#dialogq1 p {
    margin:0 0 12px;
    height:24px;
    line-height:24px;
    background:#EEEEEE;
}
#dialogq1 p.close {
    text-align:right;
    padding-right:10px;
}
#dialogq1 p.close a {
    color:#f90;
    text-decoration:none;
}

#dialogq4 {
    background-color:#fff;
    border:8px solid rgba(0,0,0, 0.4);
    height:600px;
    left:35%;
    margin:-200px 0 0 -200px;
    padding:1px;
    position:fixed !important;
    position:absolute;
    top:45%;
    width:800px;
    z-index:5;
    border-radius:5px;
    display:none;
}
#dialogq4 p {
    margin:0 0 12px;
    height:24px;
    line-height:24px;
    background:#EEEEEE;
}
#dialogq4 p.close {
    text-align:right;
    padding-right:10px;
}
#dialogq4 p.close a {
    color:#f90;
    text-decoration:none;
}

#dialogq5 {
    background-color:#fff;
    border:8px solid rgba(0,0,0, 0.4);
    height:400px;
    left:50%;
    margin:-200px 0 0 -200px;
    padding:1px;
    position:fixed !important;
    position:absolute;
    top:50%;
    width:400px;
    z-index:5;
    border-radius:5px;
    display:none;
}
#dialogq5 p {
    margin:0 0 12px;
    height:24px;
    line-height:24px;
    background:#EEEEEE;
}
#dialogq5 p.close {
    text-align:right;
    padding-right:10px;
}
#dialogq5 p.close a {
    color:#f90;
    text-decoration:none;
}