html{-webkit-text-size-adjust:none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
ul li,dl li{list-style:none}
fieldset,img,abbr,acronym{ border:none}
a:link,a:visited{ text-decoration:none;}
body{  font-size:12px; color:#000; line-height:1.5em; font-family:"ו";}
img{ border:none;}
.pr{ position:relative}
.pa{ position:absolute;}
.fl{ float:left;}
.fr{ float:right;}
.top{ width:100%;}
li:hover{-webkit-transition:background-color .2s linear;  -moz-transition:background-color .2s linear; transition:background-color .2s linear;}
/*  end laycenter */



h1.logo a,.header .inner .nav .nav_1 ul li.n6,.header .inner .nav h2,.subnav,.subnav ul li{ background:url(../www_images/gobal/topsprite.png) no-repeat}
/* end sprite bg */



.clear,.header .inner .nav ul,.header .inner,.subnav .submenu,.main,.messagebox,.flinks .inner{ clear:both; overflow:hidden; zoom:1}
.main{ width:960px; clear:both; overflow:hidden;}
.header .w{ width:960px; margin:0 auto;}
.main .side_n{ width:780px;}
/* end topbar_2 */

#fenxiang{ }
#fenxiang a{ cursor:pointer; vertical-align:top; display:inline-block; width:20px; height:20px; overflow:hidden; background:url(../www_images/gobal/fenxiangico.png) no-repeat; margin-right:6px}
#fenxiang span{ display:inline-block; height:20px;}
#fenxiang a.t0{ background-position:-154px 0}
#fenxiang a.t1{ background-position:-192px 0}
#fenxiang a.t2{ background-position:-5px 0}
#fenxiang a.t3{ background-position:-117px 0}
#fenxiang a.t4{ background-position:-45px 0}
#fenxiang a.t5{ background-position:-81px 0}
#fenxiang span.f60{ margin-left:50px; color:#f60; margin-right:6px}
#fenxiang a.guanzhu{ display:inline-block; background-position:-234px 0; width:60px; height:20px}
#fenxiang a.guanzhu:hover{ background-position:-303px 0}
.mtop #pagelist{ clear:none!important}
.toTop{display: none; position: fixed; bottom:10px; right: 5px; overflow: hidden;  width:21px; height:66px; background: url(../www_images/gobal/totop.png) no-repeat left top;	cursor: pointer;}
.toTopHover{background: url(../www_images/gobal/totop.png) no-repeat right 0; width:21px; height:66px; display: block; overflow: hidden;  opacity: 0;  -moz-opacity: 0;	filter: alpha(opacity=0)}
/* new fenxiang */

#fx_big, #fx_small { clear:none;}
#fx_big{ box-shadow:#CCC 1px 2px 3px; -moz-box-shadow:#CCC 1px 2px 3px; clear:both; overflow:hidden; zoom:1}
#fx_big{ padding-left:10px; height:90px;  background:#fafafa; color:#666; border:1px solid #CCC; }
#fx_big a{ text-decoration:underline; color:#09C;}
#fx_big .fx_sc{ padding:15px 0; border-bottom:1px dashed #CCC;}
#fx_small{ float:right; border:none; padding:inherit; background:none; box-shadow:none;}
#fx_small{ padding:5px 0 5px 10px; overflow:hidden; color:#666;  }
#fx_small .fx_sc{ float:left; padding-top:5px; }
#fx_small .fx_sc span{ font-size:12px;}
#fx_small .fx_sns{ float:right;}
.fx_sc .fx_shoucang{ width:72px; height:24px; margin-right:10px; margin-top:-3px; display:inline-block; overflow:hidden; text-indent:-9999em; background:url(../www_images/fenxiang/shoucang.png) no-repeat; zoom:1; float:left; cursor:pointer;}
.fx_sc .fx_shoucang:hover{background:url(../www_images/fenxiang/shoucang.png) 0 -24px no-repeat;}
.fx_sns{ font-size:12px; line-height:16px; padding:5px 10px;}
.fx_sns span{ padding-left:8px;}
.fx_sns .fx_tqq, .fx_sns .fx_weibo, .fx_sns .fx_qzone, .fx_sns .fx_renren, .fx_sns .fx_kaixin, .fx_sns .fx_douban{ width:16px; height:16px; text-indent:-9999em; margin:0 3px -3px 3px; display:inline-block; overflow:hidden;}
.fx_sns .fx_tqq{ background:url(../www_images/fenxiang/tqq.png) no-repeat;}
.fx_sns .fx_weibo{ background:url(../www_images/fenxiang/weibo.png) no-repeat;}
.fx_sns .fx_qzone{ background:url(../www_images/fenxiang/qzone.png) no-repeat;}
.fx_sns .fx_renren{ background:url(../www_images/fenxiang/renren.png) no-repeat;}
.fx_sns .fx_kaixin{ background:url(../www_images/fenxiang/kaixin.png) no-repeat;}
.fx_sns .fx_douban{ background:url(../www_images/fenxiang/douban.png) no-repeat;}
.fx_fl{ width:74%; float:left;}
.fx_fr{ float:right; width:25%; border-left:1px solid #EEE; background:#FFF; height:100%; font-size:12px; overflow:hidden;}
.fx_fr h5{ font-size:12px; text-align:center; line-height:2.5em; }
.fx_fr ul{ padding-left:25%; zoom:1; }
#fx_small{ color:#fff;}
.mbx .mianbaoxue{ width:1000px; margin:0 auto;}
.mbx{ height:30px;margin-top: 20px;}
.mbx .mianbaoxue{ clear:both; overflow:hidden;}
.mbx .mianbaoxue .site{ float:left;   padding-left:50px; color:#fff;}
.mbx .mianbaoxue .site a{ color:#fff;}
/*.mbx{height:30px; margin-top: 75px;  }
.mbx .bg{background:#000; height:30px;filter:alpha(opacity=50);

-moz-opacity:0.5;

-khtml-opacity: 0.5;

opacity: 0.5;   }
.mbx .mianbaoxue{ width:1000px; margin:0 auto; position:relative; top:-30px; zoom:1;}
*/



/*

#fx_small {padding: 3px 0 5px 10px;}
.mbx .mianbaoxue .site { }
#fx_small{ box-shadow:none; }
.mbx .mianbaoxue .site a:hover{ text-decoration:underline;}
.mbx{ background:url(../www_images/zhuti/shangqiuzhilv/tip.png) repeat; height:30px;margin-top: 75px;}
*/



/*.topbar .inner .tb_home.tb{width:180px; height:40px; display:block; overflow:hidden; text-indent:-999em; background:url(../www_images/gobal/logo_mini.png) 0 center no-repeat;}
*/







		/* iPads (landscape) */

		@media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

			

		}
/* iPads (portrait) */

		@media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

			

		}
/* iPads */

		@media screen and (min-device-width : 768px) and (max-device-width : 1024px){



		}
/* iphone */

		@media only screen and (-webkit-min-device-pixel-ratio : 1.5),only screen and (min-device-pixel-ratio : 2) {

		}
/* pc */

		@media screen and (min-width: 600px) {

			.main .side_n ul li .qu_m .player .audioplay{ background:url(../../www_images/zhuti/biye/player.png) no-repeat ;width:113px; height:42px;}

		}
@media screen and (max-width: 1024px) {	

		

			.main .side_list, .topbar, .mianbaoxue, .main .side_n ul li .qu_n span,.mbx{ display:none;}
.topbar .inner,.header .inner,.bannerall,.subnav,.main,.copyright{ width:auto;}
/* reset.css */	

			.main, .main .side_n , .header .w, .main .side_n ul li .qu_n, .topbar{ width:auto;}
body{ padding:10px 10px 0;}
.main .side_n ul li{  padding:10px 10px 50px!important; }
.main .side_n ul li .qu_n span.yanzouzhe{ display:block;}
.main .side_n.fl{ width:100%;float:none;}
.main .side_n{ margin:0 auto;}
.body{ background:none!important;}
.header{ background:none!important;}
.header .w h1 a { text-indent:inherit; width:auto;}
.topbar{}
.ffont, .fmenu{ display:none;}
.main{ width:auto!important;}

.main .side_n ul li .qu_m .player{ }

		}