@charset "gb2312";
/* CSS Document */
#zhuanti{ cursor:pointer}
#zhuanti dl{ clear:both; overflow:hidden; zoom:1; padding:10px; height:50px; border-bottom:1px dotted #ddd}
#zhuanti dl dt{ float:left; width:50px; padding-right:10px}
#zhuanti dl dd{line-height:1.2em}
#zhuanti dl dd span.title{ display:block; line-height:1.4em; padding-bottom:2px; font-family:"宋体"}
#zhuanti dl dd span.title a{ color:#000; font-weight:bold}
#zhuanti dl dd span.info{ color:#666; font-size:12px; display:block; text-indent:2em;}
#zhuanti dl dd span.info a{ color:#369; text-decoration:underline; text-indent:0}
#zhuanti dl{}
#zhuanti dl dt img{ width:50px; height:50px}
#zhuanti dl dd span.info_full{ display:none; font-size:12px; color:#888;}
#zhuanti dl dd span.title a{ color:#555}
#zhuanti dl.hover{ background:#eee; height:121px;}
#zhuanti dl.hover dd span.info_simple{ display:none}
#zhuanti dl.hover dd span.info_full{ display:block}
#zhuanti dl.hover dd span.title a{ color:#000}
#zhuanti dl.hover dt{ width:100px}
#zhuanti dl.hover dt img{ width:100px; height:100px}
/* end style of zhuanti */
.ul_img_weibo{}
.ul_img_weibo li{ padding:10px; _padding:8px 10px; border-bottom:1px dotted #ddd; font-size:12px; color:#666; line-height:18px; height:50px}
.ul_img_weibo li:hover{ background:#efefef}
.ul_img_weibo li a.fimg{ float:left; margin-right:10px}
.ul_img_weibo li a.name{ display:inline-block; font-size:14px; color:#369;  margin-right:3px}
/* end style of weixinwen */
.newsindexh{ height:238px; padding:10px; overflow:hidden;}
.newsindexh h2{ margin-bottom:8px}
.newsindexh h2,.newsindexh h2 a{font-family: "微软雅黑","黑体";text-shadow:#eee 2px 2px 2px;font-weight:500;font-size:24px; text-align:center; color:#EA0000}
.newsindexh h2 a:hover{ text-decoration:underline}
.newsindexh p.info{ font-size:12px; color:#666; line-height:16px; border-bottom:1px dotted #ddd; padding-bottom:10px; margin-bottom:10px}
.newsindexlist h3{font-family: "微软雅黑","黑体";text-shadow:#eee 2px 2px 2px;font-weight:bold;font-size:16px; color:#000; line-height:28px; border-bottom:1px solid #ddd}

ul.ul_news_all{ padding:10px 10px 0 10px}
ul.ul_news_all li{ font-size:14px; height:31px; line-height:31px; border-bottom:1px dotted #ddd; display:block; overflow:hidden!important}
ul.ul_news_all li:hover{ background:#efefef}
ul.ul_news_all li span.dot{ font-size:12px; font-weight:100; color:#999; font-family:"宋体"}
ul.ul_news_all li span.time{ font-size:12px; color:#999; font-family:Arial, Helvetica, sans-serif; float:right; margin-top:-31px!ie;}
ul.ul_news_all li span.leibie{ font-size:12px; font-family:"宋体"}
ul.ul_news_all li span.title a{ color:#000}
ul.ul_news_all li span.title a:hover{ color:red}
ul.ul_news_all li.mb20{ margin-bottom:24px}
ul.ul_news_all li span.time{ color:#666}
.h670{ height:630px; overflow:hidden;}
.bannerc{ margin-bottom:10px}

.ul_news_f12{ padding:10px}
.ul_news_f12 li{ font-size:12px; height:24px; line-height:24px}
.ul_news_f12 li span.dot{ font-family:"宋体"; color:#999}
.ul_news_f12 li span.title a{ color:#666}
.ul_news_f12 li span.title a:hover{ color:blue}

.ul_news_f14{ padding:10px}
.ul_news_f14 li{ font-size:14px; line-height:24px}
.ul_news_f14 li span.dot{ font-family:"宋体"; color:#999}
.ul_news_f14 li span.title a{ color:#666}
.ul_news_f14 li span.title a:hover{ color:blue}
.ul_news_f14 h4{font-family: "微软雅黑","黑体";text-shadow:#eee 2px 2px 2px;font-weight:500;font-size:18px; padding-bottom:4px; color:#000; line-height:28px;  text-align:center}

.ul_flimg{ margin-bottom:10px}
.ul_flimg li{ border-bottom:1px dotted #ddd; padding:10px; clear:both; overflow:hidden; height:50px;}
.ul_flimg li span.vimg{ float:left; margin-right:10px}
.ul_flimg li span.title{ display:block}
.ul_flimg li span.title a{ font-size:14px; font-weight:bold; color:black}
.ul_flimg li span.time{ color:#666; font-size:12px}

.newsindexrepeat{ float:left; margin-right:10px; width:343px}

.newslist{ padding:20px}
.newslist h3{ font-family:"宋体"; color:#000!important; background:none; border:0; padding:0; margin-bottom:15px;}
.newslist ul.ul_news_all{ padding-left:0; margin-bottom:15px}

.content{ padding:20px 40px;}
.content #contentfont{ clear:both; overflow:hidden; zoom:1; line-height:1.8em; font-family:"宋体"}
.content h1{font-family: "微软雅黑","黑体";text-shadow:#eee 2px 2px 2px;font-weight:500;font-size:24px; padding-bottom:4px; color:#000; line-height:30px;  text-align:center}
.content h6{ font-size:12px; font-weight:100; text-align:center; line-height:30px; color:#666}
.content h6 span{ margin:0 0.6em; color:#999}
.content .newsmore{ text-align:center; padding:10px}

ul.ul_imglist_4,ul.ul_imgfloat_2{ clear:both; overflow:hidden; zoom:1; padding-top:15px;}
ul.ul_imglist_4 li{ float:left; display:inline!ie; margin-left:24px; line-height:16px;}
ul.ul_imglist_4 li img{ display:block; margin-bottom:3px}
ul.ul_imglist_4 li{width:100px; text-align:center; font-size:12px}

ul.ul_imgfloat_2{ padding:15px 0 15px 15px}
ul.ul_imgfloat_2 li{ float:left; display:inline!ie; width:49%; padding-right:1%;}
ul.ul_imgfloat_2 li span.vimg{ float:left; margin-right:10px}
ul.ul_imgfloat_2 li span.title{}
ul.ul_imgfloat_2 li span.title a{ font-size:14px; font-weight:bold; color:#000}
ul.ul_imgfloat_2 li span.info{ font-size:12px; color:#888; display:block!important;}


/* 默认幻灯片 */
.FocusPic{zoom:1;position:relative; overflow:hidden}
.FocusPic .content{overflow:hidden}
.FocusPic .changeDiv a{position:absolute;top:0px;left:0px;display:none;}
.FocusPic .title-bg,.FocusPic .title{position:absolute;left:0px;bottom:0;width:434px;height:30px;line-height:30px;overflow:hidden}
.FocusPic .title-bg{background:#000;filter:alpha(opacity=50);opacity:0.5;}
.FocusPic .title a{display:block;padding-left:15px;color:#fff; font-size:14px;}
.FocusPic .change{bottom:34px;height:20px;right:3px;*right:5px;_right:4px;position:absolute;text-align:right;z-index:9999;}
.FocusPic .change i {background:#666;color:#FFF;cursor:pointer;font-family:Arial;font-size:12px;line-height:15px;margin-right:2px;padding:2px 6px; font-style:normal; height:15px;display:inline-block;display:-moz-inline-stack;zoom:1;*display:inline;}
.FocusPic .change i.cur {background:#FF7700;}

.newsindexfootsix{ margin-left:-10px; width:960px; clear:both; overflow:hidden; zoom:1}
.newsindexfootsix .newsindexrepeat{ float:left; display:inline!ie; width:308px; margin-left:10px; margin-right:0}
.newsindexfootsix .newsindexrepeat ul li{ font-size:12px!Important}

#fx_small{ margin-bottom:20px; padding:5px;}
#fx_big{ margin:25px 0;}