em{ font-style:normal}
.co{ clear:both; overflow:hidden;}
.mt10{ margin-top:10px;}
.mb10{ margin-bottom:10px;}
.pd10{ padding:10px;}
.music_nav, .music_so, .music_main, .music_main,.news_main{ width:1000px;}
.w_content{ width:800px; background: url(../www_images/tv_liuxing/bg_ddd.png) 799px top repeat-y;}
.w300{ width:300px;}
.w460{ width:460px;}
.w560{ width:600px;}
.w550{ width:550px;}
.w_sider{ width:200px;}
.w_banner{ width:200px;}
.site{ font-size:12px; padding-top:10px; line-height:14px;}
.site a{ padding:0 5px;}
.clear{ font-size:0; line-height:0; height:0; clear:both;}
.pr{ position:relative;}
.pa{ position:absolute;}
.pl10{ padding-left:10px;}
.pt10{ padding-top:10px;}
.pb10{ padding-bottom:10px;}
.bb{ border-bottom:1px solid #ddd;}
.bt{ border-top:1px solid #ddd;}
.bl{ border-left:1px solid #ddd;}
body{  }
*{ outline:none;}


/** LIST**/

.list_title h1{ float:left; padding-left:5px; border-left:6px solid #C00; font-size:24px; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå"; font-weight:400;}
.list_title h1 em{ font-size:20px; color:#F60; padding-left:10px;}
.list_title p{  background:#eee; border:1px solid #ddd; padding:5px 10px; margin:10px 0;}
.list_title a,.list_title p{ color:#333; font-size:12px;}
.music_title{ padding:10px 10px 0 0; _zoom:1;}
.music_title .title{ margin:10px 0; background:#EEE;  line-height:23px; }
.music_title .title h2{ background:#fff; float:left; padding:0 5px; border-left:7px solid #C00; font-weight:400; font-size:22px; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå";}
.music_title .title h2 a{color:#000;}
.music_title .title span{ float:left;  color:#333; }
.music_title .title span, .music_title .title span a{ font-size:12px; padding-left:10px; }
.music_title .title span a{}
.music_title a{ color:#336699;}
.music_title p {-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;}
.mList1{ background:url(../www_images/2013315news/mList.png) repeat-y;}


/** NAV**/

.music_nav  a.more{ font-size:12px; color:#ffcc00; line-height:42px; margin-left:10px;}
.music_nav{ padding:1px 3px 0; margin:0 auto; width:1000px;}
.m_nav_l{ padding:0 2px; line-height:40px;  position:relative; }
.m_nav_l li{ float:left; padding-bottom:3px;}
.m_nav_l li a{border-right:1px solid #990000; padding:0 12px; display:block; color:#FFF; text-decoration:none}
.m_nav_l li a:hover{ background:#C00; text-decoration:none; color:#FF9;}
.m_nav_l li.now{ font-weight:bold;}
.m_nav_l li.now a:hover{ background:none;}
.m_nav_l li p{ display:none; color:#666; overflow:hidden; position:absolute; line-height:30px; font-size:12px; top:40px; left:0; width:700px;}
.m_nav_l li p b{ color:#C00;}
.music_nav .m_nav_l li p a{ color:#06C; display:inline; padding:0; border:none;  }
.music_nav .m_nav_l li p a:hover{ background:#06C; color:#FFF;}
.music_nav .m_nav_l li p.m_nav_list a{ padding:2px 5px; margin:0 5px; }
.music_nav .m_nav_l li p.m_nav_kaoji{ left:200px;}
.music_nav .m_nav_l li p.m_nav_liupai{ left:200px;}
.music_nav .m_nav_r{ font-size:12px; padding-right:15px; color:#F66;}
.music_nav .m_nav_r a{ color:#FFF; line-height:40px; padding:0 5px;}
.music_nav blockquote{ height:30px; border-bottom:1px solid #DDD; display:block; overflow:hidden;}
.music_nav{ background:url(../www_images/2013315news/bg_nav.png) 0 0 no-repeat;}
.music_nav li.now { background:url(../www_images/2013315news/bg_nav_now.png) center bottom no-repeat;}
.music_nav .m_nav_l li p a{ -webkit-text-shadow:none; -moz-text-shadow:none; text-shadow:none; }
.music_nav .m_nav_l li p a, .m_so .more a:hover, .zhuanji_inner ul li .inner h4 span a, .music_comment ul li h4 span a{ -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
.m_nav_l li a{ -webkit-text-shadow:#333 1px 1px 1px; -moz-text-shadow:#333 1px 1px 1px; text-shadow:#333 1px 1px 1px;}




.news_main{ margin:0 auto;}
.music_list, .w_sider, .w_banner{ overflow:hidden; zoom:1;}


.newnews{ width:499px;}
.top{ padding:0 20px;}
.top h3{ background:#f68248; color:#fff; font-size:14px; width:90px; margin:10px; line-height:21px; padding:5px;}
.top .box{ margin:10px 10px 0 10px;}
.top .box .vcont{  line-height:30px;}
.top .box .vcont h4 a{ color:#000; font-size:14px;}
.top .box .vcont p{ font-size:12px; color:#666; text-indent:1em; line-height:20px; margin: 5px 5px 5px 0;}
.top .box .vcont p a.more{ color:#3399ff;}


.tp{ background:url(../www_images/2013315news/tp.png) no-repeat; width:750px; height:90px; margin-top:10px; padding-bottom:10px; border-bottom:1px solid #ddd; }
.ztnews h3{ margin:10px 0;}
.ztnews h3 a{ color:#fff; background-color:#000; padding:5px;}
.ztnews .content h4 a,.ztnews h3 a{font-size:14px; }
.ztnews .content{ background:#eee; margin-bottom:10px; margin-right:10px;_zoom:1; height:115px;}
.ztnews .content h4 a{ color:#000;}
.ztnews .content h4{ padding:8px 8px 0 8px;}
.ztnews .box .vcont{ width:190px; font-size:12px; margin:5px 5px 5px 0; _display:inline;}
.ztnews .box .avtar{ margin: 5px 8px;}
.ztnews .box .avtar a{ width:70px; height:70px;display:block; overflow:hidden; }
.ztnews .box .avtar a img{ width:70px;}
.ztnews .box .vcont a{ color:#333; line-height:25px;}


.newnews ul{list-style:none; font-size:14px; line-height:30px; margin:5px 10px 5px 10px; }
.newnews ul li span{ color:#3399ff; _zoom:1}
.newnews ul li a{ color:#000; margin-left:5px;}
.newnews h3{ margin-left:10px; }




.leftside .music{  width:245px; float:left;}
.leftside .music a.more {  color:#666;  margin:10px; font-size:12px; }


.leftside .music h3{  margin:10px 0;}
.leftside .music h3 a{ background:#6e96ca; font-size:14px; color:#fff; line-height:18px; padding:5px;}
.leftside .music ul h4 a{ color:#000; font-size:14px; padding-bottom:5px; }
.leftside .music ul{ padding:10px 10px 10px 0;}
 .leftside .music ul li .dot{ font-family: "ËÎÌå";}
.leftside .music ul li{ line-height:26px;}
.leftside .music ul li a{ font-size:12px; color:#000;}


.leftside .zs{ background:#444; padding:10px 15px; margin-bottom:10px; }
.leftside .zs h2{ line-height:30px;padding-top: 5px;}
.leftside .zs h2 span{ font:400 12px/1.5em "ËÎÌå"; display:inline-block; color:#CCC;}
.leftside .zs h2 a{ color:#fff; font-size:30px; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå"; font-weight:400;  }
.leftside .zs .zs_tj{ font-size:12px; color:#fff; font-weight:bold; margin-top:10px;}
.leftside .zs .zs_tj em{ color:#fff700;}
.leftside .zs .zs_tj a{ color:#fff; background:#ff9a2c; display:block; padding:0px 15px;box-shadow: #333 1px 1px 1px; }
.leftside .zs .zs_tj a:hover{ background:#F60; text-decoration:none;}
.leftside  .zs_ph{ margin-bottom:10px;}
.leftside  .zs_ph a{ width:300px; height:300px; overflow:hidden; display:block;}
.leftside  .zs_ph a img{ height:300px!ie; min-height:300px; min-width:300px;}
.leftside .active1{  border:1px solid #ddd; padding:10px;}
.leftside .active1 h3{ line-height:30px;}
.leftside .active1 h3 a.more{ color: #999; font-size:12px; }
.leftside .active1 h3 a.title{ color:#fff; background:#f68248;padding: 5px 10px; font-size: 14px;}
.leftside .active1 ul.yya{ margin-top:5px; line-height: 25px;}
.leftside .active1 ul.yya li{ font-size:12px;}
.leftside .active1 ul.yya li a{ font-size:12px; color:#333; }
.leftside .active1 ul.yya li a em{ color:#000;}
.leftside .active1 ul.yya li:hover a,ul.yya li:hover a em{ color:#ad322e;}


.wytougao{ padding:10px 5px; border-bottom:1px dotted #ddd;}
.wytougao a{ background:url(../www_images/2013315news/wytg.png) no-repeat;  height:48px; display:block; }
.so_inner{ font-size: 14px;border: 1px solid;border-color: #999 #DDD #DDD #999;height: 25px;padding: 2px; margin:10px 0; width:178px; }
.so_inner .sub{ border-radius: 3px; text-align: center;width: 45px;color: white;background: #900;height: 25px; cursor:pointer;float:right;}
.so_inner input{ border:0;line-height: 25px;float:left;}
.sonews{ padding:0 10px;}
.sonews .diqu .inner{line-height: 2em; padding: 10px 0; font-size:12px; _zoom:1}
.sonews .diqu .inner p a{float: left;text-align: center;width: 45px;}



.music_main{ margin:0 auto;}
.diquinbox h3{ font-size:12px; padding-bottom:10px; margin:5px;}
.diquinbox h3 span.title,.diquinbox .inner ul li span.xulie{ color:#990000;}
.diquinbox h3 span.zhu{ color:#666; margin-left:5px; font-weight:normal;}
.diquinbox .inner ul{ }
.diquinbox .inner ul li span.xulie{ font-family: "Î¢ÈíÑÅºÚ","ºÚÌå";font-weight: 200;font-size: 20px;position: absolute;left: 20px;top: 30%; }
.diquinbox .inner ul li{ border-bottom:1px dotted #ddd; position:relative;padding: 10px 10px 10px 60px; _zoom:1;}
.diquinbox .inner ul li a{color:#000;margin-bottom: 5px; margin-right:10px;display: inline-block;width: 5em; font-size:12px;}
.diquinbox .title{ font-size:14px;}




span.newsmusic a{ color:#fff; font-size:18px; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå"; line-height:60px;letter-spacing:2px; display:block; }
span.newsmusic:hover{ background:#666;}
span.now a{ color:#ff6600;}
span.newsmusic{ background:#333333; margin:10px 10px 10px 0; width:186px;text-align:center;}
.hnews{ margin:15px 0;_zoom:1;}
.hnews h3{ font-size:18px;  }
.hnews h3 a{ color:#000;}
.hnews  p{ font-size:12px; color:#999; margin:10px 0;}
.hnews p a{ color:#3399ff;}
.hnews .box{ margin:10px; _zoom:1;}
.hnews .box .vcont{ width:425px; margin-left:10px;}
.hnews .newstip{ background:url(../www_images/2013315news/newstip.png) no-repeat; width:30px; height:24px; text-align:center; top:2px; right:25px;}
.hnews .newstip a{ color:#fff;}
.npagelist{ text-align:center; padding-bottom:20px;}
.npagelist span{ background:#d14836; color:#fff; padding:5px 8px;}
.npagelist a{ color:#333; margin:7px;  }




.newwei{ background:#333333; padding:10px 0;  margin:10px 10px 10px 0;}


.newwei .weitop{ }
.newwei .weitop h4{ position:absolute; left:10px; top:5px; padding-left:5px; }
.newwei .weitop h4 a{ color:#ffcc00; text-decoration:none;}
.newwei .weitop a.more{ right:10px; color:#999; font-size:12px;}
.newwei #weiinner {height:350px; display:block; overflow:hidden; padding:0 10px 5px; margin:10px 0 5px; position:relative;}
.newwei #weiinner ul{position:relative; top:0px;  margin-top:-10px; }
.newwei #weiinner ul li{ height:85px; position:relative; background:#535353; margin:10px 0; padding:10px 10px 10px 80px; font-size:12px; }
.newwei #weiinner ul li .avatar{ left:10px; top:10px;}
.newwei #weiinner ul li .avatar a{ width:90px; height:90px; display:block; overflow:hidden;} 

.newwei #weiinner ul li .avatar a img{ width:90px;}
.newwei #weiinner ul li .inner h4 strong{ color:#fff;font-size:14px;}
.newwei #weiinner ul li .inner span,.newwei #weiinner ul li .inner p{ border-left:5px solid #7f7f7f; padding-left:5px; margin:15px 75px 0 0; line-height:12px; color:#ccc; line-height:14px;}
.newwei #weiinner ul li .inner span{ display:inline-block;}
.newwei #weiinner ul li .inner{ margin-left:40px;}
.newwei #weiinner ul li.now .inner span,.newwei #weiinner ul li.now .inner p{ border-left:5px solid #009966; }
.newwei #weiinner ul li.now .rz{ background:#14a258; color:#fff; margin-right: 130px; font-size:12px; padding:0 2px; _margin-right:60px; }
.newwei .weibottom .weisub a.down{ background:url(../www_images/2013315news/down.png) no-repeat; width:160px; height:24px; display:block; margin-left:200px;}
.newwei .weibottom .weisub{ }




.newsmain .listsite{ padding-bottom:10px; }
.newsmain .site{ padding-top:0;}
.newsmain .newinner{ margin:10px 0;}
.newsmain .newinner h1{font-size: 26px;font-family: "Î¢ÈíÑÅºÚ","ºÚÌå"; margin:20px 0; font-weight:400; line-height:1.5em;}
.newsmain .newinner .riqi{ color:#999; background-color:#F2F2F2; line-height:30px; margin-right:10px; margin-bottom:10px;}
.newsmain .newinner .riqi span{ padding-left:10px;}
.newsmain .newinner .zoom{ padding:10px 10px 10px 0; font-size:16px; line-height:2em; }
.newsmain .newinner .zoom p{}
.newsmain .newinner .message, .ajaxnews .message{ background:#eee; border-top:1px solid #000; padding:15px 10px 10px 15px; line-height:35px; margin-right:10px; margin-top:10px; _zoom:1; }
.newsmain .newinner .message strong, .ajaxnews .message strong{ margin-left:10px;}
.newsmain .newinner .message .avatar, .ajaxnews .message .avatar{ width:80px; height:80px;display:block; overflow:hidden; margin-right:10px; }
.newsmain .newinner .message .avatar, .ajaxnews .message .avatar{ width:80px;}


.newsmain .newinner .music_comment h4{font-size:12px;}


.w_sider{ }
.m_login{ margin:0 2px 10px;}
.m_login a{ width:190px; height:120px; display:block; overflow:hidden; text-indent:-333em;}
.m_user{ }
.m_user_avatar{}
.m_user_avatar .avatar{ width:70px; height:70px; display:block; overflow:hidden;}
.m_user_avatar .avatar img{ width:70px;}
.m_user_avatar .title{ width:90px; padding-left:10px;}
.m_user_avatar .title h6{ font-size:20px; font-weight:400; color:#F60; padding:10px 0; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå";}
.m_user_avatar .title p{ font-size:12px; }
.m_user_avatar .title p a{ color:#06C; text-decoration:underline; margin-right:10px;}
.m_user_center{ width:180px; margin-left:-10px; padding:10px 0;}
.m_user_center li{ float:left;}
.m_user_center li a{color:#06C; text-decoration:none; text-align:center; padding:0 10px; border-left:1px solid #DDD;}
.m_user_center li a:hover em{ color:#F60;}
.m_user_center li a, .m_user_center li a em, .m_user_center li a span{ display:block;}
.m_user_center li a em{  font-family: Verdana,Arial;}
.m_user_center li a span{ font-size:12px; color:#666;}
.m_sider{ margin:0 2px; padding:10px 0; border-top:1px dotted #DDD; line-height:2em;}
.m_sider h3 a{ font-size:14px; color:#000;}
.m_sider a{font-size:12px; }


.ajaxnews{ background:#FFF; width:730px; position:absolute; z-index:999999;}
.ajaxnews .anews{ width:730px;}
.ajaxnews .atitle{ font-size:12px; background:#333333; line-height:30px; padding:0 10px; zoom:1;}
.ajaxnews .atitle .site{ color:#999;}
.ajaxnews .atitle .site a{ color:#CCC}
.ajaxnews .aclose{ padding-right:25px; background:url(../www_images/2013315news/close.png) right center no-repeat; color:#999; cursor:pointer;}
.ajaxnews .aclose:hover{ text-decoration:none; color:#fff;}
.ajaxnews .inner{ padding:20px;  height:500px; overflow-y:auto;}
.ajaxnews .inner .zoom{line-height:2em; min-height:500px;}
.ajaxnews .inner .zoom a{ color:#rgb(0, 0, 205); text-decoration:underline; }
.ajaxnews .inner .zoom a:hover { color: #ba2636;}
.ajaxnews .inner h5{ font-size:24px; font-family:"Î¢ÈíÑÅºÚ","ËÎÌå"; line-height:2em;}
.ajaxnews .inner .atime{ font-size:12px; background:#EEE; padding:5px 10px; color:#666; margin-bottom:10px;} 

.ajaxnews .inner .atime a{font-size:12px;}
.ajaxnews .inner .message{ margin-top:30px;}


.ajaxnews, .ajaxnews .atitle{ -moz-border-radius:10px 10px 0 0; -ms-border-radius:10px 10px 0 0; border-radius:10px 10px 0 0;}


#windowsbg { display:none; position:absolute;	width:100%;	display:block; overflow:hidden;	background:#000; top:0;	left:0; filter:alpha(opacity=50);opacity:0.5;z-index: 999901;}
#fx_big{ -moz-box-shadow:none!important; box-shadow:none!important;}


/* jScrollPane */

.jScrollArrowUp {background:url(../music/img/jScroll/basic_arrow_up.gif) repeat-x 0 0;}
.jScrollArrowUp:hover {background-position:0 -15px;}
.jScrollArrowDown {background:url(../music/img/jScroll/basic_arrow_down.gif) repeat-x 0 0;}
.jScrollArrowDown:hover {background-position:0 -15px;}
.jScrollActiveArrowButton, a.jScrollActiveArrowButton:hover {background-position:0 -30px;}
.orange-bar .jScrollPaneTrack {	background:#f60;}
.orange-bar .jScrollPaneDrag {background:#00f url(../music/img/jScroll/drag_grab.gif) no-repeat 50% 50%;}
.orange-bar .scroll-pane {background:#69f;}
.jScrollPaneContainer {	position:relative; overflow:hidden; z-index:1;}
.jScrollPaneTrack {	position:absolute;	cursor:pointer; right:0; top:0;	height:100%; background:#DDD;}
.jScrollPaneDrag {position:absolute; background:#333; cursor:pointer; overflow:hidden }
.jScrollPaneDrag:hover{ background:#000;}
.jScrollPaneDragTop { position:absolute; top:0; left:0; overflow:hidden;}
.jScrollPaneDragBottom {position:absolute; bottom:0; left:0; overflow:hidden; }
.jScrollArrowUp { display:block; position:absolute; z-index:1; top:0; right:0; text-indent:-2000px; overflow:hidden; height:9px; }
.jScrollArrowDown {	display:block;position:absolute;z-index:1;bottom:0;	right:0;text-indent:-2000px;overflow:hidden;height:9px;}
.jScrollPaneDrag{ -webkit-border-radius:4px;border-radius:4px;-moz-border-radius:4px;}


.leftside .music1{ border-left:1px solid #ddd; padding-left:10px; }
.leftside .music{  width:258px; float:left; border-bottom:1px solid #ddd;}



.slides { display: none;;  }
.slides .slidesjs-navigation { margin-top:5px; }
a.slidesjs-next,a.slidesjs-previous,a.slidesjs-play,a.slidesjs-stop, .slides .slidesjs-pagination li.slidesjs-pagination-item{ display:block; overflow: hidden; float: left;  background:url(http://lib.guzheng.cn/www_images/gobal/slidejs/banner-icon.png) no-repeat;  z-index:99; text-indent:-9999em;}
a.slidesjs-next,a.slidesjs-previous{ width:26px; height:45px;  position:absolute; bottom:5px;}
a.slidesjs-previous{ background-position:0 0; left:5px;}
a.slidesjs-next{ background-position:-27px 0; right:5px;}


.container, .slides, .slides slidesjs-control, .slidesn{ width:300px; height:300px; display:block; overflow:hidden; position:relative;}
.slides .slidesn span{ position:absolute; top:245px; left:0; z-index:1000; line-height:1.2em; padding:5px 35px; color:#fff; text-shadow:#333 1px 1px 1px; font-size:12px;}
.slides .slidesn p{ width:300px; height:55px; background: #000; filter: alpha(opacity=50); -moz-opacity: 0.5; opacity: 0.5; position:absolute; bottom:0; left:0;}
.slidesjs-pagination{ height:8px; position:absolute; z-index:99px; bottom:5px;}
.slidesjs-pagination{ position:absolute; left:35px; bottom:10px;  z-index:99; }
.slides .slidesjs-pagination li.slidesjs-pagination-item{ background:none;}
.slides .slidesjs-pagination li.slidesjs-pagination-item a{ display:block; margin:0 5px; width:10px; height:10px;  background:#FFF; border-radius:5px;}
.slides .slidesjs-pagination li.slidesjs-pagination-item a.active{  background:#F66;}


.newnews ul li .newtime{ float:right; font-size:12px; color:#4b4b4b;}

.newsfenxiang{ padding:15px; height:110px; clear:both; margin-right:10px;overflow:hidden; zoom:1; border:0; background:#9e0f15}
				
.newsfenxiang dl{ float:left; width:195px; margin-left:10px; font-size:14px; color:#fff;border-right:1px solid #fff; }
.newsfenxiang dl dd strong{ color:yellow; font-size:16px; font-weight:100; display:block; padding:3px 0;}
.newsfenxiang dl dd{  font-size:14px; }
.newsfenxiang dl dd a{ color:#9ea114}
.newsfenxiang .fr{ width:230px; color:#fff; padding-left:10px; margin-top:18px; line-height:35px; }


@media screen and (max-width: 1000px) {	

 .music_nav ,.news_main,.leftside,.music_main{ width:auto!important;}
 .w_sider,.music_nav blockquote,.w_banner,.w_sider,.siderright,#container{ display:none!important;}
 .music_nav,.music_nav div{height: auto!important;}
 .m_nav_l {clear: both!important;overflow: hidden!important;}
 .m_nav_l,.leftside{ float:none!important;}
 .music_nav {background: #C00!important; margin-bottom:5px;}
 .m_nav_l{}
 .m_nav_l li{ padding:0!important; }
 .m_nav_l li p{ height:0!important; overflow:hidden!important;}
 .m_nav_l li a {border-bottom: 1px solid #990000!important;}
 .music_main{ background:none;}
 .npagelist {font-size: 26px;}
 .npagelist a, .pagelist span {padding: 0 14px; margin-top: 10px; line-height: 1.5em; height:auto;}


}
@media screen and (max-width: 750px) {	

 p.m_nav_r,#slides,.list_title p,.newstip{ display:none!important;}
 .w300,.w460,.ztnews .box .vcont,.music,.w560,.hnews .box .vcont{ width:auto!important;}
 .w300,.top,.ztnews,.ztnews .box .vcont,.music,.w560,h1,.site,.hnews .box .vcont,.hnews .box .avtar{float:none!important;}
 .top{ padding:0px;}
 .music{   }
 .ztnews,.music,.top,.active1,.hnews{ background:#fff;margin-bottom:5px;padding:5px!important;}
 .music_title{ padding:5px;}
span.newsmusic { width:300px;}
.newinner{ margin:0 5px!important; padding:5px}


}
@media screen and (max-width: 520px) {	
.leftside .active1 ul.yya{ line-height:30px;}
.leftside .music ul li a,.leftside .active1 ul.yya li a{font-size: 14px;}
.leftside .music ul h4 a,.top .box .vcont h4 a,.leftside .active1 h3 a.title,.top h3,.ztnews .content h4 a, .ztnews h3 a,.leftside .music h3 a{font-size: 20px;}
.top h3{ width:150px;}
a.more{ display:none;!important;}

}
