
@media screen and (max-width: 1000px) {	
	/* musicview*/
	.music_nav, .music_main, .w_content, .music_so, .mList, .mobiplay,.box740,.w_index_l{ width:auto!important;}
	.music_nav, .music_nav div, .music_so .inner{ height:auto!important;}
	.m_nav_l{ clear:both!important; overflow:hidden!important;}
	.m_nav_l, .music_view, .m_so_form , .site, .music_title h1, .box740,.w_index_l{ float:none!important;}
	.m_nav_r, .music_nav blockquote, .w_sider, .w_banner, .music_so .inner .yyhe , .music_so .inner .m_so .more, .fenxiang, #hibannerall{ display:none!important;}
	.music_nav{ background:#C00!important} 
	.music_main{ background:#FFF!important; }
	.m_nav_l{}
	.m_nav_l li{ padding:0!important; }
	.m_nav_l li p{ height:0!important; overflow:hidden!important;}
	.m_nav_l li a{ border-bottom:1px solid #990000!important;}
	.music_so .inner{ background:none; padding:10px!important; border:none!important; clear:both!important; padding-bottom:50px!important; }
	.music_main { background:#eee;}
	
	.site, .music_view_title, .music_view_inner, .viewmore, .mobiplay, .music_comment,.mp3weizhi,.mp3view{ padding:10px!important; margin:5px!important; background:#FFF!important; border:1px solid #ddd!important;}
	.site{ margin-top:10px!important;}
	.music_view_inner p{ background:none!important;}
	.music_view_inner ul{ padding-bottom:20px!important;}
}
@media screen and (max-width: 750px) {	
	/* musicindex*/
	.w_index_l{ width:auto!important;}
	.m_zhuti_inner{ float:none!important;}
	.music_view_panel, .m_first_mingqu{display:none!important;}
	/* musicview*/
	.mobiplay{ display:block!important;}
	.mobiplay audio{ width:80%!important; margin:10px 0!important;}	
	.music_first .w_indxe_l3{ width:45%;}
}
@media screen and (max-width: 520px) {	
	/* musicindex*/
	.music_main { background:#EEE!important;}
	.music_first .w_indxe_l3, .m_zhuti_inner .title, .m_zhuti_inner ul li{ float:none!important;}
	.music_first .w_indxe_l3, .m_zhuti_inner,.m_zhuti_inner .title, .m_zhuti_inner ul, .m_zhuti_inner ul li { width:auto!important;}
	.m_zhuti_inner .avatar, .m_zhuti_inner .title h4 a.blueplay, .music_index_yyh{display:none!important;}
	.m_zhuti_inner ul li { background:none;}
	.w_indxe_l3, .music_index_h3, .music_index_zhuanji  { padding:10px!important; margin:5px!important; background:#FFF!important; border:1px solid #ddd!important;}
}
