body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,input{margin:0;padding:0;}
body{color:#333; line-height:1.5em; background:#fff; font-size:14px; font-family:"STHeiti Light","Microsoft YaHei","SimSun",Arial}
a{ color:#000; -webkit-font-smoothing: antialiased;}
body a,body a:link{text-decoration:none;}
body a:hover{ text-decoration:underline}
ul li,dl li{list-style:none}
fieldset,img,abbr,acronym{ border:none}
img{-ms-interpolation-mode:bicubic}
input,select,textarea{ font-size:12px!important}
/* end reset */

.inbox{ border:1px solid #ddd}
.innerbox{ padding:10px;}
.fl{ float:left!important}
.fr{ float:right!important}
.fn{ float:none!important}
.pr{ position:relative;}
.pa{ position:absolute;}
.clearleft{ clear:left}
.clearright{ clear:right}
.over{ overflow:hidden;}
.block{ display:block}
.none{ display:none}
.pt10{ padding-top:10px;}
.pt0{ padding-top:0!Important}
.mt10{ margin-top:10px!important}
.mb10{ margin-bottom:10px!important}
.mb0{ margin-bottom:0!Important}
.ml10{ margin-left:10px}
.f14{ font-size:14px!Important}
.f16{ font-size:16px!Important}
.bgnone{ background:none!Important}
.hide{ display:none;}
.boxgreen,.boxyellow,.boxred,.boxblue{ padding:5px 10px}
.boxgreen{ background:#F2FFEE; border:1px solid #CAF2BE}
.boxyellow,.messagebox .messagebox_f{ background:#FEFCEF; border:1px solid #E6DDC3}
.boxred{ background:#FDF6F6; border:1px solid #E6C9C9}
.boxblue{ background:#E7EFF9; border:1px solid #C9DDE6}
.boxgray{ background:#F5F5F5; border:1px solid #ddd}
.pb15{ padding-bottom:15px}
.pb10{ padding-bottom:10px}
.pointer{ cursor:pointer;}
.yuanjiao,.yuanjiao img,.imagefocus img,.inbox,.bannerc img,.messagebox,.messagebox img,.messagelist .mtop .fl a,.messagebox_f,.messagelivebox dl dd input.denglu,.messagelivebox dl dd input.tjpl,.weizhi,.toupiao .tijiao input,#fenxiang{-webkit-border-radius:4px;border-radius:4px;-moz-border-radius:4px;}
.noyuanjiao{-webkit-border-bottom-left-radius:0px;border-bottom-right-radius:0px;-webkit-border-bottom-left-radius:0px;border-bottom-right-radius:0px;-moz-border-radius-bottomright:0px;-moz-border-radius-bottomleft:0px;}
.shangbanyuan,.inbox h3{-webkit-border-top-left-radius:4px;border-top-right-radius:4px;-webkit-border-top-left-radius:4px;border-top-right-radius:4px;-moz-border-radius-topleft:0px;-moz-border-radius-topright:0px;}
body a,body a:link,a:hover,p,img,ul,li,span,strong,em,table,div:hover,p:hover,img:hover,ul:hover,li:hover,span:hover,strong:hover,em:hover,table:hover,dl *,dl:hover *{-webkit-transition:color 0.3s;transition:color 0.3s;}
/* end gm */

.box230{ width:230px}
.box300{ width:300px}
.box400{ width:400px}
.box390{ width:390px}
.box240{ width:240px}
.box250{ width:250px}
.box650{ width:690px}
.box710{ width:710px; overflow:hidden}
.box720{ width:720px;}
.topbar .inner,.header .inner,.bannerall,.subnav,.main,.copyright{width:1000px!important; margin:0px auto;}
/*  end laycenter */

.header .inner .nav .nav_1 ul li.n6, .header .inner .nav h2, .subnav, .subnav ul li {background: url(../www_images/gobal/topsprite.png) no-repeat;}
.subnav{background: url(../www_images/gobal/lunwen_nav.png) 0 0 no-repeat;}
h1.logo a{ background:url(../www_images/www2013/logo2014.png) -10px center no-repeat;}
h1.logo,h1.logo a{ width:280px;}
/* end sprite bg */

.clear,.subnav .submenu,.main,.messagebox,.flinks .inner{ clear:both; overflow:hidden; zoom:1;}
.topbar{ line-height:40px; height:40px; background:#F9F9F9; border-bottom:1px solid #E6E6E6; width:100%; position:absolute; left:0; top:0; z-index:999;}
.topbar .inner p{ color:#999; font-size:12px}
.topbar .inner p span.j{ margin:0 0.5em}
.topbar .inner a{ color:#555}
.topbar .inner .tb{ padding-left:16px; margin-right:15px; background:url(../www_images/gobal/topbar.png) no-repeat;}
.topbar .inner .tb_home{ background-position:0 2px ;}
.topbar .inner .tb_qnav{ background-position:0 -58px ;}
.topbar .inner .tb_uc{  background-position:0 -113px ;}
.topbar .inner p.fr{ color:#CCC;}
.topbar .inner p.fr strong{ color:#f60; font-family:Verdana, Arial, Helvetica, sans-serif; font-weight:100}
.topbar .inner p.fr .backhome{ padding-left:15px; margin-left:15px; background:url(../www_images/gobal/home_ico.png) 0 1px no-repeat;}
.topbar .inner .topweibo, .topbar .inner .topweixin{display:inline-block; padding-left:19px; }
.topbar .inner p.fr .topweibo{ background:url(../www_images/gobal/topsina.png) 0 12px no-repeat;}
.topbar .inner p.fr .topweixin{ background:url(../www_images/gobal/topweixin.png) 0 11px no-repeat;}
.topbar .inner{ position:relative}
/* end topbar */

.header{ background:#FFF;}
.header .inner{ padding-top:41px; hoverflow:hidden;}
h1.logo,h1.logo a, .header .inner,.header .inner .nav{height:98px}
h1.logo{ float:left;}
h1.logo a{ text-indent:-999em;  display:block; overflow:hidden;}
.header .inner{ clear:both; overflow:hidden;}
.header .inner .nav{ font-size:12px;overflow:hidden; zoom:1; float:right; }
.header .inner .nav ul { margin-left:-10px; clear:both;}
.header .inner .nav ul li{ float:left; padding-left:10px;  _display:inline;}
.header .inner .nav ul li a{ color:#666; display:inline-block; padding:2px 3px;  padding:4px 3px!ie; line-height:16px; height:16px; overflow:hidden;}
.header .inner .nav ul li a:hover{ background:#D52824; color:#fff!important; text-decoration:none; -webkit-border-radius:2px;border-radius:2px;-moz-border-radius:2px;  }
.header .inner .nav ul li a.none{ color:#C0C0C0; margin-left:3px;}
.header .inner .nav ul li a.none:hover{ background:#666; color:#fff; text-decoration:none;}
.header .inner .nav ul li a.new{ color:#F66; position:relative; }
.header .inner .nav ul li a.new span{ font-size:9px; color:#FFF; padding:1px 2px; background:#f99; position:absolute; top:-9px; right:-12px;}
.header .inner .nav ul li a.new:hover{ color:#FFF; }
.header .inner .nav h2 {font-size: 12px;}
.header .inner .nav .nav_1{ width:325px; padding-left:8px;  _padding-left:5px; width:320px!ie;}
.header .inner .nav .nav_2{ width:375px; padding-left:5px;  _padding-left:6px; width:385px!ie;}
.header .inner .nav .nav_1,.header .inner .nav .nav_2{ float:left; overflow:hidden; display:inline!ie; padding-top:20px; height:78px;}
.header .inner .nav .nav_1 h2 { padding-left: 18px; background-position: -1140px 3px; margin-left: 0; }
.header .inner .nav .nav_2 h2 { padding-left: 18px; background-position: -1140px -26px;}
.header .inner .nav ul li a.guzhengtopxqtj{ padding-right:40px; background:url(../www_images/www/guzhengcn_nav_new.png) right center no-repeat; }
.header .inner .nav ul li a.guzhengtopxqtj:hover{background-color:#D52824; }
/* end header */

.subnav{ height:54px; background-position:0px -7px; overflow:hidden; margin-bottom:10px; padding-left:10px; width:990px!important; position:relative; padding-top:3px;}
.subnav h3,.subnav ul,.subnav search{ height:30px; overflow:hidden; float:left}
.subnav h3{padding-left:12px;font-family: "Î¢ÈíÑÅºÚ","ºÚÌå";text-shadow:#8E0802 2px 2px 2px;font-weight:500;font-size:120%;line-height:30px; color:#fff; width:200px}
.subnav h3 span{ font-size:11px; font-family:Arial, Helvetica, sans-serif; text-shadow:none; margin-left:5px;color:#E1908C}
.subnav h4.titlesub{ width:104px; height:33px; position:absolute; left:0; top:0; background:url(../www_images/gobal/subnavon.png) 0 0 no-repeat }
.subnav h4.titlesub,.subnav h4.titlesub a{line-height:40px; color:#d80000; overflow:hidden;font-family: "Î¢ÈíÑÅºÚ","ºÚÌå";text-shadow:#ccc 2px 2px 2px;font-weight:500; font-size:20px; text-align:center; }
.subnav .submenu{ height:24px; line-height:24px; font-size:12px; padding:0 12px}
.subnav .submenu li{ list-style:none}
.subnav ul{ width:710px; overflow:hidden; margin-left:97px; display:inline!IE;}
.subnav ul li{ float:left; display:inline!ie; padding:0 14px 0 12px; line-height:30px;background:url(../www_images/gobal/navbg.png) right top no-repeat;text-align:center }
.subnav ul li.on{ width:98px; text-align:center; padding:0 2px 0 0!Important;background:url(../www_images/gobal/subnavhoverbg.png) 0 0 no-repeat; line-height:30px!important; height:30px; overflow:hidden}
.subnav ul li.on a{ color:#FF3;}
.subnav ul li.on a:hover{ color:#FF3}
.subnav ul li a{ color:#fff; font-family:"ËÎÌå"; font-size:12px;}
.subnav ul li a:hover{ color:yellow;}
.subnav .search{ width:174px; position:relative; overflow:hidden}
.subnav .search input{ border:0; background:none;}
.subnav .search input.shuru{ width:90px; padding:8px 4px 1px 4px; color:#666;margin-left: 40px;}
.subnav .search input.tijiao{ width:35px; text-align:center; height:30px; cursor:pointer; position:absolute; right:0; top:0; top:1px!ie; _right:2px}
/* end subnav */

.imagefocus,.subnav,.bannerall,.inbox{margin-bottom:10px}
/* end same margin-bottom */

.inbox{ border:1px solid #ddd; background:#fff}
.inbox h3{ height:28px; line-height:28px; overflow:hidden; clear:both; border-bottom:1px solid #ddd; padding:0 10px; background:url(../www_images/gobal/h3bg.png) repeat-x}
.inbox h3 span.title,.inbox h3 span.title a{ color:#D80000; font-size:14px; text-decoration:none;}
.inbox h3 span.more{ font-size:12px; font-weight:100; float:right; margin-top:-28px!ie}
.inbox h3 span.more a{ color:#888}
.inbox h3 span.more a:hover{ color:red}
.inbox h3 span.gray{ color:#666!Important}
.inbox h3.weizhi{ border:0!Important; font-size:12px; font-weight:100; color:#000; width:628px;}
.inbox h3.weizhi a{ color:#369}
.huodong{}
.huodong ul{ clear:both; overflow:hidden; zoom:1; padding:10px 0 10px 40px}
.huodong ul li{ float:left; width:237px;  color:#888; font-family:"ËÎÌå";padding: 5px 0px; position:relative; height:87px;}
.huodong ul li img{border:1px solid #ddd; display:block; margin-bottom:5px;}
.huodong .inner li a:hover img{ box-shadow:#999 0 0 10px;}
.huodong ul li span.now{ background:#F90;}
.huodong ul li img{ border:1px solid #dce1e5;}
.huodong ul li span{ position:absolute; bottom:14px; right:40px; font-size:12px; padding:0 3px; background:#CCC; color:#FFF;}
.huodong ul li.r4,.huodong ul li.r8{ width:180px;background-position:148px 8px}
.huodong ul li.r3,.huodong ul li.r7{ width:160px}
.huodong ul li.r2,.huodong ul li.r6{ width:250px}
.huodong ul li.r1,.huodong ul li.r5{ width:300px; background-position:210px -25px}
.huodong ul li.r2{background-position:130px -25px}
.huodong ul li.r3{background-position:75px -25px}
.huodong ul li.r6{background-position: 0 30px;}
.huodong ul li.r7{background-position:75px 8px}
.flinks{}
.flinks .inner{ text-align:left; padding:10px 0 0}
.flinks .inner img{ display:block; border:1px solid #ddd;}
.flinks .inner a{ display:inline-block; margin-left:30px; font-size:12px; color:#666; text-align:center; padding-bottom:10px}
.flinks .inner a:hover img{ border-color:#CFDCE9}
.flinks .inner a:hover{ color:#369; zoom:1!ie}
.fmenu{ font-size:12px; border-bottom:none; height:30px; line-height:30px;}
.fmenu span{ color:#888; margin:0 5px}
.fmenu a{ color:#FFF}
.ffont{ padding:10px 0 20px;color:#666; font-size:12px; }
.footer{ background:#333333; margin-top:20px; line-height:28px;}
.footer .other{border-bottom:1px solid #222;}
.footer img{ margin: 10px 0 0px;}
.fmenu, .ffont, .footer .other{ text-align:center; }
.footer .fmenu a,.footer .fmenu,.ffont,.ffont a{ font-size:12px; color:#999;  }
.footer a:link{ color:#999;}
.pagelist{ padding-bottom:10px; font-size:12px; clear:both; overflow:hidden; zoom:1}
.pagelist a,.pagelist span{-webkit-transition:all 0.5s;transition:all 0.5s; display:inline-block; text-decoration:none; -webkit-border-radius:4px;border-radius:4px;-moz-border-radius:4px; padding:0 8px; margin-right:4px; line-height:20px; height:20px; font-family:Arial, Helvetica, sans-serif; *font-family:"ËÎÌå"}
.pagelist a:link,.pagelist a:visited{color:#fff;background:#AFBAC5; }
.pagelist a:hover{-webkit-transition:all 0.5s;transition:all 0.5s;background:#369; color:#fff}
.pagelist span{background:#f60; color:#fff}
.pagelist  .a1{}
.pagelist a.morex{color:#666; border-radius:4px; display:block; margin:0 15px 0 15px; height:30px; line-height:30px; background:#ddd}
.pagelist a.morex:hover{ background:#f60; text-decoration:none; color:#fff}
p.ftop{ text-align:right}
p.ftop a{ color:blue; text-decoration:underline}
.bor0{ border:0}

.messagebox{ border:1px solid #ddd; padding:10px 14px; margin-bottom:10px}
.messagebox h4{ height:20px; line-height:20px; overflow:hidden; font-family:Verdana, Arial, Helvetica, sans-serif; font-weight:100; color:#666}
.messagebox h4 span{ float:right; color:#888; margin-top:-20px!Ie; font-size:12px}
.messagebox h4 strong{ font-size:14px; font-weight:bold}
.messagebox .messagebox_content{ padding-top:5px;color:#000; line-height:1.3em; font-size:14px!important; clear:both; overflow:hidden; zoom:1}
.messagebox .messagebox_content .photo img{border:2px solid #fff;}
.messagebox .messagebox_content .photo{ float:left; width:50px; margin-right:12px}
.messagebox .messagebox_content .fr{ float:none!important; overflow:hidden}
.messagebox p.huifu{ text-align:right; clear:both; overflow:hidden; zoom:1;}
.messagebox p.huifu a{ text-decoration:underline}
.messagebox .messagebox_f{ padding:5px; margin:0 0 10px 0; clear:both; overflow:hidden}
.messagebox:hover{ background:#f6f6f6}
h1.pinglun{ margin-bottom:10px; text-align:center; color:#000; font-size:22px; padding:10px 0; line-height:24px;}
h1.pinglun a{ color:#000}
.messagelist .mtop { color:#369; font-size:12px;}
.messagelist .mtop .fl a{ color:blue; text-decoration:underline;}
.messagelist .mtop .fl a.p_input{ display:inline-block; line-height:28px; background:#369; color:#fff; font-weight:bold; padding:0 10px; margin-right:12px; text-decoration:none;}
.messagelist .mtop .fr{ padding-top:4px;}
.weizhi{ width:978px; margin:0px auto; font-size:12px; height:28px; line-height:28px; background:#efefef; border:1px solid #ddd; color:#555; padding:0 10px}
h2.titlepinglun,h2.titlepinglun a{font-family: "Î¢ÈíÑÅºÚ","ºÚÌå";text-shadow:#eee 2px 2px 2px;font-weight:500;font-size:30px; padding-bottom:4px; color:#000; line-height:35px;  text-align:center; padding:20px 0}
h2.titlepinglun a:hover{ text-decoration:underline; color:red}
.bannerc{ margin-bottom:10px}
.toupiao{ padding:5px 10px}
.toupiao h2{font-family: "Î¢ÈíÑÅºÚ","ºÚÌå";text-shadow:#eee 2px 2px 2px;font-weight:500;font-size:20px; padding-bottom:4px; color:#000; line-height:35px;  text-align:center;}
.toupiao ul{ font-size:12px; border-bottom:1px dotted #ddd; border-top:1px dotted #ddd; padding:10px 0; margin-bottom:10px}
.toupiao ul li{ line-height:26px; padding:0 10px;}
.toupiao ul li input{ margin-right:5px; vertical-align:-3px; vertical-align:-2px!ie; _vertical-align:0}
.toupiao ul li:hover{ background:#efefef}
.toupiao .tijiao{ padding-bottom:10px}
.toupiao .tijiao input{ border:0; background:#369; color:#fff; cursor:pointer; width:90px; height:24px}
/* new fenxiang */

#fx_big, #fx_small{ clear:both; overflow:hidden; zoom:1; border:1px solid #EFEFEF; border-width:1px 0; }
#fx_big{ position:relative; padding-right:220px; height:110px; color:#666; }
#fx_big a{ text-decoration:underline; color:#09C;}
#fx_big .fx_sc{ padding:15px 0; border-bottom:1px solid #eee;}
#fx_big .fx_sns{ padding:20px 0;}
#fx_small{ padding:5px 0; overflow:hidden; color:#666;}
#fx_small .fx_sc{ float:left; padding-top:5px; }
#fx_small .fx_sc span{ font-size:12px;}
#fx_small .fx_sns{ float:right;}
.fx_sc .fx_shoucang{ width:72px; height:24px; margin-right:10px; margin-top:-3px; display:inline-block; overflow:hidden; text-indent:-9999em; background:url(../www_images/fenxiang/shoucang.png) no-repeat; zoom:1; float:left; cursor:pointer;}
.fx_sc .fx_shoucang:hover{background:url(../www_images/fenxiang/shoucang.png) 0 -24px no-repeat;}
.fx_sns{ font-size:12px; line-height:16px; padding:9px 0;}
.fx_sns span{ padding-left:8px;}
.fx_sns .fx_tqq, .fx_sns .fx_weibo, .fx_sns .fx_qzone, .fx_sns .fx_renren, .fx_sns .fx_kaixin, .fx_sns .fx_douban{ width:16px; height:16px; text-indent:-9999em; margin:0 3px -3px 3px; display:inline-block; overflow:hidden;}
.fx_sns .fx_tqq{ background:url(../www_images/fenxiang/tqq.png) no-repeat;}
.fx_sns .fx_weibo{ background:url(../www_images/fenxiang/weibo.png) no-repeat;}
.fx_sns .fx_qzone{ background:url(../www_images/fenxiang/qzone.png) no-repeat;}
.fx_sns .fx_renren{ background:url(../www_images/fenxiang/renren.png) no-repeat;}
.fx_sns .fx_kaixin{ background:url(../www_images/fenxiang/kaixin.png) no-repeat;}
.fx_sns .fx_douban{ background:url(../www_images/fenxiang/douban.png) no-repeat;}
.fx_fl{}
.fx_fr{ width:220px; position:absolute; top:0; right:0; height:100%; font-size:12px; overflow:hidden;  border-left:1px solid #eee;}
.fx_fr ul{ height:108px; zoom:1; clear:both; overflow:hidden;}
.fx_fr ul li{ float:right; padding:8px;}
.fx_fr ul li a{ text-indent:-999em; width:90px; height:90px; display:block; overflow:hidden;}
.fx_fr ul li.tougao a{ background:url(../www_images/fenxiang/fx_c_bg.png) 0 -90px no-repeat;}
.fx_fr ul li.baocuo a{ background:url(../www_images/fenxiang/fx_c_bg.png) -90px -90px no-repeat;}
.fx_fr ul li.tougao a:hover{ background:url(../www_images/fenxiang/fx_c_bg.png) 0 0 no-repeat;}
.fx_fr ul li.baocuo a:hover{ background:url(../www_images/fenxiang/fx_c_bg.png) -90px 0 no-repeat;}
.fx_fr ul li a:hover{ -webkit-transition:background 0.2s; -moz-transition:background 0.2s; transition:background 0.2s;}
.toTop{display: none; position: fixed; bottom:10px; right: 5px; overflow: hidden;  width:21px; height:66px; background: url(../www_images/gobal/totop.png) no-repeat left top;	cursor: pointer;}
.toTopHover{background: url(../www_images/gobal/totop.png) no-repeat right 0; width:21px; height:66px; display: block; overflow: hidden;  opacity: 0;  -moz-opacity: 0;	filter: alpha(opacity=0)}
a.vmore{ display:inline; padding:0; color:#369; text-decoration:underline; background:none}
ul.ul_img2{ clear:both; overflow:hidden; zoom:1; padding-top:15px}
ul.ul_img2 li{ float:left; margin-left:18px; text-align:center; font-size:12px; display:inline;}
ul.ul_img2 li img{ display:block;}
.ul_news_f12{ padding:10px; padding-top:4px}
.ul_news_f12 li{ font-size:12px; height:24px; line-height:24px}
.ul_news_f12 li span.dot{ font-family:"ËÎÌå"; color:#888}
.ul_news_f12 li span.xulie{ font-family:Arial, Helvetica, sans-serif; height:14px; line-height:14px; display:inline-block; text-align:center; width:20px; margin-right:4px; background:#ddd; color:#666; color:#999}
.ul_news_f12 li.mtop span.xulie{ background:#f60; color:#fff}
.ul_news_f12 li span.title a{ color:#333}
.ul_news_f12 li span.title a:hover{ color:blue}
.ul_news_f12 li a{ _display:inline-block;}
ul.imgfl_x{}
ul.imgfl_x li{ padding:10px 0; border-bottom:1px dotted #ddd; clear:both; overflow:hidden; zoom:1}
ul.imgfl_x li:hover{ background:#f6f6f6}
ul.imgfl_x li span.vimg{ display:inline-block; vertical-align:top; margin:0 10px}
ul.imgfl_x li span.vimg img{ border:1px solid #ddd}
ul.imgfl_x li span.title{ display:inline-block; width:110px; font-size:12px; line-height:18px}
ul.imgfl_x li span.title strong{ display:block}
ul.imgfl_x li a{ color:#000;}
h2.logo_tv{ width:250px; height:80px; float:left; overflow:hidden; text-align:center; }
h2.logo_tv a{ line-height:80px; display:block; text-indent:-999em;}
.titlepl{}
.titlepl h4{ font-size:14px; padding:5px 10px; border-bottom:1px solid #ddd; height:30px; line-height:30px;}
.titlepl h4 span{ font-size:12px; color:#888; font-weight:100;}
.titlepl h4 span strong{ color:#f60}
/* ucenter top nav*/

#uc_login{ font-size:12px; clear:both; padding-right:10px}
#uc_login .uc_t{ padding:0 10px; }
#uc_login .uc_t img{ _display:none; border:3px solid #FFF; }
#uc_login .uc_t img{ border-radius:22px; -ms-border-radius:22px; -moz-border-radius:22px;}
#uc_login .uc_center{ color:#F60; margin-left:10px;}
#uc_login .uc_center em{ font-style:normal; line-height:1em!important; color:#FFF; padding:0px 4px; background:#F90; margin-left:3px;}
#uc_login .uc_center em{ border-radius:10px; -ms-border-radius:10px; -moz-border-radius:10px;}
/* hiheng js banner*/

.header .banner_index{ width:0; height:0;display:block; }
.header_wenda{ font-size:12px; }
.header_wenda ul li{ border-bottom:1px dotted #CCC; padding:10px 0; }
.header_wenda ul li p{ text-indent:1.5em; background:url(../www_images/www/png_ping.png) 0 3px no-repeat;}
.header_wenda ul li span a{ padding:1px 5px; background:#999; color:#FFF; -moz-border-radius:3px; border-radius:3px;}
.header_wenda ul li span a:hover{ background:#06C; text-decoration:none;}
.mall_hot{ padding:10px; border-bottom:1px dotted #DDD; }
.mall_hot .avatar{ position:relative;}
.mall_hot .avatar span a{ width:180px; height:180px; overflow:hidden; display:block;}
.mall_hot .avatar span a img{ width:180px;}
.mall_hot .avatar a.pa{ top:-5px; right:5px;}
.mall_tuijian{ font-size:12px;}
.mall_tuijian ul li{ clear:both; overflow:hidden; padding-top:10px;}
.mall .mall_tuijian ul li .inner{ width:120px;}
.mall_tuijian ul li .inner del, .mall_tuijian ul li .inner strong{ font-family:verdana,arial;}
.mall_tuijian ul li .inner strong{ font-size:16px; color:#F00;}
.mall_tuijian{ font-size:12px;}
.mall_tuijian ul li .avatar{ margin-right:10px; padding:2px; background:#FFF; border:1px solid #DDD;}
.mall_tuijian ul li .avatar a{ width:60px; height:60px; display:block; overflow:hidden;}
.mall_tuijian ul li .avatar img{ width:60px; -moz-border-radius:0!important; border-radius:0!important;}
/* banner200 */

.borbot{border-bottom:1px dotted #CCC; padding:10px;}
.banner200 .mall_hot{border:none; padding-bottom:0;}
.banner200 .mall_tuijian ul li .avatar{ margin-right:5px; padding:1px; background:#FFF; border:1px solid #DDD;}
.banner200 .mall_tuijian ul li .avatar a{ width:50px; height:50px; display:block; overflow:hidden;}
.banner200 .mall_tuijian ul li .avatar img{ width:50px; -moz-border-radius:0!important; border-radius:0!important;}
.banner200 .header_wenda{ width:160px; margin:0 10px;}
.banner200 .header_wenda ul{ padding-top:0;}
.banner200 .ul_img li{ padding:5px 0;}

.obannermall{ margin-bottom:20px; background:#C30; }
.obannermall, .obannermall ul.banr, .obannermall ul.banr li img, .obannermall ul.num{ width:100%; font-size:12px;}
.obannermall h3 a{ font-size:14px; font-family:"Î¢ÈíÑÅºÚ"; display:block; color:#FFF; text-align:center; line-height:2.5em; background:#AF2020;}
.obannermall h3 a:hover{ background:#C00; text-decoration:none;}
.obannermall ul.num{ font-family:Arial; clear:both; overflow:hidden; box-shadow: #555 0px 0px 1px; position: relative; z-index: 1;}
.obannermall ul.num li{ width:20%; width:19%!ie; float:left; text-align:center; }
.obannermall ul.num li a{ color:#FFF;  cursor:pointer; display:block;}
.obannermall ul.num li a:hover{ text-decoration:none; }
.obannermall ul.num li.now a{ background:#F50; color:#FFF;}
.obannermall ul.banr, .obannermall ul.banr li .avatar{ position:relative;}
.obannermall ul.banr {height:285px; }
.obannermall ul.banr li .avatar b {position: absolute; bottom:3px; bottom:none!ie; top:0!ie; right: 0; float: right; font-family: Arial; color: #FFF; font-size: 14px; padding: 0 5px; line-height:24px; height:24px; background: rgba(0,0,0,0.3) none repeat scroll !important; background: #000; filter: Alpha(opacity=20); }
.obannermall ul.banr li{ display:none; position:absolute; top:0; left:0;}
.obannermall ul.banr li.now{ display:block;}
.obannermall ul.banr li .title{ padding:0 10px;}
.obannermall ul.banr li .title a{ font-weight:bold; display:block; color:#FFF;}
.obannermall ul.banr li .title p{ color:#FBB;}
/* message */

.music_comment{ padding-right:10px;}
.music_comment h3{ font-size:14px; color:#F60; line-height:2em; margin-top:10px;}
.music_comment .notlogin{ border:1px solid #CCC; padding:20px; text-align:center; color:#666; background-color:#F8F8F8;}
.music_comment .notlogin a{ font-weight:bold; padding:0 5px;}
.music_comment .islogin textarea{ border:1px solid #CCC; width:96%; padding:5px 2%; height:80px; line-height:2em; color:#444; }
.islogin{}
.islogin .title{ font-size:12px; line-height:2em;}
.islogin .title #code{ width:80px; height:20px; line-height:20px; padding:0 5px; border:1px solid #CCC; border-color:#CCC #DDD #DDD #CCC;}
.islogin .sub{ border:none; padding:5px 15px; text-align:center; color:#FFF; background:#F60; margin:0; height:25px; cursor:pointer; margin-top:10px;}
.islogin .sub:hover{ background:#F90;}
.music_comment ul{ font-size:12px; padding:10px 0;}
.music_comment ul li{ clear:both; overflow:hidden; margin-bottom:20px; padding-left:70px; position:relative; zoom:1; }
.music_comment ul li .avatar{ position:absolute; top:0; left:0; width:40px;}
.music_comment ul li .avatar, .music_comment ul li.hot  .moreComment .avatar{ padding:2px; border:1px solid #DDD;}
.music_comment ul li .avatar a{ width:40px; height:40px; display:block; overflow:hidden;  background:#EEE;}
.music_comment ul li .avatar a img{ width:40px;}
.music_comment ul li .theComment{ border:1px solid #DDD; padding:0 10px 10px; zoom:1; }
.music_comment ul li .theComment .inner{ padding:10px 0; color:#333;}
.music_comment ul li h4{ clear:both; overflow:hidden; padding:5px 0;  font-size:12px; line-height:1.5em; border-bottom:1px dotted #ccc;}
.music_comment ul li h4 b{padding-right:10px}
.music_comment ul li h4 span{ font-weight:400; }
.music_comment ul li h4 span a{ float:right; margin-left:10px; padding:0 5px; display:inline-block; background:#F60; color:#FFF;}
.music_comment ul li h4 span a.comment_no{ background:#CCC;}
.music_comment ul li h4 span a:hover{ background:#C00; text-decoration:none;}
.music_comment ul li .moreComment{ background:#EFEFEF;padding:10px; padding-left:60px; margin:5px 0 0;  position:relative;  zoom:1;}
.music_comment ul li .moreinner{}
.music_comment ul li .moreinner p{ padding:5px 0;  color:#666;}
.music_comment ul li .moreComment .avatar{ top:5px; left:5px;}
.music_comment ul li .moreComment h5{ font-size:12px;}
.music_comment ul li .theComment .comment_reply{ margin-top:5px; line-height:2em; color:#999;}
.music_comment ul li .theComment .comment_reply a{ float:right;}
.music_comment ul li.hot .theComment, .music_comment ul li.hot .avatar{ border:2px solid #F60;}
.music_comment ul li.hot .avatar{}
.music_comment ul li.hot h4 b{ color:#F60; }
.music_comment ul li .tip{ width:17px; height:17px; overflow:hidden; top:20px; _left:-17px;}
.music_comment ul li .theComment .tip{ left:-16px;}
.music_comment ul li.hot .theComment .tip{ left:-17px;}
.music_comment ul li .theComment .tip{ background:url(../www_images/song/comment_tip.png) no-repeat;}
.music_comment ul li.hot .theComment .tip{ background:url(../www_images/song/comment_tip_hot.png) no-repeat;}
.music_comment .notlogin, .music_comment .islogin textarea{ background-image:url(../www_images/song/comment.png)}
.music_comment ul li h4 span a{ -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
.music_comment .avatar,.music_comment .avatar a{ -webkit-border-radius:24px!important; border-radius:24px!important; -moz-border-radius:24px!important; }
.tweather{ line-height:18px; padding:11px 0 0; overflow:hidden; display:none;  font-size:12px; zoom:1; _position:absolute;}
.tweather a{ cursor:pointer;}
.tweather ul ,.tweather input, .tweather b, .tweather span, .tweather span img{ float:left;}
.tweather ul{  font-family:Verdana,Arial;  zoom:1; _width:180px;}
.tweather ul li{ padding:0 0 10px; height:18px; display:none;}
.tweather ul li img{ width:25px; margin-top:-5px;}
.tweather ul li .tweather_day{ background:#F99; color:#FFF; border-radius:3px;}
.tweather b, .tweather ul li span{ padding:0 5px;  }
.tweather a{ font-family:"ËÎÌå",Verdana,Arial; text-decoration:none;}
.wheel-button{ line-height: 30px; font-size: 42px;  background:#F33;  padding: 10px;

text-align: center;  border-radius: 50px;  width: 30px;  height: 30px;  color: white;  display: none;  margin: 70px auto 20px;  border: 3px solid #fff;  text-shadow:none; color: #FFF; box-shadow:#333 0px 0 5px;}
.wheel-button a, .wheel-button span{ cursor:pointer;}
.wheel-button.ne, .wheel-button.nw { border-color: white; position: absolute; bottom: 0; left: 10px;}
.wheel-button span, .wheel span{ font-family:Arial; font-size:50px; position: relative; -moz-transition: all 1s ease; -webkit-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease;      display: block; }
.wheel-button.active span{  transform: rotate(135deg);  -ms-transform: rotate(135deg);   -webkit-transform: rotate(135deg); }
.wheel li a{ background:#000; border-radius: 50px; padding: 5px; text-align: center; width: 30px; height: 30px;  color: white;   display: block;}
.wheel li a:hover{ background:#111;}
.wheel-button { position:relative;}
.wheel {  margin: 0;  padding: 0;  list-style: none;  width: 200px;  height: 200px;  visibility: hidden;  position: relative;  display: none;}
.wheel li { overflow: hidden;  float:left; }
.wheel li a img{ padding:4px;}
.pathnav{ position:fixed; left:0; bottom:0;}

.hi_all_nav{ position:fixed; bottom:0; right:5px; _display:none; z-index:20;}
.hi_all_nav ul li{ padding:5px 0; position:relative;  opacity:.7;}
.hi_all_nav ul li:hover{ opacity:1;}
.hi_all_nav ul li a b{ width:34px; height:34px; display:block; overflow:hidden; position:relative; z-index:0; background-color:#e24d4d; background-position:center center; background-repeat:no-repeat;}
.hi_all_nav ul li a span em{position: absolute; right:-8px; bottom:10px; width: 16px; height: 16px; line-height: 16px; text-align: center; font-size: 16px; font-family: "\5b8b\4f53"; font-style:normal; color:#222; }
.hi_all_nav ul li.weixin span{ width:170px; height:170px; top:-140px; text-align:center; padding:5px 10px;}
.hi_all_nav ul li.weixin span blockquote{ line-height:2em;}
.hi_all_nav ul li a span{ height:34px; line-height:34px; text-align:center; display:inline-block; background:#222; color:#FFF; position:absolute; width:130px; right:37px; top:5px; top:4px!ie; z-index:3; display:none; }

@media screen and (max-width: 1000px) {	
	.main{ background:#FFF!important;}
	.header h1.logo{ margin:0 auto; border:none!important;}
	h1.logo, h1.logo a{ height:78px!important; }
	.header .inner { height:auto!important; }
	.header .inner .nav{ width:720px; margin:0 auto; float:none!important;}
	.header .inner .nav_1, .header .inner .nav_2{ border:none!important; padding-top:10px!important;}
	.topbar_2, 	.copyright, .topbar p.fr, .weizhi, #fx_small,  .footer .mt10 , .tweather,.hibannerall{ display:none!important;}
	h1.logo{ float:none!important;}
	.main, .header .inner, .topbar .inner {width:auto!important}
	.main{ margin:5px!important; background-color:#FFF; }
	.main, .header .inner  {box-shadow:#CCC 0 0 2px; }
	.pagelist {font-size: 26px;}
	.pagelist a, .pagelist span {padding: 0 14px; margin-top: 10px; line-height: 1.5em; height:auto;}
}
@media screen and (max-width: 750px) {	

	body{ background:#EEE;}
	.header .inner .nav, #uc_login .uc_center{ display:none!important;}
}