.nav_tv{  padding:13px 0 2px; background:url(../www_images/tv_liuxing/bg_nav.png) 0 0 no-repeat}
.nav_tv ul li a{ text-decoration:none;}
.bgnone{ background:none}
.tvpresent{ background:url(../www_images/tv_liuxing/bg_tvpresent.png) center bottom no-repeat;}
.tvinner ul.tvlist2 li{ width:250px; margin:10px 0 10px 13px;}
.tvshow ul li{ padding:0 0 10px;}
/* .tvinner ul li .avatar{ width:250px; height:155px; display:block; overflow:hidden;} 
.tvinner ul li .avatar img{ height:155px;}*/

.yuyabanner{ display:none;}
.tvinner_menu{ height:40px;  background:#f2f2f2;  border-bottom:1px solid #ddd;}
.tvinner_menu ul{ clear:both; overflow:hidden; height:41px;}
.tvinner_menu ul li.now,.tvinner_menu ul li{width: 30%;}
.tvinner_menu ul li{  float:left; line-height:40px;  border-left:1px solid #ddd;  border-right:1px solid #ddd; text-align:center; margin-left:-1px;  cursor:pointer; height:41px;}
.tvinner_menu ul li:hover{ background:#fff; height:40px;}
.tvinner_menu ul li a{ font-size:24px; color:#666; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå"; }
.tvinner_menu ul li a:hover{ text-decoration:none;}
.tvinner_menu ul li.now{ background:#fff; z-index:999; }
.tvinner_menu ul li.now:hover{background:#fff; height:41px;}
.tvinner_menu ul li.now a{ color:#fd6666;}
.tvinner_menu ul li a span{ font-size:12px; font-family:"ËÎÌå";}
.tvcontent{ display:none; width:100%;}
.tvcontent.now{ z-index:999; display:block;}
.tv_vip, .tv_vip img{ overflow:hidden;  background:#a6ccf4; width:100%; }


.mainv .ybanner{ background:#232323;}
.mainv .ybanner .login{width:1000px; margin:0 auto; background:#363636; height:190px;}
.mainv .ybanner .login .novip{ text-align:center; width:40%}
.mainv .ybanner .login .novip p{  text-align:left; padding-left:10px; float:left;}
.mainv .ybanner .login .novip p span{ line-height:3em; }
.mainv .ybanner .login center{ font-size:14px; color:#fff; font-weight:bold; padding-top: 50px; }
.mainv .ybanner .login center img{width:80px; height:80px; float:left;
-webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%!important; }
.mainv .ybanner .login a{ color:#ff99cc;}
.tvinner .jxcontent ol li{float:left;width:320px; _width:300px;  margin:5px 20px 5px 10px;padding:6px 10px;  font-size:14px; color:#000;  background:#efefef;  font-weight:bold;}
.tvinner .jxcontent ol li{ list-style:none;}
.tvinner .jxcontent ol li span{ margin-right: 5px;}
.tvinner .jxcontent  .avatar{ width:120px; height:120px;overflow: hidden;margin-right: 20px;}.tvinner .tvinner .jxcontent  .avatar img{ width:120px;}
.tvinner .jxcontent .inner{ padding:20px;} 

.tvinner .jxcontent h2{ font-size:24px; color:#000;  padding-bottom: 10px; line-height:25px;}
.banner{ width:1002px; margin:0 auto;}
.banner .jx h3{ font-size:22px; color:#fff; font-weight:500; margin-bottom:10px; font-family:"Î¢ÈíÑÅºÚ";}
.banner .jx p{ color:#fff; font-size:14px;}
.banner .jx{ top: 40px;left: 125px;}
.banner .jm{left: 448px;}
.banner .zd{ left: 750px;}
.banner p.jj{ color:#ffddc1; font-size:14px; bottom:-11px; margin-left:40px; height:100px; }
.banner p.jj span.zx{ margin-left:340px;}
.banner p.jj span.zx em{ font-size:24px;}
.banner p.jj a{ right:328px; bottom:38px; bottom:44px!ie; _right:327px;}
.ybanner .banner p.jj a{ right:330px; bottom:39px; bottom:45px!ie.tv_vip center;  _right:329px;}
.banner p.jj .m{ bottom:96px; left:400px; color:#ff6600; font-family:"Î¢ÈíÑÅºÚ"; font-size:40px; font-weight:600; height:23px; line-height:40px;}
.subbanner{height:190px; background:#2b2b2b;}
.subbanner .jx ,.subbanner .jm,.subbanner .zd{ top:30px;}
.subbanner p.jj{ bottom:-1px; color:#fff;}
.subbanner p.jj span.zx em ,.subbanner p.jj span.zx strong{ color:#ff99cc;}

.tv_vip center{ line-height:1.5em; background:#4a7aab; color:#FFF; padding:10px;}

/* sider*/

.m_guzhengbox{ padding-top:10px;}
.m_guzhengbox, .m_login{ margin:0 5px 10px;}
.m_guzhengbox a, .m_login a{ width:190px; height:120px; display:block; overflow:hidden; text-indent:-333em;}
.m_user{ padding:0 10px;}
.m_user_avatar{}
.m_user_avatar .avatar{ width:70px; height:70px; display:block; overflow:hidden;}
.m_user_avatar .avatar img{ width:70px;}
.m_user_avatar .title{ width:100px; padding-left:10px;}
.m_user_avatar .title h6{ font-size:20px; font-weight:400; color:#F60; padding:10px 0; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå";}
.m_user_avatar .title p{ font-size:12px; }
.m_user_avatar .title p a{ color:#06C; text-decoration:underline; margin-right:10px;}
.m_user_center{ width:190px; margin-left:-10px; padding:10px 0;}
.m_user_center li{ float:left;}
.m_user_center li a{color:#06C; text-decoration:none; text-align:center; padding:0 10px; border-left:1px solid #DDD;}
.m_user_center li a:hover em{ color:#F60;}
.m_user_center li a, .m_user_center li a em, .m_user_center li a span{ display:block;}
.m_user_center li a em{  font-family: Verdana,Arial;}
.m_user_center li a span{ font-size:12px; color:#666;}
.m_sider{ margin:0 10px; padding:10px 0; border-top:1px dotted #DDD;}
.m_sider h3{ font-size:14px; color:#000; line-height:2em;}
.m_sider h3 a{ color:#F60;}
.m_sider h3 span{ color:#999; font-weight:400; padding-left:5px;}
.m_sider ul{ font-size:12px;}
.m_sider ul li{ padding:5px 0; position:relative; color:#666;}
.m_sider ul li .panel{ right:0; top:6px;}
.m_sider .more{ margin-top:5px;}
.m_sider .more a{ font-size:12px; display:block;background:#CCC; color:#FFF; text-align:center;}
.m_sider .more a:hover{ background:#9C9C9C; color:#FFF; text-decoration:none;}
.m_guzhengbox{ display:none;}

.co{ clear:both; overflow:hidden;}


@media screen and (max-width: 1000px) {	


	.nav_tv .tv_search, .nav_tv .mlink, .mainv .shengming, #fx_small, .tvside .tvpeople, .fx_video, .tvtop, .banner .jx, .w_sider{display:none!important;}
	.tvinner, h1.logo, .tvpresent.fr ,.tvside .tvshow,.tvside{ float:none!important;}
	.tvinner, .tvtop,  .tvtop img, .nav_tv, .tvinner ul.tvlist1 li .inner,.tvside,.ybanner,.banner,.banner p.jj,.ybanner{width:auto!important}

	.banner{ background:none; height:auto!important;}
	.banner p.jj{ background:#76553a; position:static; text-align:center;  height:auto;}
	.banner p.jj span.mt,.banner1{ display:none;}
	.banner p.jj span.zx{ display:block; line-height:100px; margin-left:0px;}
	.banner p.jj a{  width:270px; position:static;}
	.ybanner p.jj{ background:#2b2b2b;}
	.mainv .ybanner .login .novip{ width:100%}
	.mainv .ybanner .login{ width:100%}
	.mainv .ybanner .login .novip p{ padding-left:0px;}
	.tvinner ul.tvlist1 li .inner{ width:450px!important;}
	.tvinner ul.tvlist2 li, .tvinner ul.tvlist2 li .avatar, .tvinner ul.tvlist2 li .avatar img{ width:230px!important;}
	.tvinner ul.tvlist2 li .avatar{ height:149px!important;}
}

@media screen and (max-width: 750px) {	
.tvinner_menu ul li span{ display:none!important;}
.yuyabanner{ display:block;}
.yuyabanner:hover{ background:#2ba1d8;}
.yuyabanner{ background:#0073a9; font-size:30px;  padding:5px;  }
.yuyabanner a{ color:#FFF; font:400 26px/1.5em "Î¢ÈíÑÅºÚ","ºÚÌå"; }
.yuyabanner a:hover{ text-decoration:none;}
.yuyabanner a em{ font-size:18px; font-style:normal;}
.yuyabanner span{ display:block; text-align:center;}
.yuyabanner .more { font-size:14px; background:#036; padding:2px 5px; box-shadow:#333 1px 1px 1px; }
.tv_vip img{ width:150%; margin-left:-25%; }
}

@media screen and (max-width: 750px) {
.renwucontent img{ width:100%!important; height:auto!important;}
.tvinner ul.tvlist1 li .inner{ width:auto!important; margin-top:10px;}
}
