.co{clear: both;overflow: hidden;}
/* nav */

.nav_tv{ width:1000px; margin:0px auto 10px auto; height:66px; overflow:hidden; position:relative; background-color:#333;}
.nav_tv ul{ height:40px; float:left;  padding:0 10px;}
.nav_tv ul li{  float:left; display:inline!ie; height:40px;}
.nav_tv ul li a{ color:#DDD; text-shadow:#000 1px 1px 1px; line-height:40px; display:inline-block; padding:0 15px; background:none; text-decoration:none;}
.nav_tv ul li a:hover{ color:#FFF; background:#222;  -webkit-transition:background 0.3s; -moz-transition:background 0.3s; transition:background 0.3s; }
.nav_tv ul li.on a{ font-weight:bold; }
.nav_tv .mlink{ font-size:12px; text-indent:14px;height:24px; overflow:hidden; line-height:24px; line-height:26px!ie; width:700px;}
.mlink strong,.mlink div,.mlink li{ float:left}
.mlink li{ list-style-position:inside; list-style:none; margin-right:10px; padding-left:0; text-indent:0}
.nav_tv .tv_search{ width:200px; height:22px; overflow:hidden; bottom:36px; right:10px; position:absolute; border:1px solid #FFF; background:none;}
.nav_tv .tv_search input.shuru{ border:0; background:#FFF; padding:2px 6px; height:18px; line-height:18px; color:#888; width:152px;}
.nav_tv .tv_search input.tijiao{ width:38px; height:22px; color:#fff;background:#666; border:none; position:absolute; right:0; top:0; cursor:pointer}
/* index top */

.tvtop, .main{ width:1000px; margin:0 auto; box-shadow:#CCC 0px 1px 1px}
.hotinner, .tvinner{ width:800px;}
.rside h3{font-size:20px; line-height:42px; padding:0 10px 10px; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå"; font-weight:400;  color:#f66; }
.tvtop{ height:300px; background:#333; border:1px solid #333;  }
.tvpresent{ width:200px; height:300px; line-height:2.3em; color:#CCC;}
.tvpresent .inner{ padding:10px 0; margin:0 10px 10px; border-bottom:1px dotted #555; }
.tvpresent p{ padding:0 10px; font-size:12px;}
.main{border:1px solid #DDD; border-width:1px 1px 0; overflow:hidden; zoom:1; margin-top:10px;}
.tvinner{ _width:799px; }
.tvinner, .tvside{ overflow:hidden;}
.tvinner h3{padding:0 0 5px; margin:0 20px;}
.tvinner h3 a{   font:400 24px/2em "Î¢ÈíÑÅºÚ","ºÚÌå"; color:#f66; }
.tvinner h3 span a{color:#999; font:400 12px/48px "ËÎÌå"; }
.tvinner ul li .inner .abs{ padding-top:3px; color:#999;  font-size:12px;}
.tvinner ul li .inner .abs span{ display:inline-block; padding-left:20px;}
.tvinner ul li .inner .abs span.open, .tvinner ul li .inner .abs span.vip{font: 400 12px/18px Arial; float: left; padding: 0 5px; color: #FFF; border-radius: 3px; margin-right: 10px;}
.tvinner ul li .inner .abs span.open{background: #74ba51; }
.tvinner ul li .inner .abs span.vip {background: #F99;}
.tvinner ul li .avatar:after{ content:url(../www_images/www2013/bg_play.png);position: absolute; left: 0;  bottom: 0; z-index: 10;}
.tvpresent .inner a{ color:#fff; text-decoration:underline;}
/* tvlist1 */

.tvinner ul.tvlist1 li{border-bottom:1px dotted #CCC; padding:20px 0; margin:0 20px; clear:both; overflow:hidden; zoom:1; }
.tvinner ul.tvlist1 li .avatar{ float:left;}
.tvinner ul.tvlist1 li .inner{ width:500px; font-size:12px; float:right; }
.tvinner ul.tvlist1 li .inner .title a{ font:400 22px/22px "Î¢ÈíÑÅºÚ","ºÚÌå"; padding:0 0 15px; display:block; text-decoration:none; color:#000}
.tvinner ul.tvlist1 li .inner .title a span{ background:#f66; font:400 12px/22px Arial; float:left; padding:0 10px; color:#FFF; margin-right:10px; border-radius:3px;}
.tvinner ul.tvlist1 li .inner p{ background:#F2F2F2; padding:10px; color:#666; line-height:2em;}
.tvinner ul.tvlist1 li .inner p a{ color:#F66;}
.tvinner ul.tvlist1 li:hover .inner p{ background:#FFD;}
.tvinner ul.tvlist1 li:hover .title a{ color:#F33;}
.tvinner ul.tvlist1 li:hover .title a span{ background:#F33;}
/* tvlis2 */

.tvinner ul.tvlist2{ border-bottom:1px dotted #DDD;}
.tvinner ul.tvlist2 li{ float:left; _display:inline; zoom:1; overflow:hidden; vertical-align:top;}
.tvinner ul.tvlist2 li .inner .title a span{ background:#F99; font:400 12px/18px Arial; float:left; padding:0 5px; color:#FFF; margin-right:10px; border-radius:3px;}
.tvinner ul.tvlist2 li:hover{ box-shadow:#999 0 1px 1px;}
.tvinner ul.tvlist2 li .inner { background:#f2f2f2; padding:10px;}
.tvinner ul.tvlist2 li .inner strong.title{ height:40px; line-height:20px; display:block;}
.tvinner ul.tvlist2 li .inner .comm{ display:none;}
/* more & page */

.tvinner .more, .tvinner .pagelist{ margin:10px 20px; }
.tvinner .more a{ display:block; text-align:center; line-height:40px; background:#FCC; border-radius:5px; text-decoration:none; color:#C55; box-shadow:#ddd 1px 1px 1px;}
.tvinner .more a:hover{ background:#F99; color:#333;}
.tvinner .pagelist{ text-align:center;}
/* sideright */

.tvside, .w_banner{ width:199px; }
.tvside .inner .avatar{ width:180px; border:1px solid #DDD; box-shadow:#EEE 1px 1px 1px; display:block; overflow:hidden; line-height:0;}
.tvside .inner .avatar:hover{ border-color:#F99;}
.tvside .inner .avatar img{ width:170px; border:5px solid #FFF;}
.tvside .inner{ padding:10px 9px 10px 10px;}
.tvpeople .inner p{ font-size:12px; color:#666; padding:10px 0;}
.btshow{border-top:1px solid #DDD;}
/*.tvshow{ border-top:1px solid #DDD;}
*/

.tvshow ul li{ zoom:1;}
.tvshow ul li p{ clear:both; overflow:hidden; font-size:12px; line-height:30px; padding:0 5px;}
.tvshow ul li p a{ float:left;}
.tvshow ul li p span{ float:right; color:#999; font-weight:400;}
/* mainv */

.mainv h1,.renwucontent h1{font-family: "Î¢ÈíÑÅºÚ","ºÚÌå";text-shadow:#ccc 2px 2px 2px;font-weight:500;font-size:32px; line-height:40px; text-align:center; background:#fff; padding:15px 0 10px 0}
.mainv h2{ font-size:12px; font-weight:100; color:#888; text-align:center; padding:2px 0; background:#f5f5f5}
.mainv h2 strong{ color:#f60}
.mainv h2 span{ display:inline-block; padding-left:20px;background:url(../www_images/renwu/ico.png) no-repeat; margin-left:15px}
.mainv h2 span.jiabin{ background-position:-184px -185px}
.mainv h2 span.time{background-position:-185px -74px}
.mainv h2 span.plnum{background-position:-185px -111px}
/* renwucontent */

.tvinner .tvpeople, .tvinner .renwucontent{ border-bottom:1px solid #DDD;}
.tvinner .tvpeople h3, .tvinner .renwucontent h3{ font:400 20px/2em "Î¢ÈíÑÅºÚ","ºÚÌå"; color:#F66; }
.tvinner .renwucontent h1{ margin:0 20px;}
.tvinner .tvpeople .inner{ padding:20px;}
.tvinner .tvpeople .title{ color:#000; padding-bottom:10px;}
.tvinner .tvpeople .title strong{ padding-right:20px;  font-size:14px;}
.tvinner .tvpeople p{ padding:0;}
.tvinner .tvpeople .avatar{ width:160px; height:120px; overflow:hidden; margin-right:20px;}
.tvinner .tvpeople .avatar img{ width:160px;}
.music_comment,.music_comment .islogin, .music_comment .notlogin{ margin:20px; }
.renwucontent h1{ border-bottom:1px dotted #ddd; margin-bottom:15px}
.renwucontent .vcont{ font-size:16px; color:#000; padding:40px; line-height:2em; color:#222;}
.renwucontent .vcont .daodu .info{ font-family:kaiti_gb2312; font-size:16px; line-height:1.6em; color:#000}
.fx_video_n{ width:1000px; margin:10px auto; }
/* ccvideo */

.mainv{}
.ccvideo{background:#232323;  }
.ccvideo center{ width:1000px;  margin:0 auto}
.ccvideo center object, .ccvideo center embed{ width:1000px}
/* playlist */

.playlist{background:#121212; background-color:#1C1C1B!ie; overflow:hidden; zoom:1;}
.playlist ul{ padding:15px 0 15px 120px; width:700px; margin:0px auto}
.playlist ul li{ width:102px; float:left; display:inline!Ie; margin-right:15px; text-align:center; font-size:12px; line-height:16px; }
.playlist ul li a{ color:#fff;opacity:0.6; filter:alpha(opacity=60)}
.playlist ul li a:hover{opacity:0.8; filter:alpha(opacity=80)}
.playlist ul li img{ border:1px solid #555; margin-bottom:4px; width:100px; height:100px}
.playlist ul li.on,.playlist ul li.on a,.playlist ul li.on a:hover{ opacity:1;filter:alpha(opacity=100)}
.playlist_2{  float:left; position:relative; left:50%; padding:0 20px;}
.playlist_2 ul{ padding:10px;float:left; position:relative; right:50%; }
.playlist_2 ul li{ width:210px; float:left; display:inline!Ie;  overflow:hidden;  margin:5px; cursor:pointer}
.playlist_2 ul li{ box-shadow:#000 2px 2px 3px; -moz-box-shadow:#000 2px 2px 3px;}
.playlist_2 ul li b{ line-height:25px; height:25px; display:block; padding-bottom:10px; color:#666; text-align:center;}
.playlist_2 ul li em{ line-height:25px; height:25px; display:block; padding-bottom:10px; color:#666; text-align:center; font-style:normal;}
.playlist_2 ul li a{ color:#ccc; display:block; padding:5px 10px;  border:1px solid #272727; background:url(../www_images/tv/bg_tv_list.png) #222 no-repeat; text-decoration:none;  height:80px; }
.playlist_2 ul li a:hover{ border-color:#555}
.playlist_2 ul li.on a{ color:#F90; border-color:#666; background:#333;}
.playlist_2 ul li.on a b, .playlist_2 ul li.on a em{ color:#F90;}
.playlist_2 ul li.on span{ background:#F90; padding:2px 3px; color:#000; font-size:12px; margin-right:10px; font-weight:400;}
.playlist_2 ul li.on span{border-radius:3px; -moz-border-radius:3px;}
.shengming{ margin:0 auto; background:#DDD;  }
.shengming .ke_list, .shengming ul li{ background:#EEE; font-size:12px; }
.shengming .ke_list{ width:1002px; margin:0 auto;}
.shengming .ke_list img{ width:130px; margin:0 435px; display:none;}
.shengming .ke_list span{ width:400px; display:block; color:#666;}
.shengming .ke_list span a{ text-decoration:none; color:#666;  background:#999;  padding:3px 10px; text-decoration:none; color:#FFF; border-radius:10px;}
.shengming .ke_list span a:hover{ background:#E74646;}
.shengming .ke_list span.k1{ left:10px; top:3px;}
.shengming .ke_list span.k2{ right:10px; top:3px; text-align:right;}
.shengming .ke_list{ width:1002px; height:35px;}
.shengming ul{ margin:1px auto 0; clear:both; overflow:hidden; width:1002px;}
.shengming ul li{ float:left; width:333px; margin-right:1px;}
.shengming ul li strong, .shengming ul li p{ padding:10px 20px 0;}
.shengming ul li strong{ display:block; line-height:1.5em; color:#F66;}
.shengming ul li p{ height:80px; text-align:center; }
#fx_small{ box-shadow:none; border-color:#ddd;}
.footer{ margin-top:0;}
/* slides */



.tvtopimg { display: none;;  }
.tvtopimg .slidesjs-navigation { margin-top:5px; }
a.slidesjs-next,a.slidesjs-previous,a.slidesjs-play,a.slidesjs-stop, .tvtopimg .slidesjs-pagination li.slidesjs-pagination-item{ display:block; overflow: hidden; float: left;  background:url(http://lib.guzheng.cn/www_images/gobal/slidejs/banner-icon.png) no-repeat;  z-index:99; text-indent:-9999em;}
a.slidesjs-next,a.slidesjs-previous{ width:26px; height:45px;  position:absolute; bottom:5px;}
a.slidesjs-previous{ background-position:0 0; left:5px;}
a.slidesjs-next{ background-position:-27px 0; right:5px;}
.tvslide, .tvslide .tvtopimg, .tvslide .tvtopimg slidesjs-control, .tvslide .slidesn{ width:800px; height:300px; display:block; overflow:hidden; position:relative;}
.tvslide .slidesn blockquote{ position:absolute; top:240px; left:0; z-index:1000; line-height:1.2em; padding:5px 50px; color:#fff; text-shadow:#333 1px 1px 1px; font-size:12px;}
.tvslide .slidesn p{ width:800px; height:55px; background: #000; filter: alpha(opacity=50); -moz-opacity: 0.5; opacity: 0.5; position:absolute; bottom:0; left:0;}
.tvslide .slidesn strong, .tvslide .slidesn span{ display:block; line-height:2em;}
.tvslide .slidesn strong{ font-size:14px;}
.tvslide .slidesjs-pagination{ position:absolute; right:35px; bottom:20px;  z-index:99; }
.tvslide .slidesjs-pagination li.slidesjs-pagination-item{ background:none;}
.tvslide .slidesjs-pagination li.slidesjs-pagination-item a{ display:block; margin:0 5px; width:10px; height:10px;  background:#FFF; border-radius:5px;}
.tvslide .slidesjs-pagination li.slidesjs-pagination-item a.active{  background:#F66;}
.newtip{background: url(http://lib.guzheng.cn/www_images/tv_liuxing/newtip.png) no-repeat; width: 75px; height: 75px; position: absolute; z-index: 30; left: 15px;}
/* background */



.tvpresent h3{ background:url(../www_images/tv_liuxing/bg_aside.png) no-repeat; }
.tvside h3{ background:url(../www_images/tv_liuxing/bg_aside.png) right -60px no-repeat; }
.tvpresent h3{ background-position:0 42px; }
.tvinner h3{ background:url(../www_images/tv_liuxing/bg_list.png) center bottom no-repeat;}
.tvinner ul li .inner .abs span{ background:url(../www_images/tv_liuxing/bg_ads.png) no-repeat;}
.main{ background:url(../www_images/tv_liuxing/bg_ddd.png) 800px top repeat-y;}
.tvinner ul li .inner .abs span.user{ background-position:0 5px; }
.tvinner ul li .inner .abs span.time{ background-position:0 -55px;  margin-left:20px;}
.tvinner ul li .inner .abs span.comm{ background-position:0 -115px; }
.music_comment ul li .avatar{}
.tvinner .music_comment ul li .avatar:after{ content:normal;}
.tvinner .music_comment ul li .avatar{ width:40px; height:40px;}
.tvinner .music_comment h3{ background:none;}
.music_comment .islogin textarea{ margin-bottom:10px;}
.tvinner ul li .avatar{ overflow:hidden;}
ul.tvlist2 li .avatar:hover img, ul.tvlist1 li .avatar:hover img{-webkit-transform:scale(1.3); -moz-transform:scale(1.3);-o-transform:scale(1.3); -webkit-transition:all 1.0s;transition:all 1.0s; }
ul.tvlist1 li .avatar, ul.tvlist2 li .avatar{width: 250px;height: 155px;display: block;overflow: hidden;}
.tvinner ul li .avatar img{ width:250px;}
.tvinner ul.tvlist2 li {width: 250px;margin: 10px 0 10px 13px;}
/* neice */

.neice{ background:#333; margin:20px; padding-bottom:20px; text-align:center;}
.neice h4{ color:#FFF; font:400 40px/3em "Î¢ÈíÑÅºÚ","ºÚÌå"; text-shadow:#000 1px 1px 2px; }
.neice .inner{width:550px; height:340px;  background:#EFEFEF; margin:20px auto; box-shadow:#000 1px 2px 10px; overflow:hidden;}
.neice .inner h5{font:400 28px/3em "Î¢ÈíÑÅºÚ","ºÚÌå"; }
.neice .nc0 .tip{ color:#066; font-size:16px; padding:40px 0;}
.neice .nc0 .tip a{ font-weight:bold; color:#066; text-decoration:underline;}
#neice{ padding-top:60px; position:relative; zoom:1;}
#neice strong{ width:100%;  color:#FFF; background:#ff9933; line-height:4em; height:4em; overflow:hidden;  display:block; position:absolute; top:0; left:0; }
#neice p{ margin:20px auto; width:360px; background:#ffb150; padding-left:80px; position:relative;  font-size:16px; border:1px solid #ffb150; }
#neice p, #neice b, #neice input, #neice p span{ height:50px;line-height:50px;  overflow:hidden;}
#neice p b, #neice p span{ display:block;  color:#FFC; }
#neice p b{ width:80px;position:absolute; left:0; top:0; }
#neice p span{ font-size:20px; text-align:left; color:#993300; background:#ffe5cb;  text-indent:2em; }
#neice input ,#neice p span{ font-size:18px!important; border:none!important; font-family:arial;  border:none; }
#neice input.text{ width:100%;  text-indent:1em; }
#neice input.submit{ width:50%; background:#222; color:#FFF; cursor:pointer;}
#neice .nc2{ display:none;}
.neice .inner, #neice p, #neice input.submit{ border-radius:5px;}
#neice.green strong{ background:#56971A;}
#neice.green p{ background: #A5C74E; border-color: #A5C74E;}
#neice.green p span{color: #509900; background: #EEFFCB;}
/*½ÚÄ¿ÁÐ±í*/

.menulist{ background:#9b1d1e;}
.menulist .list_inner{ padding:0 15px; margin-bottom:20px; width:970px; margin:0 auto; background:url(http://lib.guzheng.cn/www_images/tv/tv_border.png)  #ae2626 0 center repeat-y; }
.menulist .list_inner .left{ float:left;width:470px; padding:15px 0;}
.menulist .list_inner  h4{ color:#ffa399; font-size:14px; font-family:'Î¢ÈíÑÅºÚ'; margin-bottom:5px; margin-left:5px; }
.menulist .list_inner  h4 span{ margin-left:10px;}
.menulist .list_inner ul li{ float:left;}
.menulist .list_inner ul li.on a, .menulist .list_inner ul li.on a:hover{background:#303030; color:#fff;}
.menulist .list_inner ul li a,.menulist .list_inner .box .vcont p a{ background:#E74646; color:#fff; padding:3px;; margin:5px; display:block; border-radius:5px;  text-align:center; }
.menulist .list_inner ul li a{width:20px; height:20px;}
.menulist .list_inner ul li a:hover,.menulist .list_inner .box .vcont p:hover a{background:#F66; color:#fff; text-decoration:none;}
.menulist .list_inner .box{ width:480px; float:right; padding:15px 0;}
.menulist .list_inner .box .avatar{ overflow:hidden; margin-left:10px;}
.menulist .list_inner .box  .avatar:hover img, .menulist .list_inner .box .avatar:hover img{-webkit-transform:scale(1.3); -moz-transform:scale(1.3);-o-transform:scale(1.3); -webkit-transition:all 1.0s;transition:all 1.0s; }
.menulist .list_inner .box  .avatar{width: 220px;height: 140px;display: block;overflow: hidden;}
.menulist .list_inner .box  .avatar img{ width:220px;}
.menulist .list_inner .boxafter  .avatar:after{ content:url(http://lib.guzheng.cn/www_images/www2013/bg_play.png);position: absolute; left: 0;  bottom: 0; z-index: 10;}
.menulist .list_inner .box .vcont{ width:235px; }
.menulist .list_inner .box .vcont h4 a{ color:#fff; font-size:14px; }
.menulist .list_inner .box .vcont p.qishu{ color:#ffcaa7;}
.menulist .list_inner .box .vcont p{ color:#fe9286; font-size:12px; margin:10px 0 10px 5px; }
.menulist .list_inner .box .vcont a.qumu{ border-radius:5px; text-decoration:none; background:#FF8F00; color:#fff; display:block; overflow:hidden; margin:10px 0 10px 5px; line-height:3em; font-size:12px; font-weight:bold; }
.menulist .list_inner .box .vcont a.qumu span{background: #FD3300; display: inline-block; padding: 0 10px; margin-right: 10px;}
.menulist .list_inner .box .vcont a.qumu:hover{ background:#F60; box-shadow:#400000 0 0 3px; }
.menulist .list_inner .box .vcont p a{ width:120px; margin:0px; }
.menulist .list_inner .left, .menulist .list_inner .box{ background:#ae2626;}
.list_inner{ clear:both}
.tvlistmenu{z-index:100; position:relative;}
.tvlistmenu li{position:relative;}
.tvlistmenu li a:hover{ background:#C66;}
.tvlistmenu li .tip{  background:#F66; padding:5px 10px; font-size:12px; color:#FFF; top:36px; left:8px; display:block;}
.tvlistmenu li .tip em, .tvlistmenu .tip{ position:absolute;}
.tvlistmenu li .tip{ width:120px;  z-index:200; text-align:left;}
.tvlistmenu li .tip em{ color:#F66; top:-10px; left:5px; font-style:normal; }
@media screen and (max-width: 1000px) {	



.mainplay{}
.nav_tv, .hotinner, .tvinner,.tvtop,  .tvtop img,.menulist .list_inner .left,.menulist .list_inner{ width:auto!important}
.nav_tv .tv_search, .nav_tv .mlink, .mainv .shengming, #fx_small, .tvside, .fx_video,.banner .jx, .w_sider,.hibannerall,.tvtop,.menulist .list_inner .box{display:none!important;}
.tvinner, h1.logo, .tvpresent.fr ,.tvside .tvshow,.tvside,.menulist .list_inner .left{ float:none!important;}
.nav_tv{ background-color:inherit!important;}
.nav_tv, .nav_tv ul{ height:auto!important;}
.nav_tv .logo_tv a{ display:block!important;}
.nav_tv ul{ padding:0!important; }
.banner{ background:none; height:auto!important; }
.tvinner { padding-bottom:10px;}
.tvinner ul.tvlist1 li .avatar{ margin:0 auto; display:block; margin-bottom: 15px;}
.nav_tv{ margin:5px!important; background-color:#FFF; }
.mainv {box-shadow:#CCC 0 0 2px; }
#ccvideo, #ccvideo center{ width:auto!important; height:550px!important; padding:0!important; 	overflow:hidden;}
#ccvideo object, #ccvideo video, #ccvideo embed, #ccvideo img{ width:100%!important; height:500px!important; padding:0!important; margin:0!important;	}
.menulist .list_inner ul li a{ width:30px; height:30px; line-height:30px;}
.menulist .list_inner{ background:#ae2626;}
.tvlistmenu li .tip{  top:47px; left:15px; }
.tvlistmenu li .tip em{top:-15px; left:5px;  }
}
@media screen and (max-width: 750px) {	



.mainplay{}
.nav_tv ul li,.nav_tv h2.logo_tv, .nav_tv ul, .tvinner ul.tvlist1 li .avatar, .tvinner ul.tvlist1 li .inner, .tvpeople .fl{float:none!important; }
.nav_tv, .nav_tv ul, .hibannerall, .hibannerall img, .nav_tv h2.logo_tv, .nav_tv ul, .tvinner ul.tvlist1 li .inner, .tvpeople .fl, .neice .inner , #neice{ width:auto!important}
#ccvideo, #ccvideo center{ width:auto!important; height:450px!important; padding:0!important; 	overflow:hidden;}
#ccvideo object, #ccvideo video, #ccvideo embed, #ccvideo img{ width:100%!important; height:400px!important; padding:0!important; margin:0!important;	}
.mainv h1, .renwucontent h1, .tvinner .renwucontent h1{ font-size:22px!important;}
.renwucontent .vcont{ font-size:12px!important;}
.nav_tv ul li{ text-align:center; border-bottom:1px solid #EEE!important;}
.nav_tv ul li a { display:block; color:#F60!important; text-shadow:none!important;}
.nav_tv ul li { background-color:#fff!important; border:1px solid #DDD; box-shadow:#CCC 0 0 2px; margin-top:-5px; }
.nav_tv ul li:hover{ background:#FFC!important;}
.renwucontent img{ max-width:100%;}
#neice p{ width:60%;}
.neice h4{ font-size:22px;}
}
@media screen and (max-width: 520px) {	

	#ccvideo, #ccvideo object, #ccvideo video, #ccvideo embed, #ccvideo img, #ccvideo center, #neice p{ width:auto!important;}
#ccvideo, #ccvideo center{ height:350px!important; padding:0!important; 	overflow:hidden;}
#ccvideo object, #ccvideo video, #ccvideo embed, #ccvideo img{ height:250px!important; padding:0!important; margin:0!important;	}
.tvinner ul.tvlist2 li{float:none!important; margin:10px auto!important;}
.tvinner ul.tvlist1 li .avatar, .tvinner ul.tvlist2 li .avatar{ display:none;}
.neice{ margin:0;}
.neice .inner{ margin:5px;}
}