@charset "gb2312";

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}

body{color:#000; line-height:1.5em; background:#fff; font-size:14px; font-family:Arial, Helvetica, sans-serif}

body a,body a:link{text-decoration:none;}

body a:link{ color:#369}

body a:hover{ color:#369; text-decoration:underline}

ul li,dl li{list-style:none}

fieldset,img,abbr,acronym{ border:none}

img{-ms-interpolation-mode:bicubic}

input,select,textarea{ font-size:12px!important}

/* end reset */

.fl{ float:left!important}

.fr{ float:right!important}

.fn{ float:none!important}

.pb10{ padding-bottom:10px}

.clearleft{ clear:left}

.clearright{ clear:right}

.over{ overflow:hidden;}

.block{ display:block}

.none{ display:none}

.red{ color:red}

.gray{ color:#666}

.blue{ color:blue!important}

.green{ color:green}

.yellow{ color:yellow}

.blank{ color:#000}

.pt10{ padding-top:10px;}

.pt0{ padding-top:0!Important}

.mb10{ margin-bottom:10px!important}

.mb0{ margin-bottom:0!Important}

.ml10{ margin-left:10px}

.f14{ font-size:14px!Important}

.f16{ font-size:16px!Important}

.bgnone{ background:none!Important}

.boxgreen,.boxyellow,.boxred,.boxblue{ padding:5px 10px}

.boxgreen{ background:#F2FFEE; border:1px solid #CAF2BE}

.boxyellow,.messagebox .messagebox_f{ background:#FEFCEF; border:1px solid #E6DDC3}

.boxred{ background:#FDF6F6; border:1px solid #E6C9C9}

.boxblue{ background:#E7EFF9; border:1px solid #C9DDE6}

.boxgray{ background:#F5F5F5; border:1px solid #ddd}

.pb15{ padding-bottom:15px}

.yuanjiao,.yuanjiao img,.bannerall,.bannerall img,.imagefocus img,.inbox,ul li img,dl img,.bannerc img,.messagebox,.messagebox img,.messagelist .mtop .fl a,.messagebox_f,.messagelivebox dl dd input.denglu,.messagelivebox dl dd input.tjpl,.weizhi,.toupiao .tijiao input,#fenxiang{-webkit-border-radius:4px;border-radius:4px;-moz-border-radius:4px;}

.noyuanjiao{-webkit-border-bottom-left-radius:0px;border-bottom-right-radius:0px;-webkit-border-bottom-left-radius:0px;border-bottom-right-radius:0px;-moz-border-radius-bottomright:0px;-moz-border-radius-bottomleft:0px;}

.shangbanyuan,.inbox h3{-webkit-border-top-left-radius:4px;border-top-right-radius:4px;-webkit-border-top-left-radius:4px;border-top-right-radius:4px;-moz-border-radius-topleft:4px;-moz-border-radius-topright:4px;}

body a,body a:link,a:hover,div,p,img,ul,li,span,strong,em,table,div:hover,p:hover,img:hover,ul:hover,li:hover,span:hover,strong:hover,em:hover,table:hover,dl *,dl:hover *{-webkit-transition:color 0.3s;transition:color 0.3s;}

/* CSS Document */

.user_right{ float:right; width:200px; padding:20px}

.main{ width:960px; margin:0px auto 10px auto!important; clear:both; overflow:hidden; zoom:1; background:#fff; border-radius:6px; background:#f9f9f9 url(../img/rbg.png) right top repeat-y;border-left:1px solid #ddd;}

.subnav{ background:url(../www_images/ask/nosearch.png) 0 3px no-repeat!important}

.subnav .search{ visibility:hidden}

.user_right .rlog{ font-size:12px}

.user_right .rlog dl { clear:both; overflow:hidden; zoom:1}

.user_right .rlog dl dt{ float:left;padding-top:3px}

.user_right .rlog span.graytime{ font-size:12px; color:#888}

.user_right .rlog span.name{ font-size:14px; color:#f60}

.user_right .rlog span.tixing{ color:red}

.user_right .rlog span.tixing a{ color:red}

.user_right .rlog dl dd{ overflow:hidden; width:110px; float:right}

.user_right .rlist{ }

.user_right .rlist h3{ font-size:12px; color:#888; height:20px; line-height:20px; border-bottom:1px dotted #ddd;padding-top:10px}

.user_right .rlist h3 span.more{ float:right; margin-top:-20px!ie; font-weight:100}

.user_right .rlist ul{ clear:both; overflow:hidden; zoom:1}

.user_right .rlist ul li.sub{ font-size:12px;clear:both; overflow:hidden; zoom:1; margin-left:-6px}

.user_right .rlist ul li.sub a{ display:block; float:left; display:inline!ie; height:30px; line-height:30px; background:#E2B0B0; color:#fff; width:60px; margin-left:6px; text-align:center; margin-top:10px}

.user_right .rlist ul li.sub a:hover{ background:#fff; color:#666}

.user_right .rlist ul li.wd{ font-size:12px; height:26px; line-height:26px; border-bottom:1px dotted #ddd}

.user_right .rlist ul li.wd span{ color:#888}





.submain{ width:679px;  float:left; padding:15px 20px;}

h4.titsub{ height:30px; line-height:30px; background:url(../www_images/ask/dot.png) left bottom repeat-x; font-size:12px; font-weight:100; padding-left:12px; padding-top:12px; clear:both; zoom:1}

h4.titsub a{ display:inline-block; padding:0 10px; overflow:hidden; zoom:1; _float:left}

h4.titsub a.on{ height:28px; line-height:28px;border:1px solid #ddd; border-bottom:1px solid #f9f9f9; color:#369; font-size:14px }

h4.titsub a{ color:#888;}

h4.titsub a span{ display:inline-block; background:#bbb; color:#fff; height:16px; line-height:16px; padding:0 4px; padding-bottom:1px!ie;-webkit-border-radius:4px;border-radius:4px;-moz-border-radius:4px; font-size:12px; _margin-top:4px}

h4.titsub a:hover{ text-decoration:none; color:#82AAD1; zoom:1}

h4.titsub a:hover span,h4.titsub a.on span{ background:#A9C7E4}



.list2tixing{}

.list2tixing h3{ font-size:14px; color:#7BA4CE; font-weight:100; padding-top:15px; padding-bottom:5px}

.list2tixing .tixingbox{ padding:0 2em}

.list2tixing .tixingbox h4.time{ font-size:12px; color:#888; font-weight:100; padding-top:10px}

.list2tixing .tixingbox ul{}

.list2tixing .tixingbox ul li{ font-size:12px; color:#666}

.list2tixing .tixingbox ul li span{ color:#369}

.list2tixing .tixingbox ul li span.cz{ color:#888; margin-left:1em}

.list2tixing .tixingbox ul li span.cz span.gray{ color:#888}

.list2tixing .tixingbox ul li span.cz span.green{ color:green}

.list2tixing .tixingbox ul li span.cz a{ color:#888; text-decoration:underline}

.list2tixing .tixingbox ul li span.cz a:hover{ color:#369}

.list2tixing .tixingbox ul li span.dot{ font-family:"ו"; color:#888}

.list2tixing .tixingbox ul.listtg{}

.list2tixing .tixingbox ul.listtg li{ height:32px; line-height:32px; border-bottom:1px dotted #ddd}

.list2tixing .tixingbox dl.tougao{ font-size:12px}

.list2tixing .tixingbox dl.tougao dt{ color:#888;}

.list2tixing .tixingbox dl.tougao dd{ padding-bottom:12px; margin-bottom:12px; border-bottom:1px dotted #ddd}

.list2tixing .tixingbox dl dd input,.list2tixing .tixingbox dl dd textarea{ border:1px solid #bbb; border-bottom-color:#ddd; border-right-color:#ddd;}

.list2tixing .tixingbox dl dd.fujian input{ margin:3px 0}

.list2tixing .tixingbox dl dd.tijiao{ border:0;}

.list2tixing .tixingbox dl dd.tijiao input{ width:153px; height:52px; border:none; background:url(../www_images/usercenter/bg_tg_sub.png) 0 0 no-repeat; cursor:pointer;}

.list2tixing .tixingbox dl dd.caina{ clear:both; overflow:hidden; zoom:1}

.list2tixing .tixingbox dl dd.caina label{ display:inline-block; width:80px; border:1px solid #ddd; background:#f5f5f5; cursor:pointer; margin-right:10px; padding:5px 10px}

.list2tixing .tixingbox dl dd.caina label input{ vertical-align:-3px; border:0; _vertical-align:-1px}





#pagelist{ font-size:12px; color:#888; padding-top:10px}

#pagelist a,#pagelist span{ margin-right:10px}

#pagelist a.on{ color:#f60}

#pagelist a{ color:#7BA4CE}