@charset "gb2312";/* CSS Document  */
.nav_tv{  padding:13px 0 2px; background:url(../www_images/renwu/newvideo_nav.png) 0 0 no-repeat}
.bgnone{ background:none}
.tvinner ul li .avatar{width: 250px;height: 155px;display: block;overflow: hidden;}
.tvinner ul li .avatar img{ width:250px;}
.tvinner ul.tvlist2 li {width: 250px;margin: 10px 0 10px 13px;}

@media screen and (max-width: 1000px) {	
	.mainv .shengming{}
	.tvinner ul.tvlist1 li .inner{ width:450px!important;}
	.tvinner ul.tvlist2 li, .tvinner ul.tvlist2 li .avatar, .tvinner ul.tvlist2 li .avatar img{ width:230px!important;}
	.tvinner ul.tvlist2 li .avatar{ height:149px!important;}
}
@media screen and (max-width: 750px) {
		.renwucontent img{ width:100%!important; height:auto!important;}
		.tvinner ul.tvlist1 li .inner{ width:auto!important; margin-top:10px;}
}