/* top */
body{ background:url(../www_images/zytx/bg.png) 0 0 #EEE repeat-x;}
em{ font-style:normal;}
.ma{ margin:0 auto;}
.w960{ width:1000px;}
.w750{ width:750px;}
.w210{ width:210px;}
.co{ clear:both; overflow:hidden;}

/* header */
.header{ margin-top:41px; height:167px; background:url(../www_images/zytx/bg_top.png) center 0 no-repeat}
.header h1{  padding-top:60px;}
.header h1 a{  width:680px; height:100px; display:block;  text-indent:-999em;  overflow:hidden;}
.header_zyt{ left:190px;  top:25px; text-align:center;}
.header_zyt a{ width:104px; height:34px; line-height:1.8em; background:url(../www_images/zytx/bg_top_zyt.png) 0 0 no-repeat; display:block;  overflow:hidden; }
.header_zyt a,.header_zyt a:link,.header_zyt a:hover{ color:#FFF; text-decoration:none;}
.header_zyt a:hover{ background-position:0 -34px;}

.navztyx{ background:#333; height:40px; z-index:9;}
.navztyx ul.navinner{line-height:40px; padding-right:140px;}
.navztyx ul.navinner li{ float:left;  margin-right:15px; font-size:18px; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå"; text-align:center;}
.navztyx ul.navinner li a{ color:#FFF; display:block; padding:0 20px;}
.navztyx ul.navinner li a:hover{ text-decoration:none; background:#444;}
.navztyx ul.navinner li.now a{ background:url(../www_images/zytx/bg_nav_now.png) #89341f center bottom no-repeat;}
.navztyx .more{right:0; top:5px;  }
.navztyx .more b a{ line-height:28px;text-align:center; background:#930;  font-size:14px;}
.navztyx .more, .navztyx .more ul{ width:120px; font-size:12px;}
.navztyx .more b a, .navztyx .more ul li a{color:#FFF; display:block;}
.navztyx .more ul{ display:none; position:relative; }
.navztyx .more ul li a{ background:#943; border-top:1px solid #C63; padding:3px 10px; line-height:2em; zoom:1;}
.navztyx .more b a:hover,  .navztyx .more ul li a:hover{ background:#C63; text-decoration:none;}
.navztyx .more, .navztyx .more ul, , .navztyx .more ul li{ z-index:10; }

.main{ background:#FFF; font-size:14px; box-shadow:#999 0px 2px 3px; -moz-box-shadow:#999 0px 2px 3px; -ms-box-shadow:#999 0px 2px 3px;}

.ztxtmenu{ background:#ffedbb; zoom:1}
.ztxtmenu ul.zt1{ font-size:12px;}
.ztxtmenu ul.zt1 li{ background:url(../www_images/zytx/bg_nav_zt1.png) 10px center no-repeat;  line-height:40px; border-bottom:1px solid #ebdaac; padding:0 10px 0 85px}
.ztxtmenu ul.zt1 li:hover{ background-color:#FFC;}
.ztxtmenu ul.zt1 li span{ padding-left:25px;display:inline-block; background:url(../www_images/zytx/bg_icon.png) no-repeat; _background:url(../www_images/zytx/bg_icon_ie6.png) no-repeat; }
.ztxtmenu ul.zt1 li strong, .ztxtmenu ul.zt1 li span{ margin-right:20px;}
.ztxtmenu ul.zt1 li span.phone{ background-position:0 -40px;}
.ztxtmenu ul.zt1 li span.city{ background-position:0 -80px;}

.zytx_zs .inner, .zytx_hg .inner{ padding:20px 0; border-bottom:1px solid #DDD;zoom:1}
.zytx_zs .inner h3, .zytx_hg .inner h3{ background:url(../www_images/zytx/bg_h3.png) no-repeat; _background:url(../www_images/zytx/bg_h3_ie6.png) no-repeat; line-height:2em; font-size:24px; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå"; font-weight:400; padding:5px 0 0 43px; margin:0 10px;}
.zytx_zs .inner h3 em{ padding-left:30px; color:#F60;}
.zytx_zs .bg1{ background:#F8F8F8;}
.zytx_zs .zoom{ padding:10px 30px; color:#666; line-height:2em;}
.zytx_zs .zoom p{ padding:5px 0;}
.zytx_zs .lin{ padding-right:380px; background:url(../www_images/zytx/lin.jpg) right bottom no-repeat;}
.zytx_zs .lin ul{ padding-left:30px; clear:both; overflow:hidden;}
.zytx_zs .lin ul li{ background:#cc3d33; font-size:20px; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå"; float:left;}
.zytx_zs .lin ul li a{ padding:10px 20px; display:block; color:#FFF;}
.zytx_zs .lin ul li a:hover{ background:#F33; text-decoration:none;}
.zytx_zs .lin ul li, .zytx_zs .lin ul li a, .zytx_zs .lin ul li a:hover{ -moz-border-radius:25px; -ms-border-radius: 25px; border-radius:25px;}

.baominglist, .baominglist .bd, .baominglist .bm {height:160px;}
.baominglist{ margin:30px; color:#FFF; overflow:hidden;}
.baominglist .bd{ width:290px;}
.baominglist .bm{ width:610px;}
.baominglist .title{font-family:"Î¢ÈíÑÅºÚ","ºÚÌå"; height:50px; line-height:50px;}
.baominglist .title strong{ font-size:26px; font-weight:400;}
.baominglist .title strong span{ font-size:18px; padding-left:20px;}
.baominglist .n{height:70px;}
.baominglist .n p{ height:35px; }
.baominglist .n p span{ padding-left:30px; line-height:35px; display:inline-block; margin-right:50px; background:url(../www_images/zytx/bg_icon.png) no-repeat; _background:none;}
.baominglist .n p span.time{ background-position:0 -120px;}
.baominglist .n p span.city{ background-position:0 -240px;}
.baominglist .n p span.phone{ background-position:0 -180px;}
.baominglist .n p span.user{background-position:0 -300px; }
.baominglist .bd p{  padding:15px 20px 10px;}
.baominglist .bd input{border:none; }
.baominglist .bd .text{ height:25px; width:160px;}
.baominglist .bd .text:hover{ background:#FFC;}
.baominglist .bd .submit{ width:100px; height:30px; color:#FFF; background:#333; box-shadow:#000 0px 0px 2px; -moz-box-shadow:#000 0px 0px 2px; -ms-box-shadow:#000 0px 0px 2px; cursor:pointer;}
.baominglist .bd .submit:hover{  background:#444; }

.baominglist .title, .baominglist .n{ padding:10px 20px;}
.baominglist{ background:#444; }
.baominglist .title{ background:#555;}
.baominglist .n{ background:#666;}
.baominglist .title strong span{ color:#CCC;}

.baominglist.s1{ background:#1a395c; }
.baominglist.s1 .title{ background:#214b78;}
.baominglist.s1 .n{ background:#3e668f;}
.baominglist.s1 .title strong span{ color:#99ccff;}

.baominglist.s2{ background:#005740; }
.baominglist.s2 .title{ background:#007254;}
.baominglist.s2 .n{ background:#008a6a;}
.baominglist.s2 .title strong span{ color:#86eebd;}

.baominglist.s3{ background:#7a441e; }
.baominglist.s3 .title{ background:#a15e28;}
.baominglist.s3 .n{ background:#b87734;}
.baominglist.s3 .title strong span{ color:#ffcc99;}


.sub_subnav{ width:940px; height:100px; padding:10px 0; background:url(../www_images/zytx/bg_hgtop.png) 5px center no-repeat; z-index:1;}
.sub_subnav .riqi,.sub_subnav .didian{  color:#fff; width:60px; height:60px;}
.sub_subnav .riqi p{ text-align:center; border-bottom:1px #fff solid; padding-bottom:5px; margin-bottom:5px;}
.sub_subnav .riqi{ top:35px; left:25px; font-family:Arial, Helvetica, sans-serif; font-size:24px;}
.sub_subnav .didian{ top:45px; left:115px; font-size:28px; line-height:30px;}
.sub_subnav h1{ position:absolute; font-size:24px; line-height:30px; font-weight:bold;top:25px;left:205px;}
.sub_subnav .zhujiang{ font-size:14px; font-weight:bold; padding-left:190px; margin:12px 0 0; line-height:3.2em;}
.sub_subnav .zhujiang{ clear:both; text-align:right;}
.sub_subnav .zhujiang span{ margin-left:20px;}
.sub_subnav .zhujiang span em{ color:#888;}
.sub_subnav .didian,.sub_subnav h1,.sub_subnav .zhujiang{ font-family:"Î¢ÈíÑÅºÚ","ºÚÌå"; font-weight:400;}
.zytx_hg  .pic .avtar:hover{ box-shadow:#666 0px 0px 5px; -moz-box-shadow:#666 0px 0px 5px;  -ms-box-shadow:#666 0px 0px 5px;}
.zytx_hg  .pic{  margin-top:20px;}
.zytx_hg  .pic .avtar{ width:160px; height:160px;  float:left; padding:8px; margin:5px; background:#DDD}
.zytx_hg  .pic .avtar a{  width:160px; height:160px; display:block; overflow:hidden;}
.zytx_hg  .pic .avtar:hover{ background:#FFF}
.zytx_hg  .pic .avtar img{ width:238px;}
.zytx_hg  .pic  a.more{ text-align:center; font-size:14px; color:#333; font-weight:bold; line-height:40px; display:block; }
.zytx_hg  .pic ul{ clear:both; overflow:hidden;}
.zytx_hg  .pic ul li a{ position:relative; color:#FFF;}
.zytx_hg  .pic ul li span{  position:absolute; bottom:0; left:0; width:160px; height:160px; display:block; overflow:hidden; background:#000; display:none;}
.zytx_hg  .pic ul li b{ position:absolute; color:#FFF;  bottom:7px; left:7px; width:140px;  display:none;}
.ganyan.w210{  _width:200px;}
.ganyan ul li{ clear:both; overflow:hidden;}
.ganyan .avtar{ padding-right:10px;}
.ganyan  .avtar img{ width:50px;}
.ganyan .avtar a{ width:50px; height:50px; display:block; overflow:hidden; _margin-top:5px;}
.ganyan .vcont{ color:#fff; background:#C63; padding:10px; font-size:12px; margin:20px 10px; _margin:10px 5px;_zoom:1;}
.ganyan .vcont:hover{ background:#E63;} 
.ganyan .vcont a{ color:#FF9;}
.ganyan  a.more{ text-align:center; font-size:14px; color:#333; font-weight:bold; line-height:40px; display:block; }
.innerview{ color:#333; }
.innerview h2{ border-bottom:1px solid #ddd; line-height:2em; text-align:center; font-size:28px; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå"; font-weight:400;}
.innerview .zoom{padding:20px;}

.footer{ background:#333333; margin-top:20px; line-height:28px;}
.footer .other{border-bottom:1px solid #4d4d4d;}
.footer img{ margin: 10px 0 10px 0px;}
.footer .fmenu,.ffont{ text-align:center; }
.footer .fmenu a,.footer .fmenu,.ffont,.ffont a{ font-size:12px; color:#999;  }
.fmenu{ background:#333; border-bottom:none;}
.footer a:link{ color:#999;}
.ffont{ padding:0;}

.about .zoom{ padding:0 30px}
.about .zoom.fl{ width:250px; border-right:1px solid #eee; }
.about .zoom.fr{ width:580px;}


.cj{color:#fff!important; background:#e46d33; font-size:20px; line-height:2em; padding:0 25px; margin:5px 30px 0 0; -webkit-border-radius:30px; box-shadow:#c0c5c1 2px 3px 0px;}


@media screen and (max-width: 1024px){
	.w960{ width:auto;}
	.header .js, .topbar, .fmenu, .ffont, .navinner li, .header h1 a, .cj { display:none;}
	.topbar .inner, .header .inner, .bannerall, .subnav, .main, .copyright., .baominglist .bm{ width:auto;}
	.baominglist { height:auto;}
	body{ background-position:0 -40px;}
	.header{background-position:left 0; margin-top:0;}
	.navinner li.now{ display:block;}
	.navztyx .more{ right:5px;}
	.zytx_zs .lin{ padding-right:inherit; background:none;}
	.baominglist .bm.fl, .baominglist .bd.fr{ float:none;}
	.baominglist { height:auto;}
	.ztxtmenu ul.zt1 li{ padding-left:10px; background:none;}
	
}