.diqu_toutiao ul li{ clear:both; overflow:hidden; padding:10px 0 ; border-top:1px dashed #CCC;}
.diqu_toutiao ul li strong a{ font-size:22px;  padding:10px 0 ; display:block;}
.diqu_toutiao ul li .timg{ padding-right:10px;}
.diqu_toutiao ul li .timg a{ width:80px; height:80px; background:#ccc;}
.diqu_toutiao ul li p span{ color:#000; padding-right:10px;}
.diqu_toutiao ul li .inner{ line-height:1.7em;}

.diqu_city{ padding-bottom:20px;}
.diqu_city strong{ display:block; margin-top:20px;}
.diqu_city p{ display:block; padding:10px 0;}
.diqu_cityzm{ margin:20px 0; }
.diqu_cityzm a{background:#999; color:#FFF; margin:10px; padding:5px 10px;}

.diqu_zhaopin{}
.diqu_zhaopin ul li{ padding:10px 0; border-top:1px dashed #CCC;}
.diqu_zhaopin ul li span{ color:#000;}

.ciyelist a{ display:inline-block; padding:5px 10px; background:#999; color:#FFF; margin:0 20px 20px 0;}
.ciyelist a.now{ background:#F90;}

.diqu_toutiao .more, .diqu_city .more, .diqu_zhaopin .more{ background:#EEE;  text-align:center;}
.diqu_toutiao .more a, .diqu_city  .more a, .diqu_zhaopin  .more a{ color:#999; padding:10px; display:block;}

.viewinner{ padding:10px 0;}
.viewinner h1{ padding:10px 0; color:#333 }
.viewinner h4{ background:#EEE; padding:5px 10px; color:#666; margin:10px 0;} 
.viewinner ul li{ padding:5px 0; }
.viewinner ul li span{ color:#000;}

.diqu_toutiao ul li .inner .yz span, .viewinner ul li.yz span{ padding:2px 5px; background:#FEE; color:#C66; margin-right:15px; font-size:12px;}

.cityinner ul li{ padding:10px 0 10px 10px; position:relative;}
.cityinner ul li .xulie{  padding:10px 5px 0 0; color:#900; position:absolute; left:0;}
.cityinner ul li a{ padding:10px 20px; display:inline-block;}


.regist h3{ font-size:16px; font-weight:100; }
.regist p.xz{text-align:center;}
.regist .rinner p{ font-size:16px; color:#333; text-align:center; margin:20px 0;}
.regist p.rpx a{color:#184159; background:#cbe3f1;}
.regist p.rjj a{color:#4f6f27; background:#e0f1cb; }
.regist p.rpx a,.regist p.rjj a{font-size:36px; width:100%; line-height:4em; display:block;}
.regist p.rpx a:hover,.regist p.rjj a:hover{opacity: 0.7;}
.regist p.rjj{ margin-top:40px;}

.w400{ width:100%;}
.fb_form{ margin-top:20px;}
.fabu{ font-size:14px;}
.fabu .head{ text-align:center; border-bottom:1px solid #DDD;}
.fabu .head p{ line-height:3em;}
.fb_n{ padding:0 20px 30px;}
.fb_n .fb_path{ padding:10px 0;}
.fb_n .fb_tip{ background:#EFEFEF; line-height:3em; text-align:center;}
.fb_shenfen{ padding:20px 0;}
.fb_shenfen a{ width:420px; display:block; line-height:4em; text-align:center; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå"; font-size:24px; text-decoration:none;}
.fb_shenfen a:hover{ opacity:0.7;}
.fb_shenfen a.sf1{ background:#cbe3f1; color:#184159;}
.fb_shenfen a.sf2{ background:#e0f1cb; color:#4f6f27;}

.fb_form{ background:#3c4452; color:#fff; border-top:1px solid #003;}
.fb_form h4, .fb_form .inner{ padding:10px 20px;}
.fb_form h4{ background:#545f73 ;}
.fb_form dl{ margin:10px 0; display:block; }
.fb_form dl dt{  padding:0 3px 0 8px; color:#fff; font-size:16px; }
.fb_form .tip{ color:#9ab1d7; font-size:12px; padding-bottom:10px; padding-left: 10px;}
.fb_form dl dt, .fb_form dl dd.n, .fb_form dl dd.n .text, .fb_form dl .date{ line-height:34px; height:34px;}
.fb_form dl dd .checkde{ padding:0 5px; }
.fb_form dl dd .checkde, .fb_form dl dd .checkde input{cursor:pointer;}
.fb_form dl dd.n .text, .fb_form dl .date{ border:none; padding:0 10px;}
.fb_form .tijiao{ text-align:center; padding:20px;}
.regist .fb_form .tijiao .sub{  background:url(http://guzheng.cn/demo/m/114/images/input_sub.png) no-repeat; cursor:pointer;}
.fb_form .tijiao .sub{ width:100%; height:49px; border:none;}
.regist .fb_form .tijiao .sub:hover{ background-position:0 -49px;}
.fb_form h4, .fb_form .tip, .fb_form .tijiao{  clear:both; zoom:1;}
.fb_form .text{width: 90%;}
.regist .fb_form dl dd{ margin-left:10px;   padding:0 0 10px;}
.fb_form dl dd.n .text{ color:#066; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå"; font-size:18px; }
.manage .tijiao input{background:#904848; color:#fff;}
.manage .fb_form .tijiao .sub{  background:url(http://guzheng.cn/demo/m/114/images/input_sub1.png) no-repeat;}
.manage .fb_form{ background:#3c524c; color:#fff;}
.manage .fb_form h4{ background:#51655f;}
.manage .fb_form dl dd{ margin-left:10px;  padding:0 0 10px;}
.fb_form .fl.n{ border-bottom:none; }

.huanyin{ margin:10px ;}
.huanyin h1{ font-family: "Î¢ÈíÑÅºÚ","ºÚÌå";font-weight: 200;font-size: 26px;height: 32px;line-height: 32px;
color: green;border-bottom: 1px dotted #ddd;padding-bottom: 12px;margin-bottom: 12px;}
.red{ color:red;}
.huanyin .userleft .tishibox {width: auto;margin: 0;margin-bottom: 12px; padding: 15px 20px;background: #F2FFEE;border: 1px solid #CAF2BE; color:#000; font-size:14px;}
.huanyin .edit a{ background:#F63; color:#fff; margin:10px 0; padding:10px; display:inline-block;}


		/* iPads (landscape) */
		@media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
			
		}
		/* iPads (portrait) */
		@media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
			
		}
		/* iPads */
		@media screen and (min-device-width : 768px) and (max-device-width : 1024px){
		.cityzm a{ padding:20px 40px; font-size:22px;}
		.viewinner h1{ font-size:1.5em;}
		}
		/* iphone */
		@media only screen and (-webkit-min-device-pixel-ratio : 1.5),only screen and (min-device-pixel-ratio : 2) {
			.cityzm a{ padding:20px; font-size:20px;}
		}
